{% extends "user/read_user.html" %}

{% block subtitle %}{{ _('Lịch sử') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% if c.userobj.sysadmin %}
  {% block primary_content_inner %}
    <div class="module context-info infor_acc">
      <div class="sidebar_account">
        <div class="inf_acc">
          <div class="acc_avatar">
            {% block user_image %}
              <div class="image">{{ h.user_image(user.id, size=270) }}</div>
            {% endblock %}
          </div>
          <div class="account_text">
            <dl>
              <dt class="heading">{% block user_heading %}
                <h1>{{ user.display_name }}</h1>
              {% endblock %}</dt>
              <dt class="dt_email">{{ _('Email ') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
              <dd title="{{ user.email }}">{{ user.email }}</dd>
            </dl>
          </div>
        </div>

        {% block user_nums %}
        <div class="nums">
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd data-module="followers-counter" data-module-id="{{ user.id }}" data-module-num_followers="{{ user.num_followers }}">{{ h.SI_number_span(user.num_followers) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(user.number_created_packages) }}</dd>
          </dl>
        </div>
        {% endblock %}
        {% if is_myself == false %}
          {% block user_follow %}
          <div class="follow_button">
            {{ h.follow_button('user', user.id) }}</li>
          </div>
          {% endblock %}
        {% endif %}
        {% block user_about %}
        <div class="about_account">
          <h5 >Tiểu sử</h5>
          {% set all_about = h.get_phone_pass(user.about) %}
          {% if all_about[2] %}
            {{ all_about[2] }}
          {% else %}
            <p class="empty">
              {% if is_myself %}
                {% trans %}You have not provided a biography.{% endtrans %}
              {% else %}
                {% trans %}This user has no biography.{% endtrans %}
              {% endif %}
            </p>
          {% endif %}
          {% endblock %}
        </div>
        {% block user_info %}
        <div class="info">
          <dl>
            {% if user.name.startswith('http://') or user.name.startswith('https://') %}
              <dt>{{ _('Open ID') }}</dt>
              <dd>{{ user.name|urlize(25) }}</dd>
            {% else %}
              <dt>{{ _('Tên tài khoản') }}</dt>
              <dd>{{ user.name }}</dd>
            {% endif %}
          </dl>

          <dl>
            <dt>{{ _('Ngày tạo') }}</dt>
            <dd>{{ h.render_datetime(user.created) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('Trạng thái') }}</dt>
            {% if user.state == 'active' %}
            <dd>Đang hoạt động</dd>
            {% elif user.state == 'pending' %}
            <dd>Chờ duyệt</dd>
            {% else %}
            <dd>Khóa</dd>
            {% endif %}
          </dl>
          {% if is_myself %}
            <dl class="hidden">
              <dt class="key">{{ _('API Key') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
              <dd class="value"><code>{{ user.apikey }}</code></dd>
            </dl>
          {% endif %}
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="bg_user-ac hide_ll">
      {% snippet 'snippets/activity_stream.html', activity_stream=user_activity_stream, id=id, object_type='user' %}
    </div>
  {% endblock %}
{% else %}
  {% block primary_content_inner_user %}
    <div class="bg_user-ac">
      {% snippet 'snippets/activity_stream.html', activity_stream=user_activity_stream, id=id, object_type='user' %}
    </div>
  {% endblock %}
{% endif %}