{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block main_content %}
  <section class="module col-md-6 col-md-offset-3">
    <div class="module-content">
      {% block form %}
        <p>{{ _('Are you sure you want delete permission - {name}?').format(name=role) }}</p>
        <p class="form-actions">
          <form action="{{ h.url_for('.delete_request_user', id=id) }}" method="post">
            <input type="hidden" name="id" value="{{ id }}" />
            <button class="btn btn-danger" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
    </div>
  </section>
{% endblock %}
