{% extends "user/edit_base.html" %}

{% set user = g.userobj %}

{% block subtitle %}{{ _('Cơ quan trực thuộc') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('dashboard.index') }}">{{ _('Cơ quan trực thuộc') }}</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
  <div class="primary col-sm-12 col-xs-12 primary_organ">
    {% block page_header %}
      <div class="form_item">
        <div class="search-form no-bottom-border main_datasets">
          <div class="item_search">
            {% block search_title %}
            {% set count_organ = h.get_organization_count() %}
            <h1 id="h1_count">
              <span id="count_organ">{{ count_organ }}</span> Cơ quan trực thuộc <span id="h1_name">có tên "<span id="show_name"></span>"</span>
            </h1>
            <h1 id="h1_empty">Không tìm thấy cơ quan trực thuộc</h1>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var items = document.querySelectorAll('.db_organ ul li');
                if (items.length > 20) {
                  document.querySelector('.form_pagination').style.display = 'flex';
                }
                if (items.length > 0) {
                  document.getElementById('h1_count').style.display = 'block';
                }
              });
            </script>
            {% endblock %}
            <div class="input-group search-input-group">
              <img src="/images/img-box/x.png" alt="" class="clear_input-item" id="clear_text" onclick="clearSearch()">
              <input type="text" id="search_input" placeholder="Nhập tên cơ quan">
              <button class="btn_search-dataset" id="btn_search-organ">
                <img src="/images/img-box/search.svg">
              </button>
            </div>
          </div>
        </div>
        {% block page_primary_action %}
          {% if h.check_access('organization_create') %}
            <div class="add_group">
              {% link_for _('Thêm mới'), controller='organization', action='new', class_="btn btn-primary", icon="plus-square" %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
      {% block primary_content_inner %}
        {% set organizations = h.organizations_available(permission='read',
          include_dataset_count=True) %}
        {% if organizations %}
          <div class="db_organ">
            {% snippet "organization/snippets/organization_list.html", organizations=organizations, show_capacity=True %}
            <script>
              function searchCount() {
                var value = document.getElementById('search_input').value.toLowerCase().trim();
                var items = document.querySelectorAll('.db_organ ul li');
                var titleItems = document.querySelectorAll('.db_organ ul li .footer_item .media-heading');
                var count = 0;
                for (var i = 0; i < items.length; i++) {
                  var itemText = titleItems[i].textContent.toLowerCase().trim();
                  items[i].style.display = itemText.includes(value) ? 'block' : 'none';
                  count += itemText.includes(value) ? 1 : 0;
                }
                if(count === 0) {
                  document.getElementById('h1_empty').style.display = 'block';
                  document.getElementById('h1_count').style.display = 'none';
                } else {
                  document.getElementById('show_name').textContent = value;
                  document.getElementById('count_organ').textContent = count;
                  document.getElementById('h1_empty').style.display = 'none';
                  document.getElementById('h1_count').style.display = 'block';
                  document.getElementById('h1_name').style.display = 'inline-block';
                }
                document.getElementById('clear_text').style.display = value.length === 0 ? 'none' : 'block';
                document.querySelector('.form_pagination').style.display = 'none';
                if(value.length === 0) {
                  showPage(1);
                  if(items.length > 20) {
                    document.querySelector('.form_pagination').style.display = 'flex';
                  }
                }
              }
              function clearSearch() {
                document.getElementById('search_input').value = '';
                document.getElementById('search_input').focus();
                searchCount();
                document.getElementById('h1_name').style.display = 'none';
              }
              document.getElementById('btn_search-organ').addEventListener('click', function () {
                searchCount();
              });
              document.getElementById('search_input').addEventListener('keypress', function (event) {
                if (event.keyCode === 13) {
                  searchCount();
                }
              });
              document.getElementById('search_input').addEventListener('input', function () {
                var value = document.getElementById('search_input').value.toLowerCase().trim();
                var items = document.querySelectorAll('.db_organ ul li');
                document.getElementById('clear_text').style.display = value.length === 0 ? 'none' : 'block';
                if(value.length === 0) {
                  document.getElementById('count_organ').innerHTML = items.length;
                  document.getElementById('h1_empty').style.display = 'none';
                  document.getElementById('h1_count').style.display = 'block';
                  document.getElementById('h1_name').style.display = 'none';
                  showPage(1);
                  if(items.length > 20) {
                    document.querySelector('.form_pagination').style.display = 'flex';
                  }
                }
              });
            </script>
          </div>
          <div class="form_pagination">
            <button onclick="prevPage()">«</button>
            <ul id="db_pagination"></ul>
            <button onclick="nextPage()">»</button>
            <script>
              var itemsPerPage = 20;
              var contentList = document.querySelectorAll('.db_organ ul');
              var paginationList = document.getElementById('db_pagination');
              var items = Array.from(contentList[0].children);
              var currentPage = 1;
      
              function showPage(pageNumber) {
                var startIndex = (pageNumber - 1) * itemsPerPage;
                var endIndex = startIndex + itemsPerPage;
                items.forEach(function (item) {
                  item.style.display = 'none';
                });
                var visibleItems = items.slice(startIndex, endIndex);
                visibleItems.forEach(function (item) {
                  item.style.display = 'block';
                });
                currentPage = pageNumber;
                btnPage();
              }
              function createLi() {
                var totalPages = Math.ceil(items.length / itemsPerPage);
                paginationList.innerHTML = '';
                for (var i = 1; i <= totalPages; i++) {
                  var li = document.createElement('li');
                  li.textContent = i;
                  li.addEventListener('click', function () {
                    showPage(parseInt(this.textContent));
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                  });
                  paginationList.appendChild(li);
                }
                btnPage();
              }
              function prevPage() {
                if (currentPage > 1) {
                  showPage(currentPage - 1);
                  window.scrollTo({ top: 0, behavior: 'smooth' });
                }
              }
              function nextPage() {
                var totalPages = Math.ceil(items.length / itemsPerPage);
                if (currentPage < totalPages) {
                  showPage(currentPage + 1);
                  window.scrollTo({ top: 0, behavior: 'smooth' });
                }
              }
              function btnPage() {
                var totalPages = Math.ceil(items.length / itemsPerPage);
                var prevButton = document.querySelector('button[onclick="prevPage()"]');
                var nextButton = document.querySelector('button[onclick="nextPage()"]');
                if (currentPage === 1) {
                  prevButton.style.display = 'none';
                } else {
                  prevButton.style.display = 'inline-block';
                }
                if (currentPage === totalPages) {
                  nextButton.style.display = 'none';
                } else {
                  nextButton.style.display = 'inline-block';
                }
                var paginationItems = paginationList.children;
                for (var i = 0; i < paginationItems.length; i++) {
                  if (i + 1 === currentPage) {
                    paginationItems[i].classList.add('db_active');
                  } else {
                    paginationItems[i].classList.remove('db_active');
                  }
                }
              }
              showPage(1);
              createLi();
            </script>
          </div>
        {% else %}
          <p class="empty">
            {{ _('Bạn không là thành viên của cơ quan nào.') }}
            {% if h.check_access('organization_create') %}
              {% link_for _('Create one now?'), controller='organization', action='new' %}
            {% endif %}
          </p>
        {% endif %}
      {% endblock %}
  </div>
{% endblock %}
