{% extends 'user/edit_base_user.html' %}

{% block actions_content %}{% endblock %}

{% block primary_content_inner %}
  {{ form | safe }}
{% endblock %}

{% block secondary_content %}
  {% block header_account_container_content %}
    <div class="sidebar_admin" data-module="me" data-me="{{ c.userobj.id }}" id="sidebar_admin">
      <div class="list-admin">
        {% block header_account_logged %}
        {% block header_account_settings_link %}
        <span class="span_config">
          <img src="../../../../images/img-box/admin.png" class="img_admin">
          <li class="active" onclick="myClick()">
            <a>
                Tài khoản
            </a>
          </li>
          <img src="../../../../images/img-box/up.png" class="img_up" id="img_up">
          <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
        </span>
        <span class="span_config">
          <ul class="list_user" id="list_user">
            <span class="item_user">
              <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
              {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
            </span>
            <span class="item_user active_edit">
              <img src="../../../../images/img-box/cn.png" class="img_user">
              {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
              <script>
                window.addEventListener('load', function() {
                  var tagLi = $('.active_edit').find('li')
                  tagLi[0].classList.add('active');
                });
              </script>
            </span>
            <span class="item_user">
                <img src="../../../../images/img-box/tc.png" class="img_user">
                {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
            </span>
          </ul>
        </span>
        <!-- <span class="span_config">
          <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
          <li>
            <a href="{{ h.url_for('home.admin_contact') }}">
              Quản lý liên hệ
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
          <li>
            <a href="{{ h.url_for('home.banner') }}">
              Quản lý banner
            </a>
          </li>
        </span> -->
        <span class="span_config">
          <li>
            <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
            <a href="{{ h.url_for('home.dmdc_admin') }}">
                Dữ liệu danh mục
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/roles.png" class="img_permission">
          <li>
            <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
              Nhóm quyền
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/ad.png" class="img_infor">
          <li>
            <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
              Thông tin cá nhân
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/config.png" class="img_config">
          {{ h.build_nav_icon('admin.config', _('Config')) }}
        </span>
        <span class="span_config">
          {{ h.build_nav_icon('admin.trash', _('Thùng rác')) }}
          <img src="../../../../images/img-box/trash.png" class="img_trash">
        </span>
        {% endblock %}

      {% endblock %}
      </div>
    </div>
  {% endblock %}
{% endblock %}
