{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block secondary_content %}
    {% block header_account_container_content %}
        <div class="sidebar_admin form_per-edit " data-module="me" data-me="{{ c.userobj.id }}" id="sidebar_admin">
            <div class="list-admin">
                {% block header_account_logged %}
                    {% block header_account_settings_link %}
                        <span class="span_config">
                            <img src="../../../../images/img-box/admin.png" class="img_admin">
                            <li onclick="myClick1()">
                                <a>
                                    Tài khoản
                                </a>
                            </li>
                            <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
                            <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
                        </span>
                        <span class="span_config">
                            <ul class="list_user hidden" id="list_user1">
                                <span class="item_user">
                                    <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                                    {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                                </span>
                                <span class="item_user">
                                    <img src="../../../../images/img-box/cn.png" class="img_user">
                                    {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
                                </span>
                                <span class="item_user">
                                    <img src="../../../../images/img-box/tc.png" class="img_user">
                                    {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
                                </span>
                            </ul>
                        </span>
                        <!-- <span class="span_config">
                            <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
                            <li>
                            <a href="{{ h.url_for('home.admin_contact') }}">
                                Quản lý liên hệ
                            </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
                            <li>
                            <a href="{{ h.url_for('home.banner') }}">
                                Quản lý banner
                            </a>
                            </li>
                        </span> -->
                        <span class="span_config">
                            <li>
                              <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
                              <a href="{{ h.url_for('home.dmdc_admin') }}">
                                  Dữ liệu danh mục
                              </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/roles.png" class="img_permission">
                            <li class="active">
                                <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
                                    Nhóm quyền
                                </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/ad.png" class="img_infor">
                            <li>
                                <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
                                    Thông tin cá nhân
                                </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/config.png" class="img_config">
                            {{ h.build_nav_icon('admin.config', _('Config')) }}
                        </span>
                        <span class="span_config">
                            {{ h.build_nav_icon('admin.trash', _('Thùng rác')) }}
                            <img src="../../../../images/img-box/trash.png" class="img_trash">
                        </span>
                    {% endblock %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block primary %}
    <div class="primary col-sm-9 col-xs-12 remove_pr" role="main">
        {% block primary_content %}
            {% block primary_content_inner %}
                <div class="form_admin form_per" id="bg_index">
                    {% block form %}
                        <form class="dataset-form add-member-form add_permission-form " method='post' style="display: contents;">
                            <div>
                                <a href="{{ h.url_for('user.permissions') }}" class="pull-right btn_arrow-left">
                                    <img src="../../images/img-box/back.png">
                                </a>
                                <h1 class="page-heading">Thay đổi nhóm quyền {{ id }}</h1>
                            </div>
                            <div class="form_input-user">
                                <div class="div_user per_edit">
                                    <label class="user-label" for="name-user">
                                        {{ _('Tên nhóm quyền') }}
                                    </label>                            
                                </div>
                                <input id="name-user" type="text" value="{{ id }}" name="roles" placeholder="" class="form-control">
                            </div>

                            <div class="radio_roles per_role">
                                Trạng thái
                                <div class="status">
                                    <span class="radio-role">
                                        <input type="radio" checked="checked" id="radio_user" value="Đang hoạt động" name="activate" class="check_radio">
                                        <label for="radio_user">
                                            Đang hoạt động
                                        </label>
                                    </span>
                                    <span class="radio-role">
                                        <input type="radio" id="radio_admin" value="Không hoạt động" name="activate" class="check_radio">
                                        <label for="radio_admin">
                                            Không hoạt động
                                        </label>
                                    </span>
                                </div>                    
                            </div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                            <div class="group_permission">
                                <span class="span_role">
                                    Chọn quyền
                                </span>
                                <div class="group_check1">
                                    <div class="group">
                                        <h3>Dữ liệu mở</h3>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="read_all" name="permissions" />
                                                <label class="check_per">Tất cả</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="create_dataset" name="permissions" />
                                                <label class="check_per">Thêm mới</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="update_dataset" name="permissions" />
                                                <label class="check_per">Sửa</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="delete_dataset" name="permissions" />
                                                <label class="check_per">Xóa</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <h3>Thành viên</h3>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="admin_all" name="permissions" />
                                                <label class="check_per">Tất cả</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="admin" name="permissions" />
                                                <label class="check_per">Thêm mới</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="update_member" name="permissions" />
                                                <label class="check_per">Sửa</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="delete_member" name="permissions" />
                                                <label class="check_per">Xóa</label>
                                            </div>
                                        </div>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="membership" name="permissions" />
                                                <label class="check_per">Duyệt đơn đăng ký</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <h3>Bài viết</h3>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="read_post" name="permissions" />
                                                <label class="check_per">Tất cả</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="create" name="permissions" />
                                                <label class="check_per">Thêm mới</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="update" name="permissions" />
                                                <label class="check_per">Sửa</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="delete" name="permissions" />
                                                <label class="check_per">Xóa</label>
                                            </div>
                                        </div>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="read" name="permissions" />
                                                <label class="check_per">Duyệt bài</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions" style="width: 100%;">
                                <button class="btn btn-primary btn_next" type="submit" name="submit">
                                {{ _('Lưu lại') }}
                                </button>
                            </div>

                        </form>
                    {% endblock %}

                    <script>
                        permission_lists = {{ permissions|safe }}
                        var checkboxes = document.getElementsByName('permissions');
                        checkboxes.forEach(function(checkbox) {
                            if (permission_lists.includes(checkbox.value)) {
                                checkbox.checked = true;
                            }
                        });
                    </script>
                    <script>
                        permission_lists = {{ activates|safe }}
                        var checkboxes = document.getElementsByName('activate');
                        checkboxes.forEach(function(checkbox) {
                            if (permission_lists.includes(checkbox.value)) {
                                checkbox.checked = true;
                            }
                        });
                    </script>
                </div>
            {% endblock %}
        {% endblock %}
        
    </div>
{% endblock %}