{% extends "page.html" %}

{% block subtitle %}{{ _('Quản lý') }} {{ g.template_title_delimiter }} {{ user_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Người dùng') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Phê duyệt tài khoản'), named_route='user.index_pending' %}</li>
  <li class="active">{{ h.nav_link(_('Xem đơn đăng ký'), named_route='user.edit_contact_user') }}</li>
{% endblock %}

{% block primary %}
  <div class="primary form_contact col-sm-12 col-xs-12" role="main">
    {% block primary_content %}
      <div class="">
        {% block primary_content_inner %}{% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}