{% extends "page.html" %}

{% block subtitle %}{{ _('Quản lý') }} {{ g.template_title_delimiter }} {{ user_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Người dùng') }}{% endblock %}

{% block primary %}
  <div class="primary col-sm-9 col-xs-12" role="main">
    {% block primary_content %}
      <article class="module" id="infor_form" style="min-height: 690px;">
        <div class="module-content">
          <div class="edit_account">
            {% block primary_content_inner %}{% endblock %}
          </div>
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}