{% import 'macros/form.html' as form %}
{% set all_about = h.get_phone_pass(data.about) %}

<form class="bg_update-user" id="user-edit-form-acc" method="post" action="{{ action }}" enctype="multipart/form-data">
  {{ form.errors(error_summary) }}

  <div class="form-actions actions_edit">
    <span onclick="back()">
      <img class="back_account-user" src="../../images/img-box/back.png">
    </span>
    <span class="pull-left ls_text">Thay đổi thông tin tài khoản</span>
    {% block generate_button %}
      {% if h.check_access('user_generate_apikey', {'id': data.id})  %}
        <a class="btn btn-warning hidden" href="{% url_for 'user.generate_apikey', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to regenerate the API key?') }}">{% block generate_button_text %}{{ _('Regenerate API Key') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <!-- {{ form.required_message() }} -->
    <input class="btn btn_cancel" type="button" onclick="back()" value="Hủy bỏ">
    <button class="btn btn-primary btn_save" type="submit" name="save">{{ _('Lưu lại') }}</button>
  </div>
  <div class="update_user">
    <fieldset class="update_account">
      <h1 class="heading_edit-account">{{ _('Cập nhật thông tin') }}</h1>
      {{ form.input('fullname', label=_('Họ và tên'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_(' '), classes=['control-medium']) }}
        
      {{ form.input('email', label=_('Email '), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_(' '), classes=['control-medium'], attrs={'readonly': ''}) }}
      
      {{ form.input("phone", id="field-number-phone", label=_("Số điện thoại"), placeholder=_(" "), type="text", value=all_about[0], error=errors.phone, classes=["control-medium"]) }}
      
      {{ form.input("passport", id="field-passport", label=_("CCCD/HC"), placeholder=_(" "), type="text", value=all_about[1], error=errors.passport, classes=["control-medium"]) }}
      
      <div class="div_user hidden">
        {{ form.markdown('abouts', label=_('About'), id='field-about', value=all_about[2], error=errors.abouts, placeholder=_(' ')) }}
        {{ form.input('name', label=_('Tên tài khoản'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
      </div>
      <div class="">
        {% set format_attrs = {'data-module': 'autocomplete'} %}
        {{ form.select('id_organ', label=_('Cơ quan'), options=organs, selected=all_about[4], error='', attrs=format_attrs) }}
      </div>
    </fieldset>

    <fieldset class="update_account">
      <h1 class="heading_edit-account">{{ _('Phân quyền') }}</h1>
      {% set format_attrs = {'data-module': 'autocomplete'} %}
      {{ form.select('role', label=_('Nhóm quyền'), options=roles, selected=all_about[5], error='', attrs=format_attrs) }}
      <div class="form-group control-medium update_account">
        <label class="control-label">{{ _('Bộ dữ liệu') }}</label>
        <select class="data_user">
        </select>
      </div>
    </fieldset>

  </div>
  <div class="ls_user">
    <h1 class="heading_edit-account">{{ _('Lịch sử') }}</h1>
    {% set notify_user = h.ls_activity_user(data.id) %}
    {% snippet 'snippets/activity_stream.html', activity_stream = notify_user %}
  </div>
  <script>
    window.addEventListener('load', function() {
      document.getElementById('field-number-phone').setAttribute("pattern", "[0-9]{10}");
    });
  </script>
</form>
