{% import 'macros/form.html' as form %}
{% set all_about = h.get_phone_pass(data.about) %}


<div class="form_register">
  <h1 class="page-heading_register">
    {% block page_heading %}{{ _('Đơn đăng ký mới') }}{% endblock %}
  </h1>
    
  <div class="register_main2" id="individual">
    <h2>I. Thông tin tài khoản</h2>
    {% import "macros/form.html" as form %}
    <form class="user-register-form" id="user-register-form" action="" method="post" enctype="multipart/form-data">
      <div class="register_form">
        {{ form.errors(error_summary) }}
        {{ form.input("email", id="field-email", label=_("Email "), type="email", placeholder=_(" "), value=data.email, error=errors.email, classes=["control-medium re_email"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
      </div>
      <div class="input_register">
        <div class="col">
          {{ form.input("fullname", id="field-fullname", label=_("Họ và Tên"), placeholder=_(" "), value=data.fullname, error=errors.fullname, classes=["control-medium re_fullname"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
        <div class="col">
          {{ form.input("phone", id="field-number-phone", label=_("Số điện thoại"), placeholder=_(" "), type="tel", value=all_about[0], error=errors.phone, classes=["control-medium re_sdt"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
      </div>
    
      <div class="input-form">
        <div class="input-item">
          {{ form.input("passport", id="field-passport", label=_("CCCD/CMTND/Hộ chiếu"), placeholder=_(" "), type="text", value=all_about[1], error=errors.passport, classes=["control-medium re_pp"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
        <div class="input-item">
          {{ form.input("address", id="field-address", label=_("Nơi cấp"), placeholder=_(" "), type="text", value=all_about[4], error=errors.address, classes=["control-medium re_address"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
        <div class="input-item">
          {{ form.input("date", id="field-date", label=_("Ngày cấp"), placeholder=_(" "), type="text", value=all_about[5], error=errors.date, classes=["control-medium re_date"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
      </div>
    
      <div class="input-form">
        <div class="input-item">
          {{ form.input("city", id="field-city", label=_("Tỉnh/Thành phố "), placeholder=_(" "), type="text", value=all_about[7], error=errors.city, classes=["control-medium"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
        <div class="input-item">
          {{ form.input("district", id="field-district", label=_("Quận/Huyện"), placeholder=_(" "), type="text", value=all_about[8], error=errors.district, classes=["control-medium"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
        <div class="input-item">
          {{ form.input("ward", id="field-ward", label=_("Phường/Xã"), placeholder=_(" "), type="text", value=all_about[9], error=errors.ward, classes=["control-medium"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        </div>
      </div>
    
      <div class="input_main">
        {{ form.input("detail", id="field-detail", label=_("Địa chỉ chi tiết"), placeholder=_(" "), type="text", value=all_about[6], error=errors.detail, classes=["control-medium re_detail"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
        {{ form.input("organ_under", id="field-organ_under", label=_("Cơ quan trực thuộc"), placeholder=_(" "), type="text", value=all_about[11], error=errors.organ_under, classes=["control-medium"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
      </div>
    
      <div class="input_text">
        {{ form.input("desc", id="field-desc", label=_("Mô tả ngắn gọn về mục đích tham gia Cổng dữ liệu"), placeholder=_(" "), type="text", value=all_about[3], error=errors.desc, classes=["control-medium re_desc"], is_required=True, attrs={'readonly': '', 'class': 'form-control'}) }}
      </div>

      <div class="hidden">
        {{ form.markdown('abouts', label=_('About'), id='field-about', value=all_about[2], error=errors.abouts, placeholder=_(' ')) }}
        {{ form.input('name', label=_('Tên tài khoản'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
        {{ form.input("organ_id", id="field-organ_id", label=_(" "), placeholder=_(" "), type="text", value=all_about[10], error=errors.organ_id, classes=["control-medium"], attrs={'readonly': '', 'class': 'form-control'}) }}
      </div>
      <div class="btn_hd">
        {% if h.check_access('user_update', {'id': data.id}) %}
          <a class="btn-register pull-right" href="{% url_for 'user.accept_pending', id=data.id %}" data-module="confirm-action" data-module-title="{{ _('Phê duyệt tài khoản') }}" data-module-content="{{ _('Bạn có chắc chắn muốn phê duyệt tài khoản người dùng này không?') }}"> 
            {{ _("Phê duyệt") }}
          </a>
        {% endif %}
        {% if h.check_access('user_update', {'id': data.id}) %}
          <a class="btn_back pull-right" href="{% url_for 'user.delete_request_user', id=data.id %}" data-module="confirm-reason-action" data-module-title="{{ _('Từ chối tài khoản') }}" data-module-content="{{ _('Nhập lý do từ chối') }}">
            Từ chối
          </a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
  