{% import 'macros/form.html' as form %}
{% set all_about = h.get_phone_pass(data.about) %}

<form id="user-edit-form" method="post" action="{{ action }}" enctype="multipart/form-data">
  {{ form.errors(error_summary) }}

  <fieldset class="update_account">
    <h1 class="heading_edit-account">{{ _('Cấu hình thông tin cá nhân') }}</h1>
    <span onclick="back()">
      <img class="back_account" src="../../images/img-box/back.png">
    </span>

    <div class="g-grid">
      <div class="g-grid-col">
        {{ form.input('name', label=_('Tên tài khoản'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
      </div>
      <div class="g-grid-col">
        {{ form.input('fullname', label=_('Họ và tên'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_(' '), classes=['control-medium']) }}
      </div>
    </div>

    <div class="g-grid">
      <div class="g-grid-col">
        {{ form.input('email', label=_('Email '), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_(' '), classes=['control-medium']) }}
      </div>
      <div class="g-grid-col avatar_img">
        {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
        {% set is_url = data.image_url and data.image_url.startswith('http') %}
        {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Ảnh đại diện'), url_label=_('Ảnh đại diện') ) }}
        <input type="button" class="btn-danger remove_img" value="Xóa" onclick="removeImg()" id="remove_img">
        <script>
          var upFile = document.getElementById('field-image-upload');
          upFile.accept = [".png, .jpg, .jpeg, .svg"];
          upFile.addEventListener('change', function () {
            var filePath = upFile.value;
            var files = /(\.jpg|\.jpeg|\.png|\.svg)$/;
            if (!files.exec(filePath)) {
              upFile.value = '';
              alert('Vui lòng tải lên tệp có định dạng: .jpg/.jpeg/.png/.svg');
              document.getElementById('input_upload').children[0].classList.add('up_file-img');
              document.getElementById('input_url').style.display = 'none';
            } else {
              document.getElementById('input_url').style.display = 'block';
              document.getElementById('input_upload').style.display = 'none';
            }
          });
        </script>
      </div>
    </div>
    <div class="g-grid">
      <div class="g-grid-col">
        {{ form.input('phone', label=_('Số điện thoại'), id='field-username', value=all_about[0], error=errors.name, classes=['control-medium'], attrs={'class': 'form-control'}) }}
      </div>
      <div class="g-grid-col">
        {{ form.input('passport', label=_('CCCD'), id='field-fullname', value=all_about[1], error=errors.fullname, placeholder=_(' '), classes=['control-medium']) }}
      </div>
    </div>

    {{ form.markdown('abouts', label=_('About'), id='field-about', value=all_about[2], error=errors.about, placeholder=_(' ')) }}

    {% if show_email_notifications %}
    <div class="show_email">
      {% call form.checkbox('activity_streams_email_notifications', label=_('Nhận thông báo qua email'), id='field-activity-streams-email-notifications', value=True, checked=g.userobj.activity_streams_email_notifications) %}
      {% set helper_text = _("Bạn sẽ nhận được email thông báo từ Cổng dữ liệu"|string) %}
      {{ form.info(helper_text.format(site_title=g.site_title), classes=['info-help-tight']) }}
      {% endcall %}
    </div>
    {% endif %}

  </fieldset>

  <fieldset>
    <h1 class="heading_edit-account">{{ _('Change password') }}</h1>
    <div class="form_edit-pass">
      <div class="edit_pass">
        <div class="change_pass">
          {{ form.input('old_password',
                        type='password',
                        label= _('Mật khẩu hiện tại'),
                        id='field-password-old',
                        value=data.oldpassword,
                        error=errors.oldpassword,
                        classes=['control-medium'],
                        attrs={'autocomplete': 'off', 'class': 'form-control'}
                        ) }}
          <span class="show_password show1" id="show_pass">
            <img src="../../images/img-box/eye.png" class="hidden" id="eye1">
            <img src="../../images/img-box/eye-off.png" id="eye-off1">
          </span>
        </div>
    
        <div class="change_pass">
          {{ form.input('password1', type='password', label=_('Mật khẩu mới'), id='field-password', value=data.password1, error=errors.password1, classes=['control-medium'], attrs={'autocomplete': 'off', 'class': 'form-control'} ) }}
          <span class="show_password show2" id="show_pass">
            <img src="../../images/img-box/eye.png" class="hidden" id="eye2">
            <img src="../../images/img-box/eye-off.png" id="eye-off2">
          </span>
        </div>
    
        <div class="change_pass">
          {{ form.input('password2', type='password', label=_('Xác nhận mật khẩu'), id='field-password-confirm', value=data.password2, error=errors.password2, classes=['control-medium'], attrs={'autocomplete': 'off', 'class': 'form-control'}) }}
          <span class="show_password show3" id="show_pass">
            <img src="../../images/img-box/eye.png" class="hidden" id="eye3">
            <img src="../../images/img-box/eye-off.png" id="eye-off3">
          </span>
        </div>
      </div>

      <div class="regulation_pass">
        <p>Mật khẩu cần tuân thủ các quy tắc:</p>
        <p>Có ít nhất 8 ký tự.</p>
        <p>Có chứa từ 03 trong 04 loại ký tự sau: Chữ hoa (A, B, C, …);</p>
        <p>Chữ thường (a, b, c, …); Ký tự đặc biệt (!, @, #, …); Số (0,1,...9).</p>
        <p>Không chứa khoảng trống</p>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('user_delete', {'id': data.id})  %}
        <a class="btn pull-left btn_reset" href="{% url_for 'user_delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this User?') }}">
          {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
        </a>
      {% endif %}
    {% endblock %}
    {% block generate_button %}
      {% if h.check_access('user_generate_apikey', {'id': data.id})  %}
        <a class="btn btn-warning hidden" href="{% url_for 'user.generate_apikey', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to regenerate the API key?') }}">{% block generate_button_text %}{{ _('Regenerate API Key') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <!-- {{ form.required_message() }} -->
    <input class="btn btn_cancel" type="button" onclick="back()" value="Hủy bỏ">
    <button class="btn btn-primary btn_save" type="submit" name="save">{{ _('Lưu lại') }}</button>
  </div>
  <script>
    // change password
    const iElement1 = document.querySelector('#field-password-old');
    const bElement1 = document.querySelector('.show1');
    bElement1.addEventListener('click', function() {
      const currentType = iElement1.getAttribute('type')
      var element = document.getElementById("eye1");
      element.classList.toggle("block");
      var element = document.getElementById("eye-off1");
      element.classList.toggle("hidden");
      iElement1.setAttribute(
        'type',
        currentType === 'password' ? 'text' : 'password'
      )
    })

    const iElement2 = document.querySelector('#field-password');
    const bElement2 = document.querySelector('.show2');
    bElement2.addEventListener('click', function() {
      const currentType = iElement2.getAttribute('type')
      var element = document.getElementById("eye2");
      element.classList.toggle("block");
      var element = document.getElementById("eye-off2");
      element.classList.toggle("hidden");
      iElement2.setAttribute(
        'type',
        currentType === 'password' ? 'text' : 'password'
      )
    })

    const iElement3 = document.querySelector('#field-password-confirm');
    const bElement3 = document.querySelector('.show3');
    bElement3.addEventListener('click', function() {
      const currentType = iElement3.getAttribute('type')
      var element = document.getElementById("eye3");
      element.classList.toggle("block");
      var element = document.getElementById("eye-off3");
      element.classList.toggle("hidden");
      iElement3.setAttribute(
        'type',
        currentType === 'password' ? 'text' : 'password'
      )
    })
  </script>
</form>
