{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Tài khoản cá nhân') }}{% endblock %}

{% block secondary_content %}
  {% block header_account_container_content %}
    <div class="sidebar_admin secondary_user-mobile" data-module="me" data-me="{{ c.userobj.id }}" id="sidebar_admin">
      <div class="list-admin">
        {% block header_account_logged %}
        {% block header_account_settings_link %}
        <span class="show_menu" id="show_menu">
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <img src="../../../../images/img-box/x.png" class="hidden" onclick="showMenu()">
        </span>
        <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/admin.png" class="img_admin">
                <li class="active" onclick="myClick()">
                    <a>
                        Tài khoản
                    </a>
                </li>
                <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
                <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
            </div>
        </span>
        <span class="span_config fix_text">
          <div class="hidden">
            <ul class="list_user" id="list_user">
                <span class="item_user">
                    <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                    {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                    <span class="user_dot">{{ count_pending }}</span>
                </span>
                <span class="item_user">
                    <img src="../../../../images/img-box/cn.png" class="img_user">
                    {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
                </span>
                <span class="item_user">
                    <img src="../../../../images/img-box/tc.png" class="img_user">
                    {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
                </span>
            </ul>
          </div>
        </span>
        <!-- <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
                <li>
                    <a href="{{ h.url_for('home.admin_contact') }}">
                        Quản lý liên hệ
                    </a>
                </li>
            </div>
        </span>
        <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
                <li>
                    <a href="{{ h.url_for('home.banner') }}">
                        Quản lý banner
                    </a>
                </li>
            </div>
        </span> -->
        <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
                <li>
                    <a href="{{ h.url_for('home.dmdc_admin') }}">
                        Dữ liệu danh mục
                    </a>
                </li>
            </div>
        </span>
        <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/roles.png" class="img_permission">
                <li>
                    <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
                        Nhóm quyền
                    </a>
                </li>
            </div>
        </span>
        <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/ad.png" class="img_infor">
                <li>
                    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
                        Thông tin cá nhân
                    </a>
                </li>
            </div>
        </span>
        <span class="span_config fix_text">
            <div class="hidden"><img src="../../../../images/img-box/config.png" class="img_config">
                <li>
                    <a href="{{ h.url_for('admin.config') }}">
                        Cấu hình
                    </a>
                </li>
            </div>
        </span>
        <span class="span_config fix_text">
            <div class="hidden">
                <img src="../../../../images/img-box/trash.png" class="img_trash">
                <li>
                    <a href="{{ h.url_for('admin.trash') }}">
                        Thùng rác
                    </a>
                </li>
            </div>
        </span>
        {% endblock %}
      {% endblock %}
      </div>
      <script>
          function showMenu() {
            var showText = $('.fix_text').find('div');
            var close = $('.show_menu').find('img');
            document.getElementById('sidebar_admin').classList.toggle('change_width');
            document.getElementById('show_menu').classList.toggle('change_show-menu');
            showText.toggleClass('hidden');
            close.toggleClass('hidden');
            document.getElementById('img_up').classList.remove('block');
            document.getElementById('img_d').classList.remove('hidden');
          };
      </script>
    </div>
  {% endblock %}
{% endblock %}

{% block primary %}
  <div class="primary col-sm-9 col-xs-12 remove_pr primary_user-mobile" role="main">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% block primary_content %}
    {% block primary_content_inner %}
      <div class="form_admin bg_index" id="bg_index">
        <div class="search_user">
          <div class="form_search-user">
            {% snippet 'user/snippets/user_search.html', q=q %}
          </div>
          <ul class="ul_action">
            <li>
              <button class="btn_user disable" id="delete_many">
                  <a>Xóa nhiều</a>
              </button>
            </li>
            <li>
              <button class="btn_user disable" id="reset_pass">
                <a>Reset pass</a>
              </button>
            </li>
            <li>
              <button class="btn_user" onclick="importClick()">
                <a>Import</a>
              </button>
            </li>
            <li>
              <button class="btn_user">
                {% if h.check_access('user_create') %}
                  {% link_for _('Thêm mới'), named_route='user.register_add' %}
                {% endif %}
              </button>
            </li>
          </ul>
        </div>
        {% block form %}
          <form method="post" class="dataset-form add-member-form reset_user-password" id="reset-user-password">
            <h1>Đặt lại mật khẩu</h1>
            <span class="btn_reset-form-close" onclick="btnResetClose()">
              <img src="../../../../images/img-box/x.png">
            </span>
            <div class="form-group">
              <input id="field-username" class="control-medium form-control hidden" name="user" value="" type="text" />
              <h2 class="form_caution-reset">
                Bạn có chắc chắn muốn đặt lại mật khẩu cho <label id="count_user1"></label> tài khoản đã chọn?
              </h2>
              <ul id="list_reset">
                {% for user in page.items %}
                  {% if not user.User.sysadmin %}
                    <input type="checkbox" class="check_user" name="check_user_r" value="{{ user.User.id }}">
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="form-actions">
              <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnResetClose()" value="Hủy bỏ">
              {% block form_button %}
                <button class="btn btn-primary btn_next btn_reset-p" type="submit" name="reset"> 
                  {{ _("Lưu lại") }}
                </button>
              {% endblock %}
            </div>
          </form>

          <form class="dataset-form add-member-form delete_user-password " method='post' id="delete-user-password">
            <h1>Xóa tài khoản</h1>
            <span class="btn_delete-close" onclick="btnDeleteClose()">
              <img src="../../../../images/img-box/x.png">
            </span>
            <div class="form_caution-delete">
              <h2>
                Bạn có chắc chắn muốn xóa <label id="count_user"></label> tài khoản người dùng không?
              </h2>
              <ul id="list_delete">
                {% for user in page.items %}
                  {% if not user.User.sysadmin %}
                    <input type="checkbox" class="check_user" name="check_user_d" value="{{ user.User.id }}">
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnDeleteClose()" value="Hủy bỏ">
                <button class="btn btn-primary btn_next" type="submit" name="submit">
                  {{ _('Lưu lại') }}
                </button>
            </div>
          </form>

          <form class="dataset-form add-member-form import_exel " method='post' id="import-exel">
            <h1>Tải lên danh sách tài khoản</h1>
            <span class="btn_import-close" onclick="btnImportClose()">
              <img src="../../../../images/img-box/x.png">
            </span>
            <div class="example-excel">
              <ul clas="link-example">
              <span class="label-example">File mẫu</span>
                <span class="download-example">
                  <a download href="../../../../excels/ImportUser.xlsx">ImportUser.xlsx</a>
                </span>
              </ul>
            </div>
            <div class="form_caution-import">
              <div class="drop-zone">
                <span class="icon"><img src="../../../../images/img-box/cloud.svg"></span>
                <span class="drop-zone__prompt">Click hoặc kéo thả để tải lên file</span>
                <input type="file" name="myFile" class="drop-zone__input" style="display: none;">
              </div>
              <script>
                document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
                  const dropZoneElement = inputElement.closest(".drop-zone");
                
                  dropZoneElement.addEventListener("click", (e) => {
                    inputElement.click();
                  });
                
                  inputElement.addEventListener("change", (e) => {
                    if (inputElement.files.length) {
                      updateThumbnail(dropZoneElement, inputElement.files[0]);
                    }
                  });
                
                  dropZoneElement.addEventListener("dragover", (e) => {
                    e.preventDefault();
                    dropZoneElement.classList.add("drop-zone--over");
                  });
                
                  ["dragleave", "dragend"].forEach((type) => {
                    dropZoneElement.addEventListener(type, (e) => {
                      dropZoneElement.classList.remove("drop-zone--over");
                    });
                  });
                
                  dropZoneElement.addEventListener("drop", (e) => {
                    e.preventDefault();
                
                    if (e.dataTransfer.files.length) {
                      inputElement.files = e.dataTransfer.files;
                      updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                    }
                
                    dropZoneElement.classList.remove("drop-zone--over");
                  });
                });
                
                /**
                 * Updates the thumbnail on a drop zone element.
                 *
                 * @param {HTMLElement} dropZoneElement
                 * @param {File} file
                 */
                function updateThumbnail(dropZoneElement, file) {
                  let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");
                
                  // First time - remove the prompt
                  if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                    dropZoneElement.querySelector(".drop-zone__prompt").remove();
                  }
                
                  // First time - there is no thumbnail element, so lets create it
                  if (!thumbnailElement) {
                    thumbnailElement = document.createElement("div");
                    thumbnailElement.classList.add("drop-zone__thumb");
                    dropZoneElement.appendChild(thumbnailElement);
                  }
                
                  thumbnailElement.dataset.label = file.name;
                
                  // Show thumbnail for image files
                  if (file.type.startsWith("image/")) {
                    const reader = new FileReader();
                
                    reader.readAsDataURL(file);
                    reader.onload = () => {
                      thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                    };
                  } else {
                    thumbnailElement.style.backgroundImage = null;
                  }
                }
              </script>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnImportClose()" value="Hủy bỏ">
                <button class="btn btn-primary btn_next" type="submit" name="submit" onclick="btnClose()">
                  {{ _('Lưu lại') }}
                </button>
            </div>
          </form>
        {% endblock %}
        {% block users_list %}
          <ul class="user-list">
            {% block users_list_inner %}
            <table class="user-list table_list" id="user_list">
              <thead class="thead_user">
                <tr>
                  <th class="check_all">
                    <input type="checkbox" class="check_all-user" id="check_all-user"/>
                    <span>{{ _('Họ và tên') }}</span>
                    <span class="select_all">Chọn tất cả</span>
                  </th>
                  <th>{{ _('Email ') }}</th>
                  <th class="phone_number">{{ _('Số điện thoại') }}</th>
                  <th class="cccd">{{ _('CCCD/Hộ chiếu') }}</th>
                  <th class="user_organ">{{ _('Cơ quan') }}</th>
                  <th class="date_cre">{{ _('Ngày tạo') }}</th>
                  <th>{{ _('Hành động') }}</th>
                </tr>
              </thead>
              <tbody id="tbody_user">
                {% for user in page.items %}
                  <tr class="tr_user" id="name_user">
                    {% set all_about = h.get_phone_pass(user.about) %}
                    {% set organ = h.get_name_organ(all_about[4]) %}
                    <td class="td_user" data-title="Họ và tên">
                      {% if user.User.sysadmin %}
                        <span title="{{ user.fullname }}">
                          {{ h.linked_user(user['name']) }}
                        </span>
                      {% else %}
                        <input type="checkbox" class="check_user" name="check_user" value="{{ user.User.id }}">
                        <span title="{{ user.fullname }}">
                          {{ h.linked_user1(user['name']) }}
                        </span>
                      {% endif %}
                    </td>
                    <td class="td_over" data-title="Email ">
                      <span title="{{ user.email }}">
                        {{ user.email }}
                      </span>
                    </td>
                    <td class="td_over phone_number" data-title="Số điện thoại">
                      <span title="{{ all_about[0] }}">
                        {{ all_about[0] }}
                      </span>
                    </td>
                    <td class="td_over cccd" data-title="CCCD/Hộ chiếu">
                      <span title="{{ all_about[1] }}">
                        {{ all_about[1] }}
                      </span>
                    </td>
                    <td class="td_over user_organ" data-title="Cơ quan">
                      <span title="{{ organ }}">{{ organ }}</span>
                    </td>
                    <td class="td_over date_cre" data-title="Ngày tạo">
                      <span title="{{ h.render_datetime(user.created) }}">
                        {{ h.render_datetime(user.created) }}
                      </span>
                    </td>
                    <td class="td_over" data-title="Hành động">
                      {% if user.User.state == 'active' %}
                        <ul class="item_icon">
                          <li class='btn_account' title="Chỉnh sửa tài khoản">
                            {% if user.User.sysadmin %}
                              {% link_for _(' '), named_route='user.edit', id=user.name, class_='link_edit' %}
                            {% else %}
                              {% if h.check_access('user_update', user) %}
                                {% link_for _(' '), named_route='user.edit_user', id=user.name, class_='link_edit' %}
                              {% endif %}
                            {% endif %}
                            <img src="../../../../images/img-box/edit.png" class="icon_edit">
                          </li>
                          <li class='btn_account' title="Đặt lại mật khẩu">
                            <a href="{{ h.url_for('user.reset_password', id=user.User.id) }}" data-module="confirm-action" data-module-title="{{ _('Đặt lại mật khẩu') }}" data-module-content="{{ _(' Bạn có chắc chắn muốn đặt lại mật khẩu cho người dùng này không?') }}">
                              <img src="../../../../images/img-box/refresh.png">
                            </a>
                          </li>
                          {% if user.User.sysadmin %}
                          {% else %}
                            <li class='btn_account' title="Khoá tài khoản">
                              {% if h.check_access('user_update', {'id': user.User.id})  %}
                                <a href="{% url_for 'user.lock_user', id=user.User.id %}" data-module="confirm-action" data-module-title="{{ _('Khóa tài khoản') }}" data-module-content="{{ _(' Bạn có chắc chắn muốn khóa tài khoản người dùng này không?') }}"> 
                                  <img src="../../../../images/img-box/lock1.png" >
                                </a>
                              {% endif %}
                            </li>
                            <li class='btn_account' title="Xóa tài khoản">
                              {% if h.check_access('user_delete', {'id': user.User.id})  %}
                                <a href="{% url_for 'user.delete', id=user.User.id %}" data-module="confirm-action" data-module-title="{{ _('Xóa tài khoản') }}" data-module-content="{{ _(' Bạn có chắc chắn muốn xóa tài khoản người dùng này không?') }}"> 
                                  <img src="../../../../images/img-box/trash1.png">
                                </a>
                              {% endif %}
                            </li>
                          {% endif %}
                        </ul>
                      {% elif user.User.state == 'locked' %}
                        <ul class="item_icon">
                          <li class='btn_account disable_icon' title="Chỉnh sửa tài khoản">
                            <img src="../../../../images/img-box/edit.png" class="icon_edit">
                          </li>
                          <li class='btn_account disable_icon' title="Đặt lại mật khẩu">
                            <img src="../../../../images/img-box/refresh.png">
                          </li>
                          <li class='btn_account' title="Khôi phục tài khoản">
                            {% if h.check_access('user_update', {'id': user.User.id})  %}
                              <a href="{% url_for 'user.unlock_user', id=user.User.id %}" data-module="confirm-action" data-module-title="{{ _('Mở khóa tài khoản') }}" data-module-content="{{ _(' Bạn có chắc chắn muốn mở khóa tài khoản người dùng này không?') }}"> 
                                <img src="../../../../images/img-box/lock2.svg">
                              </a>
                            {% endif %}
                          </li>
                          <li class='btn_account disable_icon' title="Xóa tài khoản">
                              <img src="../../../../images/img-box/trash1.png">
                          </li>
                        </ul>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endblock %}
            <div class="count_pagination">
              {% set user_count = page.items|length %}
              Hiển thị {{user_count}}/{{ page.item_count }} bản ghi
            </div>
          </ul>
        {% endblock %}
        {% block page_pagination %}
          {{ page.pager(q=q, order_by=order_by) }}
        {% endblock %}
      </div>
    {% endblock %}
  {% endblock %}
    <script>
      // check all & disable btn
      $(document).ready(function() {

        $("#check_all-user").change(function(){
          if (this.checked) {
            $(".check_user").each(function() {
              this.checked=true;
            })
            $('#delete_many').removeClass('disable');
            $('#reset_pass').removeClass('disable');           
          } else {
            $(".check_user").each(function() {
              this.checked=false;
            })
            $('#delete_many').addClass('disable');
            $('#reset_pass').addClass('disable');         
          }
        });
      
        $(".check_user").click(function () {
          if ($(this).is(":checked")) {
            var isAllChecked = 0;
            $(".check_user").each(function(){
              if (!this.checked)
                isAllChecked = 1;
            })              
            if (isAllChecked == 0){ $("#check_all-user").prop("checked", true); }     
          } else {
            $("#check_all-user").prop("checked", false);
          }
          var selectedUsers = $('input[name=check_user]:checked').map(function() {
            return $(this).val();
          }).get();
          if (selectedUsers.length >= 1) {
            $('#delete_many').removeClass('disable');
            $('#reset_pass').removeClass('disable');
          } else {
            $('#delete_many').addClass('disable');
            $('#reset_pass').addClass('disable');
          };
        });

        $('#name_user input[type="checkbox"]').on('change', function() {
          var checkboxValue = $(this).val();
          $('#list_delete input[value="' + checkboxValue + '"]').prop('checked', $(this).prop('checked'));
          $('#list_reset input[value="' + checkboxValue + '"]').prop('checked', $(this).prop('checked'));
        });

        // remove all
        $('#delete_many').click(function() {
          var selectedUsers = $('input[name=check_user]:checked').map(function() {
              return $(this).val();
          }).get();
          $('#delete-user-password').addClass('up_block');
          $('#count_user').html(selectedUsers.length);
        });
        // reset pass
        $('#reset_pass').click(function() {
          var selectedUsers = $('input[name=check_user]:checked').map(function() {
              return $(this).val();
          }).get();
          $('#reset-user-password').addClass('up_block');
          $('#count_user1').html(selectedUsers.length);
        });
      });
    </script>
  </div>
{% endblock %}