{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Tài khoản chờ duyệt') }}{% endblock %}

{% block secondary_content %}
  {% block header_account_container_content %}
  <div class="sidebar_admin secondary_user-mobile" data-module="me" data-me="{{ c.userobj.id }}" id="sidebar_admin">
    <div class="list-admin">
      {% block header_account_logged %}
      {% block header_account_settings_link %}
      <span class="show_menu" id="show_menu">
          <i class="fa fa-bars" onclick="showMenu()"></i>
          <img src="../../../../images/img-box/x.png" class="hidden" onclick="showMenu()">
      </span>
      <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/admin.png" class="img_admin">
              <li class="active" onclick="myClick()">
                  <a>
                      Tài khoản
                  </a>
              </li>
              <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
              <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
          </div>
      </span>
      <span class="span_config fix_text">
        <div class="hidden">
          <ul class="list_user" id="list_user">
              <span class="item_user">
                  <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                  {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                  <span class="user_dot">{{ count_pending }}</span>
              </span>
              <span class="item_user">
                  <img src="../../../../images/img-box/cn.png" class="img_user">
                  {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
              </span>
              <span class="item_user">
                  <img src="../../../../images/img-box/tc.png" class="img_user">
                  {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
              </span>
          </ul>
        </div>
      </span>
      <!-- <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
              <li>
                  <a href="{{ h.url_for('home.admin_contact') }}">
                      Quản lý liên hệ
                  </a>
              </li>
          </div>
      </span>
      <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
              <li>
                  <a href="{{ h.url_for('home.banner') }}">
                      Quản lý banner
                  </a>
              </li>
          </div>
      </span> -->
      <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
              <li>
                  <a href="{{ h.url_for('home.dmdc_admin') }}">
                      Dữ liệu danh mục
                  </a>
              </li>
          </div>
      </span>
      <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/roles.png" class="img_permission">
              <li>
                  <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
                      Nhóm quyền
                  </a>
              </li>
          </div>
      </span>
      <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/ad.png" class="img_infor">
              <li>
                  <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
                      Thông tin cá nhân
                  </a>
              </li>
          </div>
      </span>
      <span class="span_config fix_text">
          <div class="hidden"><img src="../../../../images/img-box/config.png" class="img_config">
              <li>
                  <a href="{{ h.url_for('admin.config') }}">
                      Cấu hình
                  </a>
              </li>
          </div>
      </span>
      <span class="span_config fix_text">
          <div class="hidden">
              <img src="../../../../images/img-box/trash.png" class="img_trash">
              <li>
                  <a href="{{ h.url_for('admin.trash') }}">
                      Thùng rác
                  </a>
              </li>
          </div>
      </span>
      {% endblock %}
      {% endblock %}
      </div>
      <script>
          function showMenu() {
              var showText = $('.fix_text').find('div');
              var close = $('.show_menu').find('img');
              document.getElementById('sidebar_admin').classList.toggle('change_width');
              document.getElementById('show_menu').classList.toggle('change_show-menu');
              showText.toggleClass('hidden');
              close.toggleClass('hidden');
              document.getElementById('img_up').classList.remove('block');
              document.getElementById('img_d').classList.remove('hidden');
          };
      </script>
    </div>
  {% endblock %}
{% endblock %}

{% block primary %}
  <div class="primary col-sm-9 col-xs-12 remove_pr primary_user-mobile" role="main">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% block primary_content %}
    {% block primary_content_inner %}
      <div class="form_admin bg_index" id="bg_index">
        <div class="search_user">
          <div class="form_search-user">
            {% snippet 'user/snippets/user_search-pending.html', q=q %}
          </div>
          <ul class="ul_action">
            <li>
              <button class="btn_user disable" id="delete_many">
                <a>Phê duyệt</a>
              </button>
            </li>
            <li>
              <button class="btn_user disable" id="reset_pass">
                <a>Từ chối</a>
              </button>
            </li>
          </ul>
        </div>
        {% block form %}
          <form class="dataset-form add-member-form reset_user-password" method='post' id="reset-user-password">
            <h1>Từ chối</h1>
            <span class="btn_reset-form-close" onclick="btnResetClose()">
              <img src="../../../../images/img-box/x.png">
            </span>
            <div class="form_refuse">
              <p>
                Nhập lý do từ chối
              </p>
              <textarea type="text" required class="input_refuse"></textarea>
              <ul id="list_refuse">
                {% for user in page.items %}
                  <input type="checkbox" class="check_user" name="check_user_re" value="{{ user.User.id }}">
                {% endfor %}
              </ul>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnResetClose()" value="Hủy bỏ">
                <button class="btn btn-primary btn_next" type="submit" name="submit">
                  {{ _('Lưu lại') }}
                </button>
            </div>
          </form>

          <form class="dataset-form add-member-form delete_user-password " method='post' id="delete-user-password">
            <h1>Phê duyệt tài khoản</h1>
            <span class="btn_delete-close" onclick="btnDeleteClose()">
              <img src="../../../../images/img-box/x.png">
            </span>
            <div class="form_caution-delete">
              <h2>
                Bạn có chắc chắn muốn phê duyệt <label id="count_user"></label> tài khoản người dùng này không?
              </h2>
              <ul id="list_approve">
                {% for user in page.items %}
                  <input type="checkbox" class="check_user" name="check_user_a" value="{{ user.User.id }}">
                {% endfor %}
              </ul>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnDeleteClose()" value="Hủy bỏ">
                <button class="btn btn-primary btn_next" type="submit" name="submit">
                  {{ _('Lưu lại') }}
                </button>
            </div>
          </form>
        {% endblock %}
        {% block users_list %}
          <ul class="user-list">
            {% block users_list_inner %}
            <table class="user-list table_list" id="user_list">
              <thead class="thead_user">
                <tr>
                  <th class="check_all">
                    <input type="checkbox" class="check_all-user" id="check_all-user"/>
                    <span>{{ _('Họ và tên') }}</span>
                    <span class="select_all">Chọn tất cả</span>
                  </th>
                  <th>{{ _('Email ') }}</th>
                  <th class="date_create">{{ _('Ngày tạo') }}</th>
                  <th class="text_pending">{{ _('Mục đích tham gia') }}</th>
                  <th class="action_pending">{{ _('Hành động') }}</th>
                </tr>
              </thead>
              <tbody id="tbody_user-pending">
                {% for user in page.items %}
                  <tr class="tr_user" id="name_user">
                    <td class="td_user" data-title="Họ và tên">
                      <input type="checkbox" class="check_user" name="check_user" value="{{ user.User.id }}">
                      <span title="{{ user.fullname }}">
                        {{ h.linked_user1(user['name']) }}
                      </span>
                    </td>
                    <td class="td_over td_email-pending" data-title="Email ">
                      <span title="{{ user.email }}">
                        {{ user.email }}
                      </span>
                    </td>
                    <td class="td_over td_pending" data-title="Ngày tạo">
                      <span title="{{ h.render_datetime(user.created) }}">
                        {{ h.render_datetime(user.created) }}
                      </span>
                    </td>
                    <td class="td_over td_pending" data-title="Mục đích tham gia">
                      {% set all_about = h.get_phone_pass(user.about) %}
                      <span title="{{ all_about[3] }}">
                        {{ all_about[3] }}
                      </span>
                    </td>
                    <td class="td_over td_pending" data-title="Hành động">
                      <ul class="item_icon">
                        <li class='btn_account btn_view-user' title="Chi tiết tài khoản">
                          {% link_for _(' '), named_route='user.edit_contact_user', id=user.name, class_='btn btn-default' %}
                          <img src="../../../../images/img-box/eye1.png" class="icon_edit">
                        </li>
                        <li class='btn_account' title="Phê duyệt">
                          {% if h.check_access('user_update', {'id': user.User.id})  %}
                            <a href="{% url_for 'user.accept_pending', id=user.User.id %}" data-module="confirm-action" data-module-title="{{ _('Phê duyệt tài khoản') }}" data-module-content="{{ _('Bạn có chắc chắn muốn phê duyệt tài khoản người dùng này không?') }}"> 
                              <img src="../../../../images/img-box/pd.svg">
                            </a>
                          {% endif %}
                        </li>
                        <li class='btn_account' title="Từ chối">
                          {% if h.check_access('user_update', {'id': user.User.id})  %}
                            <a href="{% url_for 'user.delete_request_user', id=user.User.id %}" data-module="confirm-reason-action" data-module-title="{{ _('Từ chối tài khoản') }}" data-module-content="{{ _('Nhập lý do từ chối') }}">
                              <img src="../../../../images/img-box/tc.svg">
                            </a>
                          {% endif %}
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endblock %}
            <div class="count_pagination">
              {% set user_count = page.items|length %}
              Hiển thị {{user_count}}/{{ page.item_count }} bản ghi
            </div>
          </ul>
        {% endblock %}
        {% block page_pagination %}
          {{ page.pager(q=q, order_by=order_by) }}
        {% endblock %}
      </div>
    {% endblock %}
  {% endblock %}
    <script>
      // check all & disable btn
      $(document).ready(function() {

        $("#check_all-user").change(function(){
          if (this.checked) {
            $(".check_user").each(function() {
              this.checked=true;
            })
            $('#delete_many').removeClass('disable');
            $('#reset_pass').removeClass('disable');           
          } else {
            $(".check_user").each(function() {
              this.checked=false;
            })
            $('#delete_many').addClass('disable');
            $('#reset_pass').addClass('disable');         
          }
        });
      
        $(".check_user").click(function () {
          if ($(this).is(":checked")) {
            var isAllChecked = 0;
            $(".check_user").each(function(){
              if (!this.checked)
                 isAllChecked = 1;
            })              
            if (isAllChecked == 0){ $("#check_all-user").prop("checked", true); }     
          } else {
            $("#check_all-user").prop("checked", false);
          }
          var selectedUsers = $('input[name=check_user]:checked').map(function() {
            return $(this).val();
          }).get();
          if (selectedUsers.length >= 1) {
            $('#delete_many').removeClass('disable');
            $('#reset_pass').removeClass('disable');
          } else {
            $('#delete_many').addClass('disable');
            $('#reset_pass').addClass('disable');
          };
        });

        $('#name_user input[type="checkbox"]').on('change', function() {
          var checkboxValue = $(this).val();
          $('#list_approve input[value="' + checkboxValue + '"]').prop('checked', $(this).prop('checked'));
          $('#list_refuse input[value="' + checkboxValue + '"]').prop('checked', $(this).prop('checked'));
        });

        $('#delete_many').click(function() {
          var selectedUsers = $('input[name=check_user]:checked').map(function() {
              return $(this).val();
          }).get();
          $('#delete-user-password').addClass('up_block');
          $('#count_user').html(selectedUsers.length);
        });

        $('#reset_pass').click(function() {
          $('#reset-user-password').addClass('up_block');
        });
      });
    </script>
  </div>
{% endblock %}