{% ckan_extends %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Đăng nhập'), named_route='user.login') }}</li>
{% endblock %}

{% block primary %}
  <div class="primary col-sm-12 col-xs-12 bg_login" role="main">
    {% block primary_content %}
      <section class="module">
        <div class="module-content">
          <div class="content_login">
            <h1 class="page-heading-login">{% block page_heading %}{{ _('Đăng nhập') }}{% endblock %}</h1>
          {% block form %}
            {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}
          {% endblock %}
          </div>
        </div>
      </section>
    {% endblock %}
  </div>
{% endblock %}

{% block secondary %}
  <aside class="secondary col-sm-3 hidden">
    {% block secondary_content %}{% endblock %}
  </aside>
{% endblock %}