{% extends "page.html" %}

{% block subtitle %}{{ _('Đăng xuất') }}{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content bg_logout">
      <h1 class="page-heading">
      	{% block page_heading %}{{ _('Thông báo') }}{% endblock %}
      </h1>
      <p style="font-size: 18px;">{% trans %}Đăng xuất thành công.{% endtrans %}</p>
    </div>
  </section>
{% endblock %}
