{% ckan_extends %}

{% block subtitle %}{{ _('Đăng ký') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Đăng ký'), named_route='user.register') }}</li>
{% endblock %}

{% block primary %}
<div class="primary col-sm-12 col-xs-12 bg_login" role="main">
  {% block primary_content %}
    {% block primary_content_inner %} 
      {{ form | safe }}
    {% endblock %}
  {% endblock %}
</div>
{% endblock %}

{% block secondary %}
{% endblock %}
