{% import "macros/form.html" as form %}
<form class="dataset-form add-member-form add_user-form" id="user-register-form" action="" method="post" enctype="multipart/form-data">
    <h1>Thêm mới tài khoản</h1>
    <div class="form_input-user">
        <div class="div_user">
            {{ form.input("fullname", id="field-fullname", label=_("Họ và Tên"), placeholder=_(" "), value=data.fullname, error=errors.fullname, classes=["control-medium re_fullname"], is_required=True) }}
        </div>
        <div class="div_user user_name">
            {{ form.input("name", id="field-username", label=_("Tên tài khoản"), placeholder=_(" "), value=data.name, error=errors.name, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="div_user user_name">
            {{ form.errors(error_summary) }}
            {{ form.input("email", id="field-email", label=_("Email "), type="email", placeholder=_(" "), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="div_user">
            {{ form.input("phone", id="field-number-phone", label=_("Số điện thoại"), placeholder=_(" "), type="text", value=data.phone, error=errors.phone, classes=["control-medium"], is_required=True) }}
            <script>
                window.addEventListener('load', function() {
                    document.getElementById('field-number-phone').setAttribute("pattern", "[0-9]{10}");
                });
            </script>
        </div>
        <div class="div_user">
            {{ form.input("passport", id="field-passport", label=_("CCCD/HC"), placeholder=_(" "), type="text", value=data.passport, error=errors.passport, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="div_user hidden">
            {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder=" ", value=data.password1, error=errors.password1, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="div_user hidden">
            {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder=" ", value=data.password2, error=errors.password2, classes=["control-medium"], is_required=True) }}
        </div>
        <div class="div_user">
            {% set format_attrs = {'data-module': 'autocomplete'} %}
            {{ form.select('id_organ', label=_('Cơ quan'), options=organs, selected=organs[0].value, error='', attrs=format_attrs) }}
        </div>
        <div class="div_user">   
            {% set format_attrs = {'data-module': 'autocomplete'} %}
            {{ form.select('role', label=_('Phân quyền'), options=roles, selected=roles[0].value, error='', attrs=format_attrs) }}
        </div>
    </div>

    <div class="form-actions">
        <input type="button" class="btn btn-primary btn_cancel pull-left" onclick="back()" value="Hủy bỏ">
        <div class="btn_dk">
            {% block form_actions %}
                <button class="btn btn-primary btn_next" id="btn_action" type="submit" name="save">{{ _("Lưu lại") }}</button>
            {% endblock %}
        </div>
    </div>

    <script>
        document.getElementById('field-fullname').addEventListener('keyup', function() {
            var valueUrl = document.getElementById('field-fullname').value.toLowerCase();
            valueUrl = valueUrl.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
            valueUrl = valueUrl.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
            valueUrl = valueUrl.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
            valueUrl = valueUrl.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
            valueUrl = valueUrl.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
            valueUrl = valueUrl.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
            valueUrl = valueUrl.replace(/đ/g,"d");
            valueUrl = valueUrl.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
            valueUrl = valueUrl.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
            valueUrl = valueUrl.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
            valueUrl = valueUrl.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
            valueUrl = valueUrl.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
            valueUrl = valueUrl.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
            valueUrl = valueUrl.replace(/Đ/g, "D");
            valueUrl = valueUrl.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
            valueUrl = valueUrl.replace(/\u02C6|\u0306|\u031B/g, "");
            valueUrl = valueUrl.replace(/ + /g,"-");
            valueUrl = valueUrl.trim().replaceAll(" ", "");
            valueUrl = valueUrl.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|`|{|}|\||\\/g,"");
            document.getElementById('field-username').value = valueUrl;
        });
        window.addEventListener('load', function() {
            document.getElementById('field-password').value = '123abc!@';
            document.getElementById('field-confirm-password').value = '123abc!@';
        });
        document.getElementById('btn_action').addEventListener('click', function () {
            document.getElementById("field-fullname").required = true;
            document.getElementById("field-username").required = true;
            document.getElementById("field-email").required = true;
            document.getElementById("field-number-phone").required = true;
            document.getElementById("field-passport").required = true;
        })
    </script>
</form>