
<div class="form_register">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <h1 class="page-heading_register">
    {% block page_heading %}{{ _('Đăng ký') }}{% endblock %}
  </h1>  
  <div class="register_header">
    <p class="radio_text">
      <span class="radio-item">
        <input type="radio" checked="checked" id="check2" value="" name="gender" class="check_radio">
        <label for="check2">
          {% link_for _('Đăng ký tài khoản cá nhân'), named_route='user.register' %}
        </label>
      </span>
      <span class="radio-item">
        <input type="radio" id="check1" value="" name="gender" class="check_radio">
        <label for="check1">
          {% link_for _('Đăng ký tài khoản tổ chức'), named_route='user.register_organ' %}
        </label>
      </span>
    </p>
  </div>
  
  <div class="register_main2" id="individual">
    <h2>I. Thông tin tài khoản</h2>
    {% import "macros/form.html" as form %}
    <form class="user-register-form" id="user-register-form" action="" method="post" enctype="multipart/form-data">
      <div class="register_form">
        {{ form.errors(error_summary) }}
        {{ form.input("email", id="field-email", label=_("Email "), type="email", placeholder=_(" "), value=data.email, error=errors.email, classes=["control-medium re_email"], is_required=True) }}
      </div>
      <div class="input_register">
        <div class="col">
          {{ form.input("fullname", id="field-fullname", label=_("Họ và Tên"), placeholder=_(" "), value=data.fullname, error=errors.fullname, classes=["control-medium re_fullname"], is_required=True) }}
        </div>
        <div class="col">
          {{ form.input("name", id="field-username", label=_("Tên tài khoản"), placeholder=_(" "), value=data.name, error=errors.name, classes=["control-medium re_acc"], is_required=True) }}
        </div>
      </div>
  
      <div class="input_register">
        <div class="col">
          {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder=" ", value=data.password1, error=errors.password1, classes=["control-medium re_pass"], is_required=True) }}
        </div>
        <div class="col">
          {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder=" ", value=data.password2, error=errors.password2, classes=["control-medium re_confirm"], is_required=True) }}
        </div>
      </div>
  
      <div class="input_register">
        <div class="col">
          {{ form.input("phone", id="field-number-phone", label=_("Số điện thoại"), placeholder=_(" "), type="tel", value=data.phone, error=errors.phone, classes=["control-medium re_sdt"], is_required=True) }}
        </div>
        {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
        {% set is_url = data.image_url and data.image_url.startswith('http') %}
        <div class="col upload_avatar">
          {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Ảnh đại diện'), url_label=_('Ảnh đại diện')) }}
          <input type="button" class="btn-danger remove_img" value="Xóa" onclick="removeImg()" id="remove_img">
        <script>
          var upFile = document.getElementById('field-image-upload');
          upFile.accept = [".png, .jpg, .jpeg, .svg"];
          upFile.addEventListener('change', function () {
            if (upFile.value != '') {
              document.getElementById('input_url').style.display = 'block';
            }
            var tagLabel = document.querySelectorAll('.input_url-img label');
            tagLabel[0].classList.add("change_label");

            var filePath = upFile.value;
              var files = /(\.jpg|\.jpeg|\.png|\.svg)$/;
              if (!files.exec(filePath)) {
                upFile.value = '';
                alert('Vui lòng tải lên tệp có định dạng: .jpg/.jpeg/.png/.svg');
                document.getElementById('input_upload').children[0].classList.add('up_file-img');
                document.getElementById('input_url').style.display = 'none';
              } else {
                document.getElementById('input_url').style.display = 'block';
                document.getElementById('input_upload').style.display = 'none';
              }
          });
        </script>
        </div>
      </div>
    
      <div class="input-form">
        <div class="input-item">
          {{ form.input("passport", id="field-passport", label=_("CCCD/Hộ chiếu"), placeholder=_(" "), type="text", value=data.passport, error=errors.passport, classes=["control-medium re_pp"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("address", id="field-address", label=_("Nơi cấp"), placeholder=_(" "), type="text", value=data.address, error=errors.address, classes=["control-medium re_address"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("date", id="field-date", label=_("Ngày cấp"), placeholder=_(" "), type="text", value=data.date, error=errors.date, classes=["control-medium re_date"], is_required=True) }}
        </div>
      </div>
    
      <div class="select-box">
        <div class="input-item show_label">
          <select class="form-select form-select-sm mb-3 select-item" id="city" aria-label=".form-select-sm">
            <option value="" selected></option>           
          </select>
          {{ form.input("city", id="field-city", label=_("Chọn Tỉnh/Thành phố "), placeholder=_(" "), type="text", value=data.city, error=errors.city, classes=["control-medium re_city"], is_required=True) }}
        </div>
        <div class="input-item show_label">
          <select class="form-select form-select-sm mb-3 select-item" id="district" aria-label=".form-select-sm">
            <option value="" selected></option>
          </select>
          {{ form.input("district", id="field-district", label=_("Chọn Quận/Huyện"), placeholder=_(" "), type="text", value=data.district, error=errors.district, classes=["control-medium re_district"], is_required=True) }}
        </div>
        <div class="input-item show_label">
          <select class="form-select form-select-sm select-item" id="ward" aria-label=".form-select-sm">
            <option value="" selected></option>
          </select>
          {{ form.input("ward", id="field-ward", label=_("Chọn Phường/Xã"), placeholder=_(" "), type="text", value=data.ward, error=errors.ward, classes=["control-medium re_ward"], is_required=True) }}
        </div>
        <script>
          var citis = document.getElementById("city");
          var districts = document.getElementById("district");
          var wards = document.getElementById("ward");
          var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json", 
            method: "GET", 
            responseType: "application/json", 
          };
          var promise = axios(Parameter);
          promise.then(function (result) {
            renderCity(result.data);
          });
          
          function renderCity(data) {
            for (const x of data) {
              citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }
            citis.onchange = function () {
              district.length = 1;
              ward.length = 1;
              if(this.value != ""){
                const result = data.filter(n => n.Id === this.value);
          
                for (const k of result[0].Districts) {
                  district.options[district.options.length] = new Option(k.Name, k.Id);
                }
              }
            };
            district.onchange = function () {
              ward.length = 1;
              const dataCity = data.filter((n) => n.Id === citis.value);
              if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
          
                for (const w of dataWards) {
                  wards.options[wards.options.length] = new Option(w.Name, w.Id);
                }
              }
            };
          }
        </script>
      </div>
      <div class="input_main hide_option">
        {{ form.input("detail", id="field-detail", label=_("Địa chỉ chi tiết"), placeholder=_(" "), type="text", value=data.detail, error=errors.detail, classes=["control-medium re_detail"], is_required=True) }}
        {% set format_attrs = {'data-module': 'autocomplete'} %}
        {{ form.select('id_organ', label=_('Cơ quan trực thuộc'), options=organs, selected='selected', error='', attrs=format_attrs, classes=["control-medium re_organs"], is_required=True) }}
        {{ form.input("organ_under", id="field-organ_under", label=_("Cơ quan trực thuộc"), placeholder=_(" "), type="text", value=data.organ_under, error=errors.organ_under, classes=["control-medium re_organ-under"], is_required=True) }}
      </div>
    
      <div class="input_text">
          {{ form.input("desc", id="field-desc", label=_("Mô tả ngắn gọn về mục đích tham gia Cổng dữ liệu"), placeholder=_(" "), type="text", value=data.desc, error=errors.desc, classes=["control-medium re_desc"], is_required=True) }}
      </div>
  
      <div class="input_end" onload="generate()">
        <div class="input-item input_end-1">
          <input required type="checkbox" checked="checked">
          <p>
            Đồng ý với
            <a href="{{ h.url_for('home.dkcs') }}">điều khoản & chính sách</a>
          </p>
        </div>
        
        <div class="input-item input_end-2">
          <p class="captcha">
            Mã captcha
            <span title="This field is required" class="control-required">*</span>
          </p>
          {% if g.recaptcha_publickey %}
            {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
          {% endif %}
          <div class="change" onclick="generate()">
            <img src="../../images/img-box/change.png">
          </div>
        </div>
      </div>
  
      <div class="form-actions">
        {% block form_actions %}
        <button class="btn-register pull-right" id="btn_action" type="submit" name="save">{{ _("Đăng ký") }}</button>
        {% endblock %}
        <input type="button" class="btn_back pull-right" onclick="back()" value="Quay lại">
      </div>
    </form>
    <script>
      window.addEventListener('load', function() { 
        document.getElementById("field-email").focus();
        document.getElementById('field-number-phone').setAttribute("pattern", "[0-9]{10}");
        document.querySelectorAll("#id_organ option")[0].style.display = 'none';
        var organUnder = document.getElementById('field-organ_under');
        if (organUnder.value != "") {
          document.getElementById('btn_action').addEventListener('click', function () {
            var spanTag = $('#id_organ').find('option');
            for(var i = 0; i < spanTag.length; i++){
              if(spanTag[i].textContent == organUnder.value){
                spanTag[i].selected = true;
              }
            }
          });
          organUnder.parentElement.parentElement.style.zIndex = "2";
          organUnder.style.border = "1px solid rgba(0, 0, 0, 0.5)";
          organUnder.setAttribute("readonly", "readonly");
          var tagLabel = document.querySelectorAll('.re_organ-under label');
          tagLabel[0].classList.add("change_label");
        };
      });

      document.getElementById('btn_action').addEventListener('click', function () {
        var requiredFields = [
          "field-email",
          "field-fullname",
          "field-username",
          "field-number-phone",
          "field-password",
          "field-confirm-password",
          "field-passport",
          "field-address",
          "field-date",
          "field-city",
          "field-district",
          "field-ward",
          "field-detail",
          "field-organ_under",
          "field-desc"
        ];

        requiredFields.forEach(function (fieldId) {
          document.getElementById(fieldId).required = true;
        });

        if (document.getElementById("field-organ_under").value == '') {
          var organText = document.getElementById("text_under").innerText;
          document.getElementById("field-organ_under").value = organText;
        };
      });

      function setupSelectListener(selectId, fieldId, labelClass) {
        var select = document.getElementById(selectId);
        var field = document.getElementById(fieldId);
        var tagLabel = document.querySelectorAll('.' + labelClass);
      
        select.addEventListener('change', function() {
          var selectedOption = select.options[select.selectedIndex];
          field.value = selectedOption.text;
          field.style.visibility = "hidden";
          tagLabel[0].classList.add("change_label");
        });
      
        if (field.value != '') {
          tagLabel[0].classList.add("change_label");
          field.style.visibility = "initial";
          field.setAttribute("readonly", "readonly");
          field.style.border = "1px solid rgba(0, 0, 0, 0.5)";
          select.style.visibility = "hidden";
        }
      };
      
      window.addEventListener('load', function() {
        setupSelectListener("city", "field-city", "re_city label");
        setupSelectListener("district", "field-district", "re_district label");
        setupSelectListener("ward", "field-ward", "re_ward label");
      });

      function tagInputEvent (fieldInput, tagLabel) {
        var inputKey = fieldInput.value.length;
        if (inputKey == 0) {
          tagLabel[0].classList.remove("change_label");
        } else {
          tagLabel[0].classList.add("change_label");
        }
      };

      document.getElementById("field-email").addEventListener("focus", function() { 
        var tagLabel = document.querySelectorAll('.re_email label');
        tagLabel[0].classList.add("change_label");
      });
      document.getElementById("field-email").addEventListener('blur', function() {
          var tagInput = document.getElementById("field-email");
          var tagLabel = document.querySelectorAll('.re_email label');
          tagInputEvent(tagInput, tagLabel);
      });
      
      var fields = [
        { id: "field-fullname", labelClass: "re_fullname label" },
        { id: "field-username", labelClass: "re_acc label" },
        { id: "field-number-phone", labelClass: "re_sdt label" },
        { id: "field-image-url", labelClass: "input_url-img label" },
        { id: "field-image-upload", labelClass: "input_upload-img label" },
        { id: "field-password", labelClass: "re_pass label" },
        { id: "field-confirm-password", labelClass: "re_confirm label" },
        { id: "field-passport", labelClass: "re_pp label" },
        { id: "field-address", labelClass: "re_address label" },
        { id: "field-date", labelClass: "re_date label" },
        { id: "field-detail", labelClass: "re_detail label" },
        { id: "field-desc", labelClass: "re_desc label" }
      ];

      function setupFieldListeners(fieldInfo) {
        var fieldInput = document.getElementById(fieldInfo.id);
        var tagLabel = document.querySelectorAll('.' + fieldInfo.labelClass);

        fieldInput.addEventListener("focus", function() {
          tagLabel[0].classList.add("change_label");
        });

        fieldInput.addEventListener("blur", function() {
          tagInputEvent(fieldInput, tagLabel);
        });

        if (fieldInput.value != "") {
          tagLabel[0].classList.add("change_label");
        }
      }

      window.addEventListener("load", function() {
        fields.forEach(function(fieldInfo) {
          setupFieldListeners(fieldInfo);
        });
      });
    </script>
  </div>
</div>