
<div class="form_register">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <h1 class="page-heading_register">
    {% block page_heading %}{{ _('Đăng ký') }}{% endblock %}
  </h1>  
  <div class="register_header">
    <p class="radio_text">
      <span class="radio-item">
        <input type="radio" id="check2" value="" name="gender" class="check_radio">
        <label for="check2">
          {% link_for _('Đăng ký tài khoản cá nhân'), named_route='user.register' %}
        </label>
      </span>
      <span class="radio-item">
        <input type="radio" checked="checked" id="check1" value="" name="gender" class="check_radio">
        <label for="check1">
          {% link_for _('Đăng ký tài khoản tổ chức'), named_route='user.register_organ' %}
        </label>
      </span>
    </p>
  </div>

  <div class="register_main1" id="organization">
    <h2>I. Thông tin chung về tổ chức</h2>
    {% import "macros/form.html" as form %}
    <form class="user-register-form" id="user-register-form" action="" method="post" enctype="multipart/form-data">
      <div class="register_form">
        {{ form.errors(error_summary) }}
      {{ form.input("email", id="field-email", label=_("Email "), type="email", placeholder=_(" "), value=data.email, error=errors.email, classes=["control-medium re_email"], is_required=True) }}
      </div>
      <div class="input_main organ">
        {{ form.input("organ", id="field-organ", label=_("Tên cơ quan"), placeholder=_(" "), type="text", value=data.organ, error=errors.organ, classes=["control-medium re_organ"], is_required=True) }}
      </div>


      <div class="input-form">
        <div class="input-item">
          {{ form.input("phone", id="field-phone", label=_("Số điện thoại"), placeholder=_(" "), type="tel", value=data.phone, error=errors.phone, classes=["control-medium re_sdt-organ"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("fax", id="field-fax", label=_("FAX"), placeholder=_(" "), type="text", value=data.fax, error=errors.fax, classes=["control-medium re_fax"]) }}
        </div>
        <div class="input-item">
          {{ form.input("web", id="field-web", label=_("Website"), placeholder=_(" "), type="web", value=data.web, error=errors.web, classes=["control-medium re_web"]) }}
        </div>
      </div>
        
      <div class="input-form">
        <div class="input-item">
          {{ form.input("code", id="field-code", label=_("Mã số GPKD/GCNKD"), placeholder=_(" "), type="text", value=data.code, error=errors.code, classes=["control-medium re_code"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("address_organ", id="field-address_organ", label=_("Nơi cấp"), placeholder=_(" "), type="text", value=data.address, error=errors.address, classes=["control-medium re_add-organ"], is_required=True) }}
        </div>
        <div class="input-item">
          {{ form.input("date", id="field_date-organ", label=_("Ngày cấp"), placeholder=_(" "), type="text", value=data.date, error=errors.date, classes=["control-medium re_date-organ"], is_required=True) }}
        </div>
      </div>

      <div class="input_file">
        {{ form.input(field_upload, label='Bản quyết định thành lập/Đăng ký kinh doanh', id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full re_upfile-organ']) }}
        <label for="field-image-upload" class="up_file" id="up_file-organ">Chọn file</label>
        <i class="max_file">Dung lượng file tối đa &lt; 10MB</i>
      </div>
    
      <div class="select-box">
        <div class="input-item show_label">
          <select class="form-select form-select-sm mb-3 select-item" id="city" aria-label=".form-select-sm">
            <option value="" selected></option>           
          </select>
          {{ form.input("city", id="field-city", label=_("Chọn Tỉnh/Thành phố "), placeholder=_(" "), type="text", value=data.city, error=errors.city, classes=["control-medium re_city"], is_required=True) }}
        </div>
        <div class="input-item show_label">
          <select class="form-select form-select-sm mb-3 select-item" id="district" aria-label=".form-select-sm">
            <option value="" selected></option>
          </select>
          {{ form.input("district", id="field-district", label=_("Chọn Quận/Huyện"), placeholder=_(" "), type="text", value=data.district, error=errors.district, classes=["control-medium re_district"], is_required=True) }}
        </div>
        <div class="input-item show_label">
          <select class="form-select form-select-sm select-item" id="ward" aria-label=".form-select-sm">
            <option value="" selected></option>
          </select>
          {{ form.input("ward", id="field-ward", label=_("Chọn Phường/Xã"), placeholder=_(" "), type="text", value=data.ward, error=errors.ward, classes=["control-medium re_ward"], is_required=True) }}
        </div>
        <script>
          var citis = document.getElementById("city");
          var districts = document.getElementById("district");
          var wards = document.getElementById("ward");
          var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json", 
            method: "GET", 
            responseType: "application/json", 
          };
          var promise = axios(Parameter);
          promise.then(function (result) {
            renderCity(result.data);
          });
          
          function renderCity(data) {
            for (const x of data) {
              citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }
            citis.onchange = function () {
              district.length = 1;
              ward.length = 1;
              if(this.value != ""){
                const result = data.filter(n => n.Id === this.value);
          
                for (const k of result[0].Districts) {
                  district.options[district.options.length] = new Option(k.Name, k.Id);
                }
              }
            };
            district.onchange = function () {
              ward.length = 1;
              const dataCity = data.filter((n) => n.Id === citis.value);
              if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
          
                for (const w of dataWards) {
                  wards.options[wards.options.length] = new Option(w.Name, w.Id);
                }
              }
            };
          }
        </script>
      </div>
    
      <div class="input_main hide_option">
        {{ form.input("detail", id="field-detail", label=_("Địa chỉ chi tiết"), placeholder=_(" "), type="text", value=data.detail, error=errors.detail, classes=["control-medium re_detail"], is_required=True) }}
        {% set format_attrs = {'data-module': 'autocomplete'} %}
        {{ form.select('id_organ', label=_('Cơ quan trực thuộc'), options=organs, selected='selected', error='', attrs=format_attrs, classes=["control-medium re_organs"], is_required=True) }}
        {{ form.input("organ_under", id="field-organ_under", label=_("Cơ quan trực thuộc"), placeholder=_(" "), type="text", value=data.organ_under, error=errors.organ_under, classes=["control-medium re_organ-under"], is_required=True) }}
      </div>
    
      <div class="input_text">
        {{ form.input("desc", id="field_desc-organ", label=_("Mô tả ngắn gọn về mục đích tham gia Cổng dữ liệu "), placeholder=_(" "), type="text", value=data.desc, error=errors.desc, classes=["control-medium re_desc-organ"]) }}
      </div>

      <h2>II. Thông tin người đại diện</h2>

      <div class="footer_input">
        <div class="input_register">
          <div class="col">
            {{ form.input("fullname", id="field_fullname-organ", label=_("Họ và Tên"), placeholder=_(" "), value=data.fullname, error=errors.fullname, classes=["control-medium re_fullname-organ"], is_required=True) }}
          </div>
          <div class="col">
            {{ form.input("position", id="field_position-organ", label=_("Chức danh"), placeholder=_(" "), value=data.position, error=errors.position, classes=["control-medium re_position-organ"], is_required=True) }}
          </div>
        </div>
        
        <div class="input-form">
          <div class="input-item">
            {{ form.input("passport", id="field_passport-organ", label=_("CCCD/Hộ chiếu"), placeholder=_(" "), type="text", value=data.passport, error=errors.passport, classes=["control-medium re_passport-organ"], is_required=True) }}
          </div>
          <div class="input-item">
            {{ form.input("address", id="field_address-organ", label=_("Nơi cấp"), placeholder=_(" "), type="text", value=data.address, error=errors.address, classes=["control-medium re_address-organ"], is_required=True) }}
          </div>
          <div class="input-item">
            {{ form.input("date", id="field_date-acc", label=_("Ngày cấp"), placeholder=_(" "), type="text", value=data.date, error=errors.date, classes=["control-medium re_date-acc"], is_required=True) }}
          </div>
        </div>
          {{ form.input("present", id="field_present-organ", label=_("Địa chỉ hiện tại"), placeholder=_(" "), type="text", value=data.present, error=errors.present, classes=["control-medium re_present-organ"]) }}
      </div>

      <div class="input_end">
        <div class="input-item input_end-1">
          <input required type="checkbox" checked="checked">
          <p>
            Đồng ý với
            <a href="{{ h.url_for('home.dkcs') }}">điều khoản & chính sách</a>
          </p>
        </div>
        
        <div class="input-item input_end-2">
          <p class="captcha">
            Mã captcha
            <span title="This field is required" class="control-required">*</span>
          </p>
          {% if g.recaptcha_publickey %}
            {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
          {% endif %}
          <div class="change">
            <img src="../../images/img-box/change.png">
          </div>
        </div>
      </div>

      <div class="form-actions">
        {% block form_actions %}
        <button class="btn-register pull-right" id="btn_action" type="submit" name="save">{{ _("Đăng ký") }}</button>
        {% endblock %}
        <input type="button" class="btn_back pull-right" onclick="back()" value="Quay lại">
      </div>
    </form>
    <script>
      // focus email
      window.addEventListener('load', function() { 
        document.getElementById("field-email").focus();
      });

      function tagInputEvent (tagInput, tagLabel) {
        var inputKey = tagInput.value.length;
        if (inputKey == 0) {
            tagLabel[0].classList.remove("change_label");
        } else {
            tagLabel[0].classList.add("change_label");
        }
      };

      document.getElementById("field-email").addEventListener("focus", function() { 
        var tagLabel = document.querySelectorAll('.re_email label');
        tagLabel[0].classList.add("change_label");
      });
      document.getElementById("field-email").addEventListener('blur', function() {
          var tagInput = document.getElementById("field-email");
          var tagLabel = document.querySelectorAll('.re_email label');
          tagInputEvent(tagInput, tagLabel);
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_organ label');
          document.getElementById("field-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_sdt-organ label');
          document.getElementById("field-phone").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field-phone").addEventListener('blur', function() {
              var tagInput = document.getElementById("field-phone");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field-phone").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_fax label');
          document.getElementById("field-fax").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field-fax").addEventListener('blur', function() {
              var tagInput = document.getElementById("field-fax");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field-fax").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_web label');
          document.getElementById("field-web").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field-web").addEventListener('blur', function() {
              var tagInput = document.getElementById("field-web");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field-web").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_code label');
          document.getElementById("field-code").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field-code").addEventListener('blur', function() {
              var tagInput = document.getElementById("field-code");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field-code").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_add-organ label');
          document.getElementById("field-address_organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field-address_organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field-address_organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field-address_organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_date-organ label');
          document.getElementById("field_date-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_date-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_date-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_date-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_detail-organ label');
          document.getElementById("field_detail-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_detail-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_detail-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_detail-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_desc-organ label');
          document.getElementById("field_desc-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_desc-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_desc-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_desc-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_fullname-organ label');
          document.getElementById("field_fullname-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_fullname-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_fullname-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_fullname-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_position-organ label');
          document.getElementById("field_position-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_position-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_position-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_position-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_passport-organ label');
          document.getElementById("field_passport-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_passport-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_passport-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_passport-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_address-organ label');
          document.getElementById("field_address-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_address-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_address-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_address-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_date-acc label');
          document.getElementById("field_date-acc").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_date-acc").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_date-acc");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_date-acc").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      window.addEventListener('load', function() { 
          var tagLabel = document.querySelectorAll('.re_present-organ label');
          document.getElementById("field_present-organ").addEventListener("focus", function() { 
              tagLabel[0].classList.add("change_label");
          });
          document.getElementById("field_present-organ").addEventListener('blur', function() {
              var tagInput = document.getElementById("field_present-organ");
              tagInputEvent(tagInput, tagLabel);
          });
          if (document.getElementById("field_present-organ").value != '') {
              tagLabel[0].classList.add("change_label");
          };
      });
      
      document.getElementById("field-image-upload").addEventListener("focus", function() { 
        document.querySelectorAll('.re_upfile-organ label')[0].classList.add("change_label-upfile");
      });
    
      document.getElementById("field-image-upload").addEventListener('blur', function() {
        var tagInput = document.getElementById("field-image-upload");
        var tagLabel = document.querySelectorAll('.re_upfile-organ label');
        var selectFile = document.getElementById("up_file-organ")
        var inputKey = tagInput.files[0].name;
        if (inputKey == 0) {
            tagLabel[0].classList.remove("change_label-upfile");
            selectFile.style.display = 'block';
        } else {
            tagLabel[0].classList.add("change_label-upfile");
            selectFile.style.display = 'none';
        }
    });
    </script>
  </div>
</div>
