{% extends "admin/base.html" %}
{% set organ_list = h.get_organs_list() %}
{% import 'macros/form.html' as form %}

{% block secondary_content %}
    {% block header_account_container_content %}
        <div class="sidebar_admin" data-module="me" data-me="{{ c.userobj.id }}" id="sidebar_admin">
            <div class="list-admin">
                {% block header_account_logged %}
                    {% block header_account_settings_link %}
                        <span class="span_config">
                            <img src="../../../../images/img-box/admin.png" class="img_admin">
                            <li onclick="myClick1()">
                                <a>
                                    Tài khoản
                                </a>
                            </li>
                            <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
                            <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
                        </span>
                        <span class="span_config">
                            <ul class="list_user hidden" id="list_user1">
                                <span class="item_user">
                                    <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                                    {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                                </span>
                                <span class="item_user">
                                    <img src="../../../../images/img-box/cn.png" class="img_user">
                                    {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
                                </span>
                                <span class="item_user">
                                    <img src="../../../../images/img-box/tc.png" class="img_user">
                                    {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
                                </span>
                            </ul>
                        </span>
                        <!-- <span class="span_config">
                          <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
                          <li>
                            <a href="{{ h.url_for('home.admin_contact') }}">
                              Quản lý liên hệ
                            </a>
                          </li>
                        </span>
                        <span class="span_config">
                          <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
                          <li>
                            <a href="{{ h.url_for('home.banner') }}">
                              Quản lý banner
                            </a>
                          </li>
                        </span> -->
                        <span class="span_config">
                            <li>
                              <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
                              <a href="{{ h.url_for('home.dmdc_admin') }}">
                                  Dữ liệu danh mục
                              </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/roles.png" class="img_permission">
                            <li class="active">
                                <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
                                    Nhóm quyền
                                </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/ad.png" class="img_infor">
                            <li>
                                <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
                                    Thông tin cá nhân
                                </a>
                            </li>
                        </span>
                        <span class="span_config">
                            <img src="../../../../images/img-box/config.png" class="img_config">
                            {{ h.build_nav_icon('admin.config', _('Config')) }}
                        </span>
                        <span class="span_config">
                            {{ h.build_nav_icon('admin.trash', _('Thùng rác')) }}
                            <img src="../../../../images/img-box/trash.png" class="img_trash">
                        </span>
                    {% endblock %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block primary %}
    <div class="primary col-sm-9 col-xs-12 remove_pr" role="main">
        {% block primary_content %}
            {% block primary_content_inner %}
                <div class="form_admin bg_index" id="bg_index">
                    <div class="search_user">
                        <div class="form_search-user">
                            <img src="/images/img-box/x.png" alt="" class="clear_input-user" id="clear_input-user" onclick="document.getElementById('user_input').value = ''">
                            <input type="text" id="" onkeyup="" placeholder="Tìm kiếm">
                        </div>
                        <ul class="ul_action">
                            <li>
                                <button class="btn_user btn_his" onclick="historyClickBlog()">Xem lịch sử</button>
                            </li>
                            <li>
                                <button class="btn_user" onclick="addPermission()">Thêm mới</button>
                            </li>
                        </ul>
                    </div>
                    {% block form %}
                        <form class="dataset-form add-member-form add_permission-form " method='post' id="add-permission-form" onblur="btnpPermissionClose()">
                            <h1>Thêm mới nhóm quyền</h1>
                            <span class="btn_close" onclick="btnpPermissionClose()">
                                <img src="../../../../images/img-box/x.png">
                            </span>
                            <div class="form_input-user">
                                <div class="div_user per_edit">
                                    <label class="user-label" for="name-user">
                                    {{ _('Tên nhóm quyền') }}
                                    </label>                            
                                </div>
                                <input id="name-user" type="text" name="roles" placeholder="" class="form-control">
                            </div>

                            <div class="radio_roles per_role">
                                Trạng thái
                                <div class="status">
                                    <span class="radio-role">
                                        <input type="radio" checked="checked" id="radio_user" value="Đang hoạt động" name="activate" class="check_radio">
                                        <label for="radio_user">
                                            Đang hoạt động
                                        </label>
                                    </span>
                                    <span class="radio-role">
                                        <input type="radio" id="radio_admin" value="Không hoạt động" name="activate" class="check_radio">
                                        <label for="radio_admin">
                                            Không hoạt động
                                        </label>
                                    </span>
                                </div>                    
                            </div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                            <div class="group_permission">
                                <span class="span_role">
                                    Chọn quyền
                                </span>
                                <div class="group_check">
                                    <div class="group">
                                        <h3>Dữ liệu mở</h3>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="read_all" name="permissions" />
                                                <label class="check_per">Tất cả</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="create_dataset" name="permissions" />
                                                <label class="check_per">Thêm mới</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="update_dataset" name="permissions" />
                                                <label class="check_per">Sửa</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="delete_dataset" name="permissions" />
                                                <label class="check_per">Xóa</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <h3>Thành viên</h3>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="admin_all" name="permissions" />
                                                <label class="check_per">Tất cả</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="admin" name="permissions" />
                                                <label class="check_per">Thêm mới</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="update_member" name="permissions" />
                                                <label class="check_per">Sửa</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="delete_member" name="permissions" />
                                                <label class="check_per">Xóa</label>
                                            </div>
                                        </div>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="membership" name="permissions" />
                                                <label class="check_per">Duyệt đơn đăng ký</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <h3>Bài viết</h3>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="read_post" name="permissions" />
                                                <label class="check_per">Tất cả</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="create" name="permissions" />
                                                <label class="check_per">Thêm mới</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="update" name="permissions" />
                                                <label class="check_per">Sửa</label>
                                            </div>
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="delete" name="permissions" />
                                                <label class="check_per">Xóa</label>
                                            </div>
                                        </div>
                                        <div class="list-check">
                                            <div class="checkbox1">
                                                <input type="checkbox" class="radio" value="read" name="permissions" />
                                                <label class="check_per">Duyệt bài</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    
                            </div>

                            <div class="form-actions">
                                <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnpPermissionClose()" value="Hủy bỏ">
                                <button class="btn btn-primary btn_next" type="submit" name="submit">
                                {{ _('Lưu lại') }}
                                </button>
                            </div>

                        </form>
                    {% endblock %}

                    <div class="dataset-form add-member-form history_blogs " method='post' id="history-blogs" style="margin-top: 1% !important;">
                        <h1>Xem lịch sử</h1>
                        <span class="btn_delete-close" onclick="btnHistoryCloseBlog()">
                            <img src="../../../../images/img-box/x.png">
                        </span>
                        <div class="form_caution-delete">
                            <table class="history_news_list" id="user_list">
                                <thead class="thead_history_news">
                                    <tr>
                                        <th class="td_times">Thời gian thực hiện</th>
                                        <th class="td_author">Người thực hiện</th>
                                        <th class="td_contents">Nội dung</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for time, action in historys|reverse %}
                                        <tr class="tr_news">
                                            <td class="td_times">
                                                {{ time }}
                                            </td>
                                            <td class="td_author">Admin</td>
                                            <td class="td_contents">
                                                {{ action[0] }} 
                                                <b>
                                                    {{ action[1] }}
                                                </b>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="form-actions">
                            <button class="btn btn-primary btn_next" type="button" onclick="btnHistoryCloseBlog()" name="submit" >
                                {{ _('Đóng') }}
                            </button>
                        </div>
                    </div>

                    {% for permiss in pers %}
                        <div class="dataset-form add-member-form member_blogs " method='post' id="__{{ permiss.replace(' ', '') }}" style="margin-top: 1% !important;">
                            <h1>Xem thành viên</h1>
                            <span class="btn_delete-close" onclick="btnMemberCloses(__{{ permiss.replace(' ', '') }})">
                                <img src="../../../../images/img-box/x.png">
                            </span>
                            <div class="title_per">
                                <img src="/images/img-box/x.png" alt="" class="clear_input-user" id="clear_input-user" onclick="document.getElementById('user_input').value = ''">
                                <input type="text" id="" onkeyup="" placeholder="Tìm kiếm">
                                <span class="coquan">
                                    <select id="SL{{ permiss }}" class="select_organs">
                                        <option value="" disabled selected hidden>Cơ quan</option>
                                        {% for option in organ_list %}
                                            <option value="{{ option.display_name }}">{{ option.display_name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>                            
                            </div>                    
                            <div class="form_caution-delete">
                                <table class="history_news_list" id="{{ permiss }}">
                                    <thead class="thead_history_news">
                                        <tr class="tr_member" id="_{{ permiss }}">
                                            <th class="t_stt">STT</th>
                                            <th class="td_times">Tên tài khoản</th>
                                            <th class="td_author">Cơ quan</th>
                                            <th class="td_contents">Nhóm quyền</th>
                                            <th class="td_contents td_action">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody_role" id="tbody_role">
                                        {% for user_id, user, role, organ_id, organ_name in members %}
                                            <tr class="{{ organ_name }}" id="_{{ role }}">
                                                <td class="td_stt"></td>
                                                <td class="media">
                                                    {{ h.linked_user(user_id, maxlength=20) }}
                                                </td>
                                                <td class="td_author">
                                                    <span>{{ organ_name }}</span>
                                                </td>
                                                <td class="td_contents">
                                                    {{ role }}
                                                </td>
                                                <td class="td_contents td_action">                  
                                                    <div class="pull-left">
                                                        <a class="" href="{{ h.url_for('organization.member_edit', id=organ_id, user=user_id) }}" title="{{ _('Edit') }}">
                                                        <img src="../../images/img-box/setting.png">
                                                        </a>
                                                        <a class="" href="{{ h.url_for('organization.member_default', id=organ_id, user=user_id) }}" data-module="confirm-action" data-module-title="{{ _('Đặt lại nhóm quyền?') }}" data-module-content="{{ _('Bạn có muốn đặt lại nhóm quyền này?') }}" title="{{ _('Bạn có muốn đặt lại nhóm quyền này?') }}">
                                                        {% block delete_button_text %}
                                                            <img src="../../images/img-box/del.svg">
                                                        {% endblock %}</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>

                            <div class="form-actions">
                                <button class="btn btn-primary btn_next" type="button" onclick="btnMemberCloses(__{{ permiss.replace(' ', '') }})" name="submit" >
                                    {{ _('Đóng') }}
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <table class="user-list table_list" id="user_list">
                        <thead class="thead_user thead_per">
                            <tr>
                                <th class="th_role">
                                    <input type="checkbox" class="check_user" id="allcb" name="allcb"/>
                                    <span>{{ _('Tên nhóm quyền') }}</span>
                                </th>
                                <th class="th_per_list">{{ _('Quyền ') }}</th>
                                <th class="th_active">{{ _('Trạng thái') }}</th>
                                <th class="th_action">{{ _('Hành động') }}</th>
                            </tr>
                        </thead>
                        <tbody class="tb_per">
                            {% for role, permissions in roles %}
                                <tr class="tr_user">
                                    <td class="td_role">
                                        <input type="checkbox" class="check_user" id="cb" name="cb[]">
                                        <span title="{{ role }}">
                                            {{ role }}
                                        </span>
                                    </td>
                                    <td class="td_per_list">
                                        <div class="permission_list" id="DTS{{ role }}">
                                            <b>
                                                • Dữ liệu mở:
                                            </b>
                                            {% for permission in permissions[0] %}
                                                <span class="DLM{{ role }}" name="orga" title={{ permission }} style="display: none;">{{ permission }},</span>
                                            {% endfor %} 
                                        </div>
                                        <div class="permission_list" id="USR{{ role }}">
                                            <b>
                                                • Thành viên:
                                            </b>
                                            {% for permission in permissions[0] %}
                                                <span class="TM{{ role }}" name="user" title={{ permission }} style="display: none;">{{ permission }},</span>
                                            {% endfor %}  
                                        </div>
                                        <div class="permission_list" id="PST{{ role }}">
                                            <b>
                                                • Bài viết:
                                            </b>
                                            {% for permission in permissions[0] %}
                                                <span class="BV{{ role }}" name="dataset" title={{ permission }} style="display: none;">{{ permission }},</span>
                                            {% endfor %} 
                                        </div>
                                    </td>
                                    <script>
                                        ogra_lists = ["read_all", "create_dataset", "update_dataset", "delete_dataset"]
                                        var ogras = document.getElementsByName('orga');
                                        ogras.forEach(function(orga) {
                                            if (ogra_lists.includes(orga.title)) {
                                                orga.style.display = 'initial';
                                            };
                                        });
                                        for (var i=0; i < ogras.length; i++) {
                                            if(ogras[i].innerText.indexOf('read_all') == 0){
                                                ogras[i].innerText = "Tất cả";
                                            }
                                            if(ogras[i].innerText.indexOf('create_dataset') == 0){
                                                ogras[i].innerText = "Thêm mới,";
                                            }
                                            if(ogras[i].innerText.indexOf('update_dataset') == 0){
                                                ogras[i].innerText = "Sửa,";
                                            }
                                            if(ogras[i].innerText.indexOf('delete_dataset') == 0){
                                                ogras[i].innerText = "Xóa";
                                            }
                                        }

                                        user_lists = ["admin_all", "membership", "admin", "update_member", "delete_member"]
                                        var users = document.getElementsByName('user');
                                        users.forEach(function(user) {
                                            if (user_lists.includes(user.title)) {
                                                user.style.display = 'initial';
                                            };
                                        });
                                        for (var i=0; i < users.length; i++) {
                                            if(users[i].innerText.indexOf('admin_all') == 0){
                                                users[i].innerText = "Tất cả";
                                            }
                                            if(users[i].innerText.indexOf('admin') == 0){
                                                users[i].innerText = "Thêm mới,";
                                            }
                                            if(users[i].innerText.indexOf('update_member') == 0){
                                                users[i].innerText = "Sửa,";
                                            }
                                            if(users[i].innerText.indexOf('delete_member') == 0){
                                                users[i].innerText = "Xóa,";
                                            }
                                            if(users[i].innerText.indexOf('membership') == 0){
                                                users[i].innerText = "Duyệt đơn đăng ký";
                                            }
                                        }

                                        editor_lists = ["read_post", "create", "update", "delete", "read"]
                                        var datasets = document.getElementsByName('dataset');
                                        datasets.forEach(function(dataset) {
                                            if (editor_lists.includes(dataset.title)) {
                                                dataset.style.display = 'initial';
                                            }
                                        });
                                        for (var i=0; i < datasets.length; i++) {
                                            if(datasets[i].innerText.indexOf('read_post') == 0){
                                                datasets[i].innerText = "Tất cả";
                                            }
                                            if(datasets[i].innerText.indexOf('create') == 0){
                                                datasets[i].innerText = "Thêm mới,";
                                            }
                                            if(datasets[i].innerText.indexOf('update') == 0){
                                                datasets[i].innerText = "Sửa,";
                                            }
                                            if(datasets[i].innerText.indexOf('delete') == 0){
                                                datasets[i].innerText = "Xóa,";
                                            }
                                            if(datasets[i].innerText.indexOf('read') == 0){
                                                datasets[i].innerText = "Duyệt bài";
                                            }
                                        }
                                    </script>
                                    
                                    <script>
                                        var parentDivDTS = document.getElementById("DTS{{ role }}");
                                        var childDivsDTS = parentDivDTS.getElementsByTagName("span");
                                        
                                        var allHiddenDTS = true;
                                        for (var i = 0; i < childDivsDTS.length; i++) {
                                            if (childDivsDTS[i].style.display !== "none") {
                                                allHiddenDTS = false;
                                            break;
                                            }
                                        }
                                        
                                        if (allHiddenDTS) {
                                            parentDivDTS.style.display = "none";
                                        } else {
                                            parentDivDTS.style.display = ""; 
                                        }
                                    </script>
        
                                    <script>
                                        var parentDivUSR = document.getElementById("USR{{ role }}");
                                        var childDivsUSR = parentDivUSR.getElementsByTagName("span");
                                        
                                        var allHiddenUSR = true;
                                        for (var i = 0; i < childDivsUSR.length; i++) {
                                            if (childDivsUSR[i].style.display !== "none") {
                                                allHiddenUSR = false;
                                            break;
                                            }
                                        }
                                        
                                        if (allHiddenUSR) {
                                            parentDivUSR.style.display = "none";
                                        } else {
                                            parentDivUSR.style.display = "";
                                        } 
                                    </script> 
        
                                    <script>
                                        var parentDivPST = document.getElementById("PST{{ role }}");
                                        var childDivsPST = parentDivPST.getElementsByTagName("span");
                                        
                                        var allHiddenPST = true;
                                        for (var i = 0; i < childDivsPST.length; i++) {
                                            if (childDivsPST[i].style.display !== "none") {
                                                allHiddenPST = false;
                                            break;
                                            }
                                        }
                                        
                                        if (allHiddenPST) {
                                            parentDivPST.style.display = "none";
                                        } else {
                                            parentDivPST.style.display = ""; 
                                        } 
                                    </script>                                    
                                    <td class="td_activate">
                                        <span title="Đang hoạt động">
                                            {{ permissions[1] }}
                                        </span>
                                    </td>
                                    <td class="td_action">
                                        <ul class="item_icon">
                                            <li>
                                                <button class="btn_eye" id="{{ role }}" onclick="showMember(__{{ role.replace(' ', '') }})">
                                                    <img src="../../../../images/img-box/eye1.png">
                                                </button>
                                            </li>
                                            
                                            <li>
                                                <a href="{{ h.url_for('user.edit_permission', id=role) }}" class="btn_edit_role">
                                                    <img src="../../../../images/img-box/edit.png">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url_for 'user.delete_permission', id=role, role=role %}" data-module="confirm-action" data-module-title="{{ _('Xóa nhóm quyền?') }}" data-module-content="{{ _('Bạn có chắc chắn muốn xóa nhóm quyền?') }}" class="btn_edit_role">
                                                    <img src="../../../../images/img-box/trash1.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <script>
                        permissions_list = {{ per|safe }}
                        for (var i = 0; i < permissions_list.length; i++) {
                            var tableId = permissions_list[i];
                            var table = document.getElementById(tableId);
                            if (table) {
                                var tableRows = table.getElementsByTagName('tr');
                                for (var j = 0; j < tableRows.length; j++) {
                                    var rowId = tableRows[j].id;
                                    if (rowId !== `_${tableId}`) {
                                        tableRows[j].style.display = 'none';
                                    }
                                }
                            }
                        }
                    </script>

                    <script>
                        permissions_lists = {{ per|safe }}
                        for (var k = 0; k < permissions_lists.length; k++) {
                            var seleted = document.getElementById(`SL${permissions_lists[k]}`)
                            seleted.addEventListener('change', function() {
                                var organs_list = {{ orgn|safe }}
                                for (i= 0; i< organs_list.length; i++) {
                                    var spans_tr = document.getElementsByClassName(organs_list[i]);
                                    for (var j = 0; j < spans_tr.length; j++) {
                                        var spanClass = spans_tr[j].className;
                                        var spanId = spans_tr[j].id;
                                        var selectedOption = this.value;
                                        var tableId = this.id;
                                        if (selectedOption == spanClass && tableId == `SL${spanId.slice(1)}`) {
                                            spans_tr[j].style.display = "";
                                        } else {
                                            spans_tr[j].style.display = "none";
                                        }
                                    }
                                }
                            });
                        }
                    </script>
                    
                    <script>
                        permissions_lists = {{ per|safe }}
                        for (var k = 0; k < permissions_lists.length; k++) {
                            var spanIdDML = `DLM${permissions_lists[k]}`
                            var spansDML = document.getElementsByClassName(spanIdDML);
                            for (var i = 0; i < spansDML.length; i++) {
                                if (spansDML[i].getAttribute("title") === "read_all") {
                                for (var j = 0; j < spansDML.length; j++) {
                                    if (j !== i) {
                                    spansDML[j].style.display = "none";
                                    }
                                }
                                break;
                                }
                            }
                            var spanIdTM = `TM${permissions_lists[k]}`
                            var spansTM = document.getElementsByClassName(spanIdTM);
                            for (var i = 0; i < spansTM.length; i++) {
                                if (spansTM[i].getAttribute("title") === "admin_all") {
                                for (var j = 0; j < spansTM.length; j++) {
                                    if (j !== i) {
                                    spansTM[j].style.display = "none";
                                    }
                                }
                                break;
                                }
                            }
                            var spanIdBV = `BV${permissions_lists[k]}`
                            var spansBV = document.getElementsByClassName(spanIdBV);
                            for (var i = 0; i < spansBV.length; i++) {
                                if (spansBV[i].getAttribute("title") === "read_post") {
                                for (var j = 0; j < spansBV.length; j++) {
                                    if (j !== i) {
                                    spansBV[j].style.display = "none";
                                    }
                                }
                                break;
                                }
                            }
                        }
                    </script>
                    
                    <script>
                        function showMember(id) {
                            var tables_div = document.getElementsByClassName('dataset-form add-member-form member_blogs');
                            for (var i = 0; i < tables_div.length; i++) {
                                tables_div[i].style.display = 'none';
                            }
                            id.style.display = 'block';
                        }
                    </script>

                    <script>
                        function btnMemberCloses(id) {
                            id.style.display = 'none';
                        }
                    </script>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}