{% extends "page.html" %}

{% set user = user_dict %}

{% block subtitle %}{{ user.display_name }} {{ g.template_title_delimiter }} {{ _('Người dùng') }}{% endblock %}

{% block breadcrumb_content %}
  {% if c.userobj.sysadmin %}
  {% else %}
    <li><a>Người dùng</a></li>
    {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
  {% endif %}
{% endblock %}

{% block secondary %}
  {% if c.userobj.sysadmin %}
  <aside class="secondary col-sm-3 sidebar_mobile">
    {% block secondary_content %}
      <div class="module context-info">
        {% block header_account_container_content %}
          <div class="sidebar_admin" data-module="me" data-me="{{ c.userobj.id }}" id="page_second">
            <div class="list-admin">
              {% block header_account_logged %}
              {% block header_account_settings_link %}
              <span class="show_menu" id="show_menu">
                <i class="fa fa-bars" onclick="showMenu()"></i>
                <img src="../../../../images/img-box/x.png" class="hidden" onclick="showMenu()">
              </span>
              <span class="span_config fix_text">
                  <div class="hidden">
                      <img src="../../../../images/img-box/admin.png" class="img_admin">
                      <li onclick="myClick1()">
                          <a>
                            Tài khoản
                          </a>
                      </li>
                      <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
                      <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
                  </div>
              </span>
              <span class="span_config">
                <ul class="list_user hidden" id="list_user1">
                  <span class="item_user">
                    <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                    {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                  </span>
                  <span class="item_user">
                    <img src="../../../../images/img-box/cn.png" class="img_user">
                    {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
                  </span>
                  <span class="item_user">
                    <img src="../../../../images/img-box/tc.png" class="img_user">
                    {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
                  </span>
                </ul>
              </span>
              <!-- <span class="span_config fix_text">
                  <div class="hidden">
                    <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
                    <li>
                        <a href="{{ h.url_for('home.admin_contact') }}">
                          Quản lý liên hệ
                        </a>
                    </li>
                  </div>
              </span>
              <span class="span_config fix_text">
                  <div class="hidden">
                    <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
                    <li>
                        <a href="{{ h.url_for('home.banner') }}">
                          Quản lý banner
                        </a>
                    </li>
                  </div>
              </span> -->
              <span class="span_config fix_text">
                  <div class="hidden">
                    <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
                    <li>
                      <a href="{{ h.url_for('home.dmdc_admin') }}">
                        Dữ liệu danh mục
                      </a>
                    </li>
                  </div>
              </span>
              <span class="span_config fix_text">
                  <div class="hidden">
                      <img src="../../../../images/img-box/roles.png" class="img_permission">
                      <li>
                        <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
                          Nhóm quyền
                        </a>
                      </li>
                  </div>
              </span>
              <span class="span_config fix_text">
                  <div class="hidden">
                      <img src="../../../../images/img-box/ad.png" class="img_infor">
                      <li class="active">
                        <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
                          Thông tin cá nhân
                        </a>
                      </li>
                  </div>
              </span>
              <span class="span_config fix_text">
                  <div class="hidden"><img src="../../../../images/img-box/config.png" class="img_config">
                      <li>
                        <a href="{{ h.url_for('admin.config') }}">
                          Cấu hình
                        </a>
                      </li>
                  </div>
              </span>
              <span class="span_config fix_text">
                  <div class="hidden">
                      <img src="../../../../images/img-box/trash.png" class="img_trash">
                      <li>
                        <a href="{{ h.url_for('admin.trash') }}">
                          Thùng rác
                        </a>
                      </li>
                  </div>
              </span>
              {% endblock %}
            {% endblock %}
            </div>
            <script>
              function showMenu() {
                var showText = $('.fix_text').find('div');
                var close = $('.show_menu').find('img');
                document.getElementById('page_second').classList.toggle('change_width');
                document.getElementById('show_menu').classList.toggle('change_show-menu');
                showText.toggleClass('hidden');
                close.toggleClass('hidden');
                document.getElementById('list_user1').classList.add('hidden');
                document.getElementById('img_up').classList.remove('block');
                document.getElementById('img_d').classList.remove('hidden');
              };
            </script>
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </aside>
  {% else %}
  <aside class="secondary col-sm-3 hidden"></aside>
  {% endif %}
{% endblock %}

{% block primary %}
  {% if c.userobj.sysadmin %}
  <div class="primary col-sm-9 col-xs-12 primary_admin" role="main">
    {% block primary_content %}
      <article class="module infor_admin" id="infor_form">
        <div class="infor_form">
          {% block page_header %}
            <header class="module-content page-header page_content header_content">
              <ul class="nav nav-tabs">
                {% block content_primary_nav %}
                  <div class="nav_infor">
                    {{ h.build_nav_icon('user.read', _('Bộ dữ liệu'), id=user.name, icon='sitemap') }}
                    {{ h.build_nav_icon('user.activity', _('Lịch sử'), id=user.name, icon='clock-o') }}
                    {% if h.check_access('api_token_list', {'user': user['name']}) %}
                      <div class="hidden">
                        {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
                      </div>
                    {% endif %}
                  </div>
                {% endblock %}
              </ul>
              <div class="btn_ind">
                {% block page_primary_action %}
                  {% if h.check_access('package_create') and user.datasets %}
                  <div class="btn_add">
                    {% link_for _('Add ' + dataset_type.title()), named_route='%s.new' % dataset_type, class_='btn btn-primary' %}
                  </div>
                  {% endif %}
                {% endblock %}
                {% if self.content_action() | trim %}
                  <div class="content_action">
                    {% block content_action %}
                      {% if h.check_access('user_update', user) %}
                        {% link_for _('Config'), named_route='user.edit', id=user.name, class_='btn btn-default admin_edit' %}
                      {% endif %}
                    {% endblock %}
                  </div>
                {% endif %}
              </div>
            </header>
          {% endblock %}
          {% block primary_content_inner %}
          {% endblock %}
        </div>
      </article>
    {% endblock %}
  </div>
  {% else %}
  <div class="primary col-sm-12 col-xs-12 primary_user" role="main">
    <article class="module">
      <div class="infor_form">
        <div class="module context-info infor_acc">
          <div class="sidebar_account">
            <div class="inf_acc">
              <div class="acc_avatar">
                  <div class="image">{{ h.user_image(user.id, size=270) }}</div>
              </div>
              <div class="account_text">
                {% if is_myself %}
                <dl>
                  <dt class="heading">
                    <h1>{{ user.display_name }}</h1>
                  </dt>
                  <dt class="dt_email">{{ _('Email ') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
                    <dd title="{{ user.email }}">{{ user.email }}</dd>
                </dl>
                {% endif %}
              </div>
            </div>
            <div class="nums">
              <dl>
                <dt>{{ _('Followers') }}</dt>
                <dd data-module="followers-counter" data-module-id="{{ user.id }}" data-module-num_followers="{{ user.num_followers }}">{{ h.SI_number_span(user.num_followers) }}</dd>
              </dl>
              <dl>
                <dt>{{ _('Datasets') }}</dt>
                <dd>{{ h.SI_number_span(user.number_created_packages) }}</dd>
              </dl>
            </div>
            {% if is_myself == false %}
              <div class="follow_button">
                {{ h.follow_button('user', user.id) }}</li>
              </div>
            {% endif %}
            <div class="about_account">
              <h5 >Tiểu sử</h5>
              {% set all_about = h.get_phone_pass(user.about) %}
              {% if all_about[2] %}
                {{ all_about[2] }}
              {% else %}
                <p class="empty">
                  {% if is_myself %}
                    {% trans %}You have not provided a biography.{% endtrans %}
                  {% else %}
                    {% trans %}This user has no biography.{% endtrans %}
                  {% endif %}
                </p>
              {% endif %}
            </div>
            <div class="info">
              <dl>
                {% if user.name.startswith('http://') or user.name.startswith('https://') %}
                  <dt>{{ _('Open ID') }}</dt>
                  <dd>{{ user.name|urlize(25) }}</dd>
                {% else %}
                  <dt>{{ _('Tên tài khoản') }}</dt>
                  <dd>{{ user.name }}</dd>
                {% endif %}
              </dl>
              <dl>
                <dt>{{ _('Ngày tạo') }}</dt>
                <dd>{{ h.render_datetime(user.created) }}</dd>
              </dl>
              <dl>
                <dt>{{ _('Trạng thái') }}</dt>
                {% if user.state == 'active' %}
                <dd>Đang hoạt động</dd>
                {% elif user.state == 'pending' %}
                <dd>Chờ duyệt</dd>
                {% else %}
                <dd>Khóa</dd>
                {% endif %}
              </dl>
              {% if is_myself %}
                <dl class="hidden">
                  <dt class="key">{{ _('API Key') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
                  <dd class="value"><code>{{ user.apikey }}</code></dd>
                </dl>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="mobile_user">
          <header class="module-content page-header page_content">
            <ul class="nav nav-tabs">
                <div class="nav_infor">
                  {{ h.build_nav_icon('user.read', _('Bộ dữ liệu'), id=user.name, icon='sitemap') }}
                  {{ h.build_nav_icon('user.activity', _('Lịch sử'), id=user.name, icon='clock-o') }}
                  {% if h.check_access('api_token_list', {'user': user['name']}) %}
                    <div class="hidden">
                      {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
                    </div>
                  {% endif %}
                </div>
            </ul>
            <div class="btn_ind">
              {% if h.check_access('package_create') and user.datasets %}
              <div class="btn_add">
                {% link_for _('Add ' + dataset_type.title()), named_route='%s.new' % dataset_type, class_='btn btn-primary' %}
              </div>
              {% endif %}
              {% if self.content_action() | trim %}
                <div class="content_action">
                  {% if h.check_access('user_update', user) %}
                    {% link_for _('Config'), named_route='user.edit', id=user.name, class_='btn btn-default admin_edit' %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </header>
          {% if user.datasets %}
            {% snippet 'snippets/package_list.html', packages=user.datasets %}
          {% endif %}
          {% block primary_content_inner_user %}
          {% endblock %}
        </div>
      </div>
    </article>
  </div>
  {% endif %}
{% endblock %}
