{% extends "user/read_base_user.html" %}

{% set dataset_type = dataset_type if dataset_type else 'dataset' %}

{% block primary_content_inner %}
  {% block package_list %}
    <div class="module context-info infor_acc">
      {% block secondary_content_inner %}
      <div class="sidebar_account">
        <div class="inf_acc">
          <div class="acc_avatar">
            {% block user_image %}
              <div class="image">{{ h.user_image(user.id, size=270) }}</div>
            {% endblock %}
          </div>
          <div class="account_text">
            <dl>
              <dt class="heading">{% block user_heading %}
                <h1>{{ user.display_name }}</h1>
              {% endblock %}</dt>
              <dt class="dt_email">{{ _('Email ') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
              <dd title="{{ user.email }}">{{ user.email }}</dd>
            </dl>
          </div>
        </div>

        {% block user_nums %}
        <div class="nums">
          <dl>
            <dt>{{ _('Followers') }}</dt>
            <dd data-module="followers-counter" data-module-id="{{ user.id }}" data-module-num_followers="{{ user.num_followers }}">{{ h.SI_number_span(user.num_followers) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(user.number_created_packages) }}</dd>
          </dl>
        </div>
        {% endblock %}
        {% if is_myself == false %}
          {% block user_follow %}
          <div class="follow_button">
            {{ h.follow_button('user', user.id) }}</li>
          </div>
          {% endblock %}
        {% endif %}
        {% block user_about %}
          <div class="about_account">
            <h5 >Tiểu sử</h5>
            {% set all_about = h.get_phone_pass(user.about) %}
            {% if all_about[2] %}
              {{ all_about[2] }}
            {% else %}
              <p class="empty">
                {% if is_myself %}
                  {% trans %}You have not provided a biography.{% endtrans %}
                {% else %}
                  {% trans %}This user has no biography.{% endtrans %}
                {% endif %}
              </p>
            {% endif %}
          </div>
        {% endblock %}
        {% block user_info %}
        <div class="info">
          <dl>
            {% if user.name.startswith('http://') or user.name.startswith('https://') %}
              <dt>{{ _('Open ID') }}</dt>
              <dd>{{ user.name|urlize(25) }}</dd>
            {% else %}
              <dt>{{ _('Tên tài khoản') }}</dt>
              <dd>{{ user.name }}</dd>
            {% endif %}
          </dl>
          
          <dl>
            <dt>{{ _('Ngày tạo') }}</dt>
            <dd>{{ h.render_datetime(user.created) }}</dd>
          </dl>
          <dl>
            <dt>{{ _('Trạng thái') }}</dt>
            {% if user.state == 'active' %}
            <dd>Đang hoạt động</dd>
            {% elif user.state == 'pending' %}
            <dd>Chờ duyệt</dd>
            {% else %}
            <dd>Khóa</dd>
            {% endif %}
          </dl>
          {% if is_myself %}
            <dl class="hidden">
              <dt class="key">{{ _('API Key') }} <span class="label label-default" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
              <dd class="value"><code>{{ user.apikey }}</code></dd>
            </dl>
          {% endif %}
        </div>
        {% endblock %}
      </div>
      {% endblock %}
    </div>
  {% if user.datasets %}
    {% snippet 'snippets/package_list.html', packages=user.datasets %}
  {% else %}
    <div class="list_organ-gr">
      {% if is_myself %}
        <p class="empty">
          {{ _('You haven\'t created any datasets.') }}
          {% if h.check_access('package_create') %}
            {% link_for _('Create one now?'), named_route='dataset.new' %}
          {% endif %}
        </p>
      {% else %}
        <p class="empty empty_admin">
          {{ _('User hasn\'t created any datasets.') }}
        </p>
      {% endif %}
    </div>
  {% endif %}
  {% endblock %}
{% endblock %}
