{% extends "page.html" %}

{% block subtitle %}{{ _('Reset your password') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Password Reset'), named_route='user.request_reset' %}</li>
{% endblock %}

{% block primary %}
  <div class="primary col-sm-12 col-xs-12 bg_login" role="main">
    {% block primary_content %}
      <div class="module-content content_login bg_forgot">
        {% block primary_content_inner %}
        <h1 class="page-heading-login">{{ _('Forgot your password?') }}</h1>
        <p>Vui lòng nhập địa chỉ email hoặc số điện thoại để xác minh tài khoản!</p>
        {% block form %}
          <form action="" method="post" class="form_login">
            <div class="form-group form_forgot">
              <label id="label_forgot" for="field-username">{{ _('Nhập Email/SĐT') }}
                <span class="control-required">*</span>
              </label>
              <input id="field-username" class="control-medium form-control" placeholder="Nhập Email/SĐT" name="user" value="" type="text" />
              <p>Hệ thống sẽ gửi mã xác minh đến tài khoản email và số điện thoại của bạn!</p>
            </div>
            <div class="form-actions">
              {% block form_button %}
              <button class="forgot_pass disable" id="forgot_pass" type="submit" name="reset">{{ _("Xác nhận") }}</button>
              {% endblock %}
            </div>
            {% block help_register %}
              {% block help_register_inner %}
                <div class="module-content footer_forgot">
                  <p class="action_register">
                    Bạn chưa có tài khoản?
                  {% block help_register_button %}
                    <a class="btn_register" href="{{ h.url_for('user.register') }}">{{ _('Đăng ký') }}</a>
                  {% endblock %}
                  </p>
                </div>
              {% endblock %}
            {% endblock %}
          </form>
        {% endblock %}
        {% endblock %}
      </div>
    {% endblock %}
    <script>
      const label = document.getElementById('label_forgot');
      const input = document.getElementById("field-username");
      const button = document.getElementById('forgot_pass');
      window.addEventListener('load', function() { 
        input.focus();
        input.placeholder = '';
      });

      input.addEventListener("focus", function() { 
        label.style.display = 'block';
        input.placeholder = '';
      });
      input.addEventListener('blur', function() {
        if (input.value != '') {
          label.style.display = 'block';
          input.placeholder = "";
        } else {
          label.style.display = 'none';
          input.placeholder = "Nhập Email/SĐT"
        }
      });

      input.addEventListener('input', function() {
        if (input.value.trim() !== '') {
          button.classList.remove('disable');
        } else {
          button.classList.add('disable');
        }
      });
    </script>
</div>
{% endblock %}

{% block secondary %}
  <aside class="secondary col-sm-3 hidden">
    {% block secondary_content %}{% endblock %}
  </aside>
{% endblock %}
