{% extends "organization/read_base.html" %}

{% block subtitle %}{{ _('About') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="infor_item">
  <div class="about_item">
    <strong class="name_item">Tên cơ quan:</strong>
    <h1 class="name_item-heading">{% block page_heading %}{{ group_dict.display_name }}{% endblock %}</h1>
  </div>
  <div class="about_item">
    <strong class="name_item">Ngày tạo:</strong>
    <span>
      <p>{{ h.render_datetime(group_dict.created) }}</p>
    </span>
  </div>
  {% block organization_description %}
    {% if group_dict.description %}
    <div class="about_item">
      <strong class="name_item">Mô tả:</strong>
      <span>
        {{ h.render_markdown(group_dict.description) }}
      </span>
    </div>
    {% endif %}
  {% endblock %}
</div>
  {% block organization_extras %}
    {% snippet 'snippets/additional_info.html', extras = h.sorted_extras(group_dict.extras) %}
  {% endblock %}
{% endblock %}
