{% extends "organization/edit_base.html" %}

{% block subtitle %}{{ _('Members') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block main_content %}
  {% block flash %}
    {{ super() }}
  {% endblock %}

  {% block toolbar %}
    <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
      {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}
              <li>{% link_for _('Cơ quan'), named_route=group_type+'.index' %}</li>
              {% block breadcrumb_content_inner %}
                <li class="active">{% link_for organization.display_name|truncate(35), named_route=group_type+'.read', id=organization.name %}</li>
              {% endblock %}
            {% endblock %}
          </ol>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
  <div class="row_mobile row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
    {% block secondary %}
      <aside class="secondary col-sm-3" id="page_second">
        {% block secondary_content %}
        {% if organization %}
          <div class="page_pri-org fix_facets pri_mobile">
            {% snippet 'snippets/organization.html', organization=group_dict, show_nums=true, group_type=group_type %}
            {% block organization_facets %}{% endblock %}
          </div>
        {% else %}
          {{ super() }}
        {% endif %}
        {% endblock %}
      </aside>
    {% endblock %}

    {% block pre_primary %}
      {% block primary %}
        <div class="primary col-sm-9 col-xs-12" role="main">
          {% block primary_content %}
            <article class="module" id="page_pri">
              {% block page_header %}
                <header class="module-content page-header page_content">
                  {% if self.content_action() | trim %}
                    <div class="content_action">
                      {% block content_action %}{% endblock %}
                    </div>
                  {% endif %}
                  <ul class="nav nav-tabs">
                    {% block content_primary_nav %}
                      {{ h.build_nav_icon(group_type + '.read', _('Bộ dữ liệu'), id=group_dict.name, icon='sitemap') }}
                      {{ h.build_nav_icon(group_type + '.members', _('Thành viên'), id=group_dict.name, icon='users') }}
                      {{ h.build_nav_icon(group_type + '.about', _('Thông tin'), id=group_dict.name, icon='info-circle') }}
                      {{ h.build_nav_icon(group_type + '.activity', _('Lịch sử'), id=group_dict.name, offset=0, icon='clock-o') }}
                    {% endblock %}
                  </ul>
                </header>
              {% endblock %}
              <div class="module-content">
                {% if self.page_primary_action() | trim %}
                  <div class="page_primary_action">
                    {% block page_primary_action %}
                      <div class="action_item">
                        <div class="search_members">
                          <img src="/images/img-box/x.png" alt="" class="clear_input-member" id="clear_input-member1" onclick="document.getElementById('member_input1').value = ''">
                          <input type="text" class="search_item" id="member_input1" onkeyup="searchMembers()" placeholder="Tìm kiếm">
                        </div>
                        <div class="add_member">
                          {% if h.check_access('organization_update', {'id': organization.id}) %}
                            {% link_for _('Add Member'), named_route=group_type+'.member_new', id=group_dict.id, class_='btn btn-primary', icon='plus-square' %}
                          {% endif %}
                        </div>
                      </div>
                    {% endblock %}
                  </div>
                {% endif %}
                {% block primary_content_inner %}
                  <div class="member_item">
                    {% set count = members|length %}
                    {% set members_count = ungettext('{count} member', '{count} members', count).format(count=count) %}
                    <!-- <h3 class="page-heading">{{ members_count }}</h3> -->
                    <table class="table table-header table-hover table-bordered table_member" id="member_list1">
                      <thead>
                        <tr>
                            <th>{{ _('Thành viên') }}</th>
                            <th>{{ _('Role') }}</th>
                            <th>{{ _('Hành động') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user_id, user, role in members %}
                          <tr>
                            {% if g.userobj.id == user_id %}
                              <td class="media">
                                {{ h.linked_user(user_id, maxlength=20) }}
                              </td>
                            {% else %}
                              <td class="media">
                                {{ h.linked_user1(user_id, maxlength=20) }}
                              </td>
                            {% endif %}
                            <td>{{ role }}</td>
                            <td>
                              <div class="pull-left">
                                <a class="edit_member" href="{{ h.url_for(group_type + '.member_new', id=group_dict.id, user=user_id) }}" title="{{ _('Chỉnh sửa') }}">
                                  <img src="../../images/img-box/setting.png">
                                </a>
                                <a href="{{ h.url_for(group_type + '.member_delete', id=group_dict.id, user=user_id) }}" data-module="confirm-action" data-module-title="{{ _('Xóa thành viên') }}" data-module-content="{{ _('Are you sure you want to delete this member?') }}" title="{{ _('Delete') }}">
                                  {% block delete_button_text %}
                                    <img src="../../images/img-box/del.svg">
                                  {% endblock %}
                                </a>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endblock %}
              </div>
            </article>
          {% endblock %}
          <script>
            function searchMembers() {
              var input = document.getElementById("member_input1");
              var filter = input.value.toUpperCase().trim();
              var table = document.getElementById("member_list1");
              var rows = table.getElementsByTagName("tr");
              var clearInputMembers = document.getElementById("clear_input-member1");
              for (var i = 0; i < rows.length; i++) {
                var cell = rows[i].getElementsByTagName("td")[0];
                var cellText = cell ? cell.textContent || cell.innerText : '';
                if (cellText.toUpperCase().includes(filter)) {
                  rows[i].style.display = "";
                } else {
                  rows[i].style.display = "none";
                }
              }
              clearInputMembers.style.display = input.value.length === 0 ? "none" : "block";
              clearInputMembers.addEventListener('click', function() {
                clearInputMembers.style.display = "none";
                input.focus();
                for (var j = 0; j < rows.length; j++) {
                  rows[j].style.display = '';
                }
              });
            };
          </script>
        </div>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
