{% extends "organization/edit_base.html" %}

{% import 'macros/form.html' as form %}

{% set user = user_dict %}

{% block subtitle %}{{ _('Chỉnh sửa thành viên') if user else _('Thêm thành viên') }} {{ g.template_title_delimiter }} {{ ('Cơ quan') }}{% endblock %}

{% block primary %}
  <div class="primary col-sm-6 remove_pd form_add-member" role="main">
    {% block primary_content %}
      <article class="module">
        {% block page_header %}
          <header class="module-content page-header page_content">
            {% if self.content_action() | trim %}
              <div class="content_action">
                {% block content_action %}{% endblock %}
              </div>
            {% endif %}
            <ul class="nav nav-tabs">
              {% block content_primary_nav %}{% endblock %}
            </ul>
          </header>
        {% endblock %}
        <div class="module-content">
          {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}{% endblock %}
            </div>
          {% endif %}
          {% block primary_content_inner %}
            <div class="form_add">
            <a href="{{ h.url_for('user.permissions') }}" class="pull-right btn_arrow-left">
              <img src="../../images/img-box/back.png">
            </a>
            <h1 class="page-heading">
              {{ _('Chỉnh sửa thông tin') if user else _('Thêm thành viên') }}
            </h1>
            {% block form %}
            <form class="add-member-form bg_add-member" method='post'>
              <div class="body_add-member">
                <div class="form-group control-medium">
                  {% if not user %}
                    <label class="control-label" for="username">
                      {{ _('Thành viên hiện có') }}
                    </label>
                  {% endif %}
                  <div class="controls control_edit">
                    {% if user %}
                    <label class="control-label" for="username">
                      {{ _('Tên tài khoản') }}
                    </label>
                      <input type="hidden" name="username" value="{{ user.name }}" />
                      <input id="username" name="username" type="text" value="{{ user.name }}"
                      disabled="True" class="form-control">
                    {% else %}
                        <input id="username" type="text" name="username" placeholder="{{ _('Nhập tên thành viên') }}"
                        value="" class="control-medium" data-module="autocomplete"
                        data-module-source="/api/2/util/user/autocomplete?ignore_self=true&q=?">
                    {% endif %}
                  </div>
                </div>
                {% if not user %}
                  <div class="add-member-or hidden">
                    {{ _('or') }}
                  </div>
                  <div class="form-group control-medium input-acc hidden">
                    <label class="control-label" for="email">
                      {{ _('Thêm thành viên mới') }}
                    </label>
                    <div class="controls">
                      <input id="email" type="email" name="email" class="form-control" placeholder="{{ _('Nhập địa chỉ email') }}" >
                    </div>
                  </div>
                {% endif %}
  
                <div class="form_role">
                  {% if user and user.name == c.user and user_role == 'admin' %}
                    {% set format_attrs = {'data-module': 'autocomplete', 'disabled': 'disabled'} %}
                    {{ form.select('role', label=_('Phân quyền'), options=roles, selected=user_role, error='', attrs=format_attrs) }}
                    {{ form.hidden('role', value=user_role) }}
                  {% else %}
                    {% set format_attrs = {'data-module': 'autocomplete'} %}
                    {{ form.select('role', label=_('Phân quyền'), options=roles, selected=user_role, error='', attrs=format_attrs) }}
                  {% endif %}
                </div>
                <div class="form-actions actions_item">
                  {% if user %}
                    <a href="{{ h.url_for('organization.member_default', id=group_dict.id, user=user.id) }}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this member?') }}">{{ _('Delete') }}</a>
                    <button class="btn btn-primary btn_save" type="submit" name="submit" >
                      {{ _('Lưu lại') }}
                    </button>
                  {% else %}
                    <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="back()" value="Hủy bỏ">
                    <button class="btn btn-primary btn_next" type="submit" name="submit" >
                      {{ _('Add Member') }}
                    </button>
                  {% endif %}
                </div>
              </div>
            </form>
            {% endblock %}
            </div>
          {% endblock %}
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}

{% block secondary_content %}
{{ super() }}
{% endblock %}
