{% extends "organization/base_form_page.html" %}

{% block subtitle %}{{ _('Thêm mới Cơ quan') }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Thêm mới Cơ quan'), named_route=group_type+'.new') }}{% endblock %}

{% block page_heading %}
<div class="fix_item">
    <h1 class="item_heading-fix">
        {{ _('Thêm mới Cơ quan') }}
    </h1>
</div>
{% endblock %}

{% block page_header %}{% endblock %}
