{% extends "page.html" %}

{% block subtitle %}{{ group_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Cơ quan') }}{% endblock %}

{% block main_content %}
  {% block flash %}
    {{ super() }}
  {% endblock %}

  {% block toolbar %}
    <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
      {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}
              <li>{% link_for _('Cơ quan'), named_route=group_type+'.index' %}</li>
              <li class="active">{% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name %}</li>
            {% endblock %}
          </ol>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  <div class="row_mobile row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">

    {% block secondary %}
      <aside class="secondary col-sm-3" id="page_second">
        {% block secondary_content %}
          <div class="page_pri-org pri_mobile">
            {% snippet 'snippets/organization.html', organization=group_dict, show_nums=true, group_type=group_type %}
            {% block organization_facets %}{% endblock %}
          </div>
          {% endblock %}
      </aside>
    {% endblock %}

    {% block pre_primary %}
      {% block primary %}
        <div class="primary col-sm-9 col-xs-12 mb_primary" role="main">
        
          {% block primary_content %}
            <article class="module module_h1" id="page_pri">
              {% block page_header %}
                <header class="module-content page-header page_content header_pri header_pac">
                  <ul class="nav nav-tabs">
                    {% block content_primary_nav %}
                      {{ h.build_nav_icon(group_type + '.read', _('Bộ dữ liệu'), id=group_dict.name, icon='sitemap') }}
                      {% if h.check_access('organization_update', {'id': group_dict.id}) %}
                        {{ h.build_nav_icon(group_type + '.members', _('Members'), id=group_dict.name, icon='users') }}
                      {% endif %}
                      {{ h.build_nav_icon(group_type + '.about', _('Thông tin'), id=group_dict.name, icon='info-circle') }}
                      {{ h.build_nav_icon(group_type + '.activity', _('Lịch sử'), id=group_dict.name, offset=0, icon='clock-o') }}
                    {% endblock %}
                  </ul>
                  <div class="action_org">
                    {% if self.content_action() | trim %}
                      <div class="content_action">
                        {% block content_action %}
                          {% if h.check_access('organization_update', {'id': group_dict.id}) %}
                            <div class="btn_manager">
                              {% link_for _('Chỉnh sửa'), named_route=group_type+'.edit', id=group_dict.name, class_='btn btn-default btn_update-item' %}
                            </div>
                          {% endif %}
                        {% endblock %}
                      </div>
                    {% endif %}
                    {% if self.page_primary_action() | trim %}
                    <div class="page_primary_action">
                      {% block page_primary_action %}{% endblock %}
                    </div>
                    {% endif %}
                  </div>
                </header>
              {% endblock %}
              <div class="module-content">
                {% block primary_content_inner %}
                {% endblock %}
              </div>
            </article>
          {% endblock %}
        
        </div>
      {% endblock %}
    {% endblock %}

  </div>

{% endblock %}
