{% extends "organization/read_base.html" %}

{% block page_primary_action %}
  <div class="new-datasets">
    {% if h.check_access('package_create', {'owner_org': group_dict.id}) %}
      {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
    {% endif %}
  </div>
{% endblock %}

{% block primary_content_inner %}
    {% block groups_search_form %}
      {% set facets = {
        'fields': fields_grouped,
        'search': search_facets,
        'titles': facet_titles,
        'translated_fields': translated_fields,
        'remove_field': remove_field }
      %}
      {% if c.userobj %}
        {% set sorting = [
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Private'), 'private desc, metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
      {% else %}
        {% set sorting = [
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
      {% endif %}
      {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=_('Nhập tên bộ dữ liệu'), show_empty=request.params, fields=fields %}
    {% endblock %}
  {% block packages_list %}
    {% if page.items %}
      {{ h.snippet('snippets/package_list.html', packages=page.items) }}
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ page.pager(q=q) }}
  {% endblock %}
{% endblock %}

{% block organization_facets %}
  <div class="filters">
    <div class="sidebar_item">
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
