{% extends "group/read_base.html" %}

{% block subtitle %}{{ _('Lịch sử') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="infor_item">
  <h1 class="hide-heading">
    {% block page_heading -%}
      {{ _('Lịch sử') }}
    {%- endblock %}
  </h1>
  {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream, id=id, object_type='group' %}
</div>
{% endblock %}
