{% ckan_extends %}

{% block subtitle %}{{ _('Quản lý') }} {{ g.template_title_delimiter }} {{ group_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Groups') }}{% endblock %}

{% set group = group_dict %}

{% block breadcrumb_content %}
  <li>{% link_for _('Lĩnh vực'), named_route=group_type + '.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for group.display_name|truncate(35), named_route=group_type+'.read', id=group.name %}</li>
    <li class="active">Thêm thành viên</li>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block primary %}
  <div class="primary col-sm-12 col-xs-12 remove_pd" role="main">
    {% block primary_content %}
      <article class="module module_mobile">
        {% block page_header %}
          <header class="module-content page-header page_content">
            {% if self.content_action() | trim %}
              <div class="content_action">
                {% block content_action %}
                {% endblock %}
              </div>
            {% endif %}
            <ul class="nav nav-tabs">
              {% block content_primary_nav %}
                {{ h.build_nav_icon(group_type + '.read', _('Bộ dữ liệu'), id=group_dict.name, icon='sitemap') }}
                {{ h.build_nav_icon(group_type + '.members', _('Members'), id=group_dict.name, icon='users') }}
                {{ h.build_nav_icon(group_type + '.about', _('Thông tin'), id=group_dict.name, icon='info-circle') }}
                {{ h.build_nav_icon(group_type + '.activity', _('Lịch sử'), id=group_dict.name, offset=0, icon='clock-o') }}
              {% endblock %}
            </ul>
          </header>
        {% endblock %}
        <div class="module-content">
          {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}{% endblock %}
            </div>
          {% endif %}
          {% block primary_content_inner %}
          {% endblock %}
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}