{% extends "group/base_form_page.html" %}

{% block breadcrumb_content %}
  <li>{% link_for _('Lĩnh vực'), named_route=group_type+'.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for group.display_name|truncate(35), named_route=group_type+'.read', id=group.name %}</li>
    <li class="active">{% link_for _('Quản lý'), named_route=group_type+'.edit', id=group.name %}</li>
  {% endblock %}
{% endblock %}

{% block page_heading_class %}hide-heading{% endblock %}
{% block page_heading %}{{ _('Edit Group') }}{% endblock %}
