{% ckan_extends %}

{% block subtitle %}{{ _('Lĩnh vực') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Lĩnh vực'), named_route=group_type+'.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block primary %}
<div class="primary col-sm-12 col-xs-12 primary_organ" role="main">
  {% block primary_content_inner %}
    <div class="form_item form_item-gr">{% block page_primary_action %}
      {% block groups_search_form %}
        {% snippet 'snippets/search_form.html', form_id='group-search-form', type='group', query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder1=_('Nhập tên lĩnh vực'), show_empty=request.params, no_bottom_border=true if page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
      {% endblock %}
      {% if h.check_access('group_create') %}
        <div class="add_group">
            {% link_for _('Thêm mới'), named_route=group_type+'.new', class_='btn btn-primary' %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
    {% block groups_list %}
      {% if page.items or request.params %}
        {% if page.items %}
          {% snippet "group/snippets/group_list.html", groups=page.items %}
        {% endif %}
      {% else %}
        <p class="empty">
          {{ _('Chưa có lĩnh vực nào được tạo') }}.
          {% if h.check_access('group_create') %}
            {% link_for _('Bạn có muốn tạo lĩnh vực mới?'), named_route=group_type+'.new' %}</a>.
          {% endif %}
        </p>
      {% endif %}
    {% endblock %}
    {% block page_pagination %}
      {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
    {% endblock %}
  {% endblock %}

  {% block secondary %}
  {% endblock %}
</div>
{% endblock %}