{% ckan_extends %}

{% block subtitle %}{{ _('Members') }} {{ g.template_title_delimiter }} {{ group_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Groups') }}{% endblock %}

{% block main_content %}
  {% block flash %}
    {{ super() }}
  {% endblock %}

  {% block toolbar %}
    <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
      {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}
              <li>{% link_for _('Lĩnh vực'), named_route=group_type + '.index' %}</li>
              {% block breadcrumb_content_inner %}
                <li class="active">{% link_for group.display_name|truncate(35), named_route=group_type+'.read', id=group.name %}</li>
              {% endblock %}
            {% endblock %}
          </ol>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  <div class="row_mobile row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
    {% block secondary %}
      <aside class="secondary col-sm-3" id="page_second">
        {% block secondary_content %}
          <div class="page_pri-gr fix_facets pri_mobile">
            {% snippet "group/snippets/info.html", group=group_dict, show_nums=true, group_type=group_type %}
          </div>
        {% endblock %}
      </aside>
    {% endblock %}

    {% block pre_primary %}
      {% block primary %}
        <div class="primary col-sm-9 col-xs-12" role="main">
          {% block primary_content %}
            <article class="module" id="page_pri">
              {% block page_header %}
                <header class="module-content page-header page_content">
                  {% if self.content_action() | trim %}
                    <div class="content_action">
                      {% block content_action %}{% endblock %}
                    </div>
                  {% endif %}
                  <ul class="nav nav-tabs">
                    {% block content_primary_nav %}
                      {{ h.build_nav_icon(group_type + '.read', _('Bộ dữ liệu'), id=group_dict.name, icon='sitemap') }}
                      {{ h.build_nav_icon(group_type + '.members', _('Members'), id=group_dict.name, icon='users') }}
                      {{ h.build_nav_icon(group_type + '.about', _('Thông tin'), id=group_dict.name, icon='info-circle') }}
                      {{ h.build_nav_icon(group_type + '.activity', _('Lịch sử'), id=group_dict.name, offset=0, icon='clock-o') }}
                    {% endblock %}
                  </ul>
                </header>
              {% endblock %}
              <div class="module-content">
                {% if self.page_primary_action() | trim %}
                  <div class="page_primary_action">
                    {% block page_primary_action %}
                      <div class="action_item">
                        <div class="search_members">
                          <img src="/images/img-box/x.png" alt="" class="clear_input-member" id="clear_input-member" onclick="document.getElementById('member_input').value = ''">
                          <input type="text" class="search_item" id="member_input" onkeyup="searchMember()" placeholder="Tìm kiếm">
                        </div>
                        <div class="add_member">
                          {% link_for _('Add Member'), named_route=group_type+'.member_new', id=group_dict.id, class_='btn btn-primary' %}
                        </div>
                      </div>
                      {% endblock %}
                  </div>
                {% endif %}
                {% block primary_content_inner %}
                  <div class="member_item">
                    <!-- <h3 class="page-heading">{{ _('{0} members'.format(members|length)) }}</h3> -->
                    <table class="table table-header table-hover table-bordered" id="member_list">
                      <thead>
                        <tr>
                          <th>{{ _('Thành viên') }}</th>
                          <th>{{ _('Role') }}</th>
                          <th>{{ _('Hành động') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user_id, user, role in members %}
                        <tr>
                          {% if g.userobj.id == user_id %}
                            <td class="media">
                              {{ h.linked_user(user_id, maxlength=20) }}
                            </td>
                          {% else %}
                            <td class="media">
                              {{ h.linked_user1(user_id, maxlength=20) }}
                            </td>
                          {% endif %}
                          <td>{{ role }}</td>
                          <td>
                            <div class="pull-left">
                              <a class="edit_member" href="{{ h.url_for(group_type + '.member_new', id=group_dict.id, user=user_id) }}" title="{{ _('Chỉnh sửa') }}">
                                <img src="../../images/img-box/setting.png">
                              </a>
                              <a href="{{ h.url_for(group_type + '.member_delete', id=group_dict.id, user=user_id) }}" data-module="confirm-action" data-module-title="{{ _('Xóa thành viên') }}" data-module-content="{{ _('Are you sure you want to delete this member?') }}" title="{{ _('Delete') }}">
                                {% block delete_button_text %}
                                  <img src="../../images/img-box/del.svg">
                                {% endblock %}</a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endblock %}
              </div>
            </article>
          {% endblock %}
          <script>
            function searchMember() {
              var input = document.getElementById("member_input");
              var filter = input.value.toUpperCase().trim();
              var table = document.getElementById("member_list");
              var tr = table.getElementsByTagName("tr");
              var clearInputMember = document.getElementById("clear_input-member");
              for (var i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0];
                var txtValue = td ? td.textContent || td.innerText : '';
                tr[i].style.display = txtValue.toUpperCase().includes(filter) ? "" : "none";
              }
              clearInputMember.style.display = input.value.length === 0 ? "none" : "block";
              clearInputMember.addEventListener('click', function () {
                clearInputMember.style.display = "none";
                input.focus();
                for (var j = 0; j < tr.length; j++) {
                    tr[j].style.display = '';
                }
              });
            };
          </script>
        </div>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}
