{% extends "group/base_form_page.html" %}

{% block subtitle %}{{ _('Thêm mới Lĩnh vực') }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Thêm mới Lĩnh vực'), named_route=group_type+'.new') }}{% endblock %}

{% block page_heading %}
  <div class="fix_item">
    <h1 class="item_heading-fix">
      {{ _('Thêm mới Lĩnh vực') }}
    </h1>
  </div>
{% endblock %}

{% block page_header %}{% endblock %}
