{% extends "page.html" %}

{% block subtitle %}{{ _('Thông tin') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Thông tin'), 'home.about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h1 class="page-heading heading_feed">{{ _('Open Data Portal') }}</h1>
          {% snippet 'home/snippets/about_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
