{% extends "page.html" %}

{% block subtitle %}{{ _('Quản lý liên hệ') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Quản lý liên hệ'), 'home.admin_contact' %}</li>
{% endblock %}

{% block secondary %}
    <aside class="col-sm-1 dmdc_second">
        {% block secondary_content %}
            {% block header_account_container_content %}
                <div class="sidebar_admin" data-module="me" data-me="{{ c.userobj.id }}" id="page_second" style="min-height: 750px;">
                    <div class="list-admin">
                        {% block header_account_logged %}
                        {% block header_account_settings_link %}
                        <span class="show_menu" id="show_menu">
                            <i class="fa fa-bars" onclick="showMenu()"></i>
                            <img src="../../../../images/img-box/x.png" class="hidden" onclick="showMenu()">
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/admin.png" class="img_admin">
                                <li onclick="myClick1()">
                                    <a>
                                        Tài khoản
                                    </a>
                                </li>
                                <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
                                <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
                            </div>
                        </span>
                        <span class="span_config">
                            <ul class="list_user hidden" id="list_user1">
                                <span class="item_user">
                                    <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                                    {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                                </span>
                                <span class="item_user">
                                    <img src="../../../../images/img-box/cn.png" class="img_user">
                                    {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
                                </span>
                                <span class="item_user">
                                    <img src="../../../../images/img-box/tc.png" class="img_user">
                                    {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
                                </span>
                            </ul>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
                                <li class="active">
                                    <a href="{{ h.url_for('home.admin_contact') }}">
                                        Quản lý liên hệ
                                    </a>
                                </li>
                            </div>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
                                <li>
                                    <a href="{{ h.url_for('home.banner') }}">
                                        Quản lý banner
                                    </a>
                                </li>
                            </div>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
                                <li>
                                    <a href="{{ h.url_for('home.dmdc_admin') }}">
                                        Dữ liệu danh mục
                                    </a>
                                </li>
                            </div>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/roles.png" class="img_permission">
                                <li>
                                    <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
                                        Nhóm quyền
                                    </a>
                                </li>
                            </div>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/ad.png" class="img_infor">
                                <li>
                                    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
                                        Thông tin cá nhân
                                    </a>
                                </li>
                            </div>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden"><img src="../../../../images/img-box/config.png" class="img_config">
                                <li>
                                    <a href="{{ h.url_for('admin.config') }}">
                                        Cấu hình
                                    </a>
                                </li>
                            </div>
                        </span>
                        <span class="span_config fix_text">
                            <div class="hidden">
                                <img src="../../../../images/img-box/trash.png" class="img_trash">
                                <li>
                                    <a href="{{ h.url_for('admin.trash') }}">
                                        Thùng rác
                                    </a>
                                </li>
                            </div>
                        </span>
                        {% endblock %}
                    {% endblock %}
                    </div>
                    <script>
                        function showMenu() {
                            var showText = $('.fix_text').find('div');
                            var close = $('.show_menu').find('img');
                            document.getElementById('page_second').classList.toggle('change_width');
                            document.getElementById('show_menu').classList.toggle('change_show-menu');
                            showText.toggleClass('hidden');
                            close.toggleClass('hidden');
                            document.getElementById('list_user1').classList.add('hidden');
                            document.getElementById('img_up').classList.remove('block');
                            document.getElementById('img_d').classList.remove('hidden');
                        };
                    </script>
                </div>
            {% endblock %}
        {% endblock %}
    </aside>
{% endblock %}

{% block primary %}
    <div class="primary col-sm-11 col-xs-12 dmdc_admin">
        {% block about %}
            <iframe src="https://dmdc-base.demozone.vn/contact" width="650px" height="930px" id="page_pri"></iframe>
        {% endblock %}
    </div>
{% endblock %}