
{% extends "base.html" %}

{%- block page -%}

  {%- block header %}
  {% endblock -%}

    {% block maintag %}
    <div class="main_chart">
        <div class="page_chart">
            <div id="content" class="container">
                <h2 class="heading_white">Thống kê theo Cơ quan Nhà nước</h2>
              {% block main_content %}
                {% block flash %}
                {% endblock %}
      
                {% block toolbar %}
                {% endblock %}
      
                <div class="">
      
                  {% block pre_primary %}
                  {% endblock %}
      
                  {% block secondary %}
                  {% endblock %}
      
                  {% block primary %}
                  {% set organizations = h.get_organizations_list_sorted() %}
                  {% set list_pk = h.get_gr_pk_list() %}
                  {% set list_name = h.get_gr_name_list() %}
                  {% set nameDataset = h.get_all_packages() %}
                      <div class="feature-layout">
                      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
                      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                      <div class="feature-item">
                          <div class="feature-item-box">
                              <h4>
                              Thống kê theo cơ quan
                              </h4>
                              <div class="wrap">
                              {% for org in organizations %}
                                  {% set h = org.package_count%}
                                  {% set countFirst = organizations[0].package_count %}
                                  {%if organizations.index(org) == 0 %}
                                      {% set b = 100 %}
                                  {% else %}
                                      {% set b = (h/countFirst)*100 %}
                                  {% endif %}
                                  <div class="bar" data-percent={{b}}%>
                                      <span class="bar_item" title="{{ org.display_name }}">
                                        {{ org.display_name }}
                                      </span>
                                      <p class="count_dataset">{{ org.package_count }} bộ dữ liệu</p>
                                  </div>
                              {% endfor %}
                              </div>
                          </div>
                      </div>
                      <div class="feature-item">
                          <div class="feature-item-box" >
                          <h4>
                              Thống kê theo lĩnh vực
                          </h4>
                          <canvas class="chart_donut" id="myChart" width="100" height="100" ></canvas>
                          </div>
                      </div>
                      <div class="feature-item">
                          <div class="feature-item-box">
                          <h4>
                              Đánh giá theo bộ dữ liệu
                          </h4>
                          <img class="chart_l" src="/images/img-box/chart_l.svg" alt="">
                          <!-- <canvas id="myChart_line" style="width:800px"></canvas> -->
                          <span class="border_line"></span>
                          <div class="raiting_dataset">
                              {% for data in nameDataset %}
                              <div class="text_dta"><img src="/images/dot_b.png" class="dot_b"/>
                              <p title="{{ data.title }}">{{ data.title }}</p>
                              <div class="rate">
                                  <span>
                                    <img class="" src="/images/img-box/star.svg" alt="">
                                  </span>
                                  <span>
                                    <img class="" src="/images/img-box/star.svg" alt="">
                                  </span>
                                  <span>
                                    <img class="" src="/images/img-box/star.svg" alt="">
                                  </span>
                                  <span>
                                    <img class="" src="/images/img-box/star.svg" alt="">
                                  </span>
                                  <span>
                                    <img class="" src="/images/img-box/star1.svg" alt="">
                                  </span>
                              </div>
                              </div>
                              {% endfor %}
                          </div>
                          </div>
                      </div>
                      <script>
      
                          setTimeout(function start (){
                            $('.bar').each(function(i){  
                            var $bar = $(this);
                            $(this).append('<span></span>')
                            setTimeout(function(){
                                $bar.css('width', $bar.attr('data-percent'));
                            }, i*100);
                          });
      
                          $('.count').each(function () {
                            $(this).prop('Counter',0).animate({
                                Counter: $(this).parent('.bar').attr('data-percent')
                                }, {
                                    duration: 2000,
                                    easing: 'swing',
                                    step: function (now) {
                                        $(this).text(Math.ceil(now) +'%');
                                    }
                                });
                            });
                          }, 500)
      
                          var nameGr = "{{ list_name }}";
                          var str = JSON.stringify(nameGr.replaceAll("&#39;", '')).replace('"[', '').replace(']"', '');
                          var xValues = str.split(",");
                          var strValue = JSON.stringify("{{ list_pk }}".replaceAll("&#39;", '')).replace('"[', '').replace(']"', '');
                          var yValues = strValue.split(",");
                          var barColors = ["#7879F1", "#FFC300", "#2D2FF0"];
      
                          new Chart("myChart", {
                          type: "doughnut",
                          data: {
                          labels: xValues,
                          datasets: [{
                              backgroundColor: barColors,
                              data: yValues
                          }]
                          },
                          options: {
                          responsive: true,
                          cutout: '60%',
                          plugins: {
                              legend: {
                              display: true,
                              onClick: null,
                              position: 'top',
                              align: 'start',
                              },
                          }
                          }
                          });
                      </script>
      
                      <!-- <script>
                          var xValues = [100,200,300,400,500,600,700,800,900,1000];
                          
                          new Chart("myChart_line", {
                          type: "line",
                          data: {
                              labels: xValues,
                              datasets: [{ 
                              data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                              borderColor: "#E1057C",
                              fill: false,
                              }, { 
                              data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                              borderColor: "#0089ED",
                              fill: false
                              }]
                          },
                          options: {
                              responsive: true,
                              legend: {display: false}
                          }
                          });
                      </script> -->
                      </div>
                  {% endblock %}
                </div>
              {% endblock %}
            </div>
        </div>
    </div>
  {% endblock -%}

  {%- block footer %}
  {% endblock -%}
{%- endblock -%}