
{% extends "page.html" %}

{% block subtitle %}{{ _('Liên hệ') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Liên hệ'), 'home.contact' %}</li>
{% endblock %}

{% block primary %}
  <div class="dmdc_user">
    <iframe src="https://dmdc-base.demozone.vn/contact_user" height="640px"></iframe>
  </div>
{% endblock %}

{% block secondary %}{% endblock %}