{% extends "page.html" %}

{% block subtitle %}{{ _('Điều khoản - chính sách') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Điều khoản - chính sách'), 'home.dkcs' %}</li>
{% endblock %}

{% block primary %}
  <div class="module-content bg_hdsd">
    {% block about %}
        <h1 class="page-heading heading_feed">{{ _('Điều khoản - chính sách') }}</h1>
        {% snippet 'home/snippets/dkcs_text.html' %}
    {% endblock %}
  </div>
{% endblock %}

{% block secondary %}{% endblock %}
