{% extends "page.html" %}

{% block subtitle %}{{ _('Dữ liệu danh mục') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Dữ liệu danh mục'), 'home.dmdc_user' %}</li>
{% endblock %}

{% block primary %}
  <div class="dmdc_user">
    <iframe src="http://dmdc.kontum.gov.vn/user/" width="650px" height="1050px"></iframe>
    <!-- <iframe src="http://dulieu.daklak.gov.vn/dmdc_users/" width="650px" height="1050px"></iframe> -->
  </div>
{% endblock %}

{% block secondary %}{% endblock %}