{% extends "page.html" %}

{% block subtitle %}{{ _('Hướng dẫn sử dụng') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Hướng dẫn sử dụng'), 'home.hdsd' %}</li>
{% endblock %}

{% block primary %}
  <div class="module-content bg_hdsd">
    {% block about %}
      {% if g.site_about %}
        {{ h.render_markdown(g.site_about) }}
      {% else %}
        <h1 class="page-heading heading_feed">{{ _('Hướng dẫn sử dụng') }}</h1>
        {% snippet 'home/snippets/hdsd_text.html' %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

{% block secondary %}{% endblock %}
