
<div role="main">
  <div class="main hero" id="main_banner">
    <div class="container promoted_box">
      <div class="search_box">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
    <!-- <script>
      window.addEventListener("DOMContentLoaded", function() {

        var banner = document.getElementById("main_banner");
        async function imageBanner() {
          const response = await fetch("https://dmdc-base.demozone.vn/api/v2/banner_public/get_image");
          const data = await response.json();
          const uint8Array = new Uint8Array(data.data.data)
          const base64Image = `data:image/jpeg;base64,${uint8ToBase64(uint8Array)}`
          banner.style.background = "url('" + base64Image + "') center/cover no-repeat";
        }

        function uint8ToBase64(uint8Array) {
          let binaryString = ''
          uint8Array.forEach(byte => {
            binaryString += String.fromCharCode(byte)
          })
          return btoa(binaryString)
        }

        imageBanner()
        
      });
    </script> -->
  </div>

  <div class="container_heading">
    <h1 class="heading_blue">Danh mục dữ liệu theo Lĩnh vực</h1>
    <p>
      Cổng dữ liệu mở là điểm đầu mối truy cập thông tin, dữ liệu được thiết kế theo nền tảng để người dân, doanh nghiệp, tổ chức truy cập và khai thác
    </p>
  </div>

  <div class="container row-new">
    <div class="new_group">
      <ul class="group_menu">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </ul>
    </div>
  </div>

  <div class="container_box">
    <h2 class="heading_white">Hiện trạng kết nối chia sẻ dữ liệu</h2>
    {% block stats %}
      {% snippet 'home/snippets/stats.html' %}
    {% endblock %}
  </div>

  <div class="container_list">
    <div class="container">
      <div class="col-md-6 col1 container_list-one">
        <h2 class="heading_blue">Danh sách bài viết</h2>
        <div class="list_box">
          <!-- <iframe src="http://opendata.bkav.com/blog1" width="650px" height="640px" scrolling="no"></iframe> -->
          <iframe src="http://dulieu.kontum.gov.vn/blog1" width="650px" height="640px" scrolling="no"></iframe>
          <!-- <iframe src="http://dulieu.daklak.gov.vn/blog1" width="650px" height="640px" scrolling="no"></iframe> -->
          <script>
            window.addEventListener("message", function(event) {
              if (event.data && event.data.url) {
                window.location.href = event.data.url;
              }
            });
          </script>
        </div>
      </div>
      <div class="col-md-6 col2 container_list-two">
        <img src="/images/home.svg" alt="">
      </div>
    </div>
  </div>
  <div class="end_page">
    <!-- <iframe src="http://opendata.bkav.com/chart" width="100%" height="600px" scrolling="no"></iframe> -->
    <iframe src="http://dulieu.kontum.gov.vn/chart" width="100%" height="600px" scrolling="no"></iframe>
    <!-- <iframe src="http://dulieu.daklak.gov.vn/chart" width="100%" height="600px" scrolling="no"></iframe> -->
  </div>
</div>
