{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Lịch sử') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="bg_add-gr form_activity">
  <h1 class="hide-heading">
    {% block page_heading %}
      {{ _('Lịch sử') }}
    {% endblock %}
  </h1>
  {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream, id=id, id1=pkg, object_type='package' %}
</div>
{% endblock %}
