{% ckan_extends %}

{% block primary %}
<div class="primary col-sm-12 col-xs-12 create_datasets bg_datasets">
{% block primary_content %}
  <section class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}
          {% block form %}
            {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
          {% endblock %}
        {% endblock %}
    </div>
  </section>
{% endblock %}
</div>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
  {% endblock %}

  {% block resources_module %}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource', is_activity_archive=False %}
  {% endblock %}
{% endblock %}
