{% extends 'package/base.html' %}

{% block subtitle %}{{ 'Chỉnh sửa bộ dữ liệu' }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    {% if pkg %}
	<li class="active">{% link_for _('Chỉnh sửa'), named_route=pkg.type ~ '.edit', id=pkg.name %}</li>
    {% endif %}
{% endblock %}

{% block content_action %}
{% endblock %}

{% block content_primary_nav %}
<h1 class="heading_edit-dataset">Chỉnh sửa bộ dữ liệu</h1>
<div class="nav_data nav_edit-data">
    {{ h.build_nav_icon(pkg.type ~ '.edit', _('Bộ dữ liệu'), id=pkg.name, icon='pencil-square-o') }}
    {{ h.build_nav_icon(pkg.type ~ '.resources', _('Dữ liệu'), id=pkg.name, icon='bars') }}
    {% if h.check_config_permission('allow_dataset_collaborators') and h.check_access('package_collaborator_create', {'id': pkg_dict.id}) %}
        {{ h.build_nav_icon(pkg.type ~ '.collaborators_read', _('Collaborators'), id=pkg.name, icon='users')}}
    {% endif %}
</div>
{% endblock %}

{% block secondary %}
{% endblock %}
