{% extends "package/read_base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
<div class="bg_add-gr" style="margin-top: -60px;">
  {% if group_dropdown %}
    <form class="add-to-group" method="post" style="padding-top: 30px;">
      <select id="field-add_group" name="group_added" data-module="autocomplete">
        {% for option in group_dropdown %}
          <option value="{{ option[0] }}"> {{ option[1] }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary btn_add-group pull-right" title="{{ _(' ') }}">{{ _('Add') }}</button>
    </form>
  {% endif %}

  {% if pkg_dict.groups %}
    <form method="post" class="media_gr">
      {% snippet 'group/snippets/group_list.html', groups=pkg_dict.groups %}
    </form>
  {% else %}
    <p class="empty">{{ _('Không có lĩnh vực nào thuộc bộ dữ liệu này') }}</p>
  {% endif %}
</div>
{% endblock %}
