{% extends "package/base_form_page.html" %}

{% set logged_in = true if c.userobj else false %}

{% block subtitle %}{{ _('Add data to the dataset') }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}
{% block breadcrumb_content %}
  {{ super() }}
  {% if pkg %}
    <li class="active"><a href="#">{{ _('Add data') }}</a></li>
  {% endif %}
{% endblock %}

{% block form %}{% snippet resource_form_snippet, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, dataset_type=dataset_type %}{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/resource_help.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'vendor/fileupload' %}
{% endblock %}
