{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ _('Chỉnh sửa dữ liệu') }} {{ g.template_title_delimiter }} {{ h.dataset_display_name(pkg) }}{% endblock %}
{% block form_title %}{{ _('Chỉnh sửa dữ liệu') }}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="#">{{ _('Thêm dữ liệu') }}</a></li>
{% endblock %}

{% block form %}
  {% snippet resource_form_snippet, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, dataset_type=dataset_type %}
{% endblock %}

{% block content_primary_nav %}
<div class="nav_data">
  <li class="active"><a href="#"> {{ _('Dữ liệu mới') }}</a></li>
</div>
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/resource_help.html' %}
{% endblock %}
