{% extends "package/base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block secondary_content %}
  <div class="page_pri pri_mobile">
    {% block secondary_help_content %}{% endblock %}

    {% block package_info %}
      {% snippet 'package/snippets/info.html', pkg=pkg %}
    {% endblock %}

    {% block package_organization %}
      {% if pkg.organization %}
        {% set org = h.get_organization(pkg.organization.id) %}
        {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
      {% endif %}
    {% endblock %}

    {% block package_social %}
      {% snippet "snippets/social.html" %}
    {% endblock %}

    {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}

    {% block package_license %}
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock %}
  </div>
{% endblock %}

{% block primary %}
  <div class="primary col-sm-9 col-xs-12 mb_primary" role="main">
    {% block primary_content %}
      <article class="module" id="page_pri">
        {% block page_header %}
          <header class="module-content page-header page_content header_pac">
            <ul class="nav nav-tabs">
              {% block content_primary_nav %}
                {{ h.build_nav_icon(dataset_type ~ '.read', _('Bộ dữ liệu'), id=pkg.id if is_activity_archive else pkg.name) }}
                {{ h.build_nav_icon(dataset_type ~ '.groups', _('Lĩnh vực'), id=pkg.id if is_activity_archive else pkg.name) }}
                {{ h.build_nav_icon(dataset_type ~ '.activity', _('Lịch sử'), id=pkg.id if is_activity_archive else pkg.name) }}
              {% endblock %}
            </ul>
            {% if self.content_action() | trim %}
            <div class="action_pac">
              <div class="content_action">
                {% block content_action %}
                  {% if not is_activity_archive %}
                    {% if h.check_access('package_update', {'id':pkg.id }) %}
                    <div class="btn_data">
                      {% link_for _('Quản lý'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default' %}
                    </div>
                    {% endif %}
                  {% endif %}
                {% endblock %}
              </div>
            </div>
            {% endif %}
          </header>
        {% endblock %}
        <div class="module-content">
          {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}{% endblock %}
            </div>
          {% endif %}
          {% block primary_content_inner %}
          {% endblock %}
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}