{% extends "package/base.html" %}

{% set logged_in = true if c.userobj else false %}
{% set res = resource %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% if res %}
      <li>{% link_for h.resource_display_name(res)|truncate(30), named_route=pkg.type ~ '_resource.read', id=pkg.name, resource_id=res.id %}</li>
      <li{% block breadcrumb_edit_selected %} class="active"{% endblock %}><a href="">{{ _('Chỉnh sửa dữ liệu') }}</a></li>
  {% endif %}
{% endblock %}

{% block content_action %}
<div class="resources_data">
  <h1 class="heading_edit-data">Chỉnh sửa dữ liệu</h1>
  <span onclick="back()">
    <img class="data_back" src="../../../../images/img-box/back.png">
  </span>
  {% link_for _('All resources'), named_route=pkg.type ~ '.resources', id=pkg.name, class_='btn btn-default hidden' %}
  {% if res %}
  {% link_for _('Preview'), named_route=pkg.type ~ '_resource.read', id=pkg.name, resource_id=res.id, class_='btn btn-default btn_view-res' %}
  {% endif %}
</div>
{% endblock %}
{% block content_primary_nav %}
<div class="nav_data nav_data-view">
  {{ h.build_nav_icon(pkg.type ~ '_resource.edit', _('Thông tin chung'), id=pkg.name, resource_id=res.id, class_='infor_res') }}
  {% block inner_primary_nav %}{% endblock %}
  {{ h.build_nav_icon(pkg.type ~ '_resource.views', _('Cấu hình hiển thị'), id=pkg.name, resource_id=res.id) }}
</div>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block form_title %}{{ _('Edit resource') }}{% endblock %}</h1>
  <div class="form_edit">
    <!-- <h1 class="heading_edit-data">Chỉnh sửa dữ liệu</h1> -->
    {% block form %}
    {% endblock %}
  </div>
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'vendor/fileupload' %}
{% endblock %}
