{% extends "package/base.html" %}

{% set res = resource %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(h.get_translated(res, 'description'), extract_length=200) if res.description else h.markdown_extract(h.get_translated(package, 'notes'), extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ h.resource_display_name(res) }} {{ g.template_title_delimiter }} {{ h.dataset_display_name(package) }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ h.resource_display_name(res)|truncate(30) }}</a></li>
{% endblock %}

{% block pre_primary %}
  <div class="form_mobile">
    {% block resource %}
      <section class="module module-resource" role="complementary">
    {% block content_primary_nav %}
    <div class="menu_data">
      <ul>
        <li onclick="btnPreview()">
          <a class="btn_preview" id="btn_preview">Xem trước</a>
        </li>
        {% if res.datastore_active %}
        <li class="btn_data-api">
          {% snippet 'package/snippets/data_api_button.html', resource=res %}
        </li>
        {% endif %}
        <li onclick="btnMeta()">
          <a id="btn_meta">Meta Data</a>
        </li>
      </ul>
      <script>
        // hide & show view data
        function btnMeta() {
          var previewBtn = document.getElementById("btn_preview");
          var metaBtn = document.getElementById("btn_meta");
          document.getElementsByClassName("resource_view-data")[0].style.display = 'none';
          document.getElementById("btn_views").style.display = 'none';
          previewBtn.style.color = '#0A0A0A';
          previewBtn.style.fontSize = '15px';
          previewBtn.style.opacity = '0.5';
          previewBtn.style.border = 'none';
          metaBtn.style.color = '#1B1C1D';
          metaBtn.style.fontSize = '16px';
          metaBtn.style.opacity = '0.8';
          metaBtn.style.borderBottom = '3px solid #2185D0';
          metaBtn.style.paddingBottom = '5px';
          document.getElementById("meta_data").style.display = 'block';
        }
        function btnPreview() {
          window.location.reload()
        }
      </script>
    </div>
    {% endblock %}

        {% block resource_inner %}
        <div class="module-content bg_view-data">
          <span class="span_back" onclick="back()">
              <img src="../../../../images/img-box/back.png">
          </span>
          {% block resource_read_title %}
            <h1 class="heading_resource heading_trun">
              <span onclick="back()">
                <img src="../../../../images/img-box/back2.svg">
              </span>
              {{ h.resource_display_name(res) | truncate(100) }}</h1>
          {% endblock %}
          {% block resource_content %}
            {% block package_archive_notice %}
              {% if is_activity_archive %}
                <div id="activity-archive-notice" class="alert alert-danger">
                  {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
                  You're currently viewing an old version of this dataset. To see the
                  current version, click <a href="{{ url }}">here</a>.
                  {% endtrans %}
                </div>
              {% endif %}
            {% endblock %}
            {% block resource_read_url %}
            <div class="action_text">
              {% if res.url and h.is_url(res.url) %}
                <p class="text-muted ellipsis">{{ _('Url:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
              {% elif res.url %}
                <p class="text-muted break-word">{{ _('Url:') }} {{ res.url }}</p>
              {% endif %}
              <div class="actions">
                {% block resource_actions %}
                <ul>
                  <!-- <li class="btn_views">
                    {{ h.build_nav_icon(pkg.type ~ '_resource.views', _('Views'), id=pkg.name, resource_id=res.id) }}
                  </li> -->
                  {% block resource_actions_inner %}
                  {% if h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
                    <li>
                      {% link_for _('Chỉnh sửa'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-default btn_edit'%}
                    </li>
                  {% endif %}
                  {% if res.url and h.is_url(res.url) %}
                    <li>
                      <div class="btn-group btn_dl">
                        <a download="" class="btn resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}" id="btn_down-img">
                          {% if res.resource_type in ('listing', 'service') %}
                            {{ _('View') }}
                          {% elif  res.resource_type == 'api' %}
                            {{ _('API Endpoint') }}
                          {% elif not res.has_views and not res.url_type == 'upload' %}
                            {{ _('Go to resource') }}
                          {% else %}
                            <img src="../../../../images/img-box/download.png">
                            {{ _('Download') }}
                          {% endif %}
                        </a>
                        {% block download_resource_button %}
                          {% if res.datastore_active %}
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="{{ h.url_for('datastore.dump', resource_id=res.id, bom=True) }}"
                              target="_blank"><span>CSV</span></a>
                            <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='tsv', bom=True) }}"
                              target="_blank"><span>TSV</span></a>
                            <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='json') }}"
                              target="_blank"><span>JSON</span></a>
                            <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='xml') }}"
                              target="_blank"><span>XML</span></a>
                          </li>
                        </ul>
                          {% endif %}
                        {% endblock %}
                      </div>
                    </li>
                  {% endif %}
                  {% endblock %}
                </ul>
                {% endblock %}
              </div>
            </div>
            {% endblock %}
            <div class="prose notes" property="rdfs:label">
              {% if res.description %}
                {{ h.render_markdown(res.description) }}
              {% endif %}
              {% if not res.description and package.notes %}
                <div class="desc_pac">
                  <blockquote>{{ h.markdown_extract(h.get_translated(package, 'notes')) }}</blockquote>
                  <p>{% trans dataset=package.title, url=h.url_for(package.type ~ '.read', id=package.id if is_activity_archive else package.name) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
                </div>
                {% endif %}
            </div>
          {% endblock %}
        {% if not is_activity_archive %}
        {% block data_preview %}
        {% block resource_view %}
          {% block resource_view_nav %}
            {% set resource_preview = h.resource_preview(resource, package) %}
            {% snippet "package/snippets/resource_views_list.html",
              views=resource_views,
              pkg=pkg,
              is_edit=false,
              view_id=current_resource_view['id'],
              resource_preview=resource_preview,
              resource=resource,
              extra_class="nav-tabs nav-tabs-plain"
            %}
          {% endblock %}
            {% block resource_view_content %}
              <div class="resource-view resource_view-data">
                {% set resource_preview = h.resource_preview(resource, package) %}
                {% set views_created = res.has_views or resource_preview %}
                {% if views_created %}
                  {% if resource_preview and not current_resource_view %}
                    {{ h.resource_preview(resource, package) }}
                  {% else %}
                    {% for resource_view in resource_views %}
                      {% if resource_view == current_resource_view %}
                        {% snippet 'package/snippets/resource_view.html',
                          resource_view=resource_view,
                          resource=resource,
                          package=package
                        %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% else %}
                  <div class="data-viewer-info">
                    <p>{{ _("There are no views created for this resource yet.") }}</p>
                    {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
                      <p class="text-muted">
                        <i class="fa fa-info-circle"></i>
                        {{ _("Not seeing the views you were expecting?")}}
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                          {{ _('Click here for more information.') }}</a>
                      </p>
                      <div id="data-view-info" class="collapse">
                        <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                        <ul>
                          <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                          <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                          <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endblock %}
          </div>
        {% endblock %}
        {% endblock %}
        {% endif %}
        {% endblock %}
      </section>
    {% endblock %}
    <div class="bg_view-res">
      {% block resource_additional_information %}
        {% if res %}
          <section class="module">
            {% block resource_additional_information_inner %}
            <div class="box_infor">
              <div class="box_infor-data" id="box_infor-data">
                {% block resources_list %}
                  {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id, action='read', is_activity_archive=is_activity_archive %}
                {% endblock %}
              </div>
              <div class="form_infor" id="form_infor">
                <h2 class="heading_resource">{{ _('Thông tin') }}</h2>
                <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
                  <thead>
                    <tr>
                      <th scope="col" class="th_properties">{{ _('Thuộc tính') }}</th>
                      <th scope="col">{{ _('Value') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="properties">{{ _('Loại tệp') }}</th>
                      <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
                    </tr>
                    <tr class="hidden">
                      <th scope="row" class="properties">{{ _('Ngày tạo') }}</th>
                      <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
                    </tr>
                    <tr class="hidden">
                      <th scope="row">{{ _('Last updated') }}</th>
                      <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
                    </tr>
                    <tr>
                      <th scope="row" class="properties">{{ _('Ngày cập nhật') }}</th>
                      <td>{{ h.render_datetime(res.metadata_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
                    </tr>
                    <tr class="hidden">
                      <th scope="row" class="properties">{{ _('License') }}</th>
                      <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
                    </tr>
                    {% for key, value in h.format_resource_items(res.items()) %}
                        {% if key in ('size') %}
                          <tr><th scope="row" class="properties">Dung lượng</th><td>{{ value }}</td></tr>
                        {% endif %}
                      {% endfor %}
                      {% for key, value in h.format_resource_items(res.items()) %}
                      {% if key in ('url type') %}
                        <tr ><th scope="row" class="properties">Loại dữ liệu</th><td>{{ value }}</td></tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div></div>
            {% endblock %}
          </section>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block primary_content %}
{% endblock %}

{% block primary %}
{% endblock %}