
{% ckan_extends %}
{% set stats = h.get_site_statistics() %}

{% block main_content %}
  {% block flash %}
    {{ super() }}
  {% endblock %}

  {% block toolbar %}
    {{ super() }}
  {% endblock %}

  <div class="row_mobile row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">

    {% block pre_primary %}
    {% endblock %}

    {% block secondary %}
      <aside class="secondary col-sm-3" id="page_second">
        {% block secondary_content %}
        <div class="page_pri" id="facet_height">
          {% block page_primary_action %}
            {% if h.check_access('package_create') %}
              <div class="page_primary_action">
                <div class="add_datasets">
                  {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
                </div>
              </div>
              {% endif %}
          {% endblock %}
          <div class="filters">
            <div>
              {% for facet in facet_titles %}
                {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
              {% endfor %}
            </div>
            <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
          </div>
        </div>
        {% endblock %}
      </aside>
    {% endblock %}

    {% block primary %}
    <div class="primary col-sm-9 col-xs-12 mb_primary" role="main">
      {% block primary_content %}
      <div class="page_module pri_pb" id="page_pri">
        <section class="module">
          <div class="module-content">
            {% block form %}
              {% set facets = {
                'fields': fields_grouped,
                'search': search_facets,
                'titles': facet_titles,
                'translated_fields': translated_fields,
                'remove_field': remove_field }
              %}
              {% if c.userobj %}
                {% set sorting = [
                  (_('Last Modified'), 'metadata_modified desc'),
                  (_('Name Ascending'), 'title_string asc'),
                  (_('Name Descending'), 'title_string desc'),
                  (_('Private'), 'private desc, metadata_modified desc'),
                  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
                %}
              {% else %}
                {% set sorting = [
                  (_('Last Modified'), 'metadata_modified desc'),
                  (_('Name Ascending'), 'title_string asc'),
                  (_('Name Descending'), 'title_string desc'),
                  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
                %}
              {% endif %}
              {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
            {% endblock %}
            {% block package_search_results_list %}
              {{ h.snippet('snippets/package_list.html', packages=page.items) }}
            {% endblock %}
            <div class="count_pagination">
              <p>Hiển thị 
                <span id="number_pag">0</span>/{{ h.SI_number_span(stats.dataset_count) }} bản ghi
              </p>
            </div>
          </div>
          {% block page_pagination %}
            {{ page.pager(q=q) }}
          {% endblock %}
        </section>
      </div>
        {% block package_search_results_api %}
        {% endblock %}
      {% endblock %}
    </div>
    {% endblock %}
    <script>
      window.addEventListener('load', function() {
          var countList = document.getElementById('list_dataset').children;
          document.getElementById('number_pag').innerHTML = countList.length;
      });
    </script>
  </div>
{% endblock %}