{% extends "package/resource_edit_base.html" %}

{% set logged_in = true if c.userobj else false %}
{% set res = resource %}

{% block breadcrumb_edit_selected %}{% endblock %}

{% block content_action %}
{% if res %}
<div class="view_top">
  {% set url = h.url_for(pkg.type ~ '_resource.read', id=pkg.name, resource_id=res.id) ~ '?view_id=' ~ resource_view.id %}
  <a href="{{ url }}" class="btn btn-default"> {{ _('Xem trước') }}</a>
  {% endif %}
  {% link_for _('Các chế độ xem'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=res.id, class_='btn btn-default' %}
</div>
{% endblock %}

{% block content_primary_nav %}{% endblock %}

{% block primary_content_inner %}
<div class="form_edit bg_edit-view">
  {% block form %}{% endblock %}
</div>
{% endblock %}

{% block main_content %}
  {% if h.resource_view_full_page(resource_view) %}
    {{ self.flash() }}
    {{ self.toolbar() }}
    <div class="wrapper no-nav">
      {{ self.primary_content() }}
    </div>
  {% else %}
    {{ super() }}
  {% endif %}

  {% if to_preview and h.resource_view_display_preview(resource_view) %}
    <div class="row wrapper no-nav view-preview-container">
      <section class="module module-narrow module-shallow">
        <h2 class="module-heading">
          {{ _('View preview') }}
        </h2>
        <div class="module-content">
          {% snippet 'package/snippets/resource_view.html', resource_view=resource_view, resource=resource, package=package, to_preview=True %}
        </div>
      </section>
    </div>
  {% endif %}
{% endblock %}

{% block secondary %}
  {% if not h.resource_view_full_page(resource_view) %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/view_help.html' %}
{% endblock %}
