{% extends 'page.html' %}

{% block styles %}
  {{ super() }}
  {% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
  {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/index-css' %}

{% endblock %}

{% block page_header %}{% endblock %}

{% block secondary_content %}

  <div class="module module-narrow module-shallow hidden">
    <h2 class="module-heading">
      <i class="fa fa-info-circle icon-info-sign"></i>
      {{ _('What are Pages?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Pages are a simple way to add extra pages to your ckan instance. You can assign an order to them.</p>
      {% endtrans %}
    </div>
  </div>

{% endblock %}
