{% import 'macros/form.html' as form %}
{% import 'macros/wysiwyg.html' as wysiwyg %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}
{% set group_blogs = h.get_groups_statistics() %}

{% if type == 'org' %}
    {% set prefix = 'organization_pages_' %}
    {% set args = {'id': id} %}
{% elif type == 'group' %}
    {% set prefix = 'group_pages_' %}
    {% set args = {'id': id} %}
{% elif type == 'blog' %}
    {% set prefix = 'blog_' %}
    {% set args = {} %}
{% else %}
    {% if ckan_29_or_higher %}
       {% set prefix = '' %}
    {% else %}
       {% set prefix = 'pages_' %}
    {% endif %}
    {% set args = {} %}
{% endif %}

{% if ckan_29_or_higher %}
  {% set page_url = page %}
{% else %}
  {% set page_url = '/' + page %}
{% endif %}
{% if ckan_29_or_higher %}
   {% set prefix = 'pages.' + prefix %}
{% endif %}

{% set cancel_url = h.url_for(prefix + 'index', **args) %}
{% set slug_prefix = cancel_url ~ '/' %}
{% set slug_domain = h.url_for(prefix + 'index', qualified=true, **args) %}
{% if page %}
  {% if ckan_29_or_higher %}

    {% if type == 'org' %}
      {% set delete_url = h.url_for('pages.organization_pages_delete', page=page_url, **args) %}
    {% elif type == 'group' %}
      {% set delete_url = h.url_for('pages.group_pages_delete', page=page_url, **args) %}
    {% else %}
      {% set delete_url = h.url_for('pages.blog_delete' if type == 'blog' else 'pages.delete', page=page_url, **args) %}
    {% endif %}
  {% else %}
    {% set delete_url = h.url_for(prefix + 'delete', page=page_url, **args) %}
  {% endif %}
{% endif %}

<div class="page_form">
  {% if type == 'blog' %}
      {% if not page %}
        <h1 class="page_heading">{{ _('Thêm mới bài viết') }}</h1>
      {% else %}
        <h1 class="page_heading">{{ _('Chỉnh sửa tin tức') }}</h1>
      {% endif %}

      <span onclick="back()">
        <img class="img_back-page" src="../../images/img-box/back.png">
      </span>

      {% set url_placeholder = ' ' %}
      {% set title_placeholder = _(' ') %}

      {% if h.check_access('ckanext_pages_update', {}) %}
      {% if h.ckan_version().split('.')[1] | int >= 9 %}
        {% link_for _('Nhập URL'), named_route='pages.blog_new_url', page='', class_='btn_addurl', icon=h.pages_get_plus_icon() %}
        {% link_for _('Viết bài'), named_route='pages.blog_new', page='', class_='btn_addnews-blog', icon=h.pages_get_plus_icon() %}
      {% else %}
        {% link_for _('Viết bài'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
      {% endif %}
    {% endif %}
  {% else %}
      {% if not page %}
        <h1 class="page_heading">{{ _('Thêm mới Q&A') }}</h1>
      {% else %}
        <h1 class="page_heading">{{ _('Chỉnh sửa Q&A') }}</h1>
      {% endif %}
      {% set url_placeholder = ' ' %}
      {% set title_placeholder = _(' ') %}
  {% endif %}

  <form class=" blog dataset-form pages-form " method="post" action="{{ action_url }}" data-module="basic-form" class="dataset-form">

    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    {% block form_basic_fields %}



    <div class="row">
      <div class="title_blog">
        {% if type == 'blog' %}

        {{ form.input('title', id='field-title', label=_('Title'), placeholder=title_placeholder, value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}, is_required=true) }}
        {% set domain = slug_domain|replace("http://", "")|replace("https://", "") %}
        {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain~'/', 'data-module-placeholder': '<page>'} %}
        {{ form.prepend('name', id='field-name', label=_('Url'), prepend=slug_prefix, placeholder=_(url_placeholder), value=data.name, error=errors.name, attrs=attrs) }}

        {% else %}

        {{ form.input('title', id='field-title', label=_('Câu hỏi'), placeholder=title_placeholder, value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}, is_required=true) }}
        {% set domain = slug_domain|replace("http://", "")|replace("https://", "") %}
        {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain~'/', 'data-module-placeholder': '<page>'} %}
        {{ form.prepend('name', id='field-name', label=_('Url'), prepend=slug_prefix, placeholder=_(url_placeholder), value=data.name, error=errors.name, attrs=attrs) }}
        {% endif %}
      </div>
    </div>
    {% endblock %}

    {% block extra_pages_form %}
    {% endblock extra_pages_form %}

    {% block form_visibility_fields %}
    <div class="row status_option">

      {% if type == 'blog' %}
      <div class="col-md-6 new_blog ">
        <label for="field-blog" class="control-label">{{ _('Lĩnh vực') }}
           <span class="control-required">*</span>
        </label>
          <div class="controls">
            <select id="field-add_group" name="group_added" data-module="autocomplete">
              {% for option in group_blogs.groups %}
                <option value="{{ option[0] }}"> {{ option }}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      {% endif %}

      {% if not hide_field_order %}
      <div class="col-md-6 new_blog ">
        <label for="field-private" class="control-label">{{ _('Trạng thái') }}</label>
          <div class="controls">
            <select id="field-private" class="form-control" name="private">
              {% for option in [(true, _('Private')), (false, _('Public'))] %}
              <option value="{{ option[0] }}" {% if option[0] == data.private %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        <div class="hidden">
          <label for="field-order" class="control-label">{{ _('Thứ tự tiêu đề') }}</label>
          <div class="controls">
            <select id="field-order" class="form-control" name="order">
                {% for option in [('', _('Không có tiêu đề')), ('1','1'), ('2', '2'), ('3', '3') , ('4', '4')] %}
              <option value="{{ option[0] }}" {% if option[0] == data.order %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% endif %}

    </div>


    <div class="row status_option" style="margin-top: 40px;">

      <div class="col-md-6">
        {% if type == 'blog' %}
        {{ form.input('publish_date', id='field-publish_date', label=_('Ngày xuất bản'), placeholder=_(' '), value=data.publish_date, error=errors.publish_date, classes=[], attrs={'data-module': 'datepicker', 'data-date-format': 'yyyy-mm-dd'}, is_required=true) }}
        {%else%}
        {{ form.input('publish_date', id='field-publish_date', label=_('Ngày xuất bản'), placeholder=_(' '), value=data.publish_date, error=errors.publish_date, classes=[], attrs={'data-module': 'datepicker', 'data-date-format': 'yyyy-mm-dd'}, is_required=true) }}
        {% endif %}
      </div>

      <div class=" col-md-6" >
        {% if type == 'blog' %}
        {{ form.input('authorblog', id='field-authorblog',label=_('Tác giả'), placeholder=_('Sở Y tế tỉnh Kon Tum '), classes=[], is_required=true) }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="title_blog">
        {% if type == 'blog' %}
        {{ form.input('tag', id='field-tag', label=_('Tags'), placeholder=title_placeholder, value=data.tag, error=errors.tag) }}
        {% endif %}
      </div>
    </div>
    {% endblock %}

    {% block form_content %}

      {% if type == 'blog' %}

        {% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
        {% set editor = h.get_wysiwyg_editor() %}
        {% if editor == 'medium' %}
          {% if ckan_29_or_higher %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/medium-js' %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/medium-css' %}
          {% else %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/medium' %}
          {% endif %}

          {{ wysiwyg.editor('content', id='field-content', label=_('Nội dung'), placeholder=_(' '), value=data.content|safe, error=errors.content) }}
        {% elif editor == 'ckeditor' %}
          {% if ckan_29_or_higher %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/main-js' %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/main-css' %}
          {% else %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/main' %}
          {% endif %}
          <div class="blog_ckedit">
            <div class="control-group">
                <label for="field-content-ck" class="control-label">{{ _('Nội dung') }}
                  <span class="control-required">*</span>
                </label>
            </div>
            <textarea id="field-content-ck" name="content" placeholder="{{_(' ')}}" data-module="ckedit" style="height:400px" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"> {{ data.content }}</textarea>
          {% else %}
            {{ form.markdown('content', id='field-content', label=_('Nội dung'), placeholder=_(' '), value=data.content, error=errors.content, is_required=true) }}

          {% endif %}</div>

          {% else %}

        {% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
        {% set editor = h.get_wysiwyg_editor() %}
        {% if editor == 'medium' %}
          {% if ckan_29_or_higher %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/medium-js' %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/medium-css' %}
          {% else %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/medium' %}
          {% endif %}

          {{ wysiwyg.editor('content', id='field-content', label=_('Câu trả lời'), placeholder=_(' '), value=data.content|safe, error=errors.content) }}
        {% elif editor == 'ckeditor' %}
          {% if ckan_29_or_higher %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/main-js' %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/main-css' %}
          {% else %}
            {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/main' %}
          {% endif %}
          <div class="blog_ckedit">
              <div class="control-group">
                  <label for="field-content-ck" class="control-label">{{ _('Câu trả lời') }}
                    <span class="control-required">*</span>
                  </label>
              </div>
                <textarea id="field-content-ck" name="content" placeholder="{{_(' ')}}" data-module="ckedit" style="height:400px" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"> {{ data.content }}</textarea>
            {% else %}
              {{ form.markdown('content', id='field-content', label=_('Câu trả lời'), placeholder=_(' '), value=data.content, error=errors.content, is_required=true) }}
            {% endif %}
          </div>
        {% endif %}
    {% endblock %}

    {% block form_actions %}
      <div class="form-actions action_page">
        {% if not page %}
          <a class="btn btn-default btn_cancel-blog" href="{{ cancel_url }}">{{ _('Hủy bỏ') }}</a>
          <button class="btn btn-primary btn-blog" type="submit">{{ _('Lưu nháp') }}</button>
          <button class="btn btn-primary btn-blog" type="submit">{{ _('Xem trước') }}</button>
          <button class="btn btn-primary btn_item-blog" name="save" value="save" type="submit">{{ _('Đăng bài') }}</button>
        {% else %}

          {% block delete_button %}
            {% if h.check_access('ckanext_%spages_delete'|format(type ~ '_' if type in ('group', 'org') else ''), {'id': data.id})  %}
              {% set locale = h.dump_json({'content': _('Bạn có chắc chắn muốn xóa trang này không?')}) %}
              <a class="btn btn-danger pull-left" href="{{ delete_url }}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
            {% endif %}
          {% endblock %}

          <button class="btn btn-primary btn_save-page" name="save" value="save" type="submit">{{ _('Save') }}</button>
        {% endif %}
      </div>

    {% endblock %}
  </form>
  <script>
    $(document).ready(function(){
        $("#field-content-ck").validate({
            ignore : [],
            rules: {
              cktext:{
                  ckrequired:true
                }
            }
          });
      });
  </script>
</div>

{% block scripts %}
  {% if ckan_29_or_higher %}
    <script src="/vendor/ckeditor/ckeditor.js"></script>
  {% endif %}
{% endblock %}
