{% import 'macros/form.html' as form %}
{% import 'macros/wysiwyg.html' as wysiwyg %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

{% if type == 'org' %}
    {% set prefix = 'organization_pages_' %}
    {% set args = {'id': id} %}
{% elif type == 'group' %}
    {% set prefix = 'group_pages_' %}
    {% set args = {'id': id} %}
{% elif type == 'blog' %}
    {% set prefix = 'blog_' %}
    {% set args = {} %}
{% else %}
    {% if ckan_29_or_higher %}
       {% set prefix = '' %}
    {% else %}
       {% set prefix = 'pages_' %}
    {% endif %}
    {% set args = {} %}
{% endif %}

{% if ckan_29_or_higher %}
  {% set page_url = page %}
{% else %}
  {% set page_url = '/' + page %}
{% endif %}
{% if ckan_29_or_higher %}
   {% set prefix = 'pages.' + prefix %}
{% endif %}

{% set cancel_url = h.url_for(prefix + 'index', **args) %}
{% set slug_prefix = cancel_url ~ '/' %}
{% set slug_domain = h.url_for(prefix + 'index', qualified=true, **args) %}
{% if page %}
  {% if ckan_29_or_higher %}

    {% if type == 'org' %}
      {% set delete_url = h.url_for('pages.organization_pages_delete', page=page_url, **args) %}
    {% elif type == 'group' %}
      {% set delete_url = h.url_for('pages.group_pages_delete', page=page_url, **args) %}
    {% else %}
      {% set delete_url = h.url_for('pages.blog_delete' if type == 'blog' else 'pages.delete', page=page_url, **args) %}
    {% endif %}
  {% else %}
    {% set delete_url = h.url_for(prefix + 'delete', page=page_url, **args) %}
  {% endif %}
{% endif %}


<div class="blog_manager">
  <div class="heading_news">
    <h1 class="title_news"> Danh sách bài viết chờ duyệt</h1>
    <button class="btn_deleted" onclick="deleteClickBlog()"> Từ chối</button>
    <button class="btn_accept-news" onclick="acceptClickBlog()"> Phê duyệt</button>
  </div>

  <div class="dataset-form add-member-form delete_news-blog " method='post' id="delete-news-blog">
    <h1>Từ chối</h1>
    <span class="btn_delete-close" onclick="btnDeleteCloseBlog()">
      <img src="../../../../images/img-box/x.png">
    </span>
    <div class="form_caution-delete">
      <h2>
        Bạn có chắc chắn muốn từ chối bài viết?
      </h2>
    </div>
    <div class="form-actions">
        <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnDeleteCloseBlog()" value="Hủy bỏ">
        <button class="btn btn-primary btn_next" type="submit" name="submit" >
          {{ _('Lưu lại') }}
        </button>
    </div>
  </div>

  <div class="dataset-form add-member-form accept_news-blog " method='post' id="accept-news-blog">
    <h1>Phê duyệt</h1>
    <span class="btn_delete-close" onclick="btnAcceptCloseBlog()">
      <img src="../../../../images/img-box/x.png">
    </span>
    <div class="form_caution-delete">
      <h2>
        Bạn có chắc chắn muốn duyệt bài viết?
      </h2>
    </div>
    <div class="form-actions">
        <input class="btn btn-primary btn_cancel pull-left" type="button" onclick="btnAcceptCloseBlog()" value="Hủy bỏ">
        <button class="btn btn-primary btn_next" type="submit" name="submit" >
          {{ _('Lưu lại') }}
        </button>
    </div>
  </div>

  {% block secondary %}
  <div class="secondary col-sm-3">
  {% block secondary_content %}
  {% block header_account_container_content %}
    <div class="sidebar_news" data-module="me" data-me="{{ c.userobj.id }}">
      <span onclick="back()">
        <img class="img_back_news" src="../../images/img-box/b.png">
      </span>
      <div class="list-new">
        {% block header_account_logged %}
        {% block header_account_settings_link %}
        <span class="span_config">
          <img class="img_admin">
          <li >
            <a >
              Quản trị bài viết
            </a>
          </li>
          <img src="../../../../images/img-box/d.png" class="img_up" id="img_up">
        </span>
        <div class="list_news">
          <span class="span_config">
            <li>
                {% link_for _('Tất cả bài viết'), named_route='pages.blog_manager', page='' %}
            </li>
          </span>
          <span class="span_config">
            <li class="active_new">
                {% link_for _('Bài viết chờ duyệt'), named_route='pages.blog_child_manager', page='' %}
                <span class="number_blogs">6</span>
            </li>
          </span>
          <span class="span_config">
            <li>
              <a  class="a_news">
                Lĩnh vực
              </a>
            </li>
          </span>
          <span class="span_config">
            <li>
              <a class="a_news">
                Thẻ
              </a>
            </li>
          </span>
        </div>

        {% endblock %}

      {% endblock %}
      </div>
    </div>
  {% endblock %}

{% endblock %}

  </div>
{% endblock %}

{% block primary %}
  <div class="primary col-sm-9 col-xs-12" role="main">
    {% block primary_content_inner %}
    <div class="search_news">
      <ul class="ul_action">
        <li>
          <button class="btn_news">
            Chọn khoảng thời gian
            <img src="../../../../images/img-box/d.png">
          </button>
        </li>
        <li>
          <button class="btn_news">
            Chọn lĩnh vực
            <img src="../../../../images/img-box/d.png">
          </button>
        </li>
        <li>
          <button class="btn_news">
            Loại bài viết
            <img src="../../../../images/img-box/d.png">
          </button>
        </li>
        <li>
          <button class="btn_news">
            Lượt tương tác
            <img src="../../../../images/img-box/d.png">
          </button>
        </li>
      </ul>
      <input type="text" placeholder="Tìm kiếm">
    </div>
  <div class="form_news">
    <table class="user-list news_list" id="user_list">
      <thead class="thead_news">
        <tr>
            <th class="td_news">
              <!-- <input type="checkbox" class="check_news"> -->
            </th>
            <th class="td_title">Tiêu đề</th>
            <th class="td_author">Tác giả </th>
            <th class="td_times">Thời gian xuất bản</th>
            <th class="td_field">Lĩnh vực</th>
            <th class="td_actions">Hành động</th>
        </tr>
      </thead>
      <tbody>
          <tr class="tr_news">
            <td class="td_news">
              <input type="checkbox" class="check_news">
            </td>
            <td class="td_title">
                Báo cáo công tác tiếp công dân, giải quyết khiếu nại tố cáo quý IV năm 2022
            </td>
            <td class="td_author">
              Bộ thông tin truyền thông Kon Tum
            </td>
            <td class="td_times">
              10/01/2023  11:11am
            </td>
            <td class="td_field">
              <button>
                Chính trị
              </button>
            </td>
            <td>
              <ul class="item_icon">
                <li>
                  <img src="../../../../images/img-box/eye1.png" class="img_eye1">
                </li>
                <li>
                  <img src="../../../../images/img-box/x-circle.png">
                </li>
                <li>
                  <img src="../../../../images/img-box/check-circle.png">
                </li>
              </ul>
            </td>
          </tr>
          <tr class="tr_news">
            <td class="td_news">
              <input type="checkbox" class="check_news">
            </td>
            <td class="td_title">
              Phó chủ tịch Y Ngọc thăm, chúc tết người cao tuổi
            </td>
            <td class="td_author">
              Bộ thông tin truyền thông Kon Tum
            </td>
            <td class="td_times">
              10/01/2023  11:11am
            </td>
            <td class="td_field">
              <button>
                Chính trị
              </button>
            </td>
            <td>
              <ul class="item_icon">
                <li>
                  <img src="../../../../images/img-box/eye1.png" class="img_eye1">
                </li>
                <li>
                  <img src="../../../../images/img-box/x-circle.png">
                </li>
                <li>
                  <img src="../../../../images/img-box/check-circle.png">
                </li>
              </ul>
            </td>
          </tr>
          <tr class="tr_news">
            <td class="td_news">
              <input type="checkbox" class="check_news">
            </td>
            <td class="td_title">
              Kết quả công tác phòng, chống tác hại của thuốc lá năm 2022
            </td>
            <td class="td_author">
              Bộ thông tin truyền thông Kon Tum
            </td>
            <td class="td_times">
              10/01/2023  11:11am
            </td>
            <td class="td_field">
              <button>
                Chính trị
              </button>
            </td>
            <td>
              <ul class="item_icon">
                <li>
                  <img src="../../../../images/img-box/eye1.png" class="img_eye1">
                </li>
                <li>
                  <img src="../../../../images/img-box/x-circle.png">
                </li>
                <li>
                  <img src="../../../../images/img-box/check-circle.png">
                </li>
              </ul>
            </td>
          </tr>
          <tr class="tr_news">
            <td class="td_news">
              <input type="checkbox" class="check_news">
            </td>
            <td class="td_title">
              Hội thảo trực tuyến về hài hòa phổ tần cho 5G trong các nước ASEAN
            </td>
            <td class="td_author">
              Bộ thông tin truyền thông Kon Tum
            </td>
            <td class="td_times">
              10/01/2023  11:11am
            </td>
            <td class="td_field">
              <button>
                Chính trị
              </button>
            </td>
            <td>
              <ul class="item_icon">
                <li>
                  <img src="../../../../images/img-box/eye1.png" class="img_eye1">
                </li>
                <li>
                  <img src="../../../../images/img-box/x-circle.png">
                </li>
                <li>
                  <img src="../../../../images/img-box/check-circle.png">
                </li>
              </ul>
            </td>
          </tr>
          <tr class="tr_news">
            <td class="td_news">
              <input type="checkbox" class="check_news">
            </td>
            <td class="td_title">
              Ủy ban MTTQ Việt Nam tỉnh và đại diện nhân sỹ trí thức, người có uy tín, chức sắc các tôn giáo thăm, chúc Tết Tỉnh ủy, HĐND và UBND
            </td>
            <td class="td_author">
              Bộ thông tin truyền thông Kon Tum
            </td>
            <td class="td_times">
              10/01/2023  11:11am
            </td>
            <td class="td_field">
              <button>
                Chính trị
              </button>
            </td>
            <td>
              <ul class="item_icon">
                <li>
                  <img src="../../../../images/img-box/eye1.png" class="img_eye1">
                </li>
                <li>
                  <img src="../../../../images/img-box/x-circle.png">
                </li>
                <li>
                  <img src="../../../../images/img-box/check-circle.png">
                </li>
              </ul>
            </td>
          </tr>
          <tr class="tr_news">
            <td class="td_news">
              <input type="checkbox" class="check_news">
            </td>
            <td class="td_title">
              Hội thảo trực tuyến về hài hòa phổ tần cho 5G trong các nước ASEAN
            </td>
            <td class="td_author">
              Bộ thông tin truyền thông Kon Tum
            </td>
            <td class="td_times">
              10/01/2023  11:11am
            </td>
            <td class="td_field">
              <button>
                Chính trị
              </button>
            </td>
            <td>
              <ul class="item_icon">
                <li>
                  <img src="../../../../images/img-box/eye1.png" class="img_eye1">
                </li>
                <li>
                  <img src="../../../../images/img-box/x-circle.png">
                </li>
                <li>
                  <img src="../../../../images/img-box/check-circle.png">
                </li>
              </ul>
            </td>
          </tr>
      </tbody>
    </table>

  </div>
{% endblock %}
  </div>
{% endblock %}
<div class="footer_news">
  <p> Hiển thị 7/7 bản ghi</p>
  <button>20
    <img src="../../../../images/img-box/d.png">
  </button>
  <img class="arrow-left-circle" src="../../../../images/img-box/arrow-left-circle.png">
  <div class="btn_footer_news">
    <button style="color: #185BC3;border: 1px solid #185BC3;border-radius: 6px; ">1</button>
    <button>...</button>
    <button>10</button>
  </div>
  <img class="arrow-right-circle" src="../../../../images/img-box/arrow-right-circle.png">

</div>
</div>


{% block scripts %}
  {% if ckan_29_or_higher %}
    <script src="/vendor/ckeditor/ckeditor.js"></script>
  {% endif %}
{% endblock %}
