{% extends 'page.html' %}

<!-- 06/04 quanlhb hide header -->

{%- block page -%}

  {% block skip %}
    <div class="sr-only sr-only-focusable"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %}
  {%- block content %}
    {{ super() }}
    {% block secondary %}
      {% block secondary_content %}{% endblock %}
    {% endblock %}
  {% endblock -%}
{%- endblock -%}

{% block styles %}
  {{ super() }}
  {% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
  {% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/index-css' %}

{% endblock %}
