{% extends 'page.html' %}
{% block bodytag %}{{ super() }} class="blog"{% endblock %}
{% block subtitle %}{{ c.page.title }}{% endblock %}
{% block primary_content %}
  <section class="module-content blog_page">
    {% if h.check_access('ckanext_pages_update') %}
      {% if h.ckan_version().split('.')[1] | int >= 9 %}

        {% snippet 'ckanext_pages/snippets/pages_asset.html', name='pages/main-css' %}

        {% link_for _('Chỉnh sửa'), named_route='pages.blog_edit', page=c.page.name, class_='btn btn-primary pull-right btn_edit-new' %}
      {% else %}
        {% link_for _('Chỉnh sửa'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='/' + c.page.name, class_='btn btn-primary pull-right btn_edit-new' %}
      {% endif %}

    {% endif %}
    <h1 class="pages_heading">{{ c.page.title }}</h1>
      {% if c.page.publish_date %}
         <span class="muted date"> {{ h.render_datetime(c.page.publish_date) }} </span>
      {% endif %}
    {% if c.page.content %}
      {% set editor = h.get_wysiwyg_editor() %}
      {% if editor %}
        <div>
            {{c.page.content|safe}}
        </div>
      {% else %}
        {{ h.render_content(c.page.content) }}
      {% endif %}
    {% else %}
      <p class="empty">{{ _('This page currently has no content') }}</p>
    {% endif %}
    {% set url = "http://opendata.bkav.com/" + c.page.page_type  + "/" + c.page.name %}   
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0&appId=554471429769120&autoLogAppEvents=1" nonce="oUzzXdYl"></script>
    <div class="fb-comments" data-href={{url}} data-width="100%" data-numposts="5"></div>
  </section>
{% endblock %}

{% block secondary_content %}
{% set posts = h.get_recent_blog_posts(number=5, exclude=c.page.name) %}

  <div class="module module-narrow module-shallow hidden">
    <h2 class="module-heading">
      {{ _('Blog') }}
    </h2>
    <div class="module-content">
        {% for post in posts %}
            <div class="blog-title">
                <h3 class="dataset-heading">
                    {% if h.ckan_version().split('.')[1] | int >= 9 %}
                      <a href="{{ h.url_for('pages.blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                    {% else %}
                      <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                    {% endif %}
                    <br>
                    {% if post.publish_date %}
                        <small> {{ h.render_datetime(post.publish_date) }} </small>
                    {% endif %}
                </h3>
            </div>
            <div class="blog-content">
                {{ h.markdown_extract(post.content) }}
                {% if post.publish_date %}
                   <br>
                    {% if h.ckan_version().split('.')[1] | int >= 9 %}
                      <a class="btn btn-small btn-primary more" href="{{ h.url_for('pages.blog_show', page='/' + post.name) }}">{{ _('More') }}</a>
                    {% else %}
                      <a class="btn btn-small btn-primary more" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ _('More') }}</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
  </div>

{% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
{% snippet 'ckanext_pages/snippets/pages_' ~ type ~ '.html', name='pages/blog-css' %}

{% endblock %}
