{% extends 'ckanext_pages/blog_edit_base.html' %}

{% block page_primary_action %}

<div class="search_members search_pages">
  <input type="text" class="search_item" id="" onclick="searchPage()" placeholder="Tìm kiếm">
</div>

<div class="pull-right btn_add-page">
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Thêm mới'), named_route='pages.blog_new_url', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% else %}
      {% link_for _('Thêm mới'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% endif %}
  {% endif %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Quản lý'), named_route='pages.blog_manager', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% else %}
      {% link_for _('Quản lý'), controller='ckanext.pages.controller:PagesController', action='blog_manager', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block primary_content_inner %}
<div class="bg_pb">
  {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items, type='blog', title='Blog' %}
  {{ c.page.pager() }}
</div>
{% endblock %}

{% block main_content %}
   <div class="wrapper no-nav wrapper_pages">
     {{ self.primary_content() }}
   </div>
{% endblock %}






