{% extends 'ckanext_pages/blog_edit_base_in_home.html' %}

{% block page_primary_action %}


<!-- <div class="searchlistpages">
  <input class="search_listpages" type="text" id="search_listpages" name="q" value="{{q}}" onkeyup="searchList_pages()" placeholder="Tìm kiếm ">
  <i class="glyphicon glyphicon-search"></i>
</div>
<div class="pull-right btn_add-page">
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Thêm mới'), named_route='pages.blog_new', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% else %}
      {% link_for _('Thêm mới'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% endif %}
  {% endif %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Quản lý'), named_route='pages.blog_new', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% else %}
      {% link_for _('Quản lý'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
    {% endif %}
  {% endif %}
</div> -->
{% endblock %}

{% block primary_content_inner %}
<div class="pagelist_inhome">
  {% snippet 'ckanext_pages/snippets/pages_list_in_home.html', pages=c.page.items, type='blog', title='Blog' %}
  {{ c.page.pager() }}
</div>
{% endblock %}