{% extends 'ckanext_pages/edit_base.html' %}

{% block subtitle %}{{ _('Blog Articles') }}{% endblock %}

<!-- {% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module_heading-blog">
      {{ _('Tin tức') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Thêm mới tin tức tại đây.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %} -->

{% block main_content %}
   <div class="wrapper no-nav wrapper_pages">
     {{ self.primary_content() }}
   </div>
{% endblock %}
