{% extends 'page.html' %}

{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block primary %}
  <section class="module-content blog_page bg_page">
    {% block ckanext_pages_actions %}
      {% if h.check_access('ckanext_pages_update') %}

        {% if h.ckan_version().split('.')[1] | int >= 9 %}

          {% snippet 'ckanext_pages/snippets/pages_asset.html', name='pages/main-css' %}

          {% link_for _('Chỉnh sửa'), named_route='pages.edit', page=c.page.name, class_='btn btn-primary pull-right btn_edit-new' %}
        {% else %}
          {% link_for _('Chỉnh sửa'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' + c.page.name, class_='btn btn-primary pull-right btn_edit-new' %}
        {% endif %}
      {% endif %}
    {% endblock %}
    <h1 class="pages_heading">{{ c.page.title }}</h1>
      {% block ckanext_pages_content %}
        {% if c.page.content %}
          <div class="ckanext-pages-content">
            {% set editor = h.get_wysiwyg_editor() %}
            <!-- editor set to "{{ editor }}"-->
            {% if editor %}
              <div>
                  {{c.page.content|safe}}
              </div>
            {% else %}
              {{ h.render_content(c.page.content) }}
            {% endif %}
          </div>
        {% else %}
          <p class="empty">{{ _('This page currently has no content') }}</p>
        {% endif %}

      {% endblock %}
  </section>
{% endblock %}

{% block secondary %}{% endblock %}
