{% extends 'ckanext_pages/edit_base.html' %}

{% block page_primary_action %}
<div class="pull-right btn_add-page">
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Thêm mới'), named_route='pages.new', page='', class_='btn btn-primary' %}
    {% else %}
      {% link_for _('Thêm mới'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='', class_='btn btn-primary' %}
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block primary_content_inner %}
<div class="bg_pb">
  {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items %}
  {{ c.page.pager() }}
</div>
{% endblock %}

{% block main_content %}
   <div class="wrapper no-nav wrapper_pages">
     {{ self.primary_content() }}
   </div>
{% endblock %}
