{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

<h1 class="page-heading page-list-header heading_page-new">{{ "Tin tức" if type == "blog" else "Q&A" }}</h1>

{% if pages %}
  {% if type == 'blog' %}
    <div class="page-list">
      <div class="container-heading">
        <div class="section-title">
          <h4 class="m-0 text_news">Tin nổi bật</h4>
        </div>
        <div class="container-slideShow">
          <div class="slider">
          <div class="slides">
            {% for page in pages %}

            {% if (pages.index(page) > 0   and   6 > pages.index(page)  )%}

            {% set idx =  pages.index(page)  %}
            {% if ckan_29_or_higher %}
              {% if id %}
                {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=pages[pages.index(page)-1].name) %}
              {% elif type == 'blog' %}
                {% set url = h.url_for('pages.blog_show', page=pages[pages.index(page)-1].name) %}
              {% else %}
                {% set url = h.url_for('pages.show', page=pages[pages.index(page)-1].name) %}
              {% endif %}

            {% else %}

              {% if id %}
                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + pages[pages.index(page)-1].name) %}
              {% elif type == 'blog' %}
                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + pages[pages.index(page)-1].name) %}
              {% else %}
                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + pages[pages.index(page)-1].name) %}
              {% endif %}

            {% endif %}
            <div id="slide-{{ idx }}" class="slideShow">

              {% if pages[pages.index(page)-1].image %}
                  <div class="image img_pages">
                    <a  href="{{ url }}" style="background-image:url({{ pages[pages.index(page)-1].image }})"    ></a>
                  </div>
              {% else %}
                <div class="image img_pages">
                  <a style="background-image:url(./images//city.png)" href="{{ url }}"></a>
                </div>
              {% endif %}
              <!-- <div class="image img_pages">
                <a  href="{{ url }}" style="background-image:url({{ pages[pages.index(page)-1].image }})"    ></a>
              </div> -->
              <div class="text">
                <h2 class="first_text">
                  <a style=" color: #fff !important;" href="{{ url }}" >{{ pages[pages.index(page)-1].title }}</a>
                </h2>
                <p class="second_text">
                  {{ h.markdown_extract(pages[pages.index(page)-1].content) }}
                </p>
                <div class="third_text">

                  {% if pages[pages.index(page)-1].publish_date %}
                    <p > {{ h.render_datetime(pages[pages.index(page)-1].publish_date) }} </p>
                  {% endif %}
                  <p>UBND Tỉnh Kon Tum</p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="slided">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
          </div>

        </div>
      </div>

      </div>
      <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="section_page col-12">
                            <div class="section-title">
                                <h4 class="m-0 text_news">Tin mới nhất</h4>
                            </div>
                            <div class="section-button">
                              <button>Chính trị</button>
                              <button>Nông nghiệp</button>
                              <button>Giáo dục</button>
                              <button>Y tế</button>
                              <button>Lao động</button>
                          </div>
                        </div>
                    {% set editor = h.get_wysiwyg_editor() %}

                    {% for page in pages %}
                    {% if pages.index(page) == 5  %}

                    <div class="col-lg-6">
                      <div class="post_list mb-3">
                        <div class="post">

                      {% if ckan_29_or_higher %}
                        {% if id %}
                          {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
                        {% elif type == 'blog' %}
                          {% set url = h.url_for('pages.blog_show', page=page.name) %}
                        {% else %}
                          {% set url = h.url_for('pages.show', page=page.name) %}
                        {% endif %}

                      {% else %}

                        {% if id %}
                          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
                        {% elif type == 'blog' %}
                          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
                        {% else %}
                          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
                        {% endif %}

                      {% endif %}

                      {%- snippet 'ckanext_pages/snippets/page_item.html', url=url, page=page -%}
                    </div>
                  </div>
              </div>

                      {% else %}

                      {% endif %}

                    {% endfor %}


                    <div class="post_list col-lg-6">
                      <div class="listpages">
                        {% for page in pages %}

                        {% if (pages.index(page) > 5   and   11 > pages.index(page)  )%}

                          <div class="grid-col">

                            {% if ckan_29_or_higher %}
                              {% if id %}
                                {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
                              {% elif type == 'blog' %}
                                {% set url = h.url_for('pages.blog_show', page=page.name) %}
                              {% else %}
                                {% set url = h.url_for('pages.show', page=page.name) %}
                              {% endif %}

                            {% else %}

                              {% if id %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
                              {% elif type == 'blog' %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
                              {% else %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
                              {% endif %}

                            {% endif %}

                            {%- snippet 'ckanext_pages/snippets/page_item.html', url=url, page=page -%}
                          </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                    </div>

              </div>
          </div>

          <div class="col-lg-4 list_tag-page">
              <!-- Social Follow Start -->
              <div class="mb-3">
                  <div class="section-title mb-0">
                      <h4 class="m-0">Danh mục lĩnh vực: 12</h4>
                  </div>
                  <div class="bg-white border border-top-0 p-3">
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Nông nghiệp</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Kinh tế, thương mại</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Giáo dục </a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Y tế</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Lao động</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Môi trường</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Tài chính</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Cơ sở hạ tầng</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Công nghệ </a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Địa phương</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Xã hội</a>
                        <span>0</span>
                      </div>
                      <div class="list-field">
                        <img src="../../images/Vector.png" ></img>
                        <a class="fielded"> Năng lượng</a>
                        <span>0</span>
                      </div>
                  </div>
              </div>
              <!-- Social Follow End -->

            </div>
            </div>
        </div>
      </div>
      <div class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="row">
                      <div class="section_page col-12">
                          <div class="section-title">
                              <h4 class="m-0 text_news">Tin quan tâm</h4>
                          </div>
                          <div class="section-button">
                            <button>Chính trị</button>
                            <button>Nông nghiệp</button>
                            <button>Giáo dục</button>
                            <button>Y tế</button>
                            <button>Lao động</button>
                        </div>
                      </div>
                          {% set editor = h.get_wysiwyg_editor() %}

                          {% for page in pages %}
                          {% if pages.index(page) == 11 or pages.index(page) == 12  %}

                          <div class="col-lg-6">
                            <div class="post_list mb-3">
                              <div class="post">

                            {% if ckan_29_or_higher %}
                              {% if id %}
                                {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
                              {% elif type == 'blog' %}
                                {% set url = h.url_for('pages.blog_show', page=page.name) %}
                              {% else %}
                                {% set url = h.url_for('pages.show', page=page.name) %}
                              {% endif %}

                            {% else %}

                              {% if id %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
                              {% elif type == 'blog' %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
                              {% else %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
                              {% endif %}

                            {% endif %}

                            {%- snippet 'ckanext_pages/snippets/page_item.html', url=url, page=page -%}
                          </div>
                        </div>
                    </div>

                            {% elif pages.index(page) == 7  %}

                            {% endif %}

                          {% endfor %}


                          <div class="post_list col-lg-6">
                            <div class="listpage">
                              {% for page in pages %}

                              {%   if pages.index(page) > 12 and 16 >  pages.index(page) %}

                                <div class="grid-col">

                                  {% if ckan_29_or_higher %}
                                    {% if id %}
                                      {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
                                    {% elif type == 'blog' %}
                                      {% set url = h.url_for('pages.blog_show', page=page.name) %}
                                    {% else %}
                                      {% set url = h.url_for('pages.show', page=page.name) %}
                                    {% endif %}

                                  {% else %}

                                    {% if id %}
                                      {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
                                    {% elif type == 'blog' %}
                                      {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
                                    {% else %}
                                      {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
                                    {% endif %}

                                  {% endif %}

                                  {%- snippet 'ckanext_pages/snippets/page_item.html', url=url, page=page -%}
                                </div>
                                  {% endif %}
                                {% endfor %}
                                      </div>
                            </div>

                            <div class="post_list col-lg-6">
                              <div class="listpage">
                                {% for page in pages %}

                                {%   if pages.index(page) > 15 %}

                                  <div class="grid-col">

                                    {% if ckan_29_or_higher %}
                                      {% if id %}
                                        {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
                                      {% elif type == 'blog' %}
                                        {% set url = h.url_for('pages.blog_show', page=page.name) %}
                                      {% else %}
                                        {% set url = h.url_for('pages.show', page=page.name) %}
                                      {% endif %}

                                    {% else %}

                                      {% if id %}
                                        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
                                      {% elif type == 'blog' %}
                                        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
                                      {% else %}
                                        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
                                      {% endif %}

                                    {% endif %}

                                    {%- snippet 'ckanext_pages/snippets/page_item.html', url=url, page=page -%}
                                  </div>
                                    {% endif %}
                                  {% endfor %}
                                        </div>
                              </div>

                  </div>
              </div>

              <div class="col-lg-4 list_tag-page">
                  <!-- Social Follow Start -->
                  <div class="mb-3">
                      <div class="section-title mb-0">
                          <h4 class="m-0">Danh mục cơ quan: 12</h4>
                      </div>
                      <div class="bg-white border border-top-0 p-3">
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Nội vụ</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Tư pháp</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở kế hoạch và đầu tư </a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở tài chính</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Công thương</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Nông nghiệp và Phát triển nông thôn</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Giao thông vận tải</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Xây dựng</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Tài nguyên và Môi trường </a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Thông tin và Truyền thông</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Lao động - Thương binh và xã hội</a>
                            <span>0</span>
                          </div>
                          <div class="list-field">
                            <img src="../../images/Vector.png" ></img>
                            <a class="fielded"> Sở Văn hóa, Thể thao và Du lịch</a>
                            <span>0</span>
                          </div>
                      </div>
                  </div>
                  <!-- Social Follow End -->
              </div>
              <div class="col-lg-4 list_tag-page">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0">Thẻ: 9</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <button class="list-child-field">Báo chí</button>
                        <button class="list-child-field">Nhập liệu</button>
                        <button class="list-child-field">Công nghệ</button>
                        <button class="list-child-field">CV19</button>
                        <button class="list-child-field">VNNIC</button>
                        <button class="list-child-field">Môi trường đất</button>
                        <button class="list-child-field">Hóa học</button>
                        <button class="list-child-field">Tin tức</button>
                        <button class="list-child-field">Cơ sở hạ tầng</button>
                    </div>
                </div>
                <!-- Social Follow End -->
            </div>
          </div>
          </div>
      </div>
    </div>
  {% else %}
    <div>
      <div>
        <div class="post">
          {% set editor = h.get_wysiwyg_editor() %}

          {% for page in pages %}

            {% if ckan_29_or_higher %}
              {% if id %}
                {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
              {% else %}
                {% set url = h.url_for('pages.show', page=page.name) %}
              {% endif %}

            {% else %}
              {% if id %}
                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
              {% elif type == 'blog' %}
                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
              {% else %}
                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
              {% endif %}

            {% endif %}

            {%- snippet 'ckanext_pages/snippets/q_a_item.html', url=url, page=page -%}

          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('Hiện tại không có bài viết') }}</p>
    {% else %}
      <p class="empty">{{ _('Hiện tại không có bài viết') }}</p>
    {% endif %}
{% endif %}
