{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

<!-- <h1 class="page-heading page-list-header heading_page-new">{{ "Tin tức" if type == "blog" else "Q&A" }}</h1> -->

{% if pages %}
  <div class="page-list">
    <div class="container-fluid">
      <div class="container_pages">
          <div class="row_inhome">
              <div class="col-lg-8">
                  <div class="post_list col-lg-6">
                    <div class="listpage_inhome" >
                      {%  set i = 0  %}
                      {% for page in pages %}

                        <div class="gridcol_inhome" id={{loop.index}}>
                            {% if ckan_29_or_higher %}
                              {% if id %}
                                {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
                              {% elif type == 'blog' %}
                                {% set url = h.url_for('pages.blog_show', page=page.name) %}
                              {% else %}
                                {% set url = h.url_for('pages.show', page=page.name) %}
                              {% endif %}
                            {% else %}
                              {% if id %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
                              {% elif type == 'blog' %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
                              {% else %}
                                {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
                              {% endif %}
                            {% endif %}
                            {%- snippet 'ckanext_pages/snippets/pageitem.html', url=url, page=page -%}

                        </div>

                      {% endfor %}
                    </div>

                    <div class="page-container">

                      <button class="prev-page">
                        <i>❮</i>
                      </button>
                      <div id="pagination"></div>
                      <button class="next-page">
                        <i>❯</i>
                      </button>
  
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
    <script>
      let thisPage = 1;
      let limit  = 5;
      let list = document.querySelectorAll('.listpage_inhome .gridcol_inhome')
      let total = Math.ceil(list.length / limit)

      const pg = document.getElementById("pagination");
      const pages = document.getElementById("pages");
      const curPage = document.getElementById("curpage");
      const checks = document.querySelectorAll(".check");
      const btnNextPg = document.querySelector("button.next-page");
      const btnPrevPg = document.querySelector("button.prev-page");
      const btnFirstPg = document.querySelector("button.first-page");
      const btnLastPg = document.querySelector("button.last-page");
      // when page load
      // curPage.setAttribute('max', pages.value);
      const valuePage = {
        truncate: true,
        curPage: 1,
        numLinksTwoSide: 1,
        totalPages: total
      };
      pagination();
      // pagination();
      pg.onclick = (e) => {
        const ele = e.target;

        if (ele.dataset.page) {
          const pageNumber = parseInt(e.target.dataset.page, 10);

          valuePage.curPage = pageNumber;
          // curPage.value = pageNumber;
          pagination(valuePage);

          handleButtonLeft();
          handleButtonRight();
        }
      };





      checks.forEach((check) => {
        check.onclick = (e) => {
          console.log(e.target);
          pagination();
        };
      });

      // DYNAMIC PAGINATION
      function pagination() {
        handleButtonLeft();
        handleButtonRight();
        const { totalPages, curPage, truncate, numLinksTwoSide: delta } = valuePage;
        thisPage = curPage
        const range = delta + 3; // use for handle visible number of links left side

        let render = "";
        let renderTwoSide = "";
        let dot = `<li class="pg-item"><a class="pg-link">...</a></li>`;
        let countTruncate = 0; // use for ellipsis - truncate left side or right side

        // use for truncate two side
        const numberTruncateLeft = curPage - delta;
        const numberTruncateRight = curPage + delta  ;

        let active = "";
        for (let pos = 1; pos <= totalPages; pos++) {
          active = pos === curPage ? "active" : "";

          // truncate
          if (totalPages >= 2 * range - 1 && truncate) {
            if (numberTruncateLeft > 2 && numberTruncateRight < totalPages - 2 + 1) {
              // truncate 2 side
              if (pos >= numberTruncateLeft && pos <= numberTruncateRight) {
                renderTwoSide += renderPage(pos, active);
              }
            } else {
              // truncate left side or right side
              if ((
                (curPage < range && pos <= range) ||
                (curPage > totalPages - range && pos >= totalPages - range +1 ) ||
                pos === totalPages ||
                pos === 1)
              ) {
                render += renderPage(pos , active);
              } else {
                countTruncate++;
                if (countTruncate === 1 ) render += dot;          
              }
            }
          } else {
            // not truncate
            render += renderPage(pos, active);
          }
        }

        if (renderTwoSide) {
          renderTwoSide =
            renderPage(1) + dot + renderTwoSide + dot  + renderPage(totalPages);
          pg.innerHTML = renderTwoSide;
        } else {
          pg.innerHTML = render;
        }
      }

      function renderPage(index, active = "") {
        return ` <li class="pg-item ${active}" data-page="${index}">
              <a class="pg-link" href="#">${index}</a>
          </li>`;
      }


      function loadItem () {
        let beginGet = limit * (thisPage -1);
        let endGet = limit * thisPage -1;
        list.forEach( (gridcol_inhome, key) => {
          if (key >= beginGet &&  key <= endGet) {
            gridcol_inhome.style.display = 'block';
          }
          else {
            gridcol_inhome.style.display = 'none';
          }
        });
        listPage();
      }
      loadItem();
      function listPage() {


        }
        function changePage (i){
          thisPage = i ;
          loadItem();
        }



      document.querySelector(".page-container").onclick = function (e) {
        handleButton(e.target);

      loadItem();
      };

      function handleButton(element) {
        if (element.classList.contains("first-page")) {
          valuePage.curPage = 1;
        } else if (element.classList.contains("last-page")) {
          valuePage.curPage = parseInt(pages.value, 10);
        } else if (element.classList.contains("prev-page")) {
          valuePage.curPage--;
          handleButtonLeft();
          btnNextPg.disabled = false;

        } else if (element.classList.contains("next-page")) {
          valuePage.curPage++;
          handleButtonRight();
          btnPrevPg.disabled = false;

        }
        pagination();
      }
      function handleButtonLeft() {
        if (valuePage.curPage === 1) {
          btnPrevPg.disabled = true;

        } else {
          btnPrevPg.disabled = false;

        }
      }
      function handleButtonRight() {
        if (valuePage.curPage === valuePage.totalPages) {
          btnNextPg.disabled = true;

        } else {
          btnNextPg.disabled = false;

        }
      }
    </script>
  </div>


{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('Hiện tại không có bài viết') }}</p>
    {% else %}
      <p class="empty">{{ _('Hiện tại không có bài viết') }}</p>
    {% endif %}
{% endif %}
