
<!-- {% set words = ["Công nghệ", "Du lịch", "Chính trị", "Môi trường", "Y tế", "Xã hội", "Năng lượng"] %}
{% set words_organation = ["Sở Thông tin và truyền thông", "Sở nội vụ", "Sở Tư pháp", "Sở Tài chính", "Sở Công thương", "Sở Xây dựng", "Sở Giao thông vận tải"] %} -->


<div class="pages-list-item">
  {% block page_item_image %}
  <div class="image_pages">
    <!-- 04/04 quanlhb chỉnh lại phần hiển thị ảnh mặc định-->
      {% if page.image %}
        <a target="_blank" style="background-image:url({{ page.image }})" href="{{ url }}"></a>
      {% else %}
        <a target="_blank" style="background-image:url(./images//diaphuongsvg.svg)" href="{{ url }}"></a>
      {% endif %}
    <!-- quanlhb -->
      {% block page_item_heading %}
    <h3 class="dataset-heading">
      <a target="_blank" href="{{ url }}" >{{ page.title }}</a>
    </h3>
     {% endblock %}

     {% block page_item_content %}
       {% if page.content %}
         {% if editor %}
         <div>
           {{page.content|striptags|truncate}}
         </div>
         {% else %}
         <p class="content_item">
           {{ h.markdown_extract(page.content) }}
         </p>
         {% endif %}
       {% else %}
         <p class="empty">{{ _('Trang này hiện không có nội dung') }}</p>
       {% endif %}
     {% endblock %}
  </div>
  <div class="detail_news">
    {% if page %}
    <small class="btn_field_news" id="btn_field_news" >Công nghệ</small>
    <!-- {{ words|random }} -->
    {% endif %}
    {% if page.publish_date %}
        <small class="date_pages"> {{ h.render_datetime(page.publish_date) }} </small>
    {% endif %}
    {% if page %}
        <small class="a_field_news"> Sở Thông tin và truyền thông</small>
        <!-- {{ words_organation|random }} -->
    {% endif %}
  </div>
  {% endblock %}
</div>


