<div class="row page-list-item dataset-item">

  {% block page_item_image %}
  {% if page %}
    <!-- <div class="image img_qa">
      <a style="background-image:url({{ page.image }})" href="{{ url }}"></a>
    </div> -->
  {% endif %}

  {% endblock %}

  <div>

       {% block page_item_heading %}
       {% if page.publish_date %}
          <small class="date_qa"> {{ h.render_datetime(page.publish_date) }} </small>
        {% endif %}
       <h3 class="dataset-heading">
          <a href="{{ url }}" >{{ page.title }}</a>

      </h3>
      {% endblock %}

      {% block page_item_content %}
        {% if page.content %}
          {% if editor %}
          <div>
            {{page.content|striptags|truncate}}
          </div>
          {% else %}
          <p class="content_qa_item">
            {{ h.markdown_extract(page.content) }}
          </p>
          {% endif %}
        {% else %}
          <p class="empty">{{ _('Trang này hiện không có nội dung') }}</p>
        {% endif %}
      {% endblock %}
    </div>
  </div>

