.comments-thread .comments-thread {
  padding-inline-start: 15px;
  border-inline-start: 1px solid grey;
}

.comments-comment:last-child {
  border-bottom: none;
}
.comments-comment.mobile-hidden-comment {
  border-bottom: none;
}
.comment {
  padding: 24px 0px 13px;
}
.comment .comment-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 11px;
}
.comment .comment-heading .comment-authored {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 11px;
  margin-inline-end: 15px;
}
.comment .comment-heading .comment-authored .author-avatar {
  margin-inline-end: 8px;
}
.comment .comment-heading .comment-authored .author-avatar img {
  object-fit: contain;
}
.comment .comment-heading .comment-authored .comment-meta .author-name {
  font-size: 520px;
  font-size: 16px;
  line-height: 24px;
}
.comment .comment-heading .comment-authored .comment-meta .comment-date {
  font-size: 12px;
  line-height: 22px;
  white-space: nowrap;
}
.comment .comment-heading .comment-actions .comment-action {
  margin-inline-end: 16px;
  margin-bottom: 16px;
}
.comment .comment-heading .comment-actions .comment-action:last-child {
  margin-inline-end: 0;
}
.comment .comment-body {
  margin-bottom: 11px;
}
.comment .comment-body .comment-content {
  font-size: 16px;
  line-height: 24px;
}
.comment .comment-body .comment-content img {
  max-width: 100%;
}
.comment .comment-footer .reply-actions .reply-action {
  margin-top: 10px;
  margin-inline-end: 16px;
  margin-bottom: 16px;
}
.comment .comment-footer .reply-actions .reply-action:last-child {
  margin-inline-end: 0;
}

/* custom style */

.form_cmt {
  position: relative;
}

.form_cmt .form-group {
  margin: 0;
}

.text_cmt .controls  {
  width: 100%;
}

.text_cmt textarea#comment-content {
  height: 60px;
  border: 1px solid rgba(45, 57, 76, 0.3);
}

.btn_cmt {
  background: #ADCAF5;
  border-radius: 2px;
  color: #2748A1;
  font-weight: 700;
  font-size: 12px;
  border: none;
  padding: 5px 7px;
  position: absolute;
  right: 12px;
  bottom: 8px;
}

.cmt_disable {
  background: #A1B3D5;
  color: #fff;
  pointer-events: none !important;
}

.btn_save-reply:hover {
  background: #ADCAF5;
  color: #2748A1;
}

.author-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #385898;
}

.author-avatar img {
  width: 48px;
  height: 48px;
}

.btn_reply,
.btn_edit-cmt,
.btn_remove-cmt,
.btn_update-cmt {
  border: none;
  font-weight: 400;
  font-size: 12px;
  color: #4267B2;
  background-color: #fff;
}

.btn_reply:hover,
.btn_edit-cmt:hover,
.btn_remove-cmt:hover,
.btn_update-cmt:hover {
  color: #003398;
}

.comment .comment-heading .comment-authored {
  position: relative;
  margin-inline-end: 0;
}

.author-avatar {
  width: 7%;
}

.author-avatar img {
  position: absolute;
  top: 11px;
}

.comment-meta {
  width: 90%;
}

.comment-content {
  width: 100%;
  word-wrap: break-word;
  text-align: justify;
}

.comment-date {
  font-weight: 400;
  font-size: 12px;
  color: #90949C;
}

.comment .comment-body {
  margin: 0;
}

.comment .comment-heading .comment-actions .comment-action {
  margin: 0;
  padding: 0;
}

span.dot_cmt {
  font-weight: 600;
  font-size: 12px;
  position: relative;
  top: -3px;
  padding: 0 2px;
}

.btn_save-reply {
  background: #A1B3D5;
  border-radius: 6px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  border: none;
  padding: 6px;
}

.btn_cancel-reply {
  background: #FF4545;
  border-radius: 6px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  border: none;
  padding: 6px 10px;
  margin-top: 14px !important;
}

.comments-thread .comments-thread {
  padding-inline-start: 60px;
  margin-top: -40px;
  border: none;
}

.comments-thread .comments-thread img {
  width: 40px;
  height: 40px;
}

.list-unstyled .comments-thread .comment {
  margin-bottom: -25px;
}

.comment {
  padding: 0;
}

.comments-comment:first-child {
  padding-top: 24px;
}

.btn_showmore {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background: #4777DE;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  /* display: none; */
}

.btn_showmore:hover {
  cursor: pointer;
  background: #ADCAF5;
  color: #2748A1;
}

.comments-comment {
  display: none;
}

.comments-comment:nth-child(1),
.comments-comment:nth-child(2),
.comments-comment:nth-child(3) {
  display: block;
}