
/* page login */

.content_login {
  width: 600px;
  background-color: var(--white);
  float: none !important;
  margin: 0 auto;
  margin-top: -30px;
  border-radius: 14px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
}

.page-heading-login {
  font-size: 32px;
  font-weight: 700;
  color: #2747A0;
  text-align: center;
  padding-top: 50px;
}

.bg_forgot {
  margin-top: 0;
  padding: 30px 0 70px;
}

.bg_forgot .page-heading-login {
  padding-top: 0;
}

.form_login {
  position: relative;
  padding: 0 90px;
}

.login_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -20px 0 10px 0;
}

.login_box .form-group  {
  margin-bottom: 0;
}

label.checkbox {
  font-size: 14px;
  font-weight: 400;
  color: #1B1C1D;
}

.checkbox input[type=checkbox] {
  top: 0px;
}

label.checkbox  input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}

label.checkbox  input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

input#field-login,
input#field-password,
.form_forgot input#field-username {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #8692A6;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-left: 37px;
}

.form_login input#field-password {
  background-image: url(./images/img-box/key.png);
  background-repeat: no-repeat;
  background-position: left 12px center;
}

.show-pass {
  position: absolute;
  top: 95px;
  right: 105px;
}

.show-pass:hover {
  cursor: pointer;
  opacity: 0.8;
}

.show-pass img#eye {
  margin-top: 3px;
  height: 18px;
}

.form_login .form-actions {
  text-align: center;
}

.btn_login,
.forgot_pass {
  width: 100%;
  height: 50px;
  background: #2747A0;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  margin: 20px auto;
}

.footer_login {
  margin-left: 0 !important;
  box-shadow: none !important;
}

.action_register {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.btn_register {
  color: #2748A2;
  text-decoration: underline;
}

.btn_register:hover {
  color: #3699FF;
}

.action_forgot {
  margin-top: -10px;
  padding-bottom: 30px;
}

.btn_forgot {
  font-size: 14px;
  font-weight: 600;
  color: #2748A2;
}

/* forgot pass */

.content_login p {
  width: 100%;
  text-align: center;
  margin: -10px auto 35px;
  font-size: 14px;
  color: #000;
}

.form_login .form-group.control-medium,
.form_forgot {
  position: relative;
}

.form_login .form-group.control-medium label,
.form_forgot label {
  font-weight: 400;
  font-size: 15px;
  color: #222222;
  background-color: var(--white);
  position: absolute;
  top: -12px;
  left: 34px;
  padding: 0 3px;
}

.login_name label,
.login_pass label,
.form_forgot label {
  display: none;
}

.form_forgot input,
input#field-login {
  background-image: url(./images/img-box/cn.png);
  background-repeat: no-repeat;
  background-position: left 12px center;
}

.form_forgot p {
  margin: 20px auto -20px;
  font-size: 12px;
  color: #000000;
}

.forgot_pass {
  margin-bottom: 50px;
}

.module-content.footer_forgot {
  margin-bottom: -55px;
  margin-top: -45px;
}

/* page register */

.check_radio {
  z-index: 10;
}

.form_register {
  background-color: var(--white);
  border-radius: 14px;
  padding: 30px;
  margin: 0 -15px;
}

.form_register .control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #616161;
}

.form_register h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}

.page-heading_register {
  font-size: 32px;
  font-weight: 700;
  color: #2747A0;
  text-align: center;
  margin-top: 0; 
}

.radio_text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label a {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  padding: 2px 0 2px 30px;
  position: relative;
  z-index: 1;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  left: 30px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #000;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 40px;
  content: " ";
  display: block;
  background: #000;
}

.register_main2 .form-group.control-medium,
.register_main1 .form-group.control-medium,
.input_main .form-group.control-select {
  position: relative;
  margin-bottom: 35px;
}

.register_main2 .control-label,
.register_main1 .control-label {
  background-color: var(--white);
  position: absolute;
  top: 12px;
  left: 25px;
  width: 65%;
}

.re_email {
  margin-bottom: 55px !important;
}

.re_email .error-block {
  bottom: -27px;
  left: 25px;
}

.input_register .re_acc .error-block {
  right: 0;
  left: unset;
}

.hide_option .show_option {
  background: #fff !important;
  margin-left: -5px !important;
  padding-left: 5px !important;
}

.re_organs .select2-container {
  z-index: 1;
}

.form-group.control-medium.re_organs select#id_organ {
  margin-top: -30px;
  background: transparent !important;
  color: transparent !important;
  border: none !important;
}

.form-group.control-medium.re_organ-under {
  margin-top: -88px;
}

.re_organ-under input#field-organ_under {
  border: none;
  color: #555555 !important;
}

.upload_avatar {
  position: relative;
}

.upload_avatar .remove_img {
  top: 17px;
}

.upload_avatar #btn_del-url {
  display: none;
}

.upload_avatar .control-label {
  top: -10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  width: auto;
  display: none;
}

.change_label.control-label {
  top: -10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  width: auto;
  display: block !important;
  z-index: 1;
}

.change_label-upfile.control-label {
  top: -8px !important;
  left: 25px !important;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  width: auto;
  display: block;
}

/* to chuc */

.input_main.organ {
  margin-top: 0;
}

.input_file {
  position: relative;
  margin-bottom: 20px;
}

.input_file .form-group.control-full {
  display: block;
  margin-bottom: 0;
}

.input_file .form-group.control-full .control-label {
  top: 14px;
  left: 25px;
  z-index: 3;
}

.input_file input#field-image-upload {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 400;
  color: #616161;
  height: 53px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 0;
}

label.up_file {
  position: absolute;
  top: 13px;
  left: 36%;
  z-index: 3;
  color: #1E72C9;
  background: rgba(109, 152, 196, 0.22);
  border-radius: 9px;
  padding: 5px 10px;
  font-weight: 400;
}

.max_file {
  font-weight: 400;
  font-size: 13px;
  color:rgba(34, 34, 34, 0.49);
  margin-left: 30px;
}

.btn_dk label {
  margin-bottom: 0;
}

/* ca nhan */

.register-form {
  padding-bottom: 20px;
}

input#field-email {
  height: 53px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0 auto -15px auto;
  padding: 0 25px;
  font-size: 18px;
  font-weight: 400;
}

.input_register {
  display: grid;
  grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
  grid-column-gap: 30px;
  min-height: 90px;
}

.input_register .error-block {
  bottom: -30px;
  right: 0;
  left: unset;
}

.input_register .input_upload-img,
.input_register .input_url-img {
  display: block;
}

.input_register a.btn_link,
.input_register input#field-image-url {
  font-size: 18px;
  font-weight: 400;
  color: #616161;
  width: 100%;
  height: 53px;
  padding: 0 25px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.input_register a.btn_link {
  padding: 14px 0 14px 95px;
}

.input_register input#field-image-upload,
.input_register a.btn_upload {
  top: 12px;
}

.input_register .btn-remove-url {
 top: 18px !important;
}

.input-form,
.select-box,
.input_end {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.input_end .form-group {
  margin-bottom: 0;
}

.select-box {
  margin-bottom: -90px;
}

.show_label {
  position: relative;
}

.show_label select {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-left: 0 !important;
}

.re_city, .re_district, .re_ward {
  top: -53px;
}

.input-item.show_label input {
  border: none;
  color: #555555 !important;
}

.input-item,
.select-item {
  flex: 1 0;
  margin-left: 1rem;
}

.input-item:first-child,
.select-item:first-child{
  margin-left: 0;
}

.select-box select {
  color: #616161;
}

.input_text,
.input_main {
  margin-top: 35px;
}

input#field-username,
.input_register input#field-confirm-password,
.input_register input#field-password,
input#field-fullname,
input#field-number-phone,
.select-item,
.input-item input,
input#field-detail,
input#field_detail-organ,
input#field-organ,
input#field-desc,
input#field_desc-organ,
input#field-present,
input#field_fullname-organ,
input#field_position-organ,
#field_present-organ,
.input_main .select2-container .select2-choice,
input#field-organ_under,
#field_image-upload {
  padding: 0 25px;
  font-size: 18px;
  font-weight: 400;
  height: 53px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

input#field-date,
input#field_date-organ {
  background-image: url(./images/img-box/lich.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: -10px;
  opacity: 0;
}

.select-item {
  background-color: transparent;
  padding-right: 25px;
  background-image: url(./images/img-box/select.png);
  background-repeat: no-repeat;
  background-position: 92% center;
}

.input_main .select2-container .select2-choice {
  width: 100%;
  height: 53px !important;
  background-color: transparent;
  color: #616161 !important;
  padding-right: 25px;
  padding-top: 13px !important;
  background-image: url(./images/img-box/select.png) !important;
  background-repeat: no-repeat;
  background-position: 97.5% center;
}

input#field_desc-organ {
  height: 100px;
}

input#field-desc {
  padding-bottom: 38px;
  height: 100px;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  top: -5px;
}

.input_end-1 input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 0;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: var(--white);
}

.input_end-1 input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 0;
  background-color:#5D5FEF;
}

.input_end-1 input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 19px;
  left: 10px;
}

.input_end-1,
.input_end-2 {
  display: -webkit-inline-box;
}

.input_end-1 p,
.input_end-2 p,
.change {
  font-size: 16px;
  font-weight: 500;
  color: #696F79;
  margin-top: 15px;
}

.change {
  margin-left: 17px;
  cursor: pointer;
}

.input_end-1 p {
  margin-left: 35px;
}

.input_end-1 p a {
  color: #5D5FEF;
  text-decoration: underline;
}

.input_end-1 p a:hover {
  color: #3699FF;
}

.input_end-2 input {
  /* font-size: 16px;
  font-weight: 400;
  height: 53px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 10px; */
}

.form_register .form-actions {
  position: relative;
  margin-top: 30px;
}

.btn_back {
  width: 120px;
  margin-right: 20px;
  background-color: rgba(125, 125, 125, 0.23);
  border-radius: 8px;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0;
  text-align: center;
}

.btn_back:hover {
  cursor: pointer;
  background: rgba(125, 125, 125, 0.54);
  color: rgba(0, 0, 0, 0.5);
}

.btn-register {
  width: 120px;
  padding: 15px 0;
  background-color: #DAE5F5;
  border-radius: 8px;
  border: none;
  color: #2748A1;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.btn-register:hover {
  background: #ADCAF5;
  color: #2563EB;
  border: none;
}

/* edit account */

.bg_update-user {
  min-height: 610px;
}

.edit_account {
  background-color: var(--white);
  border-radius: 14px 14px 0 0;
  padding-bottom: 30px;
}

.update_user {
  width: 52%;
  float: left;
}

.ls_user {
  width: 45%;
  float: right;
}

.ls_user .item.changed-user:nth-last-child(2),
.ls_user .item.changed-user:nth-last-child(3),
.hide_ll .item.changed-user:nth-last-child(2),
.hide_ll .item.changed-user:nth-last-child(3) {
  display: none;
}

.heading_edit-account {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
  margin-top: -10px !important;
}

.back_account {
  float: right;
  margin-top: -54px;
}

.form-actions.actions_edit {
  margin-bottom: 25px;
}

.back_account-user {
  float: left;
}

.ls_text {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  margin: 4px 0 0 15px;
}

.g-grid {
  display: grid;
  grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
  grid-column-gap: 30px;
}

.edit_account .form-group {
  display: flex;
}

.edit_account label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #696F79;
  min-width: 145px;
  margin-top: 10px;
}

.edit_account .select2-container .select2-choice {
  padding-left: 12px;
}

.update_account label {
  min-width: 105px;
}

.show_email label {
  max-width: 220px;
}

.form-group .info-block {
  padding: 5px 0;
}

.edit_account input#field-username,
.edit_account input#field-fullname,
.edit_account input#field-email,
.edit_account input#field-image-url,
.edit_account input#field-password-old, 
.edit_account input#field-password, 
.edit_account input#field-password-confirm,
.edit_account input#field-number-phone,
.edit_account input#field-passport,
.select_user,
.data_user,
.primary_user input#field-username, 
.primary_user input#field-fullname, 
.primary_user input#field-email, 
.primary_user input#field-image-url,
.primary_user input#field-password-old,
.primary_user input#field-password,
.primary_user input#field-password-confirm {
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  margin: 0;
  padding: 6px 12px;
}

.select_user,
.data_user {
  width: 100%;
  background: var(--white);
  background-image: url(./images/img-box/d.png);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.update_account a.btn_link {
  padding-left: 75px;
  font-size: 13px;
  padding-top: 10px;
}

.update_account input#field-image-upload,
.update_account a.btn_upload  {
  top: 8px;
  padding: 3px 4px;
  font-size: 13px;
}

.update_account input#field-image-upload {
  padding-right: 55px;
}

.form_edit-pass {
  display: flex;
  justify-content: space-between;
}

.edit_pass {
  width: 63%;
}

.change_pass {
  position: relative;
  width: 95%;
}

.change_pass .error-block {
  bottom: -25px;
}

.pass_sys label {
  margin-top: 0;
}

.regulation_pass p {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.49);
}

.show_password {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 15px;
}

.show_password img:first-child {
  margin-top: 3px;
  height: 18px;
}

.btn_reset {
  height: 35px;
  padding: 8px 12px;
  background: #FF4545;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.btn_reset:hover {
  color: #000;
  opacity: 0.8;
}

.action_item {
  margin-bottom: -15px;
}

/* flash messages */

.flash-messages {
  position: relative;
  height: 0;
  margin: 0 -15px;
  z-index: 1;
}

.flash-messages .alert {
  position: absolute;
  top: 15px;
  right: 0;
  min-width: 35%;
}

.alert-success {
  padding: 18px;
  color: #3c763d;
  background-color: #dff0d8;
  border: none;
  border-radius: 4px;
}

.alert-success .close {
  margin-top: -15px;
  margin-right: -10px;
}

/* Page logout */

.bg_logout {
  background: var(--white);
  min-height: 445px;
  border-radius: 14px;
  margin-right: -15px;
} 