/* admin */

.remove_pr {
    padding-right: 0;
}

.form_admin,
.bg_trash {
    background-color: var(--white);
    border-radius: 14px 14px 0 0;
    padding: 30px;
    padding-top: 0;
    min-height: 570px;
}

.bg_contact {
    padding: 5px;
}

.form_per {
    padding-top: 30px;
}

.bg_index {
    padding: 15px;
    min-height: 690px;
}

.form_admin label {
    font-weight: 400;
    font-size: 20px !important;
    line-height: 27px;
    color: #000000;
    margin-top: 10px;
}

.form_admin .control-full {
    display: block;
}

.form_admin .controls input,
.form_admin select {
    width: 100% !important;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

/* giangptd */
.form_admin .select_organs {
    width: 100% !important;
    height: 39px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(10, 10, 10, 0.65);
    border-radius: 3px;
    border: 1px solid rgba(10, 10, 10, 0.35);
    padding-left: 10px;
    padding-top: 5px;
    background-image: url(./images/img-box/Up_arrow.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.form_admin input#field-image-url {
    height: 50px;
}

.form_admin .editor textarea {
    width: 100%!important;
}

.form_admin .btn.btn-danger.btn-remove-url {
    top: 58px;
}

.form_admin .input_upload-img {
    margin-bottom: 82px;
}

.form_admin a.btn_link {
    width: 100%;
    height: 50px;
    padding: 11px 0;
    padding-left: 100px;
    font-size: 15px;
}

.form_admin input#field-image-upload {
    height: 32px;
    top: 50px;
    width: 95px !important;
    padding: 0;
}

.form_admin a.btn_upload {
    top: 50px;
    font-size: 16px;
}

/* sidebar admin */

.sidebar_mobile .list-admin .span_config.fix_text div.hidden,
.secondary_user-mobile .list-admin .span_config.fix_text div.hidden {
    display: block !important;
}

.sidebar_mobile .show_menu, .secondary_user-mobile .show_menu {
    display: none;
}

.sidebar_admin {
    width: 100%;
    background: rgba(12, 34, 51, 0.09);
    border-radius: 14px 14px 0 0;
    margin-bottom: 15px;
    position: absolute;
}

.sidebar_admin .list-admin {
    padding-left: 0;
    min-height: 690px;
}

.list-admin a {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2C3A61 !important;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.span_config .active a {
    padding-left: 37px;
}

.list-admin li {
    list-style-type: none;
    margin: 15px 0;
    min-width: 100%;
}

.list-admin li:hover {
    cursor: pointer;
    opacity: 0.8;
}

.show_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.change_show-menu {
    justify-content: space-between;
    padding-left: 20px;
}

.show_menu i {
    font-size: 20px;
    cursor: pointer;
}

.show_menu img {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.span_config {
    display: flex;
    position: relative;
}

.span_config div {
    width: 100%;
}

.span_config li.active {
    border-left: 3px solid #2185D0;
    background: #bd95f524;
}

span.item_user li.active {
    background: transparent;
    border: none;
}

span.item_user li.active a {
    color: #4A52FF !important;
}

.bg_user-ac {
    min-height: auto;
    max-height: 600px;
    overflow-y: scroll;
    width: 70%;
    float: right;
    padding: 0 15px;
    margin-top: 15px;
}

.bg_user-ac::-webkit-scrollbar {
    display: none;
}

.bg_user-ac ul.activity {
    max-height: none;
}

.bg_user-ac .actor .user-image {
    display: none;
}

.img_admin,
.img_infor,
.img_config,
.img_trash,
.img_permission{
    position: absolute;
    top: 22px;
    left: 8px;
}

.img_up, .img_d {
    position: absolute;
    top: 32px;
    right: 15px;
}

.img_up {
    display: none;
}

.img_config {
    top: 27px;
    left: 12px;
}

.img_trash {
    left: 13px;
}

/* infor user */

.header_content {
    width: 70%;
    float: right;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 15px 15px 0;
}

.nav_infor {
    margin-top: 10px;
    display: flex;
}

.nav_infor li a {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #0A0A0A;
    opacity: 0.5;
    padding: 13px 20px;
}

article.module.infor_admin {
    display: flow-root;
    padding-bottom: 15px;
    min-height: 690px;
}

.primary_admin article.module.infor_admin {
    max-height: 690px;
}

.page-header.header_content .nav-tabs {
    margin-left: 0;
}

.btn_ind {
    display: flex;
    float: right;
}

.admin_edit,
.btn_add a {
    background: #FFFFFF;
    border: 1px solid #3699FF;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3699FF;
    padding: 10px;
}

.btn_ind .content_action {
    margin: 0 0 0 10px;
}

.infor_acc {
    background: var(--white);
    border-radius: 14px 0 0 0;
    padding: 15px 0 15px 15px;
    width: 30%;
    float: left;
}

.infor_form .list_organ-gr {
    width: 70%;
    max-height: 600px;
    margin: 0;
    float: right;
    overflow-y: scroll;
}

.infor_form .list_organ-gr::-webkit-scrollbar {
    display: none;
}

.infor_form ul.dataset-list.list-unstyled #datasets_box {
    padding-top: 15px;
}

.infor_form #datasets_box:first-child {
    padding-top: 0;
}

.infor_form ul.dataset-list.list-unstyled::-webkit-scrollbar {
    display: none;
}

.infor_form .dataset-heading .label-info {
    height: auto;
    padding: 2px 6px;
    position: absolute;
    right: 0;
    font-size: 12px;
}

.sidebar_account .account_text .heading {
    text-transform: capitalize;
    color: #79838B;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.sidebar_account .account_text .heading h1 {
    line-height: 1;
}

.inf_acc {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.acc_avatar {
    height: 100%;
    margin-right: 10px;
}

.acc_avatar .image {
    height: 100%;
}

.account_text {
    overflow: hidden;
}

.account_text dl {
    margin-bottom: 0;
}

.dt_email {
    display: flex;
    margin-top: -10px;
}

.dt_email span {
    margin: -1px 0 0 5px;
    padding: 2px;
}

.sidebar_account .nums,
.sidebar_account .about_account,
.sidebar_account .info {
    border-top: 1px dashed #d3d3d3;
    padding: 10px 0;
}

.sidebar_account .about_account p {
    margin: 5px 0 -10px;
}

.dt_email,
.about_account h5,
.info dt {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: capitalize;
    color: rgba(28, 15, 18, 0.74);
}

.sidebar_account .about_account p,
.account_text dd,
.info dd {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #79838B;
}

.account_text dd {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* user */

.primary_user {
    background: var(--white);
    border-radius: 14px;
    padding: 30px;
}

.primary_user .heading_edit-account {
    padding-bottom: 15px;
}

.primary_user .back_account {
    margin-top: -55px;
}

.primary_user .form-group {
    display: flex;
}

.primary_user label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;
    min-width: 150px;
    margin-top: 10px;
}

.primary_user .edit_pass {
    width: 70%;
}

.primary_user article.module {
    margin-left: -15px;
    border-radius: 14px;
}

.primary_user .infor_form {
    margin-top: 0;
    padding: 15px;
}

.primary_user .mobile_user {
    width: 70%;
    float: right;
    padding-left: 30px;
}

.primary_user .mobile_user .list_organ-gr {
    width: 100%;
}

.primary_user .page_content {
    margin-top: -15px !important;
    margin-bottom: 35px;
    padding: 0;
}

.primary_user .nav-tabs {
    margin-left: 0 !important;
}

.primary_user .infor_acc {
    padding: 0;
    margin-top: -15px;
}

.primary_user .sidebar_account .image img {
    max-height: 200px;
}

.primary_user .infor_form .list_organ-gr {
    margin-top: -15px;
}

.primary_user .datasets_item {
    margin: 0;
}

.primary_user .bg_user-ac {
    width: 100%;
    padding: 0;
    margin-top: 0;
}

/* account */

.list_user {
    width: 100%;
}

.up_block {
    display: block !important;
    animation: myshow linear 0.5s;
}

@keyframes myshow {
    from
        {opacity: 0;}
    to
        {opacity: 1;}
}

.list_user .item_user a {
    padding-left: 5px;
}

li.item_user,
span.item_user {
    display: flex;
    margin: 0;
    position: relative;
}

span.item_user li {
    margin-left: 0;
}

span.item_user li a {
    padding-left: 39px !important;
}

.item_user li {
    margin: 0 34px;
}

.item_user img {
    margin: -5px 5px 0;
}

.img_user {
    position: absolute;
    top: 15px;
    left: 7px;
}

.img_pending {
    top: 20px;
}

.user_dot {
    height: 17px;
    background-color: #3699FF;
    border-radius: 20px;
    padding: 0px 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    position: absolute;
    top: 11px;
    right: 50px;
}

/* search */

.search_user {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.form_search-user {
    width: 100%;
    position: relative;
}

.clear_input-user {
    width: 30px;
    height: 32px;
    padding: 10px;
    position: absolute;
    right: 45px;
    top: 5px;
    opacity: 0.7;
    cursor: pointer;
    display: none;
}

button.btn_search-user {
    background: var(--white);
    border: none;
    position: absolute;
    top: 3px;
    padding: 9px;
    right: 1px;
    cursor: pointer;
}

.search_user input {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(10, 10, 10, 0.21);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
    padding: 0 80px 0 10px;
    background-image: url(./images/img-box/sitem.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.ul_action {
    display: flex;
    list-style-type: none;
    padding-inline-start: 20px;
}

.ul_action li {
    margin: 4px 0 0 10px;
}

.btn_user {
    width: 100px;
    height: 40px;
    padding: 0;
    background-color: #DAE5F5;
    border-radius: 8px;
    border: none;
    color: #2748A1;
    border: 1px solid #DAE5F5;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
}

.btn_his {
    width: 110px;
    padding: 0 5px;
}

.btn_user:hover {
    opacity: 0.8;
}

.btn_user a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: #2748A1;
}

.btn_user.disable a {
    color: #7D7D7D;
}

.btn_account {
    width: 25px;
    height: 100%;
    background-color: #fff0;
    border-radius: 8px;
    border: none;
    color: #2748A1;
    font-size: 16px;
    font-weight: 600;
}

.btn_account:hover {
    opacity: 0.8;
}

.user-list {
    position: relative;
}

table.table_list {
    width: 100%;
}

.thead_user {
    border: none;
}

.thead_per {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 15px;
}

.tb_per {
    display: block;
    max-height: 425px;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.tb_per::-webkit-scrollbar,
.form_caution-delete tbody::-webkit-scrollbar {
    width: 3px;
}

.tb_per::-webkit-scrollbar-button,
.form_caution-delete tbody::-webkit-scrollbar-button {
    margin-top: 5px;
}

.tb_per::-webkit-scrollbar-thumb,
.form_caution-delete tbody::-webkit-scrollbar-thumb  {
    background: #D9D9D9;
    border-radius: 6px;
}

.tb_per tr,
.form_caution-delete tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

td.td_per_list {
    width: 38%;
}

.thead_user th {
    width: 20%;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #534747;
}

.th_per_list,
td.td_per_list {
    width: 40% !important;
}

.tr_user td {
    width: 20%;
    padding-top: 25px !important;
}

.td_user,
.check_all {
    position: relative;
    width: 21% !important;
}

.check_all span{
    margin-left: 25px;
}

.check_all .select_all {
    display: none;
}

.td_user span {
    display: flex;
    margin-left: 25px;
}

.td_user span a {
    width: 75%;
    color: #3C3C3C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td_over span {
    width: 95px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.td_over span::-webkit-scrollbar {
    display: none;
}

/* pending */

.form_refuse {
    margin-bottom: 30px;
}

.form_refuse p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.82);
}

.input_refuse, .input_refuse1 {
    width: 100%;
    height: 115px;
    padding: 10px;
    border: 1px solid #7D7D7D;
    border-radius: 4px;
}

.input_refuse1 {
    width: 80%;
}

th.text_pending {
    width: 33%;
}

th.date_create {
    width: 16%;
}

th.action_pending {
    width: 10%;
}

.td_pending span,
.td_email-pending span {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td_email-pending span {
    width: 150px;
}

/* giangptd */

.td_role .check_user {
    width: 0 !important;
    position: absolute;
    top: -7px;
    left: 0px;
    z-index: 10;
}

.td_role span {
    position: absolute;
    top: 15px;
    left: 25px;
}

.td_role {
    position: relative;
}

.td_role input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 20px;
    left: 0;
    border: 2px solid #7D7D7D;
    border-radius: 6px;
    background-color: white;
}

.td_role input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 23px;
    left: 7px;
}

.td_per_list span {
    white-space: nowrap;
    overflow-x: scroll;
}

.td_per_list .permission_list {
    width: 95%;
    padding-bottom: 10px;
}

.td_activate {
    position: relative;
}

.td_activate span {
    position: absolute;
    top: 15px;
    left: 2px;
}

.td_action {
    position: relative;
}

.td_action .item_icon {
    position: absolute;
    top: 14px;
    left: 0px;
}

.td_action .item_icon li {
    padding-left: 20px;
}

.td_action .item_icon li:first-child {
    padding-left: 0;
}

.btn_eye {
    width: 25px;
    height: 100%;
    background-color: #fff0;
    border-radius: 8px;
    border: none;
    color: #2748A1;
    font-size: 16px;
    font-weight: 600;
}

.btn_eye:hover {
    opacity: 0.8;
}

.item_icon .btn_eye {
    position: relative;
    margin: 0 0px;
}

.th_per_list {
    width: 45%;
}

.th_action {
    width: 14%;
}

.td_author {
    width: 13%;
}

.phone_number, .date_cre {
    width: 18% !important;
    padding-left: 5px;
}

.cccd {
    width: 18% !important;
}

.user_organ {
    padding-left: 10px;
}

input.check_user,
.check_all-user {
    width: 0 !important;
    position: absolute !important;
    top: -8px;
    z-index: 1;
}

.check_all-user {
    top: 0 !important;
}

.td_user input[type=checkbox]:before,
.check_all-user:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 30px;
  left: 0;
  border: 2px solid #7D7D7D;
  border-radius: 6px;
  background-color: white;
}

.check_all-user:before {
    top: -4px;
}

.td_user input[type=checkbox]:checked:after,
.check_all-user:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 33px;
  left: 7px;
}

.check_all-user:checked:after {
    top: -1px;
}

.item_icon {
    display: flex;
    list-style-type: none;
    margin-left: -5px;
    padding: 0;
}

.item_icon .btn_account {
    position: relative;
    margin: 0 5px;
}

.disable_icon {
    opacity: 0.3;
    pointer-events: none !important;
}

.item_icon img {
    width: 18px;
    height: 18px;
}

.item_icon img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.icon_edit {
    position: absolute;
    top: 2px;
    z-index: 0;
}

.btn_view-user a {
    height: 18px;
    padding: 0 8px;
    position: absolute;
    z-index: 1;
    margin-top: 2px;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
}

.link_edit {
    position: absolute;
    top: 5px;
    z-index: 1;
    width: 15px;
    height: 15px;
}

.empty_admin {
    margin-top: 25px;
    margin-left: 15px;
}

.bg_index .count_pagination {
    left: 0;
    bottom: -65px;
}

.bg_index .pagination-wrapper {
    margin-top: 10px;
}

/* edit contact user */

.form_contact .register_main2 label {
    top: -10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #222222;
    width: auto;
}

.form_contact input#field-email {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form_contact .input_main {
    margin-top: 0;
}

.btn_hd {
    width: 100%;
    display: inline-block;
}

/* pop up */

.reset_user-password {
    width: 70%;
    padding: 20px 50px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: absolute;
    margin-left: 5px;
    display: none;
    z-index: 50;
    text-align: center;
}

.reset_user-password .btn_reset-form-close {
    position: absolute;
    top: 25px;
    right: 35px;
}

.btn_reset-form-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.reset_user-password h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #170F49;
}

.reset_user-password .form_caution-reset {
    color: #6C757D;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
}

.reset_user-password .form-actions {
    width: 35%;
    margin: 0 auto;
}

.btn_reset-p {
    width: 73px;
}

.delete_user-password {
    width: 70%;
    padding: 30px 70px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: absolute;
    margin-left: 5px;
    display: none;
    z-index: 50;
}

.delete_user-password .btn_delete-close {
    position: absolute;
    top: 25px;
    right: 35px;
}

.btn_delete-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.delete_user-password h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #170F49;
    text-align: center;
}

.delete_user-password .form_caution-delete h2,
label#count_user, label#count_user1 {
    font-weight: 400;
    font-size: 14px !important;
    text-align: center;
}

.form_caution-delete tbody {
    display: block;
    max-height: 210px;
    overflow-y: scroll;
    padding-bottom: 15px;
}

thead.thead_history_news,
.tbody_role tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.history_news_list .tr_member .td_times,
.history_news_list .tr_member .td_author {
    width: 26%;
    padding-left: 0;
}

.history_news_list .tr_member .td_contents {
    width: 22%;
    padding-left: 0;
}

.history_news_list .tr_member .td_action {
    width: 15%;
}

.form_caution-delete table.history_news_list {
    width: 100%;
    margin: 0;
}

.tbody_role::-webkit-scrollbar {
    width: 3px;
}

.tbody_role::-webkit-scrollbar-button {
    margin-top: 10px;
  }

.tbody_role::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 6px;
}

.delete_user-password .form-actions {
    width: 45%;
    margin: 0 auto;
}

.import_exel {
    width: 70%;
    padding: 30px 70px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: absolute;
    margin-left: 5px;
    display: none;
    z-index: 50;
}

.import_exel .btn_import-close {
    position: absolute;
    top: 25px;
    right: 35px;
}

.btn_import-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.import_exel h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #170F49;
    text-align: center;
}

.import_exel .form_caution-import h2 {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
}

.example-excel {
    padding-top: 10px;
}

.label-example {
    margin-left: -40px;
}

.download-example {
    font-style: italic;
    padding-left: 10px;
}

.download-example a {
    color: #124DCF;
}

.download-example a:hover {
    color: #122FFF;
}

.drop-zone {
    /* max-width: 200px; */
    margin-top: 15px;
    height: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #00000080;
    border: 1px dashed #2C3A61;
    border-radius: 10px;
}
  
.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.import_exel .form-actions {   
    width: 45%;
    margin: 35px auto 0;
}

.lock_account {
    width: 70%;
    padding: 30px 70px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: absolute;
    margin-left: 5px;
    display: none;
    z-index: 50;
}

.lock_account .btn_lock-account-close {
    position: absolute;
    top: 25px;
    right: 35px;
}

.btn_lock-account-close:hover {
    cursor: pointer;
    opacity: 0.8; 
}

.lock_account h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #170F49;
    text-align: center;
}

.lock_account .form-actions {   
    width: 45%;
    margin: 0 auto;
}

.lock_account .form_caution-lock h2 {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
}

.add_permission-form {
    width: 70%;
    padding: 30px 70px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: absolute;
    margin-left: 45px;
    display: none;
    z-index: 50;
    margin-top: -115px;
}

.form_per-edit {
    height: 600px;
}

.add_permission-form .radio_roles {
    padding-top: 10px;
}

.status {
    padding: 10px 0;
}

.add_permission-form .group_permission .group_check {
    /* padding-top: 10px; */
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 340px;
    overflow-y: auto;
}

.add_permission-form .group_permission .group_check .group {
    padding-left: 20px;
}

.add_permission-form .group_permission .group_check .group .name_per {
    position: relative;
    right: -34%;
    top: -27%;
}

.add_permission-form .group_permission .group_check .list-check {

    display: inline-flex;
}

.add_permission-form .group_permission .group_check .list-check .checkbox1 .check_per {
    font-size: 15px !important;
    font-weight: 100;
    position: relative;
    right: -20px;
    top: -16px;
}

.add_permission-form .group_permission .group_check .list-check .checkbox1 {
    padding-right: 70px;
}

.add_permission-form .group_permission .group_check1 {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
}

.add_permission-form .group_permission .group_check1::-webkit-scrollbar,
.add_permission-form .group_permission .group_check::-webkit-scrollbar {
    width: 3px;
}

.add_permission-form .group_permission .group_check1::-webkit-scrollbar-thumb,
.add_permission-form .group_permission .group_check::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 6px;
}

.add_permission-form .group_permission .group_check1 .group {
    padding-left: 20px;
}

.add_permission-form .group_permission .group_check1 .group .name_per {
    position: relative;
    right: -34%;
    top: -27%;
}

.add_permission-form .group_permission .group_check1 .list-check {

    display: inline-flex;
}

.add_permission-form .group_permission .group_check1 .list-check .checkbox1 .check_per {
    font-size: 15px !important;
    font-weight: 100;
    position: relative;
    right: -20px;
    top: -16px;
}

.add_permission-form .group_permission .group_check1 .list-check .checkbox1 {
    padding-right: 70px;
}

.add_permission-form .btn_close {
    position: absolute;
    top: 25px;
    right: 35px;
}

.btn_close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add_permission-form h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #170F49;
    text-align: center;
}

.add_permission-form .form-actions {
    width: 45%;
    margin: 35px auto 0;
}

.add_user-form {
    width: 600px;
    background-color: var(--white);
    margin: 0 auto;
    padding: 30px 40px 0;
    border-radius: 14px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 8px 64px rgba(0, 0, 0, 0.12);
}

.add_user-form h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #170F49;
    text-align: center;
}

.per_edit {
    padding-bottom: 10px;
}

input#name-user {
    margin-bottom: 20px;
}

.div_user {
    margin-top: 30px;
}

.div_user .form-group.control-select {
    display: flex;
    width: 100%;
}

.div_user .controls,
.div_user .controls .select2-container {
    width: 100%;
}

.div_user label,
.span_role,
.radio-role label {
    min-width: 125px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px !important;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.82);
}

.div_user.user_name .error-block {
    display: none;
}

.radio_roles {
    display: flex;
}

.per_role {
    display: inherit;
}

.radio_roles select {
    width: 100%;
    background: var(--white);
    background-image: url(./images/img-box/d.png);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.group_permission .span_role {
    display: block;
    margin-bottom: 20px;
}

.div_user input,
.div_user input#field-fullname,
.div_user input#field-username,
.div_user input#field-email,
.div_user input#field-number-phone,
.div_user input#field-passport,
.div_user input#field-password,
.div_user .select2-container .select2-choice,
.radio_roles select {
    height: 40px;
    padding-left: 10px;
    border: 1px solid #7D7D7D;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.add_user-form .form-actions {
    margin-top: 20px;
    padding-bottom: 30px;
}

/* trash */

.accordion-item {
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding-left: 0;
}

.accordion-item:hover {
    opacity: 0.6;
    background: transparent;
}


/* package */

.create_history {
    position: relative;
}

.activity .item.changed-user .icon {
    background-color: var(--white);
    color: #000;
    top: -5px;
    -webkit-box-shadow: none;
}

.activity .img_package {
    position: absolute;
    top: 0;
    left: 8px;
    width: 20px;
    height: 20px;
}

.activity .img_cre {
    left: 5px;
}

.create_history p {
    margin-left: 40px;
}

.create_history .date_his {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #446DBB;
    margin-left: 40px;
}

.activity .item p,
.create_history,
.activity .item p label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0 0 0 40px;
}

li.item p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content_organ {
    width: 100%;
    /* display: flex; */
}

.content_organ .actor {
    /* margin-right: 5px; */
}

.activity .item p label {
    margin-left: 0;
    display: none;
}

.activity .item p span.actor a,
.create_history a {
    color: #000;
    font-weight: 700;
}

.activity .item p a,
.create_history .name_his {
    color: #35D29A;
}

.form_activity .changed-package:nth-last-child(2),
.form_activity .changed-package:nth-last-child(3),
.actor .user-image  {
    display: none;
}

.view_detail {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2C3A61 !important;
}

.view_detail:visited {
    color: #8c2ce0 !important;
}

.activity .item .date {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #446DBB;
    margin-left: 40px;
}

/* view detail */

.bg_changes {
    min-height: 400px;
    border-radius: 14px !important;
}

.bg_changes h1.page-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    color: #170F49;
}

.bg_changes .select-time {
    width: 240px;
    height: 30px;
    padding: 4px;
    margin: 0 5px;
    cursor: pointer;
    background-image: url(./images/img-box/select.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px;
}

.bg_changes strong .user-image {
    border-radius: 50%;
}

.bg_changes ul {
    margin-top: 20px;
    padding-inline-start: 15px;

}

.bg_changes ul li {
    margin-bottom: 10px;
}

.bg_changes ul li p {
    text-align: justify;
}

.bg_changes .btn_metadata {
    /* margin-top: 15px;
    border-radius: 4px;
    border: 1px solid #666; */
    display: none;
}

.bg_changes colgroup {
    display: none;
}

.bg_changes table {
    width: 100%;
}

/* giangptd1703 */

.title_per {
    margin-bottom: 75px;
}

.title_per span {
    position: relative;
}

.title_per input {
    width: 55%;
    height: 40px;
    float: left;
    border: 1px solid rgba(10, 10, 10, 0.35);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
    padding-left: 10px;
    background-image: url(./images/img-box/sitem.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.coquan {
    width: 40%;
    float: right;
    /* top: -10px; */
}

.coquan .select2-container .select2-choice {
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A0A0A;
    background-image: url(./images/img-box/sitem.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.tbody_role {
    counter-reset: rowNumber;
}

.tbody_role tr {
    counter-increment: rowNumber;
    /* display: none; */
}

.tbody_role tr td:first-child::before {
    content: counter(rowNumber);
}

.tbody_role tr td {
    padding-left: 5px;
    width: 25% !important;
}

.tbody_role .td_stt {
    width: 10% !important;
}

.tbody_role .td_contents {
    width: 20% !important;
}

.tbody_role .td_action {
    width: 15% !important;
}

.tbody_role .td_action .pull-left a:first-child {
    margin-right: 15px;
    padding-left: 5px;
}