/* datasets */

.wrapper {
  min-height: 350px;
  margin-top: 15px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 15px;
  /* box-shadow: 0px 4px 32px rgb(0 0 0 / 13%); */
  background: transparent;
}

.module-resource {
  border-radius: 14px 14px 0 0;
  border-bottom: none;
}

.page_module {
  background: var(--white);
  border-radius: 14px 14px 0 0;
  box-shadow: 9px 9px 35px rgba(0, 0, 0, 0.09);
  margin-right: -15px;
}

.pri_pb {
  padding-bottom: 50px;
}

div#facet_height {
  background: var(--white);
  border-radius: 14px 14px 0 0;
}

.page_module .module-content {
  position: relative;
  padding: 15px 0;
}

.page_module-data,
.bg_add-gr {
  background: var(--white);
  margin: -15px;
  padding-bottom: 10px;
}

.bg_add-gr {
  padding-bottom: 0;
}

.page_module-data .resource-list {
  margin: 0 -15px;
}

.page_module-data .resource-list::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 6px;
}
  
.main_datasets {
  background-color: var(--white);
  margin: 0 -30px;
}

.page_module .main_datasets {
  margin: 0;
  padding-bottom: 15px;
}

p.extra {
  height: 485px;
  text-align: center;
  margin-top: 40px;
}

.page_module p.extra {
  margin-left: 15px;
}

.item_search {
  margin: 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group-btn {
  width: 0;
}

.main_datasets h1 {
  width: 50%;
  max-width: 50%;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #1F316B;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#h1_empty, #h1_name {
  display: none;
}

.primary_organ .item_search {
  margin: 0;
}

h2.module-heading {
  background-color: #2C78E6;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  height: 60px;
  padding-top: 17px;
}

.page_pri .module:first-child .module-heading {
  border-radius: 14px 14px 0 0;
}

.page_pri p.module-footer {
  text-align: center;
  margin-bottom: 10px;
}

p.module-content.empty {
  background-color: #FFFFFF;
}

.main_datasets .input-group.search-input-group {
  width: 50%;
  margin-bottom: 0;
}

.clear_input-item {
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 3px;
  z-index: 5;
  display: none;
}

.clear_input-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

input#field-giant-search, #search_input {
  height: 44px;
  width: 100%;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 100px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.41);
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.15));
}

.btn_search-dataset {
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 5;
}

.form-select_filter {
  margin: 0 0 15px !important;
  float: right;
  width: 100%;
  padding: 0 15px;
}

.bg_select-filter {
  float: right;
}

.filter {
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #4B4F56;
  margin: 10px !important;
}

.select_filter {
  background: #F5F6F7;
  border: 1px solid #CDD0D5;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #4B4F56;
}

.search-form .filter-list {
  margin: 30px 15px;
}

.search-form .filter-list .btn_tags {
  border-radius: 10px;
  border: 1px solid #1672EC;
  padding: 3px 8px;
  margin-right: 15px;
}

.search-form .filter-list .btn_tags .pill {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  background-color: var(--white);
  color: #0A3977;
  padding: 1px 5px;
}

.btn_tags a {
  color: #2C3A61;
}

.add_datasets a {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #2563EB;
  border-radius: 7px;
  font-weight: 400;
  font-size: 18px;
  color: #2563EB;
  padding: 12px 30px;
  margin-bottom: 10px;
}

.add_datasets a:hover {
  border: 2px solid #2563EB;
}

.list_organ-gr {
  background: var(--white);
  margin: -45px -30px;
  padding-bottom: 15px;
}

.page_module .list_organ-gr {
  margin: -35px 0 0 0;
  padding: 0;
}

#datasets_box {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.datasets_item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.13);
}

.dataset-content {
  flex: 1;
}

span.datasets_list {
  margin-right: 15px;
}

.datasets_list img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.datasets_desc {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.label.lock {
  position: unset;
  background: #FF4545;
  color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-right: 5px;
}

.lock img {
  margin: -2px 2px 0 0;
}

.datasets_desc a {
  flex: 1;
  font-size: 15px;
  font-weight: 600;
  color: #09051C;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.datasets_span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.datasets_span .text,
.datasets_span span,
.datasets_span p {
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.datasets_span .text {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.dataset-resources {
  margin-top: 5px;
}

.label[data-format] {
  padding: 4px 6px;
  font-size: 11px;
}

.label[data-format=json], .label[data-format*=json] {
  background-color: #0B5399;
}

.label[data-format=xml], .label[data-format*=xml] {
  background-color: #34A853;
}

.label[data-format=pdf], .label[data-format*=pdf] {
  background-color: #D63B00;
}

.label[data-format=txt], .label[data-format*=txt] {
  background-color: #d600c4;
}

.label[data-format=doc], .label[data-format*=doc] {
  background-color: #7879F1;
}

.label[data-format=docx], .label[data-format*=docx] {
  background-color: #2D2FF0;
}

.label[data-format=jpeg], .label[data-format*=jpeg] {
  background-color: #ffa200;
}

.label[data-format=png], .label[data-format*=png] {
  background-color: #ff7700;
}

.nav_form {
  padding-right: 12px;
  margin-top: 10px;
  max-height: 525px;
  overflow: hidden;
}

.nav > li.nav_item {
  width: 100%;
  height: 46px;
  background: #E9EBED;
  border-radius: 10px;
  margin: 6px;
  padding: 10px 5px !important;
}

.nav_item a.nav_item-link {
  margin: 0;
  padding: 0 !important;
  border-radius: 10px;
  align-items: center;
  margin-top: -9px;
  display: flex;
}

.module-footer {
  padding: 0;
  margin: 0;
  border: none;
}

.nav_text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 25px 0 10px;
  padding: 11px 0px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
  flex: 1;
}

.nav_dot {
  margin-right: 10px;
  background-color: #3699FF;
  border-radius: 20px;
  padding: 2px 7px;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.nav-item.active > a {
  background: transparent;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.nav-item.active > a:hover {
  background: transparent;
  opacity: 0.8;
}

.nav-facet .nav-item > a:hover:after,
.nav-facet .nav-item.active > a:after {
  display: none;
}

.nav-item.active > a:before {
  content: none;
}

.box_infor-data .nav-item.active > a {
  background: #3699FF;
}

/* infor datasets */

.page-header .nav-tabs {
  float: left;
  margin-top: -10px;
  margin-left: -15px;
}

.page-header,
.nav-tabs,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  border: none;
}

.page-header {
  background: transparent;
}

.nav-tabs > li > a,
.nav_data > li > a  {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0A0A0A;
  opacity: 0.5;
  margin: 0;
}

.nav-tabs > li > a:hover,
.nav_data > li > a:hover {
  opacity: 1;
  border: none;
}

.nav-tabs li:first-child a {
  margin-left: -15px;
}

.nav-tabs > li.active {
  margin: 11px 15px;
}

.nav-tabs > li.active:first-child {
 margin-left: 0;
}

.nav-tabs li.active:first-child a {
  margin-left: 0;
}

.page-header .nav-tabs li.active a,
.nav_data li.active a {
  color: #1B1C1D;
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 3px solid #2185D0;
  padding: 0;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

.nav_data {
  display: flex;
  margin-top: 65px;
  margin-left: 15px;
}

.nav_data-view {
  margin-left: 30px;
}

.nav_edit-data {
  margin-top: 20px;
  margin-left: 30px;
}

.nav_edit-data .active:first-child {
  margin-left: -15px;
}

.nav_data li.active {
  margin-left: 0;
}

.nav_data > li > a {
  margin: 0 15px;
}

.header_pri {
  padding-right: 15px;
  margin-bottom: 0;
}

.action_org {
  display: flex;
  flex-direction: row-reverse;
}

.header_pri .action_org .content_action {
  margin-left: 10px;
}

.new-datasets a,
.btn_manager a,
.add_member a {
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #3699FF;
  padding: 10px;
}
  
.btn_manager a:hover {
  background-color: #ADCAF5;
}

.btn_data a {
  margin-right: -15px;
}

.page-header .content_action {
  margin-top: 0;
}

.heading_item {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #2C3A61;
  text-align: justify;
}

.heading_item .lock {
  position: relative;
  top: -5px;
}

.notes.embedded-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.dl_all {
  display: flex;
  justify-content: space-between;
}

.heading_resources {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 30px
}

.btn_dl-all {
  display: block;
  margin-top: 25px;
}

li.resource-item {
  min-height: 50px;
  display: flex;
  margin-bottom: 10px;
}

.all_text {
  flex: 1;
}

.resource-item .heading {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #09051C;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resource-item .description {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  margin-top: 5px;
  text-align: justify;
  min-height: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.module > .page_content {
  background: var(--white);
  margin-top: 0;
  border-radius: 14px 14px 0 0;
}

.resource-item .btn-group {
  position: unset;
  margin: 0 5px 0 25px;
}

.resource-item .format-label {
  left: 15px;
}

.btn_explore a,
.btn_data a,
.btn_add-group {
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #3699FF;
  padding: 6px 12px
}

.btn_explore a {
  background: transparent;
  border: none;
  padding: 6px 0;
}

.btn_data a:hover {
  background-color: #ADCAF5;
  color: #3699FF;
  border-color: #3699FF;
}

.btn_add-group {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.bg_add-gr .empty {
  margin-top: 15px;
}

.open > .dropdown-toggle.btn-primary {
  background-color: #ccc !important;
  color: #000000 !important;
}

.dataset-label {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #3C3C3C;
}

.dataset-details {
  padding-top: 5px !important;
}

/* edit dataset */

.heading_edit-data {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
  position: absolute;
  left: 30px;
}

.heading-item {
  height: 20px;
}

.resources_data {
  margin-top: 10px;
  display: block;
}

.img-back {
  position: absolute;
  top: 20px;
  right: 30px;
}

.form_edit .heading_add-data {
  display: none;
}

.edit_name {
  margin-bottom: -15px;
}

.form_edit .controls,
.create_item .controls,
.create_datasets .controls,
.update_account .controls,
.change_pass .controls {
  width: 100%;
}

.edit_name input {
  width: 100% !important;
}

.edit_format input {
  width: 100%;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  padding: 6px 12px;
}

.edit_format .select2-container .select2-choice {
  width: 100%;
}

.btn_save {
  height: 35px;
  padding: 8px 10px;
  background: #2747A0;
  border-radius: 6px;
  line-height: 19px;
}

.disable {
  color: rgba(39, 71, 160, 0.33) !important;
  border: 1px solid rgba(39, 71, 160, 0.14) !important;
  background-color: rgba(39, 71, 160, 0.14) !important;
  pointer-events: none !important;
}

/* member */

.action_item,
.member_item,
.infor_item {
  background: var(--white);
  margin: -35px -30px -30px;
}

.member_item {
  padding: 0 15px;
}

.infor_item {
  padding: 30px 15px;
  margin-top: -15px;
}

.search_members {
  width: 65%;
  padding: 20px 30px 20px 15px;
  position: relative;
  float: left;
}

.clear_input-member {
  width: 30px;
  height: 32px;
  padding: 10px;
  position: absolute;
  right: 70px;
  top: 25px;
  opacity: 0.7;
  cursor: pointer;
  display: none;
}

.search_item {
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(10, 10, 10, 0.36);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(10, 10, 10, 0.51);
  padding-left: 10px;
  background-image: url(./images/img-box/sitem.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

table {
  width: 80%;
}

thead {
  border-bottom: 1px solid #ccc;
}

.table-header thead th {
  background: var(--white);
}

.member_item tbody {
  display: block;
  max-height: 480px;
  overflow-y: scroll;
  padding-bottom: 15px;
}

.member_item tbody::-webkit-scrollbar {
  width: 3px;
}

.member_item tbody::-webkit-scrollbar-button {
  margin-top: 10px;
}

.member_item tbody::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 6px;
}

.member_item thead,
.member_item tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table, th, td {
  border: none !important;
}

.table > thead:first-child > tr:first-child > th:last-child,
.member_item tbody tr td:last-child {
  width: 103px;
}

th {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3C3C3C;
}

td {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #3C3C3C;
  padding-top: 15px !important;
}

.member_item img.user-image {
  border-radius: 50%;
}

a.edit_member {
  margin: 0 15px 0 10px;
}

.pull-left a:hover {
  opacity: 0.8;
}

.table-bordered {
  margin: 30px 0;
}

.page_module-data .table-bordered {
  width: 75%;
  margin: 30px auto;
}

.page_module-data .dataset-details {
  padding-top: 10px !important;
}

.heading_th {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3C3C3C;
}

.table-bordered > tbody > tr > th {
  padding: 10px;
}

.tbody_data tr {
  border-bottom: 1px solid rgba(60, 60, 60, 0.28);
}

/* add member */

.add_member {
  width: 25%;
  float: right;
  margin: 20px 15px;
}

.add_member a {
  float: right;
}

.form_add {
  background-color: var(--white);
  margin-top: -20px;
  position: relative;
  z-index: 1;
}

.btn_arrow-left {
  cursor: pointer;
}

.form_add .input-acc,
.form_add .control-select,
.form_add .form-group.control-medium,
.form_add .control_edit {
  display: flex;
}

.form_add .controls,
.form_add .select2-container {
  width: 100% !important;
}

.form_add .form-group select {
  height: 40px !important;
  background-image: url(./images/img-box/select2.png) !important;
  background-repeat: no-repeat;
  background-position: right 12px bottom 14px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
}

.form_add label {
  min-width: 175px;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 22px;
  color: #5E6366;
  margin-top: 9px;
}

.form_add input#email,
.form_add .form-control[disabled],
.form_add .select2-choice {
  height: 40px;
  background-color: #fff !important;
}

.form_add-member {
  float: inherit !important;
  margin: 0 auto !important;
}

.bg_add-member {
  padding-top: 60px;
}

.form_add h1.page-heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #2C3A61;
  text-transform: none;
  position: absolute;
}

.body_add-member {
  margin-top: 40px;
}

.body_add-member .control_edit input {
  padding-left: 8px;
}

.form_add .form_role {
  margin-top: 20px;
}

.form_add .actions_item {
  margin-top: 65px;
}

/* list-resource */

.pri_action,
.pri_content {
  background: var(--white);
  border-radius: 14px;
}

.pri_content.bg_resource-view {
  margin-top: 20px;
}

.pri_content h1 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #2747A0;
  background: var(--white);
}

.pri_content p {
  margin-bottom: 20px;
  margin-top: 30px;
}

.pri_content .description {
  margin-top: 0;
}

.pri_content .resource-list {
  margin: 0;
}

.pri_content .resource-list li {
  border-top: 1px solid #ddd;
  /* margin-bottom: 0; */
}

.pri_content .save {
  height: 35px;
  padding: 8px 10px;
  background: #2747A0;
  color: #fff;
  border: 1px solid #6C757D;
  border-radius: 6px;
  line-height: 19px;
}

.pri_content .save:hover {
  background: #ADCAF5;
  color: #2563EB;
  outline: none;
  outline-offset: 0;
  border: 1px solid #2563EB;
}

.pri_content .form-actions {
  margin-top: 30px;
}

.pri_action a,
.btn_reorder,
.btn_reorder-view,
.bg_action .dropdown.btn-group a {
  background: #FFFFFF;
  padding: 10px;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #3699FF;
}

.pri_action a:hover,
.btn_reorder:hover,
.btn_reorder-view:hover,
.bg_action .dropdown.btn-group a:hover {
  background: #ADCAF5;
  color: #2563EB;
  outline: none;
  outline-offset: 0;
  border: 1px solid #2563EB;
}

.btn_reorder {
  margin-top: -65px;
  margin-left: 105px;
}

.btn_reorder-view {
  margin-bottom: 15px;
}

/* edit data */

.bg_action {
  background: var(--white);
  position: relative;
}

.bg_resource-view h1 {
  margin-top: -35px;
}

.bg_resource-view .resource-view-list.reordering {
  margin: 0;
  margin-left: 30px;
}

.reorder_view {
  top: -10px;
  left: -135px;
}

.bg_action .dropdown.btn-group {
  position: absolute;
  top: -60px;
  right: 115px;
}

.bg_action .btn-group ul {
  margin-top: 10px;
}

.bg_action .btn-group ul li {
  padding: 5px 5px 10px 5px;
  margin-bottom: -5px;
}

.filter_resource .form-group.control-filters.control-select {
  display: flex;
}

.filter_resource .resource-view-add-filter {
  padding: 9px 10px;
  margin-top: -10px;
}

.filter_resource select#filter_fields {
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  padding: 0 10px;
}

/* pagination */

.count_pagination {
  position: absolute;
  left: 15px;
  bottom: -48px;
  color: #000;
}

.pagination-wrapper {
  margin: -15px 0 -30px;
  border: none;
  display: inline-block;
  width: 100%;
}

.page_module {
  /* margin-bottom: -50px; */
}

.pagination {
  float: right;
}

.pagination li a {
  background: transparent;
  font-weight: 800;
  margin: 0 5px;
}

.pagination li.active a {
  background: transparent;
  color: #185BC3;
  border: 1px solid #185BC3;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination li.active a:hover {
  border: 1px solid #185BC3;
}

.pagination li.active a:last-child {
  margin: 0 15px 0 10px;
}