/* Trang */

/* Tin tuc */

.container-slideShow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  /* width: 1080px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; */
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 1080px;
  margin: 0 auto;
}

.slides {
  /* display: flex;
  overflow-x: auto;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory; */
  display: flex;
  width: 100%;
  animation: slideShows 15s infinite ;
}

.slideShow a {
  float: left;
  height: 400px;
  width: 1080px;
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
}

@keyframes slideShows {
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  90% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

.slider .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

h2.first_text {
  position: absolute;
  width: 674px;
  height: 56px;
  left: 15px;
  bottom: 125px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

p.second_text {
  position: absolute;
  width: 498.58px;
  height: 46px;
  left: 15px;
  bottom: 75px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.6%;
  color: #FFFFFF;
}

.third_text {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 20%;
  left: 15px;
  bottom: 15px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  padding: -20px;
  margin-left: 5px;
}

.slided {
  position: absolute;
  left: 45%;
  bottom: 8px;
}

.slided > a  {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 15px 2px 2px 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slided > a:active {
  top: 1px;
  background: #FF4545;

}
.slided > a:focus {
  background: #FF4545;
}

.list_tag-page {
  margin-top: 20px;
}

.bg-white.border {
  margin-top: 25px;
}

h4.text_news {
  width: 200px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #2C3A61;
}

.list_tag-page h4,
.text_news {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #2C3A61;
}

.list_tag-page h4 {
  width: 72%;
  padding-bottom: 11px;
  border-bottom: 1px solid #393939;
}

.list-field {
  position: relative;
  width: 279px;
  height: 35px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.list-field a.fielded {
  white-space: nowrap;
  overflow: hidden;
  width: 73%;
  text-overflow: ellipsis;
}

.field {
  position: absolute;
  width: 80px;
  height: 16px;
  left: 40px;
  top: 53.5%;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 111.1%;
  color: #393939;
}
.list-field > span {
  line-height: 25px;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  background: #F65050;
  text-align: center;
  color: white;
}
.fielded {
  position: absolute;
  left: 27px;
  top: 4px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 111.1%;
  color: #393939;
}
.post_list {
  /* display: grid; */
  grid-column-gap: 30px;
  min-height: 430px;
}
.post_list .g-grid-col {
  display: flex;
  width: 381px;
  height: 100px;
}

.listpages {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 450px;
}

.listpage {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 280px;
}

.listpages::-webkit-scrollbar {
  width: 3px;
}

.listpages::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 6px;
}

.listpage::-webkit-scrollbar {
  width: 3px;
}

.listpage::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 6px;
}

/* trangdtth2802 */
 .image_pages a {
  margin-top: 15px;
  width: 22% !important;
  float: left;
  height: 68px;
  object-fit: cover;
  background: round;
}

.grid-col .content_item {
  display: none;
}

.grid-col > h5 {
    margin: 30px 20px 10px 0px;
    width: 241px;
    height: 9px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100.9%;
    color: rgba(57, 57, 57, 0.6);
}
.grid-col > p {
  margin-right: 35px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
}
/* .post {
  margin-left: -15px;
} */
.content_item {
  margin-left: -15px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: rgba(57, 57, 57, 0.6);
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  /* height: 75px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content_qa_item{
  /* margin-left: -15px; */
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: rgba(57, 57, 57, 0.6);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  /* height: 75px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.dataset-heading > a:hover {
  color: #09f;
}

/* trangdtth2802 */
.date_page{
  position: relative;
  left: 15vh;
  top: 5px;
  font-family: inherit;
  font-style: normal;
  font-size: 10px;
  width: auto;
  height: auto;
  display: block;
  color: #3699FF;
}

small.date {
  margin-top: 15px;
  margin-left: -15px;
  font-family: inherit;
  font-style: normal;
  font-size: 10px;
  color: rgba(57, 57, 57, 0.6) ;
  width: auto;
  height: auto;
  display: block;
}
small.date_qa {
  margin-top: 15px;
  /* margin-left: -15px; */
  font-family: inherit;
  font-style: normal;
  font-size: 10px;
  color: rgba(57, 57, 57, 0.6) ;
  width: auto;
  height: auto;
  display: block;
}

.section-button > button{
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 9px;
  gap: 10px;
  width: auto;
  height: 20px;
  line-height: 12px;
  background: #FFE2E5;
  border-radius: 8px;
  border: none;
  color: #F64E60;
}
.section-button{
  margin-left: 180px;
  margin-top: 22px;
}
.section_page {
  display: inline-flex;
  padding-top: 10px;
  border-bottom: 1px solid #393939;
  margin-bottom: 20px;
}

.image_pages {
  width: 100%;
  display: inline-block;
}

/* trangdtth2802 */
.pages-list-item .image_pages .dataset-heading {
  width: 75%;
  float: right;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 35px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* quanlhb sửa thanh search */

.search_members.search_pages {
  width: 100%;
  padding: 0;
}

.search_members.search_pages .search_item {
  position: absolute;
  width: 80%;
}

/* .searchlistpages {
  position: absolute;
  top: 0px;
  left: 0px;
}
.search_listpages{
  position: absolute;
  left: 30px;
  right: 0px;
  top: 30px;
  background: #FFFFFF;
  border: 1px solid #D5DBE2;
  border-radius: 4px;
  width: 869px;
  height: 44px;
} */
/* .searchlistpages > i {
  position: relative;
  left: 93vh;
  top: 45px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
} */
/* .pull-right > a {
  margin: 0 10px 0 2px;
} */

.btn_add-page a:last-child {
  margin-left: 10px;
}

.list-child-field {
  margin: 5px 1px;
  width: auto;
  height: auto;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #414141;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid #C0C0C0;
}

.bg-white.border.border-top-0.p-3 {
  width: 80%;
}
/* 21/02 */

/* quanlhb 22/02 */

iframe {
  width: 100%;
}

/* trang 21/02 */

.container_list-one {
  position: relative;
}

.list_heading {
  position: relative;
  z-index: 10;
  top: 30px;
}

/* .bg_white {
  background: var(--white);
  position: absolute;
  height: 65px;
  width: 102%;
  top: 0px;
  left: -11px;
} */

/* .list_box {
  padding: 20px 0;
  margin-top: -85px;
} */

.pagelist_inhome {
  background: var(--white);
  height: 590px;
  max-height: 590px;
  margin: 35px -27px 50px -20px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 25%);
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.pagelist_inhome .empty {
  margin-top: 50px;
  padding: 30px;
  display: none;
}

.listpage_inhome {
  overflow: hidden;
  height: 515px;
  padding: 10px;
}
.listpage_inhome::-webkit-scrollbar {
  width: 3px;
  margin-left: 5px;
}

.listpage_inhome::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 6px;
}
.gridcol_inhome .content_item {
  display: none;
}

.gridcol_inhome > h5 {
    margin: 30px 20px 10px 0px;
    width: 241px;
    height: 9px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100.9%;
    color: rgba(57, 57, 57, 0.6);
}
.gridcol_inhome > p {
  margin-right: 35px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
}

.row_inhome .col-lg-8 {
  padding: 0 !important;
}
.row_inhome .col-lg-6 {
  padding: 0 !important;
}
.container_pages {
  padding: 0 !important;
}


/*22-02*/

.manager_list {
  padding: 0;
  z-index: 1;
  padding-right: 1px;
  border-radius: 14px 14px 0 0;
  box-shadow: 9px 9px 35px rgb(0 0 0 / 9%);
  background: var(--white);
}

.list_blog {
  border-radius: 14px 14px 0 0;
  box-shadow: 9px 9px 35px rgb(0 0 0 / 9%);
  background: var(--white);
}

/*23-02*/
.sidebar_news {
  background: var(--white);
  width: 85%;
  height: 765px;
  margin-top: -86px;
}

.blog_manager {
  margin-left: -45px;
  margin-right: -30px;
}

.form_news {
  background-color: var(--white);
  padding: 15px 20px;
  /* padding-bottom: 49%; */
  margin-right: -15px;
  position: relative;
}

.list-new {
  padding-left: 0;
}
.list-admin {
  padding-left: 0;
}

.list-new a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2C3A61 ;
  padding: 9px 0 0 18px;
  display: inline-block;
  width: 100%;
  height: 40px;
}

.list-new li {
  list-style-type: none;
  margin: 15px 0;
  min-width: 100%;
}

.list-new li:hover {
  cursor: pointer;
  opacity: 0.8;
}

.a_infor {
  padding-right: 80px !important;
}

.span_config li.active,
.list-new li:active {
  border-left: 3px solid #2185D0;
  background: #bd95f524;
}
.list_news {
  background: rgba(12, 34, 51, 0.09);
  margin-left: 20px;
  margin-right: 20px;
}

.a_news {
  padding-right: 0 !important;
}

.a_new {
  background: #0090AD;
  color: #fff !important;
}

.title_news {
  margin-left: 26%;
  margin-top: -60px !important;
}

.img_back_news {
  margin-top: 30px;
  margin-left: 30px;

}

.search_news {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: -52px;
}

.search_news input {
  width: 35%;
  height: 40px;
  border: 1px solid rgba(10, 10, 10, 0.21);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0A0A0A;
  padding-left: 10px;
  margin-right: -15px;
  margin-top: 2px;
  background-image: url(./images/img-box/sitem.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.btn_news {
  width: auto;
  height: 35px;
  background-color: var(--white);
  border-radius: 8px;
  border: none;
  color: #7E8299;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.heading_news {
  margin-top: 35px;
}

.btn_delete {
  position: absolute;
  height: 35px;
  top: 2px;
  right: 100px;
  background: #DBDBDB;
  border-radius: 6px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #7D7D7D;
  border: none;
}

.btn_add-news {
  position: absolute;
  height: 35px;
  width: auto;
  top: 2px;
  right: -15px;
  background: #FFFFFF;
  border: 1px solid #2C3A61;
  border-radius: 6px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #2C3A61;
  display: flex;
  align-items: center;
  padding: 5px;
}


.thead_news {
  border: none;
  background: #0090AD;
  height: 60px;
}

.thead_news th {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #fff ;
  padding-top: 20px;
}

.checkbox_news{
  width: 35px;
}

input.check_news {
  position: relative !important;
  top: -10px !important;
  left: 10px !important;
  z-index: 10 !important;
}

.td_news input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: -1px;
  left: -2px;
  border: 2px solid #7D7D7D;
  border-radius: 6px;
  background-color: white;
  background-color: white;
}

.td_news input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 4px;
}

.td_news {
  width: 5%;
}

/* trangdtth0803 */
.td_title {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  -webkit-line-clamp: 2;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.td_author {
  width: 17%;
}

.td_times {
  width: 20%;
}

.td_field {
  width: 11%;
}

.td_actions {
  width: 14%;
}

table.news_list {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -15px;
}

.td_field button {
  align-items: flex-start;
  padding: 0px 10px;
  width: auto;
  height: 23px;;
  background: #FFE2E5;
  border-radius: 8px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #F64E60;
  flex: none;
  border: none;
}

.footer_news > p {
  width: 130px;
  height: 19px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  /* margin-right: 62%; */
  margin-left: 26.5%;
}


/* trangdtth2702 */

.gridcol_inhome {
  border-bottom: 1px dotted rgb(0 0 0 / 35%);
  padding-bottom: 10px;
}

/* trangdtth2802 */

/* .image_page_news a {
  margin-top: 15px;
  width: 22% !important;
  height: 67.46px;
  display: inline-grid;
  object-fit: cover;
  background: round;
}

.image_page_news .dataset-heading a {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #393939;
  height: 35px !important;
  width: 100% !important;
  left: 2vh;
  top: -15px;
  text-align: justify;
  padding-top: 13px;
  padding-right: 20px;
  line-height: 20px;
}

.image_page_news {
  display: flex;
  width: 100%;
}

.pages-list-item .image_page_news .dataset-heading {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 75px;
  -webkit-box-orient: vertical;
}

.image_page_news p {
  display: none;
}

.image_page_news .date_pages {
  position: relative;
  left: 14vh;
  top: -12px;
  font-family: inherit;
  font-style: normal;
  font-size: 12px;
  width: auto;
  height: auto;
  display: block;
  color: #3699FF;
} */

.listpages .grid-col .page-list-item {
    display: flex;
    /* width: 100%; */
}

.listpages .grid-col .page-list-item .image {
  margin-top: 15px;
  width: 30% !important;
  height: 68px;
  display: inline-grid;
}


.listpages .grid-col .page-list-item h3 a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 38px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
  top: 35px;
  position: absolute;
  font-weight: 400;
  left: 5px;
  padding-right: 15px;
}

.listpages .grid-col .page-list-item .date{
  position: absolute;
  left: 3.75vh;
  top: 2px;
  font-family: inherit;
  font-style: normal;
  font-size: 10px;
  width: auto;
  height: auto;
  display: block;
}

.listpage .grid-col .page-list-item {
  display: flex;
  width: 100%;
}

.listpage .grid-col .page-list-item .image {
  margin-top: 15px;
  width: 30% !important;
  height: 67.46px;
  display: inline-grid;
}

.listpage .grid-col .page-list-item h3 a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 38px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  color: #000000;
  top: 35px;
  position: absolute;
  font-weight: 400;
  left: 5px;
  padding-right: 15px;
}

.listpage .grid-col .page-list-item .date{
  position: absolute;
  left: 3.75vh;
  top: 2px;
  font-family: inherit;
  font-style: normal;
  font-size: 10px;
  width: auto;
  height: auto;
  display: block;
}

h3.dataset-heading {
  position: relative;
}

.image_pages .dataset-heading a {
  /* position: relative; */
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #393939;
  width: 100% !important;
  /* left: 2vh;
  top: -5px; */
  text-align: justify;
  /* padding-top: 5px;
  padding-right: 20px; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 2;
  height: 45px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.detail_news {
  display: flex;
  width: 75%;
  float: right;
  margin-top: -30px;
}

.detail_news .btn_field_news {
  padding: 2px 9px;
  height: 18px;
  text-align: center;
  /* position: relative;
  width: auto;
  left: 15px;
  top: 3px; */
  background: #FFE2E5;
  border-radius: 8px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: table;
  color: #F64E60;
}

.detail_news .a_field_news {
  /* position: relative;
  left: 30vh;
  top: -24px; */
  flex: 2;
  font-family: inherit;
  font-style: normal;
  font-size: 12px;
  width: auto;
  height: auto;
  display: block;
  color: #3699FF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* width: 34%; */
}

.detail_news .date_pages {
  /* position: relative;
  left: 14vh;
  top: -12px; */
  flex: 1.5;
  margin-left: 30px;
  font-family: inherit;
  font-style: normal;
  font-size: 12px;
  width: auto;
  height: auto;
  display: block;
  color: #3699FF;
  /* width: 34%; */
}

/* .image_page_news .btn_field_news {
  padding: 2px 9px;
  position: relative;
  width: auto;
  height: 18px;
  left: 15px;
  top: 3px;
  background: #FFE2E5;
  border-radius: 8px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: table;
  color: #F64E60;
}

.image_page_news .a_field_news {
  position: relative;
  left: 30vh;
  top: -24px;
  font-family: inherit;
  font-style: normal;
  font-size: 12px;
  width: auto;
  height: auto;
  display: block;
  color: #3699FF;
} */


.grid-col {
  position: relative;
  display: block;
  height: 88px;
}

.post_list .post h3 a {
  position: relative;
  width: 383.58px;
  height: 54px;
  left: -15px;
  top: 6px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #393939;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.page-list-item .empty {
  display: none;
}

.img_pages {
  width: 100% !important;
  height: 400px;
  display: grid;
}

/* trangdtth0203 */

.img_pages > a {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* trangdtth0703 */

input#field-authorblog {
  width: 390px !important ;
}

.btn-blog {
  height: 40px;
  background: #DAE5F5;
  border-radius: 6px;
  color: #2748A1;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border: none;
  margin-right: 15px;
}

a.btn_addurl,
a.btn_addnews {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #1B1C1D;
  opacity: 0.8;
  margin-right: 25px;
}

.btn_addnews-blog,
.btn_addurl-blog {
  color: #1B1C1D;
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 3px solid #2185D0;
  padding-bottom: 5px;
  margin-right: 25px;
}

form.blog.dataset-form.pages-form {
  margin-top: 25px;
}

/* pagination */
.page-container {
  display: flex;
  float: right;
}
.page-container i {
  padding: 6px 12px;
  cursor: pointer;
  /* font-size: 17px; */
  color: var(--color-dark);
  pointer-events: none;
  font-style: unset;
  color: #3699FF80;
}
.page-container button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* .page-container button:disabled i {
  color: #aaadc7;
} */

#pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#pagination li {
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 3px;
}
#pagination li.active {
  background-color: #39f;
}
#pagination li.active a {
  color: #fff;
}
#pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  pointer-events: none;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
#pagination li:hover {
  background-color: #39f;
}
#pagination li:hover a {
  color: #fff;
}

/* trangdtth0803 */

/* form delete tintuc */
.delete_news-blog {
  width: 45%;
  padding: 30px 30px;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), 0px 4px 16px rgb(0 0 0 / 25%), 0px 8px 64px rgb(0 0 0 / 12%);
  border-radius: 5px;
  position: absolute;
  display: none;
  z-index: 50;
  margin-left: 38%;
  margin-top: 15%;
}

.delete_news-blog  .btn_delete-close {
  position: absolute;
  top: 25px;
  right: 35px;
}

.btn_delete-close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.delete_news-blog  h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #170F49;
  text-align: center;
}

.delete_news-blog  .form_caution-delete h2 {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

.delete_news-blog  .form-actions {
  padding: 3% 32% 0 32%;
}

/* form history tintuc */
.history_blogs {
  width: 85%;
  padding: 15px 30px 0;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), 0px 4px 16px rgb(0 0 0 / 25%), 0px 8px 64px rgb(0 0 0 / 12%);
  border-radius: 5px;
  position: absolute;
  top: 10%;
  z-index: 50;
  display: none;
}

.history_blogs .btn_delete-close {
  position: absolute;
  top: 20px;
  right: 20px;

}

.history_blogs  h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  color: #170F49;
  text-align: center;
  margin-top: 0;
}

.history_blogs  .form_caution-delete h2 {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

.history_blogs .form-actions {
  margin-top: 20px;
}

/* giangptd */

.member_blogs {
  width: 85%;
  padding: 15px 30px 0;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), 0px 4px 16px rgb(0 0 0 / 25%), 0px 8px 64px rgb(0 0 0 / 12%);
  border-radius: 5px;
  position: absolute;
  top: 10%;
  z-index: 50;
  display: none;
}

.member_blogs .btn_delete-close {
  position: absolute;
  top: 20px;
  right: 20px;

}

.member_blogs  h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  color: #170F49;
  text-align: center;
  margin-top: 0;
}

.member_blogs  .form_caution-delete h2 {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

.member_blogs .form-actions {
  margin-top: 20px;
}

/* endgiangptd */

.td_stt {
  padding: 15px 0px 0px 15px !important;
  width: 5% !important;
  font-size: 14px;
}

.history_news_list .td_author {
  width: 15%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history_news_list .td_times {
  width: 20%;
  font-size: 14px;
}

.history_news_list .td_contents {
  width: 27%;
  font-size: 14px;
}

table.history_news_list {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -15px;
  border: 1px solid rgba(10, 10, 10, 0.21) !important;
}

.thead_history_news {
  border: none;
  background: rgba(24, 91, 195, 0.16);
  height: 50px;
}

.thead_history_news th {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 15px 0 15px 15px;
}

.tr_news td {
  padding-left: 15px;
}

/* trangdtth0903 */

.footer_news {
  position: relative;
  width: 1514px;
  height: 46px;
  /* left: -25px; */
  top: 95%;
  right: 8%;
}

.footer_news > button {
  position: absolute;
  right: 32%;
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 6px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  top: 628px;
  width: 73px;
  height: 32px;
}

.footer_news .arrow-left-circle {
  position: absolute;
  left: 68.5%;
  top: 628px;
}

.footer_news .arrow-right-circle {
  position: absolute;
  right: 16.33%;
  top: 628px;
}

.btn_footer_news {
  position: absolute;
  left: 71%;
  top: 622px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 750;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  /* color: #185BC3; */
  padding: -9px;
  color: #BCBCBC;
}

.btn_footer_news button {
  margin: 14px;
  border: none;
  background: none;
}

/* form phê duyệt tintuc */
.accept_news-blog {
  width: 45%;
  padding: 30px 30px;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), 0px 4px 16px rgb(0 0 0 / 25%), 0px 8px 64px rgb(0 0 0 / 12%);
  border-radius: 5px;
  position: absolute;
  display: none;
  z-index: 50;
  margin-left: 38%;
  margin-top: 15%;
}

.accept_news-blog  .btn_delete-close {
  position: absolute;
  top: 25px;
  right: 35px;
}

.btn_delete-close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.accept_news-blog  h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #170F49;
  text-align: center;
}

.accept_news-blog  .form_caution-delete h2 {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

.accept_news-blog  .form-actions {
  padding: 3% 32% 0 32%;
}

.btn_accept-news {
  position: absolute;
  height: 35px;
  width: auto;
  top: 2px;
  right: -15px;
  border-radius: 6px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #2748A1;
  display: flex;
  align-items: center;
  padding: 5px;
  background: #DAE5F5;
  border: none;
}

.btn_deleted{
  position: absolute;
  height: 35px;
  top: 2px;
  right: 85px;
  background: #DAE5F5;
  border-radius: 6px;
  /* font-family: 'Noto Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #2748A1;
  border: none;
}

.number_blogs {
  float: right;
  margin-right: 10px;
  margin-top: -28px;
  /* padding: 2px 7px; */
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  border-radius: 50%;
  color: #0090AD;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  padding: 3px 6.25px;
}

.active_new {
  background: #0090AD;
}

.active_new > a {
  color: #fff !important;
}