
:root {
  --white: #fff;
}

html {
  background: var(--white);
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.secondary {
  background: var(--white);
  border-radius: 14px 14px 0 0;
  padding-right: 0 !important;
  z-index: 2 !important;
}

.homepage [role=main] {
  background-color: var(--white);
  min-height: auto;
  padding-top: 0;
}

.homepage.layout-1 [role=main] {
  padding-bottom: 0;
}

article.module {
  background: var(--white);
  min-height: 400px;
  margin-right: -15px;
  border-radius: 14px 14px 0 0;
}

.module-content {
  padding-bottom: 0;
}

.masthead .navigation .nav-pills li a:focus {
  background-color: transparent;
}

.no-nav > article.module {
  min-height: 400px;
  margin-right: 0;
}

.toolbar {
  margin-top: 25px;
}

.toolbar img {
  margin-top: -10px;
}

.wrapper:before {
  border: none;
  display: none;
}

.block {
  display: block !important;
}

label:after {
  content: "";
}

.fa-plus-square:before {
  content: "" !important;
}

i.fa.fa-plus-square {
  display: none;
}

.page_primary_action {
  margin-bottom: 0;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

:focus-visible {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

a {
  color: #3699FF;
}

a:hover {
  color: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

.box {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-form,
legend  {
  border-bottom: none;
}

.btn-primary {
  color: #fff;
  background-color: #2747A0;
  border-color: #384a7d;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.btn:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus {
  background: #ADCAF5;
  color: #2563EB;
  outline: none;
  outline-offset: 0;
  border: 1px solid #2563EB;
}

.btn_cancel:hover,
.btn_cancel:active:hover,
.btn_cancel-datasets:active:hover,
.btn.btn-default.btn-cancel:hover {
  background: rgba(125, 125, 125, 0.54);
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(125, 125, 125, 0.54);
}

.media-view:hover {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label:hover {
  cursor: default;
}

.col-md-2 {
  width: 23%;
}

.col-sm-3 {
  min-height: 0 !important;
}

section.module.module-narrow.module-shallow:last-child {
  /* padding-bottom: 20px; */
}

.sidebar_item .nav-item {
  background: #E1EEF4 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}

.js .table-toggle-more .toggle-seperator td {
  background-image: none;
}

.nav-tabs .fa,
i.fa.fa-pencil-square-o {
  display: none !important;
}

.label-info {
  padding: 5px 10px;
  height: 20px;
}

.modal-content {
  text-align: center;
  padding: 20px 0;
}

.modal-dialog {
  margin-top: 250px;
}

.modal-dialog.dialog_api {
  margin-top: 120px;
}

.modal-header {
  border: none;
}

.modal-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #170F49;
}

.modal-header .close {
  margin-top: -20px;
}

.modal-body {
  color: #6C757D;
  font-weight: 400;
  line-height: 19px;
  font-size: 16px;
}

.modal-footer {
  text-align: center;
  border: none;
}

.btn.btn-default.btn-cancel {
  width: 88px;
  border: 1px solid #6C757D;
  border-radius: 4px;
  background: var(--white);
  color: #6C757D;
  margin-right: 10px;
}

.primary_organ p.empty {
  margin-top: 50px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding-top: 5px !important;
  margin-top: 4px !important;
  border-radius: 10px !important;
}

.select2-container-multi .select2-search-choice-close {
  top: 4px;
  left: 4px !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
.form-control:focus {
  border: 1px solid #5D5FEF !important;
}

.form-control[readonly],
.form-control[disabled] {
  background: var(--white);
  color: #000000;
}

ul.activity::-webkit-scrollbar {
  width: 3px;
}

ul.activity::-webkit-scrollbar-button {
  margin-top: 0;
}

ul.activity::-webkit-scrollbar-thumb {
  background: #D9D9D9;
}

ul.activity {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bg_add-gr ul.activity {
  max-height: 780px;
  margin-left: -10px;
}

.infor_item ul.activity {
  max-height: 435px;
  margin-left: -10px;
}

.resource_view-data .resource-view-filters .btn.btn-primary {
  display: none;
}

.pagination > li > a, .pagination > li > span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--white);
  border: none;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: transparent !important;
}

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--white);
  border: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #3699FF;
  border: none;
  border-radius: 4px;
  margin: 0 10px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 4px;
}

.table-condensed > thead > tr > th:first-child {
  padding-left: 10px;
}

span.input-group-addon {
  display: none;
}

.create_item .alert {
  margin: -30px 0 45px;
  border: none;
  padding: 10px;
}

.bg_datasets .alert {
  margin: 0px 0 10px;
}

.error-block {
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  bottom: 2px;
  left: 150px;
}

.error-block::before {
  content: "";
  border: 4px solid;
  border-color: transparent transparent #c6898b transparent;
  position: absolute;
  top: -7px;
}

.modal-title {
  color: #2C3A61;
}

.input-group {
  display: block;
}

.select2-container .select2-choice {
  color: #000 !important;
}

.module .read-more a {
  color: #3699FF;
}

.header_mobile,
.mobile_sec,
.dr_facet,
.mobile_cmt,
.module h1.heading_trun span,
.mobile_search-box {
  display: none;
}

/* loader */

.loader {
  display: none;
}

.loader::before {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #1A67FC #26C6DA;
  animation: loader 2s infinite;
  -webkit-animation: loader 2s infinite;
  position: absolute;
  top: 45%;
  left: calc(50% - 25px);
  z-index: 10;
}

@-webkit-keyframes loader {
  50%{
    transform:rotatez(180deg) scale(1.5);
    border-style:dotted;
  }
  100%{
    transform:rotatez(360deg) scale(0.9);
  }
}

@keyframes loader {
  50%{
    transform:rotatez(180deg) scale(1.5);
    border-style:dotted;
  }
  100%{
    transform:rotatez(360deg) scale(0.9);
  }
}

/* custom style pages */

.wrapper.no-nav.wrapper_pages {
  margin: 45px -15px;
}

.wrapper_pages .module {
  border-radius: 14px;
}

.bg_pb {
  background: var(--white);
  margin: -30px;
  padding: 30px;
  border-radius: 14px;
  min-height: 300px;
}

.pages-form .control-label {
  min-width: 135px;
  margin-top: 9px;
}

.title_blog {
  padding-right: 15px;
  padding-left: 15px;
}

/* trangdtth0703 */
.title_blog .controls,
.title_blog .input-group,
.title_blog input#field-title,
.title_blog input#field-tag,
.title_blog input#field-name,
.new_blog .controls,
.status_option .form-group .controls {
  width: 100%;
}

.title_blog .form-group,
.new_blog,
.new_blog .form-group,
.status_option .form-group,
.blog_ckedit {
  display: flex;
}

.status_option input#field-publish_date {
  background-image: url(./images/img-box/lich.png);
  background-repeat: no-repeat;
  background-position: 99% center;
  opacity: 0.6;
}

.blog_ckedit div#cke_field-content-ck,
.cke_editable img {
  width: 100%;
}

.cke_path {
  display: none;
}

.btn_cancel-blog {
  height: 40px;
  background: #E1E1E1;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border: none;
  padding: 10px 15px;
  margin-right: 15px;
}

.btn_item-blog {
  height: 40px;
  background: #DAE5F5;
  border-radius: 6px;
  color: #2748A1;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border: none;
}

.btn_item-blog:hover {
  border: none;
}

.page-list-item {
  margin: 0;
  /* trang */
  /* min-height: 450px; */

}

.img_qa {
  width: 97% !important;
  height: 250px;
}

.page-list-item .image a {
  height: 100% !important;
}

.btn_edit-new {
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #3699FF;
  padding: 10px;
}

.pages_heading {
  width: 90%;
  margin-top: 0px;
  margin-bottom: 25px;
}

.ckanext-pages-content {
  margin-top: 30px;
}

.cke_bottom {
  border: none !important;
}

.btn_add-pages {
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #3699FF;
  padding: 10px;
}

.page_form {
  background-color: var(--white);
  min-height: 450px;
  padding: 30px;
  padding-bottom: 0;
  margin: -30px;
  border-radius: 14px;
}

.heading_page-new {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #1F316B;
  margin-left: 0;
}

.page_heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
}

.page_form label {
  font-weight: 400;
  font-size: 15px !important;
  line-height: 22px;
  color: #5E6366;
}

.publish_date .form-group,
input#field-publish_date,
.new_blog .form-group .input-group {
  width: 100%;
}

.new_blog .form-group.control-full.control-large {
  display: block;
}

/* trangdtth0703 */
.new_blog input,
.status_option input#field-publish_date,
.status_option select#field-order,
.status_option select#field-private,
.status_option select#field-blog {
  width: 100% !important;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  padding: 0 10px;
}

.form-actions.action_page {
  margin-top: 25px;
  padding-bottom: 30px;
}

.btn_add-page a {
	height: 43px;
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #3699FF;
  padding: 10px;
}

.pages_heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #2C3A61;
}

.module_heading-blog {
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
  color: #000000;
  margin-left: 15px;
}

.dataset-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  /* trang */
  /* margin: 0 0 8px -15px; */
}

.dataset-heading a {
  color: #170F49;
}

.img_back-page {
  float: right;
  margin-top: -55px;
}

.blog_page {
  min-height: 500px;
  background: var(--white);
  border-radius: 14px;
}

.blog_page table {
  width: 80%;
}

.blog_page a img {
  width: 100%;
}

.bg_page {
  margin-left: 0;
}

/* .title_blog .slug-preview {
  position: relative;
  margin-top: 20px;
  margin-left: 0;
  left: -135px;
} */

.title_blog .slug-preview strong {
  min-width: 135px;
}

.title_blog .slug-preview button {
  right: -135px;
}

.new_blog-url .input-group,
.new_blog-url input#field-name {
  width: 100% !important;
}

/* datapusher, datastore */

.form_datapusher {
  background: var(--white);
  border-radius: 14px;
}

.btn_datastore-up,
.btn_view-res {
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #3699FF;
  padding: 10px;
  float: right;
}

.btn_datastore-up {
  margin-top: -81px;
  margin-right: 115px;
}

.btn_datastore-up:hover,
.btn_view-res:hover {
  background: #ADCAF5;
  color: #2563EB;
  outline: none;
  outline-offset: 0;
  border: 1px solid #2563EB;
}

a.btn_view-res {
  position: absolute;
  top: 65px;
  right: 30px;
}

.form_datapusher .table-bordered {
  margin: 0;
}

.form_datapusher .table-bordered > tbody > tr > th {
  padding: 0;
}

.form_datapusher td {
  padding-top: 0 !important;
}

.bg_datastore .form-group {
  display: flex;
}

.bg_datastore .controls {
  width: 100%;
}

.heading_dic {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}

.bg_datastore label {
  min-width: 135px;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 22px;
  color: #5E6366;
  margin-top: 10px;
}

.bg_datastore select,
.bg_datastore input {
  height: 40px;
}

.btn_save-dic {
  position: absolute;
  top: 65px;
  right: 140px;
  padding: 10px 15px;
}

.nav_edit-view {
  margin: 15px 0 0 15px;
}

.resource_pre {
  background: var(--white);
  padding: 5px 15px;
  margin: 0 -15px;
}

/* Datastore */

.menu_data {
  padding: 30px;
  padding-bottom: 0;
}

.menu_data ul {
  padding-inline-start: 0;
}

.menu_data li {
  display: inline-block;
  margin: 0 15px;
}

.menu_data li:first-child {
  margin-left: 0;
}

.menu_data .btn_preview {
  color: #1B1C1D;
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 3px solid #2185D0;
  padding-bottom: 5px;
}

.btn_data-api a:active {
  color: #1B1C1D;
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 3px solid #2185D0;
  padding: 5px 10px;
  padding-top: 0;
}

.menu_data li a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0A0A0A;
  opacity: 0.5;
}
