/* crearte datasets, create organ, create group */

.create_datasets,
.create_item,
.form_edit {
  background-color: var(--white);
  border-radius: 14px;
  padding-bottom: 10px;
}

.remove_pd {
  min-height: 380px !important;
  background: var(--white);
  padding-left: 0;
  border-radius: 14px;
}

.bg_datasets {
  margin: 0;
  padding: 0;
}

.bg_datasets .module-content form#resource-edit {
  padding-bottom: 30px;
}

.bg_edit-dataset {
  margin-top: -15px;
}

.bg_edit-dataset form#dataset-edit {
  margin-bottom: -30px;
}

.create_item .action_item {
  margin: 0;
}

.bg_edit-view {
  margin-top: -82px;
  padding-top: 85px;
}

.view_top {
  position: relative;
  top: 15px;
}

.bg_edit-view input#field-title,
.form_full,
.select2-container {
  width: 100% !important;
}

.editor .editor-info-block {
  display: none;
}

.new_datasets .form-group,
.control-full,
.new_datasets .control-medium,
.dataset-form .control-medium,
.control-custom,
.fix_key,
.fix_value {
  display: flex;
}

.fix_mt {
  margin-top: -15px;
}

.new_datasets {
  width: 100%;
  display: inline-block;
  position: relative;
}

.col_child-one {
  width: 49%;
  float: left;
}

.col_child-two {
  width: 49%;
  float: right;
}

.hide_slug .form-group {
  pointer-events: none;
}

.hide_slug .input-group {
  position: initial;
}

.control_mt {
  margin-top: 5px;
}

.control-medium.fix_mb {
  margin-bottom: 35px;
  margin-top: -50px;
}

.create_datasets label,
.create_item label,
.form_edit label {
  min-width: 135px;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 22px;
  color: #5E6366;
  margin-top: 10px;
}

.remove_kv label {
  min-width: auto;
  font-size: 24px !important;
  color: #FD1818;
  margin: 8px 0 0 10px;
  cursor: pointer;
}

.remove_kv label:hover {
  opacity: 0.8;
}

.hide_label > div.form-group,
.hide_label > .form-group.control-custom > label.control-label {
  display: none;
}

.hide_label > div.form-group:first-child {
  display: block;
}

label.control-label span {
  color: #FD1818;
  margin-left: 5px;
}

.control-required {
  color: #FD1818;
}

.required_item {
  position: absolute;
  top: 10px;
  left: 88px;
}

.select2-container .select2-choice {
  height: 40px !important;
  padding-top: 6px !important;
  background-image: url(./images/img-box/select2.png) !important;
  background-repeat: no-repeat;
  background-position: right 12px bottom 14px;
}

.select2-container .select2-choice .select2-arrow {
  display: none !important;
}

.slug-preview {
  position: absolute;
  top: 6px;
  left: 50%;
  width: 50%;
  display: none;
}

input#field-title,
input#field-tag,
input#field-name,
input#fake_name,
.editor textarea,
input#field-tags,
input#field-authorblog,
select#field-license,
select#field-organizations,
select#field-private,
input#field-author,
input#field-author-email,
input#field-url,
.fix_key input.form-control,
.fix_value input.form-control,
select#field-state {
  width: 100%;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  padding: 0 10px;
}

.editor textarea {
  padding: 5px 10px;
}

input#field-tags,
select#field-license,
select#field-organizations {
  padding-left: 12px;
}

.create_datasets .data_tags input[type="text"]:focus {
  border: none !important;
}

.organ_status {
  margin-top: -30px;
  margin-bottom: 50px;
}

select#field-license,
select#field-organizations,
select#field-private,
select#field-blog {
  background-color: var(--white);
  background-image: url(./images/img-box/select2.png);
  background-repeat: no-repeat;
  background-position: right 12px bottom 14px;
}

.editor textarea {
  height: 135px;
  width: 100%;
}

input#field-url,
select#field-state {
  width: 100%;
}

.btn_next {
  height: 35px;
  /* padding: 8px; */
  background: #2747A0;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.btn_cancel-datasets {
  width: 80px;
  height: 35px;
  border: 1px solid #6C757D;
  border-radius: 6px;
  background: var(--white);
  color: #6C757D;
  margin: 0 10px 20px;
}

.text_file {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.55);
}

.url_data {
  margin-top: 20px;
}

/* infor organization & group */

ol.stages.stage-1 {
  width: 100%;
  margin-top: -20px;
}

.first.active {
  width: 100%;
}

.create_heading,
.heading_add-data,
.heading_edit-dataset {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
}

.heading_edit-dataset {
  margin: 15px 0 0 15px !important;
}

.item_heading {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
  background: var(--white);
  width: 100%;
  height: 50px;
  padding-left: 30px;
  border-radius: 14px;
}

.item_heading p {
  margin-block-start: 20px;
}

.item_heading-fix {
  position: absolute;
  top: 20px;
  left: 30px;
  background: var(--white);
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
  z-index: 1;
}

.create_heading {
  margin-left: -20px;
}

.fix_item {
  height: 30px;
}

.heading_add-data {
  margin-left: 0;
  margin-bottom: 0 !important;
}

.stages {
  margin-bottom: 0;
}

.last.active {
  height: 70px;
}

.stages li:before,
.stages li.active:after {
  display: none;
}

.img_back {
  float: right;
  margin-top: -55px;
  position: relative;
  z-index: 1;
}

.img_back,
.img-back {
  cursor: pointer;
}

.row_fix {
  margin-top: -20px;
}

.create_datasets i, .form_edit i {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.55);
}

input#field-image-url {
  width: 100%;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
}

/* upload file organ_group */

.input_url {
  display: none;
  /* height: 0; */
}

.js .image-upload .controls {
  width: 100%;
  position: static;
}

.js .image-upload .btn-remove-url {
  top: 11px;
  right: 15px;
}

.input_upload-img {
  height: 40px;
}

.image-upload.item_upload,
.avatar_img {
  position: relative;
}

.input_upload label {
  pointer-events: none;
}

.remove_img {
  position: absolute;
  top: 11px;
  right: 15px;
  z-index: 1;
  margin-right: 0;
  padding: 0 12px;
  border-radius: 100px !important;
  display: none;
}

.del_config .remove_img  {
  top: 58px;
}

a.btn_link {
  width: 100%;
  height: 40px;
  display: inline-block;
  background-color: var(--white);
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  padding: 9px 0;
  padding-left: 100px;
  font-size: 14px;
  color: #909090;
  cursor: text;
}

a.btn_upload {
  position: absolute;
  top: 5px;
  margin-left: 10px;
  color: #1E72C9;
  background: rgba(109, 152, 196, 0.22);
  border-radius: 9px;
  padding: 5px 10px;
}

input#field-image-upload {
  top: 5px;
  margin-left: 10px;
  border: none;
  padding: 5px 37px;
}

input#field-image-upload::file-selector-button {
  display: none;
}

/* upload file package */

.resource-upload-field input {
  opacity: 1;
  position: relative;
  border-width: 0;
  border: 1px solid;
}

.url_file {
  position: relative;
  margin-top: 15px;
}

.type_url {
  position: relative;
}

.btn_remove-url,
.btn_remove-up {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  padding: 0 12px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #FF4545;
}

.btn_remove-url {
  display: none;
}

.btn_remove-url:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

span.resource-upload-field,
input#resource-url-link {
  display: none;
}

.file_upload input {
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  padding-top: 9px;
  padding-left: 100px;
}

.file_upload input::file-selector-button,
.file_upload {
  display: none;
}

.form_upload-file {
  position: relative;
  width: 100%;
}

.btn_upload-file {
  position: absolute;
  top: 5px;
  left: 142px;
  z-index: 5;
  border: none;
  font-size: 15px;
  color: #1E72C9;
  background: rgba(109, 152, 196, 0.22);
  border-radius: 9px;
  padding: 5px 10px;
}

.btn_upload-file:hover {
  opacity: 0.8;
}

button.btn_url {
  position: absolute;
  z-index: 2;
  background: transparent;
  border: none;
  width: 100%;
  height: 40px;
}

button.btn_url:hover {
  cursor: default;
}

input#field-resource-url {
  height: 40px;
  padding-right: 70px;
  padding-left: 100px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  cursor: text;
}

.name_file-up {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 5;
}

.name_file-up label {
  background: var(--white);
}

.name_file-up input {
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  padding: 0 10px;
}

/*  */

.btn_item,
.btn_save-add {
  height: 35px;
  padding: 8px 10px;
  background: #2747A0;
  color: #fff;
  border: 1px solid #6C757D;
  border-radius: 6px;
  line-height: 19px;
}

.btn_save-add {
  margin-right: 10px;
}

.btn_cancel {
  height: 35px;
  border: 1px solid #6C757D;
  border-radius: 6px;
  background: var(--white);
  color: #6C757D;
  margin-right: 10px;
}

.btn-danger {
  color: #fff;
  background-color: #FF4545;
  border: none;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.btn_del {
  height: 35px;
  padding: 8px 18px;
  font-weight: bold;
}

.primary_organ {
  background-color: var(--white);
  border-radius: 14px;
  padding: 30px;
  min-height: 350px !important;
}

.form_item {
  height: 60px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.primary_organ .main_datasets {
  background-color: transparent;
  margin: 0;
  width: 100%;
}

.primary_organ p.extra {
  height: auto;
}

.add_group {
  margin-left: 25px;
}

.add_group a {
  height: 43px;
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #3699FF;
  padding: 10px;
  float: right;
}

.media-grid {
  background: transparent;
  border: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: calc((100% - 1000px)/4);
}

.media-item {
  width: 200px;
  background-color: #E9EBED;
  border-radius: 13px;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 0 10px;
  margin: 0 0 25px 0;
}

.media-grid:before, .media-grid:after {
  content: none;
}

.media-item img {
  width: 100%;
  max-height: 180px;
}

.media_organ {
  background: var(--white);
  padding: 10px;
}

.media_organ img {
  height: 180px;
  min-height: 180px;
  border-radius: 13px;
  margin-bottom: 10px !important;
}

.db_organ .media-grid {
  margin-bottom: -25px;
}

.form_pagination {
  float: right;
  align-items: center;
  margin-top: 30px;
  display: none;
}

.form_pagination button {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 800;
}

ul#db_pagination {
  width: 100%;
  display: flex;
  margin-bottom: 0;
  padding-inline-start: 0;
}

ul#db_pagination li {
  list-style-type: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid transparent;
  margin: 0 8px;
  padding: 5px 10px;
  cursor: pointer;
}

ul#db_pagination li:hover, .form_pagination button:hover {
  font-weight: 500;
}

ul#db_pagination li.db_active {
  border-radius: 4px;
  color: #185BC3;
  border: 1px solid #185BC3;
}

ul#db_pagination li.db_active:hover {
  background-color: #3699FF;
  color: #fff;
  cursor: default;
}

.footer_item {
  background: #E9EBED;
  margin: 0 -10px -10px;
  padding-bottom: 10px;
  border-radius: 0 0 13px 13px;
}

.media-view {
  border: none;
}

h2.media-heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  text-transform: capitalize;
}

.h2_item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px 8px 0 8px;
}

.media-item span.count {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #707070;
}

.media_gr .media-grid {
  margin-top: 45px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: calc((100% - 730px)/3);
}

.media_gr .media-item {
  width: 180px;
}

.media_gr .media-item img {
  height: 160px;
  min-height: 160px;
}

/* sidebar */

.page_pri-gr,
.page_pri-org {
  background: var(--white);
  border-radius: 14px 14px 0 0;
}

.sidebar_item {
  background: var(--white);
}

.sidebar_item section.module.module-narrow.module-shallow {
  border-top: 1px dotted #999;
}

.page_pri-org section.module.module-narrow.module-shallow:first-child,
.sidebar_gr section.module.module-narrow.module-shallow:nth-child(2) {
  display: none;
}

.sidebar_item p.module-footer {
  text-align: center;
  margin-bottom: 10px;
}

.context-info h1.heading {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.sidebar_item h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  background-color: var(--white);
  text-align: left;
  border: none;
  margin-bottom: -15px;
}

h2.organ_header,
h2.organ_tags {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  background-color: var(--white);
  text-align: left;
  border-top: 1px dotted #999;
  border-bottom: none;
}

h1.heading.name_organ {
  min-height: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0;
}

.context-info .description {
  text-align: justify;
  word-break: unset;
}

.context-info .image img {
  /* clip-path: circle(75px at 50% 50%); */
  margin-top: 20px;
}

.sidebar_account .image img {
  margin-top: 0;
  max-height: 135px;
}

.context-info .follow_button {
  margin: 0 0 15px 0;
}

.follow_button i.fa {
  display: none;
}

h2.organ_tags {
  padding-left: 15px;
  margin-bottom: -35px;
}

.well {
  border: none;
  background-color: var(--white);
  margin: 15px 0;
}

.well .tag {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background: var(--white);
  padding: 2px 7px;
}

.well .tag:hover {
  background-color: #647A82;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #c0c0c0;
}

.license {
  margin-left: 0 !important;
}

.license a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #000000;
}

.license p {
  margin: -10px 0 20px !important;
}

/* about */

.about_item {
  display: flex;
}

.name_item {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  min-width: 120px;
  margin-bottom: 20px;
}

.name_item-heading {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.about_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  text-align: justify;
}

/* package */

.module-content.bg_view-data {
  position: relative;
  padding-bottom: 1px;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background-color: var(--white);
}

.heading_resource {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #2C3A61;
  text-align: justify;
}

.text-muted,
.prose.notes p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  display: inline-block;
  text-align: justify;
}

.desc_pac blockquote {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: justify;
  color: #000000;
  padding: 0;
  margin: 0;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}

.desc_pac p {
  display: none !important;
}

.action_text {
  display: flex;
  align-items: center;
}

.text-muted {
  flex: 1;
  font-size: 16px;
  margin-bottom: 25px;
}

.text-muted > a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: justify;
  color: #1A67FC;
  text-decoration: underline;
}

.module-resource .actions {
  position: unset;
  margin: -9px 0 0 20px;
}

.span_back {
  margin-top: -50px;
  float: right;
  font-size: 15px;
  cursor: pointer;
}

.span_back img {
  margin-left: 5px;
}

.bg_view-data .actions ul {
  padding-inline-start: 0;
}

.btn_edit {
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #3699FF;
  padding: 6px 10px;
}

.btn_edit:hover {
  background-color: #ADCAF5;
  color: #3699FF;
  border-color: #3699FF;
}

.btn_dl a {
  background: #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 7px 13px;
}

.btn_dl .dropdown-toggle {
  background: #3699FF;
  border-radius: 6px;
  border: none;
  line-height: 18px;
  color: #FFFFFF;
  padding: 8px 10px !important;
}

.btn_dl .dropdown-toggle:active:focus {
  border: none;
}

.open > .dropdown-toggle.btn-primary {
  background-color: #3699FF !important;
  color: #fff !important;
}

.btn_dl .dropdown-menu {
  min-width: 120px;
  top: 42px;
  right: 0;
  left: unset;
  background: #ccc;
  padding: 0;
}

.btn_dl .dropdown-menu::after {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #ccc transparent;
  position: absolute;
  top: -17px;
  right: 3px;
}

.btn_dl .dropdown-menu li {
  width: 100%;
}

.btn_dl .dropdown-menu li a {
  margin: 5px;
  color: #fff;
  border-radius: 0;
  text-align: center;
}

.btn_dl .dropdown-menu li a:hover {
  color: #FFF;
  background-color: #647A82;
}

.btn_dl a:hover,
.btn_dl .dropdown-toggle:hover {
  opacity: 0.8;
  color: #fff;
}

.btn_dl a:focus {
  background: #3699FF;
  color: #fff;
}

.bg_view-data #btn_views {
  padding: 0;
  margin-bottom: -40px;
}

.bg_view-data #btn_views li {
  margin: 11px 6px;
}

.bg_view-data #btn_views > li.active:first-child {
  margin-left: 0;
}

.bg_view-data #btn_views > li > a {
  border: 1px solid #ADCAF5 !important;
  color: #666;
  padding: 6px 10px;
  border-radius: 6px;
  opacity: 1;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
}

.bg_view-data #btn_views > li > a:hover {
  color: #333;
}

.bg_view-data #btn_views > li.active > a {
  background-color: #ADCAF5;
  border: 1px solid #3699FF !important;
  color: #333;
  padding: 6px 10px;
  border-radius: 6px;
  opacity: 1;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
}

.bg_view-data #btn_views > li.active > a:hover {
  opacity: 0.8;
}

.bg_view-res {
  background: var(--white);
  border-radius: 0 0 16px 16px;
  padding-bottom: 20px;
}

.box_infor {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.box_infor-data,
.form_infor {
  width: 50%;
}

.box_infor-data {
  margin-right: 50px;
}

.meta_data {
  background: var(--white);
  margin-top: -20px;
  display: none;
}

.meta_data .table-bordered {
  width: 100%;
  margin: 0;
  border: 1px solid #ddd !important;
  position: relative;
  z-index: 1;
}

.meta_data .table-striped tbody tr:nth-child(even) td,
.meta_data .table-striped tbody tr:nth-child(even) th {
  background-color: #f2f2f2;
}

.meta_data th,
.meta_data td {
  border: 1px solid #ddd !important;
}

.form_infor table {
  margin: 0;
}

.form_infor tr {
  border-bottom: 1px solid rgba(60, 60, 60, 0.28);
}

.form_infor tr:last-child,
tr.toggle-seperator {
  border: none;
}

.form_infor td {
  padding: 10px !important;
}

.form_infor td a {
  color: #3C3C3C;
}

.th_properties {
  width: 50%;
}

th.properties {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #3C3C3C;
}

.resources_tag li {
  background: #E9EBED;
  border-radius: 10px;
  margin: 10px 0;
}

.resources_tag li:first-child {
  margin-top: 0;
}

.resources_tag li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resources_tag ul.list-unstyled {
  height: auto;
  max-height: 210px;
  overflow-y: auto;
}

.resources_tag ul.list-unstyled::-webkit-scrollbar {
  /* width: 3px; */
  display: none;
}

.resources_tag ul.list-unstyled::-webkit-scrollbar-thumb {
  /* background: #D9D9D9;
  border-radius: 6px; */
}

.nav-simple.nav-item.active > a,
li.nav-item.active {
  background: rgba(74, 82, 255, 0.21) !important;
  border-radius: 10px;
}

/* hide filter */

.primary_organ .form-select_filter {
  display: none;
}