
@media only screen and (max-width: 1199px) {

    .end_page {
        margin-bottom: -6px;
    }

    .end_page iframe {
        height: 550px;
    }

    .page_chart {
        height: 550px;
    }

    canvas.chart_donut {
        width: 100% !important;
    }

    .text_dta > p {
        width: 50%;
    }

    .rate {
        width: 50%;
    }

    .site-footer-heading {
        display: inherit;
    }

    .site-footer-heading p {
        margin-left: 0;
    }

    .group_menu {
        margin-top: -10px;
        padding-inline-start: 25px;
    }

    .group_items {
        margin-right: 10px;
    }

    .media-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: calc((100% - 800px)/3);
    }

    .media_gr .media-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: calc((100% - 610px)/2);
    }

    .media_gr .media-item {
        width: 200px;
    }

    .media_gr .media-item img {
        height: 180px;
        min-height: 180px;
    }

    /* list user */

    .secondary_user-mobile {
        width: 40px;
        background: #ddd;
        border-radius: 0;
        min-height: 740px;
    }

    .secondary_user-mobile .list-admin .span_config.fix_text div.hidden {
        display: none !important;
    }

    .secondary_user-mobile .show_menu {
        display: flex;
    }

    .secondary_user-mobile .change_show-menu {
        padding-left: 9px;
    }

    .primary_user-mobile {
        width: calc(100% - 40px);
        padding-left: 0;
    }

    .primary_user-mobile .form_admin.bg_index {
        border-radius: 0;
        min-height: 740px;
    }

}

/* Ipad ngang(1024 x 768) */
@media only screen and (max-width: 1024px) {

    .wrapper {
        margin: 0;
    }

    .container {
        width: 100%;
        padding: 0 15px !important;
    }

    .col-md-6 {
        width: 50%;
        float: left;
    }

    nav.section.navigation {
        top: 11px;
    }

    .main.hero {
        margin-top: 0;
    }

    .container_heading p {
        width: 100%;
        margin: 0 auto;
    }

    .container.row-new {
        padding: 0 15px 25px 15px !important;
    }

    .new_group {
        margin: -10px -15px -30px -15px;
    }

    .group_menu {
        padding-inline-start: 30px;
    }

    .note {
        font-size: 12px;
    }

    .chart_l {
        width: 100%;
    }

    .rate {
        font-size: 11px;
    }

    .media-footer {
        margin-top: 9px;
    }

    ul.menu.vertical.site-footer_menu {
        margin-top: -15px;
    }

    ul.menu.vertical.site-footer_menu > li {
        margin-bottom: -20px;
    }

    a.mail {
        margin-left: 3px;
    }

    a.address_footer {
        width: 100%;
        margin-top: 0;
        margin-left: -5px;
    }

    .footer_text {
        width: 50%;
    }

    /* comment */

    .comment .comment-heading .comment-authored {
        display: block !important;
    }

    .author-avatar {
        width: 10%  !important;
        float: left;
    }

    .author-avatar img {
        position: unset !important;
        width: 100% !important;
        height: 100% !important;
        min-height: 30px;
        min-width: 30px;
        margin-top: 5px;
    }

    .comment-meta {
        width: 85% !important;
        float: right;
    }

    .add_datasets a {
        height: 46px;
        padding: 9px 30px;;
    }

    h2.module-heading {
        height: 50px;
        padding-top: 13px;
    }

    .heading_item, .heading_resources {
        font-size: 20px;
        line-height: 25px;
    }

    .context-info h1.heading {
        font-size: 17px;
    }

    .heading_resource {
        font-size: 25px;
        line-height: 30px;
    }

    .media-item .media-edit {
        opacity: 1;
        top: 10px;
        right: 10px;
        bottom: unset;
    }

}

@media only screen and (max-width: 991px) {

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #000000;
        background-color: transparent;
    }

    a:focus {
        outline: none;
        outline-offset: 0;
    }

    .masthead {
        width: 100%;
        position: fixed;
        padding: 0;
        background: linear-gradient(180deg, #2D55CC 0%, #2C78E6 100%);
        border: none;
    }

    .account-masthead,
    .search_box,
    .toolbar {
        display: none;
    }

    .header_mobile {
        display: inline-block;
        width: 100%;
    }

    .mobile_search-box {
        width: 100%;
        padding: 11px 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_search-box .section {
        flex: 1;
    }

    .mobile_search-box .search-input {
        width: 100%;
        position: relative;
    }

    .mobile_search-box .search-input input {
        width: 100%;
        height: 38px;
        background: rgba(255, 255, 255, 0.15);
        background-image: url(./images/img-box/logo.svg);
        /* background-image: url(./images/logo_d.png); */
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: left 10px center;
        border-radius: 100px;
        border: none;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 45px 9px 40px;
    }

    input[type="text"]:focus, input[type="password"]:focus, .form-control:focus {
        /* border: none !important; */
    }

    .mobile_search-box .search-input input::placeholder {
        color: #FFFFFF;
    }

    .mobile_search-box .btn-search {
        background: transparent;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 7px;
        right: 15px;
        padding: 0;
        border: none;
    }

    .mobile_search {
        width: 25px;
    }

    img.clear_input {
        top: 1px;
        right: 50px;
    }

    .mobile_navbar-toggle {
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        margin-left: 50px;
    }

    .mobile_sec {
        width: 100%;
        position: fixed;
        top: 60px;
        z-index: 100;
        background: var(--white);
        display: flex;
        padding: 5px 15px;
    }

    img.mobile_home {
        margin-top: 6px;
    }

    .mobile_sec ul {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 2px;
        margin-left: 15px;
    }

    .mobile_sec ul::-webkit-scrollbar {
        display: none;
    }

    .mobile_sec ul li {
        float: left;
    }

    .nav-pills > li > a {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 16px;
        color: rgba(16, 16, 16, 0.58);
        margin: 0 15px;
        padding: 10px 0;
        border-radius: 0;
        white-space: nowrap;
    }

    .nav-pills > li.active > a {
        color: #000000;
        background-color: transparent;
        font-weight: 700;
        font-size: 18px;
        margin-top: -1px;
    }

    .account.avatar.authed,
    nav.account.not-authed {
        padding: 0;
        border: none;
        background: transparent;
    }

    nav.account.not-authed {
        position: relative;
    }

    .acc_name,
    .acc_name .user-image {
        margin: 0;
    }

    .dropdown_btn {
        height: 25px;
        left: 0;
        right: 0;
    }

    span.username {
        font-size: 16px;
        font-weight: 500;
        margin: 0 5px;
    }

    .dr_menu img {
        margin-bottom: 1px;
    }

    .menu_acc li {
        margin: 0;
        border-bottom: 1px solid #ddd;
    }

    .menu_acc li:last-child {
        border-bottom: none;
    }

    .menu_acc a {
        display: block;
        color: #000000;
    }

    .not-authed .list-unstyled.menu_acc {
        width: 150px;
        text-align: end;
    }

    .not-authed .list-unstyled span a {
        font-size: 16px;
        font-weight: 500;
        padding-right: 12px !important;
    }

    .bell {
        margin-left: 10px;
    }
    
    .main_base {
        padding-top: 125px;
    }

    .main.hero {
        height: 200px;
        margin-top: 108px;
    }

    .group_menu {
        padding-inline-start: 25px;
    }

    .add_datasets a {
        padding: 12px 10px;
    }

    /* detail dataset */

    .page-header .nav-tabs {
        margin-bottom: 0;
    }

    .page-header .nav-tabs > li {
        float: left;
    }

    .page-header .nav-tabs > li a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .resource-item .btn-group {
        display: block;
    }

    .btn_dl-all {
        margin-top: 20px;
    }

    /* form */

    .create_item label {
        min-width: 105px;
    }

    .edit_account .form-group {
        display: block;
    }

    .edit_account .remove_img, .js .edit_account .image-upload .btn-remove-url {
        top: 44px;
    }

    .edit_account .update_account input#field-image-upload, .edit_account .update_account a.btn_upload {
        top: 41px;
    }

    .edit_account .show_password {
        top: 42px;
    }

    .edit_account .regulation_pass {
        padding-top: 35px;
    }

    /* menu admin */

    .inf_acc {
        display: block;
    }

    .acc_avatar {
        margin-right: 0;
    }

}

@media only screen and (max-width: 950px) {

    .group_items img {
        width: 130px;
        height: 130px;
        max-width: 130px;
        max-height: 130px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 760px)/3);
    }

    .media-item {
        width: 190px;
        margin-bottom: 20px;
    }

    .media_organ img {
        height: 170px;
        min-height: 170px;
    }

    /* form */

    .bg_datasets {
        padding-bottom: 0;
    }
    
    .bg_datasets .module-content {
        /* padding: 30px 15px; */
    }

    .img-back, a.btn_view-res {
        right: 15px;
    }

    .bg_edit-dataset {
        margin: -15px;
    }

    .nav_data {
        margin-left: 0;
    }

    .heading_edit-dataset {
        margin: 15px 0 0 !important;
    }

    .nav_edit-data, .nav_data-view {
        margin-left: 15px;
    }

    form#resource-edit {
        margin-top: -15px;
    }

    .heading_edit-data {
        left: 15px;
    }

    img.data_back {
        margin-right: -15px;
    }

    .form_edit form#resource-edit {
        margin: auto -15px;
    }

    .pri_action {
        margin-left: -15px;
    }

    .btn_reorder {
        margin-left: 95px;
    }

    .primary_user .update_account label {
        min-width: 110px;
    }

}

@media only screen and (max-width: 910px) {

    .end_page iframe {
        height: 500px;
    }

    .page_chart {
        padding-bottom: 0;
    }

    .feature-item {
        padding: 15px;
    }

    .feature-item-box h4 {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .group_menu {
        padding-inline-start: 20px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 720px)/3);
    }

    .media-item {
        width: 180px;
    }

    .media_organ img {
        height: 160px;
        min-height: 160px;
    }

    .media_gr .media-grid {
        grid-column-gap: calc((100% - 540px)/2);
    }

    .media_gr .media-item {
        width: 180px;
        padding-bottom: 8px;
    }

    .media_gr .media-item img {
        height: 160px;
        min-height: 160px;
    }

    /* menu admin */

    .context-info .nums {
        display: flex;
    }

    .context-info .nums dl {
        width: auto;
    }

    .context-info .nums dl dd {
        font-size: 25px;
        line-height: 30px;
    }

    .btn_ind {
        display: block;
    }

    .btn_ind .btn_add {
        margin-bottom: 10px;
    }

    .primary_user .btn_ind {
        display: flex;
    }

    .primary_user .btn_ind .btn_add {
        margin-bottom: 0;
    }

    .infor_form .list_organ-gr {
        max-height: 555px;
    }

    .primary_user .infor_form .list_organ-gr {
        max-height: 720px;
    }

    .thead_user th {
        width: 18%;
    }

}

@media only screen and (max-width: 864px) {

    .group_menu {
        padding-inline-start: 15px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 660px)/3);
    }

    .media-item {
        width: 165px;
    }

    .media_organ img {
        height: 145px;
        min-height: 145px;
    }

    .media_gr .media-grid {
        grid-column-gap: calc((100% - 525px)/2);
    }

    .media_gr .media-item {
        width: 175px;
    }

    .media_gr .media-item img {
        height: 155px;
        min-height: 155px;
    }

    h2.media-heading {
        font-size: 18px;
        line-height: 18px;
    }

    .media-item strong.count {
        font-size: 13px;
    }

    .new-datasets a, .btn_manager a, .admin_edit, .btn_add a {
        font-size: 14px;
        padding: 5px;
    }

    .main_datasets h1 {
        width: 40%;
        max-width: 40%;
        font-size: 20px;
    }

    .secondary_user-mobile .change_width {
        width: 265px !important;
    }

    .search_user {
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .ul_action {
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
    }

    .ul_action li {
        margin-top: 0;
    }

    .td_over span {
        width: 100%;
        overflow: unset;
    }

    .td_user span a {
        width: 100%;
        margin-left: 5px;
    }

    .td_user span {
        margin-left: 0;
    }

    .tr_user td {
        padding: 10px !important;
    }

    input.check_user, .check_all-user {
        top: -13px;
        left: 15px;
    }

    .td_user input[type=checkbox]:before, .check_all-user:before {
        top: 20px;
    }

    .td_user input[type=checkbox]:checked:after, .check_all-user:checked:after {
        top: 23px;
    }

    .user-list.table_list {
        margin: 0;
        overflow: hidden;
    }

    .user-list.table_list > tbody > tr > td a {
        text-decoration: none;
    }

    .table_list,
    .table_list thead,
    .table_list tbody,
    .table_list th,
    .table_list td,
    .table_list tr {
        display: block;
    }

    .table_list tbody > tr {
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .table_list > thead > tr > th,
    .table_list > thead > tr > th.check_all span {
        display: none;
    }

    .table_list > thead > tr > th.check_all {
        width: 100% !important;
        display: block;
    }

    .table_list > thead > tr > th.check_all span.select_all {
        display: block;
        margin-left: 45px;
    }

    .check_all-user {
        top: -23px !important;
        left: 17px;
    }

    .table_list > tbody > tr td {
        width: 100% !important;
        min-height: 42px;
        position: relative;
        padding-left: 50% !important;
        border: 1px solid #ccc !important;
    }

    .table_list > tbody > tr td:first-child {
        border-radius: 5px 5px 0 0;
    }

    .table_list > tbody > tr td:last-child {
        border-radius: 0 0 5px 5px;
    }

    .table_list > tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 10px;
        left: 45px;
        width: 40%;
        white-space: nowrap;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #534747;
    }

}

@media only screen and (min-width: 821px) and (max-width: 991px) {

    .add_datasets a {
        padding: 9px 10px;
    }

}

@media only screen and (max-width: 824px) {

    .group_items {
        margin-right: 9px;
    }

    .end_page {
        height: 1560px;
    }

    .end_page iframe {
        height: 100%;
    }

    .page_chart {
        height: 100%;
        padding-bottom: 20px;
    }
    
    .feature-layout {
        display: inline;
    }

    .feature-item {
        width: 60%;
        min-height: 425px;
        margin: 25px auto;
        padding: 25px;
    }

    .feature-item-box h4 {
        padding-bottom: 10px;
    }

    .bar {
        height: 43px;
    }

    .bar_item {
        padding-top: 12px;
    }

    canvas.chart_donut {
        width: 70% !important;
    }

    .media-footer img {
        height: 60px;
    }

    .opendata-footer {
        top: 37px;
        left: 100px;
    }

    .opendata-footer b {
        font-size: 20px;
    }

    .site-footer-heading p {
        font-size: 17px;
    }

    .about > li > h3 {
        font-size: 16px;
    }

    .add_datasets a {
        height: auto;
        padding: 7px 10px;
        font-size: 17px;
    }

    h2.module-heading {
        height: auto;
        padding-top: 10px;
        font-size: 17px;
    }

    .main_datasets .input-group.search-input-group {
        width: 55%;
    }

    input#field-giant-search, #search_input  {
        height: 40px;
        padding-left: 15px;
    }

    .btn_search-dataset {
        right: 4px;
        top: 4px;
    }

    .primary_organ .main_datasets {
        margin-left: 0;
    }

    .add_group {
        margin-left: 15px;
    }

    .add_group a {
        height: 40px;
    }

    .action_org {
        margin-top: 35px;
    }

    .media_gr .media-grid {
        grid-column-gap: calc((100% - 510px)/2);
    }

    .media_gr .media-item {
        width: 170px;
    }

    .media_gr .media-item img {
        height: 150px;
        min-height: 150px;
    }

}

/* Tab ngang */

@media only screen and (max-width: 800px) {

    .main.hero {
        height: 185px;
    }

    .search-form .search-input.search-giant input {
        height: 38px;
        font-size: 18px;
    }

    .group_items img {
        width: 110px;
        height: 110px;
        max-width: 110px;
        max-height: 110px;
    }

    .box-desc {
        margin-top: 20px;
    }

    .box-desc img {
        width: 50%;
        height: 100px;
    }

    .box-desc_1 > h4, .box-desc_2 > h4, .box-desc_3 > h4, .box-desc_4 > h4 {
        font-size: 35px;
        margin-top: 0;
    }

    .box-desc_1 > p, .box-desc_2 > p, .box-desc_3 > p, .box-desc_4 > p {
        font-size: 15px;
    }

    .container_list-one {
        width: 100%;
        text-align: center;
    }

    .pagelist_inhome {
        margin-top: -45px;
        height: 685px;
        max-height: 685px;
    }

    .listpage_inhome {
        height: 635px;
    }

    .image_pages a {
        height: 90px;
    }

    .detail_news .btn_field_news {
        margin-top: -2px;
    }

    .container_list-two {
        display: none;
    }

    .end_page {
        height: 1540px;
        margin-bottom: 0;
    }

    .media-footer {
        margin-top: 5px;
    }

    .media-footer img {
        height: 65px;
    }

    .opendata-footer {
        top: 32px;
        left: 115px;
    }

    .opendata-footer b {
        font-size: 20px;
    }

    .site-footer-heading {
        margin-top: 5px;
    }

    .site-footer-heading span,
    .site-footer-heading p {
        font-size: 16px;
    }

    .footer_text > ul > li {
        margin-top: -10px;
    }

    .footer_box {
        margin-top: 40px;
    }

    .footer_text.col2 .about {
        padding-inline-start: 18px;
    }

    ul.menu.vertical.site-footer_menu > li > a,
    .footer_text > ul > li > a {
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
    }

    .footer_tooltip a:hover .tooltip_text {
        display: none;
    }
 
    .icon img {
        width: 25px;
        height: 25px;
    }

    .icon_number {
        margin-left: 2px;
    }

    .icon_address {
        margin-left: 5px;
    }

    .icon_address img {
        width: 20px;
        height: 20px;
    }

    a.address_footer {
        margin-left: 0;
    }

    /* dataset */

    .main .secondary {
        width: 30%;
    }

    .main .mb_primary {
        width: 70%;
    }

    .main .primary.primary_organ {
        width: 100%;
    }

    .label[data-format] {
        padding: 2px 4px;
    }

    /* login */

    .main .primary.bg_login {
        width: 100%;
    }

    .content_login {
        width: 550px;
        box-shadow: none;
    }

    .media-grid {
        grid-column-gap: calc((100% - 620px)/3);
    }

    .media-item {
        width: 155px;
    }

    .media_organ img {
        height: 135px;
        min-height: 135px;
    }

    .media_gr .media-grid {
        grid-column-gap: calc((100% - 450px)/2);
    }

    .media_gr .media-item {
        width: 150px;
    }

    .media_gr .media-item img {
        height: 130px;
        min-height: 130px;
    }

    /* form */

    .create_item .form-group,
    .bg_datasets .form-group,
    .bg_edit-dataset .form-group,
    .form_edit .form-group {
        margin-bottom: 10px;
    }

    .col_child-one, .col_child-two {
        width: 47%;
    }

    .new_datasets .form-group, .control-full, .new_datasets .control-medium,
    .dataset-form .control-medium, .control-custom, .fix_key, .fix_value {
        display: block;
    }

    .input_upload-img {
        height: auto;
    }

    input#field-image-upload, a.btn_upload {
        top: 42px;
    }

    .remove_img, .js .image-upload .btn-remove-url {
        top: 47px;
    }

    .create_item .action_item {
        margin-top: 20px;
    }

    .organ_status {
        margin-top: -10px;
    }

    .fix_value input.form-control {
        width: 90%;
    }

    .remove_kv {
        display: flex;
    }

    form#resource-edit .stages {
        height: 0;
      }

    .edit_name {
        margin-bottom: 15px;
    }

    .name_file-up {
        display: block;
    }

    .btn_upload-file  {
        top: 42px;
        left: 10px;
    }

    .btn_remove-url, .btn_remove-up {
        top: 47px;
    }

    .form_edit {
        margin-top: -20px;
    }

    .url_file {
        margin-top: 0;
    }

    .primary_user .form-group {
        display: block;
    }

    .primary_user .remove_img, .js .primary_user .image-upload .btn-remove-url {
        top: 45px;
    }

    .primary_user input#field-image-upload, .primary_user a.btn_upload {
        top: 41px;
    }

    .primary_user .show_password {
        top: 42px;
    }

    .primary_user .regulation_pass {
        padding-top: 35px;
    }

    /* register */

    .form_register {
        padding: 15px;
    }

    .register_main2 .control-label, .register_main1 .control-label {
        left: 10px;
        width: 85%;
    }

    .re_date .control-label {
        width: 70%;
    }

    .change_label.control-label {
        width: auto;
    }

    input#field-email, input#field-username, .input_register input#field-confirm-password,
    .input_register input#field-password, input#field-fullname, input#field-number-phone,
    .select-item, .input-item input, input#field-detail, input#field_detail-organ, input#field-organ,
    input#field-desc, input#field_desc-organ, input#field-present, input#field_fullname-organ,
    input#field_position-organ, #field_present-organ, .input_main .select2-container .select2-choice,
    input#field-organ_under, #field_image-upload {
        padding: 0 10px;
    }

    .select-item {
        background-position: 95% center;
    }

    input#field-date, input#field_date-organ {
        background-position: 97% center;
    }

    /* menu admin */

    .infor_admin, .form_admin, .bg_trash, #infor_form {
        margin-left: 40px;
    }

    .heading_admin {
        font-size: 30px;
        line-height: 30px;
        margin-top: 15px;
    }

    .form_admin.config_form, .bg_trash {
        padding: 0 15px 15px;
    }

    .my_account .module-content {
        padding: 20px 15px 0 15px;
    }

    .dmdc_second .fix_text a, .dmdc_second .fix_text .active a {
        padding-left: 35px;
    }

    .dmdc_second .img_admin, .dmdc_second .img_infor, .dmdc_second .img_config, .dmdc_second .img_trash, .dmdc_second .img_permission {
        left: 8px;
    }

}

/* @media only screen and (max-width: 789px) {
    
    .list_box iframe {
        height: 750px;
    }

    .main.main_page {
        padding-top: 0;
        background: transparent;
    }

    .main.main_page .secondary {
        width: 0;
    }

    .main.main_page .col-sm-9 {
        width: 100%;
    }

    .main.main_page .pagelist_inhome {
        margin-top: -20px;
    }

    .main.main_page header.module-content.page-header {
        display: none;
    }

    .main.main_page .module-content {
        padding: 0;
        margin-right: 15px;
    }

} */

/* Ipad dọc(768 x 1024) */

@media only screen and (max-width: 768px) {

    .main.hero {
        height: 185px;
        margin-top: 108px;
    }

    .group_menu {
        height: 210px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-inline-start: 0;
    }

    .group_menu::-webkit-scrollbar {
        display: none;
    }

    .group_items {
        min-width: 150px;
        height: 150px;
    }

    .group_items img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .container_box {
        padding-bottom: 10px;
    }

    .pagelist_inhome {
        margin-top: -180px;
        height: 585px;
        max-height: 585px;
    }

    .listpage_inhome {
        height: 535px;
    }

    .image_pages a {
        height: 70px;
    }

    .end_page,
    .page_chart {
        height: 1535px;
    }

    canvas.chart_donut {
        width: 280px !important;
    }

    .footer_contact,
    .footer_box {
        width: 100%;
    }

    .footer_box {
        margin-top: -10px;
    }

    .about > li > h3 {
        margin-top: 35px;
        margin-bottom: -5px;
    }

    /* dataset */

    .main {
        padding-top: 0;
        padding-bottom: 0;
        background: var(--white);
    }

    .main .secondary,
    .main .primary {
        width: 100% !important;
        min-height: auto;
        padding: 0;
    }

    .main .primary_user {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .primary_user .mobile_user {
        padding-left: 15px;
    }

    .main .secondary {
        margin-top: 15px;
    }

    .add_datasets a {
        /* margin-bottom: 0; */
    }

    .js .main .secondary .filters {
        display: block;
        position: initial;
        overflow: auto;
        padding: 0;
        background-color: transparent;
    }

    .page_pri-gr .filters,
    .page_pri-org .filters {
        padding: 0 15px !important;
    }

    .sidebar_item section.module.module-narrow.module-shallow {
        border: 1px solid #dcd8d8;
        border-radius: 8px;
        padding: 0 15px;
    }

    .sidebar_item h2 {
        padding: 12px 15px !important;
        margin-bottom: 0;
    }

    .sidebar_item .dr_facet {
        filter: invert();
        margin-top: 10px;
    }

    .page_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-header .nav-tabs {
        margin-left: 0;
    }

    .page-header.header_pac .nav-tabs {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .action_org {
        margin-top: 50px;
    }

    .action_pac {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 15px;
    }

    .module_h1 .infor_item {
        margin-top: -25px;
        margin-bottom: -10px;
    }

    .sidebar_item nav {
        background: #fff !important;
    }

    .sidebar_item .nav_form {
        padding-right: 0;
    }

    .sidebar_item .nav > li.nav_item {
        margin: 6px 0;
    }

    section.module.module-narrow.module-shallow {
        margin-bottom: 10px;
    }

    section.module.module-narrow.module-shallow nav {
        background: #F3F3F3;
        margin-top: -10px;
    }

    .nav_form {
        max-height: 0;
    }

    .nav_dot {
        padding: 1px 7px;
    }

    .mobile_footer {
        display: none;
    }

    section.module.module-narrow.module-shallow:last-child {
        padding-bottom: 0;
    }

    .page_pri h2.module-heading {
        text-align: left;
        border-radius: 8px;
        padding: 13px 25px;
        height: auto;
    }

    .page_pri .module:first-child .module-heading {
        border-radius: 8px;
    }

    .dr_facet {
        display: block;
        float: right;
        margin-top: 8px;
    }

    .module-heading .dr_facet:last-child {
        display: none;
    }

    .page_module {
        box-shadow: none;
        margin: 0 -15px;
    }

    .item_search {
        display: block;
        position: relative;
    }

    .main_datasets h1 {
        width: 100%;
        max-width: 100%;
        text-align: center;
        color: #222222;
        margin-top: -5px;
        padding-right: 0;
    }

    .main_datasets .input-group.search-input-group {
        width: 100%;
        margin: 15px 0;
    }

    .clear_input-item {
        top: 1px;
    }

    input#field-giant-search, #search_input  {
        border-radius: 10px;
    }

    .form-select_filter {
        padding-top: 15px;
    }

    .datasets_span {
        margin-top: 5px;
    }

    .dataset-resources {
        margin-top: 0;
    }

    .page_module .pagination-wrapper {
        margin-bottom: -40px;
    }

    .list_organ-gr {
        margin-bottom: 0;
    }

    #datasets_box {
        padding-top: 20px;
    }

    .page_module-data .resource-list {
        margin: 0;
    }

    li.resource-item {
        min-height: 60px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0;
    }

    li.resource-item:first-child {
        border-top: 1px solid #ccc;
    }

    .page_module-data .table-bordered {
        width: 100%;
        margin: 20px auto;
    }

    /* detail dataset */

    .wrapper {
        width: 100%;
        /* display: flex; */
        flex-direction: column-reverse;
        margin-top: 110px;
        justify-content: flex-end;
    }

    .row_mobile {
        display: block;
    }

    article.module {
        margin-left: -15px;
        min-height: 0;
    }

    article.module.bg_changes {
        margin: 0 -30px 0 -15px;
    }

    .bg_changes .module-content {
        padding: 15px;
    }

    .bg_changes h1.page-heading {
        font-weight: 400;
        font-size: 20px;
        color: #222222;
    }

    .notes.embedded-content p {
        font-size: 15px;
        line-height: 23px;
    }

    .context-info h1.heading {
        font-size: 18px;
        line-height: 25px;
        white-space: unset;
        text-align: justify;
    }

    h1.heading.name_organ {
        border: none;
    }

    .pri_mobile {
        box-shadow: 0px 0px 2px rgba(90, 108, 234, 0.5);
        border-radius: 5px;
    }

    .page_pri h2.organ_header, .page_pri h2.organ_tags {
        border-radius: 0;
        padding-left: 15px;
        text-transform: uppercase;
    }

    .context-info .image img, .context-info .image a {
        width: 250px;
        margin: 0 auto;
    }

    .hide_cmt {
        /* display: none; */
    }

    .mobile_cmt {
        display: block;
        padding: 15px;
        margin-top: -35px;
    }

    .btn_add-group {
        margin-bottom: 10px !important;
    }

    .media_gr .media-grid {
        width: 100%;
        display: flex;
        grid-column-gap: 0;
        overflow-x: auto;
        margin-top: -35px;
    }

    .media_gr .media-grid::-webkit-scrollbar {
        display: none;
    }

    .media_gr .media-grid li {
        min-width: 180px;
        margin-right: 20px;
    }

    .media_gr .media-item img {
        height: 160px;
        min-height: 160px;
    }

    .media_gr .media-grid li:first-child {
        margin-left: 1px;
    }

    .media-item .media-edit {
        padding: 0px 6px;
    }

    /* view data */

    .menu_data {
        padding: 0;
    }

    .bg_view-data {
        padding: 15px 0;
        position: relative;
    }

    .btn_dl a {
        line-height: 16px;
    }

    .text-muted {
        width: 60%;
    }

    .resource-view.resource_view-data {
        margin-top: 0;
    }

    .box_infor {
        padding: 0;
    }

    .resources_tag {
        margin-right: 20px;
    }

    .box_infor-data {
        margin-right: 0;
    }

    .meta_data {
        padding: 30px 0 0;
    }

    .main .primary.primary_organ {
        padding-bottom: 30px;
    }

    .form_item {
        margin-top: 20px;
    }

    .primary_organ .form_item {
        height: auto;
        display: block;
    }

    .primary_organ .form_item .main_datasets {
        padding-bottom: 0;
    }

    .primary_organ .form_item.form_item-gr .main_datasets {
        padding-bottom: 40px;
    }

    .form_item h1 {
        width: 100%;
        max-width: 100%;
    }

    .form_item .main_datasets .input-group.search-input-group {
        position: relative;
        bottom: 0;
    }

    .primary_organ .add_group {
        height: 40px;
        margin: 0;
    }

    .media-grid {
        grid-column-gap: calc((100% - 650px)/3);
    }

    .media-item {
        width: 160px;
    }

    .media_organ img {
        height: 140px;
        min-height: 140px;
    }

    .new-datasets a {
        margin-top: 0;
    }

    /* hdsd */

    .bg_hdsd {
        padding: 15px 0;
        margin-bottom: -30px;
    }

    .heading_feed {
        margin-bottom: -15px;
    }

    /* form */

    .form-actions {
        text-align: end;
    }

    .module_mobile {
        margin-top: -15px;
    }

    .create_item {
        margin: -15px -15px 50px -15px;
    }

    .bg_edit-dataset form#dataset-edit {
        margin-bottom: 0;
    }

    img.data_back {
        margin-right: 0;
    }

    .heading-item {
        height: 0;
    }

    .row_fix {
        margin-top: 0;
    }

    .item_heading-fix {
        width: 100%;
        top: 5px;
        left: 0;
    }

    .img_back {
        margin-top: -45px;
    }

    .create_item .action_item {
        width: 100%;
        text-align: end;
        margin-top: 0;
        float: right;
    }

    .item_heading {
        padding-left: 0;
        top: -12px;
    }

    .bg_datasets .module-content {
        padding: 30px 0 0;
    }

    .form_edit {
        padding-bottom: 30px;
    }

    a.btn_view-res {
        right: 0;
        top: 45px;
    }

    .img-back {
        right: 0;
    }

    .heading_edit-data {
        left: 0;
    }

    .resources_data {
        margin-top: -15px;
    }

    .nav_data {
        margin-top: 50px;
    }

    .nav_edit-data {
        margin-top: 15px;
    }

    .form_edit .form-actions, .create_datasets .form-actions {
        text-align: end;
    }

    .primary_user form#user-edit-form {
        padding-bottom: 30px;
    }

    .primary_user .edit_pass {
        width: 65%;
    }

    /* logout */

    .bg_logout {
        min-height: auto;
        padding: 15px 0;
    }

    /* menu admin */

    .sidebar_mobile .sidebar_admin {
        width: 40px;
        height: auto;
        background: #ddd;
        border-radius: 0;
    }

    .sidebar_mobile .sidebar_admin .list-admin {
        min-height: 753px;
    }

    .change_width {
        width: 250px !important;
    }

    .change_show-menu {
        padding-left: 10px;
    }

    .sidebar_mobile .list-admin .span_config.fix_text div.hidden {
        display: none !important;
    }
    
    .sidebar_mobile .show_menu {
        display: flex;
    }

    .infor_acc .acc_avatar .image img {
        width: 100%;
    }

    .primary_user .infor_form .list_organ-gr, .primary_user .bg_user-ac {
        padding-bottom: 15px;
    }

    .primary_admin {
        padding-bottom: 20px !important;
    }

    .primary_admin article.module.infor_admin {
        margin: 2px 0 0 40px !important;
        min-height: 750px;
        box-shadow: 0px 0px 2px rgba(90, 108, 234, 0.5);
        border-radius: 0;
    }

    .primary_admin .btn_ind {
        display: flex;
    }

    .infor_form .list_organ-gr, .bg_user-ac {
        max-height: 665px;
    }

}

@media only screen and (max-width: 700px) {

    .end_page,
    .page_chart {
        height: 1500px;
    }

    .media_gr .media-item {
        margin-bottom: 20px;
    }

    .media-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: calc((100% - 600px));
    }

    .media-item {
        width: 300px;
        margin-bottom: 40px;
    }

    .media_organ img {
        min-height: 280px;
        height: 280px;
    }

}

@media only screen and (max-width: 689px) {

    .group_menu {
        height: 190px;
    }

    .group_items {
        min-width: 130px;
        height: 130px;
        margin-right: 10px;
    }

    .group_media-heading a {
        font-size: 14px;
    }
    
    .content_login {
        width: 100%;
    }

    .form_login {
        position: relative;
        padding: 0 50px;
    }

    .show-pass {
        right: 65px;
    }

}

@media only screen and (max-width: 649px) {

    .end_page,
    .page_chart {
        height: 1490px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 560px));
    }

    .media-item {
        width: 280px;
    }

    .media_organ img {
        height: 260px;
        min-height: 260px;
    }

    /* menu admin */

    .primary_user .btn_ind {
        display: block;
    }

    .primary_user .btn_ind .btn_add {
        margin-bottom: 10px;
    }

    .primary_admin .btn_ind {
        display: block;
    }

}

@media only screen and (max-width: 615px) {
    
    .end_page,
    .page_chart {
        height: 1470px;
    }

    .header_pri .nav-tabs {
        margin-bottom: -15px;
    }

    .infor_item {
        margin-top: 15px;
    }
}

/* Tab dọc */

@media only screen and (max-width: 600px) {

    .mobile_navbar-toggle {
        margin-left: 30px;
    }

    span.username {
        font-size: 15px;
    }

    .main.hero {
        height: 155px;
    }

    .container_box {
        background-size: cover;
    }

    .box-desc {
        display: inherit;
    }

    .box-desc_1, .box-desc_2, .box-desc_3, .box-desc_4 {
        width: 49%;
        display: inline-block;
    }

    .border_b {
        width: 100%;
    }

    .end_page,
    .page_chart {
        height: 1540px;
    }

    .feature-item {
        width: 80%;
    }

    canvas.chart_donut {
        width: 80% !important;
    }

    /* dataset */

    .add_datasets a {
        height: auto;
        padding: 5px;
    }

    h2.module-heading {
        padding: 10px 25px !important;
    }

    h2.module-heading.organ_tags {
        padding: 10px;
    }

    .page_module-data .table-bordered {
        width: 100%;
    }

    .sidebar_item h2 {
        padding: 5px 0 !important;
    }

    .media_gr .media-grid li {
        min-width: 150px;
    }

    .media_gr .media-item img {
        height: 130px;
        min-height: 130px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 500px));
    }

    .media-item {
        width: 250px;
        margin-bottom: 35px;
    }

    .media_organ img {
        height: 230px;
        min-height: 230px;
    }

     /* view data */

    .span_back {
        margin-top: -55px;
    }

    .module h1.heading_trun {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .menu_data ul {
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
    }

    .menu_data ul::-webkit-scrollbar {
        display: none;
    }

    .menu_data li {
        display: flex;
    }

    .text-muted {
        width: 100%;
    }

    .prose.notes {
        text-align: justify;
        margin-bottom: 10px;
    }

    .box_infor {
        display: block;
    }

    .box_infor-data, .form_infor,
    .resources_tag ul.list-unstyled {
        width: 100%;
    }

    .resources_tag {
        margin-right: 0;
    }

    /* login */

    .main .primary.bg_login {
        padding-top: 20px;
    }

    .main .primary.bg_login .module-content {
        padding: 0;
    }

    .page-heading-login {
        padding-top: 30px;
    }

    .form_login {
        padding: 0;
    }

    .show-pass {
        right: 15px;
    }

    h2.media-heading {
        font-size: 16px;
    }

    .btn_login, .forgot_pass {
        width: 50%;
        min-width: 130px;
        height: 45px;
    }

    /* form */

    .col_child-one, .col_child-two {
        width: 100%;
    }

    .editor textarea {
        height: 100px;
    }

    .col-md-6.new_datasets,
    .fix_mt .col-md-6  {
        width: 100%;
    }

    .remove_kv {
        width: 9%;
        display: block;
        float: right;
        text-align: center;
    }

    .remove_kv label {
        margin: 8px auto;
    }

}

@media only screen and (max-width: 549px) {

    .end_page,
    .page_chart {
        height: 1500px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 440px));
    }

    .media-item {
        width: 220px;
        margin-bottom: 35px;
    }

    .media_organ img {
        height: 200px;
        min-height: 200px;
    }

}

/* Phone ngang(480 x 640) */

@media only screen and (max-width: 480px) {

    span.username,.dr_menu {
        display: none;
    }

    .form_notify {
        width: 300px;
        height: 390px;
    }

    .form_notify ul.activity {
        max-height: 370px;
    }

    .form_notify .activity .item .actor .user-image {
        width: 25px;
        height: 25px;
    }

    .form_notify li.item p, .form_notify .item .date {
        margin-left: 35px;
    }

    .mobile_sec {
        padding: 0 15px;
    }

    img.mobile_home {
        margin-top: 7px;
    }

    .main.hero {
        height: 130px;
        margin-top: 90px;
    }

    .heading_blue,
    .heading_white {
        font-size: 21px;
    }

    .container_heading p {
        width: 100%;
    }

    .group_menu {
        height: 155px;
    }

    .group_items {
        min-width: 100px;
        height: 100px;
    }

    .group_items .module-image {
        margin-bottom: 10px;
    }

    .box-desc_1 > p, .box-desc_2 > p, .box-desc_3 > p, .box-desc_4 > p {
        display: grid;
    }

    .list_box {
        margin-top: 20px;
    }

    .list_box iframe {
        height: 625px;
    }

    .detail_news {
        width: 100%;
        float: none;
        margin-top: 0;
    }

    .image_pages a {
        height: 50px;
    }

    .image_pages .dataset-heading a {
        height: 40px;
    }

    .detail_news .date_pages {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 4%;
    }

    .end_page,
    .page_chart {
        height: 1520px;
    }

    .feature-item {
        width: 100%;
    }

    .media-footer img {
        display: none;
    }

    .opendata-footer {
        position: inherit !important;
        margin-top: 20px;
    }

    .opendata-footer b {
        margin-left: 0;
    }

    .site-footer-heading span, .site-footer-heading p {
        font-size: 15px;
    }

    .footer_box {
        margin-top: 0;
    }

    ul.about {
        padding-inline-start: 0;
    }

    /* dataset */

    .page_pri h2.module-heading {
        padding: 10px 15px !important;
    }

    .media_gr .media-grid li {
        width: 135px;
        min-width: 135px;
    }

    .media_gr .media-item img {
        height: 115px;
        min-height: 115px;
    }

    h2.media-heading {
        font-size: 16px;
    }

    .page_module .pagination li a,
    .page_module .pagination li.active a {
        font-size: 13px;
        padding: 3px 8px;
        margin: 0;
    }

    .pagination > li:last-child > a {
        margin-right: 10px;
    }

    .page_module .pagination li.active:first-child a {
        margin-right: 5px !important;
    }

    .page-header .nav-tabs {
        width: 100%;
        display: flex;
        justify-content: unset;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: 0;
    }

    .page-header .nav-tabs::-webkit-scrollbar {
        display: none;
    }

    .page-header .nav-tabs > li a {
        white-space: nowrap;
        padding: 10px 20px;
    }

    .page-header .nav-tabs > li:first-child a {
        padding-left: 15px;
    }

    .page-header .nav-tabs > li.active:first-child a {
        padding-left: 0;
    }

    /* detail dataset */

    .wrapper {
        margin-top: 100px;
    }

    .row_mobile {
        margin-top: 110px;
    }

    .context-info .image img, .context-info .image a {
        width: 80%;
    }

    .action_org {
        /* padding-right: 15px; */
    }

    .btn_manager a,
    .new-datasets a,
    .add_member a {
        padding: 6px;
        margin-top: 4px;
        font-size: 13px;
    }

    .btn_data a {
        padding: 5px 10px;
    }

    .resource-item .btn-group {
        position: unset;
        margin-top: 5px;
    }

    /* view data */

    /* .menu_data ul {
        width: 65%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .menu_data ul li a {
        white-space: nowrap;
    }

    .menu_data ul::-webkit-scrollbar {
        display: none;
    } */

    .span_back {
        display: none;
    }

    .resource-item .heading {
        width: 100%;
        -webkit-line-clamp: 2;
    }

    .resource-item .format-label {
        top: 14px;
    }

    .action_text {
        align-items: end;
        flex-direction: column-reverse;
    }

    .module-resource .actions {
        margin: 0px 0 5px 0;
    }

    .module h1.heading_trun {
        font-size: 18px;
        line-height: 24px;
    }

    .module h1.heading_trun span {
        display: unset;
        margin-right: 5px;
    }

    .module h1.heading_trun img {
        width: 25px;
        height: 25px;
        margin-top: -5px;
    }

    .add_group a {
        height: 35px;
        padding: 6px;
        font-size: 14px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 400px));
    }

    .media-item {
        width: 200px;
        margin-bottom: 30px;
    }

    .media_organ img {
        height: 180px;
        min-height: 180px;
    }

    /* font size */

    .mobile_search-box .search-input input::placeholder,
    .container_heading p,
    .box-desc_1 > p, .box-desc_2 > p, .box-desc_3 > p, .box-desc_4 > p,
    th, td {
        font-size: 14px;
    }

    .nav-pills > li > a {
        font-size: 16px;
    }

    .heading_blue, .heading_white {
        font-size: 16px;
        margin-top: 25px;
    }

    .heading_white {
        padding-top: 30px;
    }

    .box-desc_1 > h4, .box-desc_2 > h4, .box-desc_3 > h4, .box-desc_4 > h4 {
        font-size: 32px;
    }

    .feature-item-box h4 {
        font-size: 16px;
    }

    .image_pages .dataset-heading a {
        font-size: 13px;
        font-weight: 600;
        line-height: 19px;
    }

    .listpage_inhome {
        position: relative;
        top: -110px;
    }

    .page-container {
        margin-top: -110px;
    }

    .bar {
        height: 35px;
    }

    .bar_item {
        padding-top: 8px;
    }

    .heading_item {
        font-size: 18px;
        line-height: 25px;
    }

    h2.media-heading,
    h2.module-heading,
    .context-info h1.heading,
    input#field-giant-search, #search_input  {
        font-size: 16px;
    }

    .label[data-format] {
        font-size: 9px;
    }

    .datasets_desc a,
    .notes.embedded-content p {
        font-size: 13px;
    }

    .heading_resources,
    .heading_resource {
        font-size: 20px;
    }

    .resources_tag li a,
    .nav-item.active > a {
        font-size: 15px;
    }

    .page_module .main_datasets h1 {
        font-size: 18px;
        margin-top: -10px;
    }

    .action_item {
        position: relative;
    }

    .add_member {
        margin: 0;
        position: absolute;
        right: 15px;
        top: 0;
    }

    .search_members {
        width: 100%;
        padding: 55px 15px 10px;
    }

    .media > img {
        display: none;
    }

    .page-heading-login {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 15px !important;
    }

    /* form */

    img.data_back {
        margin-right: 15px;
    }
    
    .nav_data {
        height: 30px;
        margin-top: 25px;
    }

    .primary_user .infor_acc {
        width: 100%;
        box-shadow: 0px 0px 2px rgba(90, 108, 234, 0.5);
        border-radius: 5px;
        padding: 15px 15px 0;
    }

    .primary_user .mobile_user {
        width: 100%;
        padding-left: 0;
    }

    .primary_user .acc_avatar {
        width: 200px;
        margin: 0 auto;
    }

    .primary_user .account_text .heading h1 {
        font-size: 22px;
    }

    .primary_user .page_content {
        margin-top: 25px !important;
    }

    .primary_user .page-header .nav-tabs {
        overflow-x: unset;
        overflow-y: unset;
        justify-content: center;
    }

    .primary_user .btn_ind {
        display: flex;
        margin-top: 25px;
        margin-bottom: -15px;
    }

}

@media only screen and (max-width: 444px) {

    .end_page,
    .page_chart {
        height: 1470px;
    }

    .media-grid {
        grid-column-gap: calc((100% - 360px));
    }

    .media-item {
        width: 180px;
    }

    .media_organ img {
        height: 160px;
        min-height: 160px;
    }

    .page-header.header_pac .nav-tabs {
        justify-content: unset;
        overflow-x: auto;
        overflow-y: hidden;
    }

}

@media only screen and (max-width: 405px) {

    .media-grid {
        grid-column-gap: calc((100% - 340px));
    }

    .media-item {
        width: 170px;
    }

    .media_organ img {
        height: 150px;
        min-height: 150px;
    }

}


@media only screen and (max-width: 389px) {

    .media-grid {
        display: block;
    }

    .media-item {
        width: 100%;
    }

    .media_organ img {
        height: auto;
        max-height: none;
    }

    .pagelist_inhome {
        margin-top: -180px;
    }

}

@media only screen and (max-width: 375px) {

    .mobile_navbar-toggle {
        margin-left: 20px;
    }

    .mobile_search-box .search-input input {
        background-image: none;
        padding-left: 10px;
    }

    .mobile_search-box .btn-search {
        right: 10px;
    }

    .form_notify {
        width: 250px;
        height: 360px;
    }

    .form_notify ul.activity {
        max-height: 340px;
    }

    .main.hero {
        height: 95px;
        margin-top: 98px;
    }

    .container_heading p {
        font-size: 15px;
    }

    .pagelist_inhome {
        margin-top: -145px;
    }

    .end_page,
    .page_chart {
        height: 1450px;
    }

    canvas.chart_donut {
        width: 100% !important;
    }

    .count_pagination {
        font-size: 13px;
        bottom: -46px;
    }

    .action_org .content_action {
        margin-bottom: 25px;
    }

    .btn_data a {
        padding: 6px 12px;
    }

    .bg_add-gr .add-to-group {
        /* display: flex; */
    }

    .btn_add-group {
       width: 100%;
    }

    .heading_resources {
        font-size: 20px;
        line-height: 0px;
    }

    .page_module-data, .bg_add-gr {
        margin-top: 10px;
    }

    .module > .module-content:nth-child(2n) {
        padding-top: 0;
    }

    .btn_dl-all {
        margin-top: 5px;
    }

    .datasets_item {
        padding: 8px;
    }

    span.datasets_list {
        margin-right: 10px;
    }

    .datasets_span .text {
        width: 35%;
    }

    .header_pri .nav-tabs {
        margin-bottom: 0;
    }

    .module_h1 h1 {
        text-align: center;
    }

    .infor_item {
        margin-top: -35px;
    }

    .member_item {
        padding-bottom: 20px;
    }

    .fix_value input.form-control {
        width: 87%;
    }

    .form_item .main_datasets .input-group.search-input-group {
        margin-top: 0;
    }

    .form_item h1 {
        text-align: center;
    }

}

@media only screen and (min-width: 321px) and (max-width: 340px) {

    .list_box {
        margin-top: 15px;
    }

    .list_box iframe {
        height: 500px;
    }

    .listpage_inhome {
        overflow: initial;
        top: 0;
    }

    .page-container {
        margin-top: 13px;
    }

}

/* Phone dọc(480 x 640) */
@media only screen and (max-width: 320px) {

    img.clear_input {
        right: 45px;
    }

    .nav-pills > li.active > a {
        font-size: 16px;
    }

    .container_heading p {
        text-align: justify;
        font-size: 14px;
    }

    .group_media-heading a {
        font-size: 12px;
    }

    .box-desc_1, .box-desc_2, .box-desc_3, .box-desc_4 {
        width: 100%;
        display: block;
        margin-top: 10px;
    }

    .box-desc_1 > h4, .box-desc_2 > h4, .box-desc_3 > h4, .box-desc_4 > h4 {
        font-size: 30px;
    }

    .box-desc img {
        width: 100%;
        height: 70px;
    }

    .border_b {
        width: 70%;
    }

    .list_box {
        margin-top: 15px;
    }
    
    .list_box iframe {
        height: 500px;
    }

    .pagelist_inhome {
        height: 455px;
        max-height: 455px;
    }

    .listpage_inhome {
        height: 410px;
        padding: 10px 0;
        overflow: initial;
        top: 0;
    }

    .image_pages a {
        height: 36px;
        margin-top: 5px;
    }

    .detail_news .btn_field_news {
        padding: 1px 5px;
    }

    .page-container {
        float: none;
        justify-content: center;
        margin-top: 13px;
    }

    #pagination li a {
        padding: 2px 8px;
    }

    .end_page .heading_white {
        margin-top: 10px;
        margin-bottom: -15px;
    }

    .end_page,
    .page_chart {
        height: 1220px;
    }

    .feature-item {
        min-height: auto;
    }

    .feature-item-box h4 {
        font-size: 18px;
    }

    .bar {
        height: 30px;
    }

    .bar_item {
        padding-top: 5px;
    }

    .opendata-footer b {
        font-size: 16px;
    }

    ul.menu.vertical.site-footer_menu > li > a,
    .footer_text > ul > li > a {
        font-size: 14px;
    }

    .footer_text {
        width: 100%;
    }

    .footer_text.col2 .about {
        padding-inline-start: 0;
    }

    /* dataset */

    .add_datasets a {
        font-size: 15px;
    }

    .page_pri h2.module-heading {
        font-size: 14px;
    }

    .nav_text {
        font-size: 15px;
    }

    .nav > li.nav_item {
        height: 40px;
    }

    span.datasets_list {
        display: none;
    }

    .label.lock {
        font-size: 10px;
    }

    .lock img {
        margin-top: -1px;
    }

    .datasets_span .text {
        max-width: 30%;
    }

    .label[data-format] {
        padding: 2px;
    }

    .primary_organ .form_item {
        margin-top: 10px;
    }

    .main_datasets h1 {
        font-size: 18px;
    }

    .primary_organ .add_group {
        margin-bottom: -5px;
    }
    
    .add_group a {
        height: 30px;
        font-size: 12px;
    }

    input#field-giant-search, #search_input  {
        height: 35px;
        font-size: 15px;
        padding-right: 85px;
    }

    .clear_input-item {
        padding: 9px;
        top: 0;
        right: 45px;
    }

    .btn_search-dataset img {
        height: 28px;
    }

    .dl_all {
        display: block;
    }

    .heading_resources {
        margin: 30px 0 20px 0;
    }

    /* form */

    a.btn_link {
        padding-left: 90px;
    }

}

@media only screen and (max-width: 310px) {
    .end_page,
    .page_chart {
        height: 1150px;
    }

    .feature-item {
        padding: 15px;
    }

    .feature-item-box h4 {
        padding-bottom: 0;
    }

    .rate span img {
        width: 13px;
        height: 13px;
    }
}

@media only screen and (max-width: 295px) {
    .end_page,
    .page_chart {
        height: 1130px;
    }
}

@media only screen and (max-width: 280px) {
    .end_page,
    .page_chart {
        height: 1120px;
    }

    .primary_user .acc_avatar {
        width: 180px;
    }
}

/* Smart phone nhỏ */
@media only screen and (max-width: 240px) {

    /* dataset */

    input#field-giant-search, #search_input  {
        padding-left: 8px;
    }

    .btn_search-dataset {
        right: -3px;
    }

    .search-form .control-order-by select  {
        height: auto;
        padding: 4px 6px;
    }

    .datasets_list {
        display: none;
    }

    .datasets_desc a {
        font-size: 14px;
    }

    .label[data-format] {
        font-size: 10px;
    }

}
