
/* header */

.masthead {
  background: transparent;
  padding: 0;
  position: relative;
  z-index: 10000;
}

nav.section.navigation {
  position: fixed;
  z-index: 100;
  display: flex;
  background: transparent;
}

span.username,
a.global {
  color: #fff !important;
}

span.username:hover,
a.global:hover {
  opacity: 0.8 !important;
}

.bell {
  position: relative;
}

.account-masthead .account .bell a span.badge, 
.mobile_search-box span.badge {
  font-size: 9px;
  padding: 1px 3px;
  background-color: #fe4545;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -2px;
  right: -1px;
}

.bell > a > img,
.bell_login > a > img {
  width: 21px;
  height: 24px;
}

li.bell {
  position: relative;
}

li.bell a {
  padding: 0 !important;
}

li.bell_login {
  margin-top: -2px;
}

li.bell_login > a {
  padding-right: 0 !important;
}

.account-masthead {
  background: linear-gradient(180deg, #2D55CC 0%, #2C78E6 100%);
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  height: 70px;
}

.account-masthead .account ul li {
  border: none;
}

.account-masthead .account ul li a {
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.account-masthead .account.authed .image {
  padding: 0;
}

.acc_name {
  position: relative;
  margin-right: 15px;
}

.dropdown_btn {
  width: 100%;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.acc_name .user-image {
  margin-right: 5px;
  border-radius: 50% !important;
  object-fit: cover;
}

.register:hover,
.login:hover {
  opacity: 0.8;
}

li.space {
  margin: 0 7px;
}

.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

.header_acc {
  padding: 0;
  margin-top: 10px;
}

.account.avatar.authed,
nav.account.not-authed {
  padding-top: 16px;
}

.masthead ul.nav.nav-pills {
  margin-top: 5px;
}

.masthead .navigation .nav-pills li.active a,
.user_authed.list-unstyled li.active a {
  color: #8EFCBA;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.user_authed.list-unstyled li.active a {
  font-size: 16px;
  line-height: 18px;
}

.masthead .nav > li > a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.masthead .navigation .nav-pills li a:hover {
  background-color: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.header_acc .nav-pills li {
  margin: 0 15px;
}

.header_acc .nav-pills li a {
  padding: 10px 0;
}

.img-logo {
  position: absolute;
  top: -5px;
  left: 0;
  height: 58px;
}

div#main-navigation-toggle {
  margin-top: -85px;
}

.menu_acc {
  width: 200px;
  position: absolute;
  top: 35px;
  right: 0;
  background: var(--white);
  box-shadow: 0px 1px 9px rgba(10, 31, 68, 0.1), 0px 0px 1px rgba(10, 31, 68, 0.08), 0px 8px 10px rgba(10, 31, 68, 0.1);
  border-radius: 4px;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  display: none;
}

.menu_acc li {
  width: 100%;
  cursor: pointer;
}

.menu_acc li:hover {
  background-color: #E9EBED;
}

.menu_acc li:first-child {
  border-radius: 4px 4px 0 0;
}

.menu_acc li:last-child {
  border-radius: 0 0 4px 4px;
}

.menu_acc a {
  margin: 0 !important;
  padding: 12px 8px !important;
}

.acc_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6A7381;
  margin-left: 10px;
}

.heading_feed {
  font-weight: 400;
  font-size: 25px;
  color: #1F316B;
}

.text_about {
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.text_heading {
  font-weight: 500;
  font-size: 17px;
  color: #1F316B
}

.sub-article ul li {
  list-style: none;
  background-image: url(./images/img-box/tick.svg);
  background-repeat: no-repeat;
  background-position: -3px 5px;
  padding-left: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

.heading_admin {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #2747A0;
  float: left;
  width: 100%;
}

/* notify */

.btn_notify {
  width: 100%;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.form_notify {
  width: 400px;
  max-height: 525px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 33px 0px #00000040;
  padding: 10px 5px;
  position: absolute;
  top: 35px;
  transform: translateX(calc((-100%) + 21px));
  display: none;
}

.form_notify .activity {
  background: transparent;
  padding: 0 5px 5px;
}

.form_notify .activity::-webkit-scrollbar-button {
  margin-top: 0;
}

.form_notify li.item {
  width: 100%;
  background: #E1E3E9;
  border-radius: 20px;
  padding: 15px 15px 15px 70px !important;
}

.form_notify li.item p {
  margin-left: 0;
  font-size: 14px;
  line-height: 20px;
  color: #434343;
}

.form_notify .activity .item .actor .user-image {
  display: block;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
}

.form_notify .activity .item .actor a {
  display: initial !important;
}

.form_notify .activity .item .actor a:hover {
  color: #000;
  opacity: 0.8;
}

.form_notify ul li span a {
  display: initial !important;
  color: #434343 !important;
  font-weight: 700;
}

.form_notify .content_organ label {
  margin-left: 0 !important;
}

.form_notify .content_organ label a {
  color: #434343 !important;
  font-weight: 700;
}

.form_notify article.module {
  margin-right: 0;
  padding-bottom: 30px;
  border-radius: 14px;
}

.form_notify .img_package,
.form_notify .activity li i.fa {
  display: none;
}

.form_notify .item .date {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #757779;
  display: flex;
  margin: 5px 0 0;
}

.account-masthead .account .form_notify ul li .view_detail {
  font-size: 13px !important;
  line-height: 17px !important;
  font-weight: 500 !important;
  margin-left: 3px;
}

/* body */

.toolbar .breadcrumb a {
  color: #000;
}

.breadcrumb > .active {
  color: #000;
  font-weight: 700;
}

.main {
  min-height: auto;
  flex: 1;
}

.main.hero {
  height: 265px;
  background-image: url(./images/kontum.png);
  margin-top: 20px;
  /* background-image: url(./images/daklak.png);
  margin: 19px 0 0 -1px; */
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container.promoted_box {
  height: 100%;
}

.container.promoted_box  .search-form {
  width: 100%;
  padding-top: 0;
  margin-bottom: 0;
}

.search_box {
  height: 100%;
  display: flex;
  align-items: center;
}

.search_box .search-form .search-input {
  width: 65%;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img.clear_input {
  position: absolute;
  top: 4px;
  right: 55px;
  padding: 10px;
  cursor: pointer;
  display: none;
}

img.clear_input:hover {
  opacity: 0.7;
}

.search-form .search-input.search-giant input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  padding: 11px 90px 9px 25px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ccc;
}

.search-form .search-input.search-giant input::placeholder, #search_input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.container_heading {
  background-color: var(--white);
  text-align: center;
  padding: 0 15px;
}

.heading_blue {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0a95d7;
  position: relative;
  z-index: 1;
}

.container_heading p {
  width: 85%;
  margin: 16px auto 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}

/* group */

.row-new {
  background: var(--white);
  padding: 0 0 30px 0;
  margin: 20px auto;
}

.new_group {
  margin-bottom: -30px;
}

.group_menu {
  background: transparent;
  margin-top: 5px;
  padding-inline-start: 20px;
}

.group_items {
  display: inline-block;
  width: 15%;
  margin-right: 15px;
  margin-bottom: 15px;
  list-style-type: none;
}

.group_items .module-image {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.group_items img {
  width: 140px;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
  border-radius: 10px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}

.group_items img:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15); 
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
}

.group_media-heading {
  text-align: center;
}

.group_media-heading a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  width: 100%;
  display: grid;
  max-height: 42px;
  overflow: hidden;
  position: relative;
  top: 2px;
}

.container_box {
  background-image: url(./images/img-box/ht.png);
  padding-bottom: 20px;
}

.container_box-header {
  text-align: center;
}

.heading_white {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding-top: 30px;
  text-align: center;
}

.box-desc {
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.box-desc_1, .box-desc_2,
.box-desc_3, .box-desc_4 {
  width: 100%;
  text-align: center;
  padding: 4px 16px;
  background-color: transparent;
}

.box-desc_1 > h4,
.box-desc_2 > h4,
.box-desc_3 > h4,
.box-desc_4 > h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 30px;
}

.border_b {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  display: block;
  width: 80%;
  height: 5px;
  margin: -5px auto 15px auto;
}

.box-desc_1 > p,
.box-desc_2 > p,
.box-desc_3 > p,
.box-desc_4 > p {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #FFFFFF;
}

.container_list {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  margin-bottom: -35px;
}

.container_list .container {
  padding: 0;
}

.container_list-one {
  margin: 0 auto 30px auto;
  padding: 0;
}

.container_list-two {
  padding: 0;
  margin-top: 100px;
}

.container_list-two img {
  float: right;
  width: 95%;
}

.list_box {
  margin-left: -10px;
}

.list_desc {
  background-color: var(--white);
  margin: 0 20px 15px 20px;
  display: flex;
  border-radius: 5px;
}

.list_desc:last-child {
  margin-bottom: 0;
}

.list_desc .icon_list {
  margin: 15px 0px 0px 10px;
}

.icon_list img {
  height: 100px;
  width: 150px;
}

.list_text {
  padding: 10px;
}

.list_text a {
  font-size: 15px;
  font-weight: 600;
  color: #09051C;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  max-height: 40px;
  text-align: justify;
  overflow: hidden;
}

.list_text a:hover {
  color: #09f;
}

.list_text p {
  max-height: 40px;
  text-align: justify;
  overflow: hidden;
}

.list_text > small {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.end_page {
  margin-bottom: -18px;
}

.page_chart {
  width: 100% !important;
  background-image: url(./images/img-box/ht.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.page_chart .container {
  padding: 0;
}

.page_chart .heading_white {
  padding-top: 10px;
}

.feature-layout {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.feature-item {
  padding: 25px;
  background-color: var(--white);
  border-radius: 15px;
  width: 32%;
}

.feature-item-box {
  background-color: var(--white);
  text-align: center;
}

.feature-item-box h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 20px;
  margin-top: -5px;
}

.feature-item-box p {
  font-size: 16px;
  font-weight: 400;
  color: #383838;
}

.dot {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}

.chart_p, .chart_l {
  width: 100%;
}

.chart_p {
  margin-top: 20px;
}

/* chart */

.bar {
  background: #F72585;
  width: 0;
  height: 38px;
  margin: 0;
  color: #fff;
  position: relative;
  transition: width 1.5s;
  border-radius: 0 0 6px 0;
  text-align: left;
}

.bar:first-child {
  border-radius: 6px 6px 0 0;
}

.bar:last-child {
  border-radius: 0 0 6px 6px;
  background: #4361EE;
}

.bar:nth-child(2) {
  background: #B5179E;
}

.bar:nth-child(3) {
  background: #7209B7;
}

.bar:nth-child(4) {
  background: #560BAD;
}

.bar:nth-child(5) {
  background: #480CA8;
}

.bar:nth-child(6) {
  background: #3A0CA3;
}

.bar:nth-child(7) {
  background: #3F37C9;
}

.bar_item {
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 9px 0 0 10px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.count_dataset {
  width: 100px;
  background-color: #383838;
  position: absolute;
  top: -25px;
  right: 0;
  z-index: 3;
  border-radius: 3px;
  text-align: center;
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.count_dataset::after {
  content: "";
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #383838 transparent transparent transparent;
  position: absolute;
  right: 2px;
  bottom: -3px;
}

.bar:hover .count_dataset {
  opacity: 1;
  display: block;
}

/* chart donut */

canvas.chart_donut {
  width: 90% !important;
  height: 100% !important;
  margin: 0 auto;
}

/* chart line */

canvas#myChart_line {
  width: 100% !important;
  height: 220px !important;
}

.border_line {
  width: 60%;
  display: inline-block;
  border-top: 1px dashed rgba(0, 0, 0, 0.6);
}

.raiting_dataset {
  margin-top: 5px;
}

.text_dta {
  display: flex;
}

.text_dta .dot_b {
  width: 11px;
  height: 11px;
  margin-top: 6px;
  margin-right: 10px;
}

.text_dta > p {
  width: 70%;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #383838;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* raiting */

.rate {
  width: 40%;
  margin-top: 3px;
  text-align: end;
}

.rate span img {
  width: 15px;
  height: 15px;
}

/* hướng dẫn sử dụng */

.bg_hdsd {
  background: var(--white);
  border-radius: 14px;
  min-height: 300px;
}

/* footer */

footer.site-footer {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 0;
  padding-bottom: 15px;
}

footer.site-footer .bg_imgf {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
}

footer.site-footer .container {
  padding: 20px 0 0 0;
}

.media-footer img {
  height: 75px;
}

.opendata-footer {
  position: absolute !important;
  top: 41px;
  left: 115px;
  text-transform: uppercase;
}

.opendata-footer b {
  font-size: 25px;
  color: #1A67FC;
}

/* .app {
  position: absolute;
  right: -160px;
  top: 70px;
}

.app p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}

.img_app span a img {
  width: 169px;
  height: 50px;
}

.img_app span a img:first-child {
  margin-right: 20px;
} */

.footer_contact {
  padding: 0;
}

.site-footer-heading {
  width: 100%;
  display: flex;
  color: #000;
}

.site-footer-heading span {
  font-size: 18px;
  font-weight: 400;
}

.site-footer-heading p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

span.icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

span.icon img {
  margin-top: 2px;
}

ul.menu.vertical.site-footer_menu > li {
  display: flex;
  margin-bottom: -5px;
}

ul.menu.vertical.site-footer_menu > li > a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

ul.menu.vertical.site-footer_menu {
  padding-top: 10px;
  padding-left: 0;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
}

.footer_text {
  float: right;
}

.footer_text > ul > li {
  list-style-type: none;
  margin-top: -5px;
}

.footer_text > ul > li > a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.footer_text > ul > li > a:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #09f;
}

.footer_tooltip {
  position: relative;
  display: block;
}

.footer_tooltip .tooltip_text {
  display: none;
  background-color: #666;
  color: #fff;
  text-align: justify;
  line-height: 17px;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  top: 30px;
  right: -100px;
  z-index: 1;
}

.footer_tooltip a:hover .tooltip_text {
  display: block;
}

.footer_box {
  margin-top: 10px;
  padding: 0;
}

.about > li > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #1A67FC;
}

/* .social {
  margin: 25px 0 0 66px;
}

span > a > img {
  width: 40px;
  height: 40px;
}

span.ig {
  margin: 0 15px;
} */

/* select#field-lang-select {
  background-color: #cccc;
  color: #000;
  border-radius: 4px;
  position: relative;
} */

/* dmdc admin */

.dmdc_admin {
  width: 95%;
  border-radius: 0;
  padding: 0;
}

.dmdc_second {
  width: 5%;
}

.dmdc_second .sidebar_admin {
  border-radius: 0;
  z-index: 1;
  background: #ddd;
  left: 0;
}

.change_width {
  width: 293px !important;
}

.dmdc_second .fix_text a,
.dmdc_second .fix_text .active a {
  padding-left: 50px;
  position: relative;
  z-index: 1;
}

.dmdc_second .a_infor {
  padding-right: 10px !important;
}

.dmdc_second .img_admin, .dmdc_second .img_infor,
.dmdc_second .img_config, .dmdc_second .img_trash,
.dmdc_second .img_permission {
  left: 19px;
  z-index: 0;
}

/* dmdc user */

.dmdc_user {
  background: var(--white);
  border-radius: 14px;
  padding: 10px;
}