<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-user"></i>
  <p>
    {{ _('{actor} updated their profile').format(
      actor=ah.actor(activity)
    )|safe }}
  </p>
  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
  </span>
</li>
