<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <img src="/images/img-box/package.svg" class="img_package">
  <p class="content_organ">
    {{ _('{actor} đã chỉnh sửa cơ quan').format( actor=ah.actor(activity) )|safe }}
    <label>  {{ _('{organization}').format(organization=ah.organization(activity))|safe }}</label>
  </p>
  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
  </span>
</li>
