{% set dataset_type = activity.data.package.type or 'dataset' %}

<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <img src="/images/img-box/package.svg" class="img_package">
  <p class="package_item item_his">
    {{ _('{actor} đã chỉnh sửa bộ dữ liệu {dataset}').format(
      actor=ah.actor(activity),
      dataset=ah.dataset(activity)
    )|safe }}
  </p>
    <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activity.timestamp) }}
      {% if can_show_activity_detail %}
        &nbsp;|&nbsp;
        <a class="view_detail" href="{{ h.url_for(dataset_type ~ '.changes', id=activity.id) }}">
          {{ _('Xem chi tiết') }}
        </a>
      {% endif %}
    </span>
</li>
