<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <img src="/images/img-box/package.svg" class="img_package">
  <p>
    {{ _('{actor} started following {dataset}').format(
      actor=ah.actor(activity),
      dataset=ah.dataset(activity)
    )|safe }}
  </p>
  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
  </span>
</li>
