<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <img src="/images/img-box/create_pac.svg" class="img_package img_cre">
  <p>
  {{ _('{actor} đã tạo lĩnh vực {group}').format(
      actor=ah.actor(activity),
      group=ah.group(activity)
    )|safe }}
  </p>
  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
  </span>
</li>
