{% set dataset_type = activity.data.package.type or 'dataset' %}
<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <img src="/images/img-box/create_pac.svg" class="img_package img_cre">
  <p>
    {{ _('{actor} created the dataset {dataset}').format(
      actor=ah.actor(activity),
      dataset=ah.dataset(activity)
    )|safe }}
  </p>
  <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
    {{ h.time_ago_from_timestamp(activity.timestamp) }}
    <!-- {% if can_show_activity_detail %}
      <a class="hidden" href="{{ h.url_for(dataset_type ~ '.read', id=activity.object_id, activity_id=activity.id) }}">
        {{ _('View this version') }}
      </a>
    {% endif %} -->
  </span>
</li>