<section class="module module-narrow module-shallow hidden">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a view?') }}</h2>
  <div class="module-content">
    <p>{{ _('A view is a representation of the data held against a resource') }}</p>
  </div>
</section>
