<button class="accordion-item" data-toggle="collapse" data-target="#{{ ent_type }}">
	{% if ent_type == "package" %}
	{% elif ent_type == 'group' %}
	{% else %}
	{% endif %}
  {% if ent_type == 'package' %}
    {{ _('Bộ dữ liệu đã xóa') }}
  {% elif ent_type == 'organization' %}
    {{ _('Cơ quan đã xóa') }}
  {% elif ent_type == 'group' %}
    {{ _('Lĩnh vực đã xóa') }}
  {% endif %}
</button>

<div id="{{ ent_type }}" class="entities collapse in">
	{% set truncate = truncate or 180 %}
	{% set truncate_title = truncate_title or 80 %}
	<ul class="{{ ent_type }}-list">
    {% for entity in entities %}
      {% set title = entity.title or entity.name %}
        <li>
          {{ h.link_to(h.truncate(title, truncate_title), h.url_for(entity.type + '.read', id=entity.name)) }}
        </li>
      {% else %}
      <p>
        {{ _(messages.empty[ent_type]) }}
      </p>
    {% endfor %}
  </ul>

  {% if entities.first() %}
    <form method="POST" action="{{ h.url_for('admin.trash') }}" id="form-purge-{{ ent_type }}">
      <input type="hidden" name="action" value="{{ent_type}}">
      <a href="{{ h.url_for('admin.trash', name=ent_type) }}" 
         class="btn btn-danger purge-all pull-left"
         data-module="confirm-action"
         data-module-with-data=true
         data-module-content="{{ _(messages.confirm[ent_type]) }}">
        {{ _('Delete') }}
      </a>
    </form>
  {% endif %}
</div>