
{% block facet_list %}
	{% set hide_empty = hide_empty or false %}
	{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets) %}
	{% if items or not hide_empty %}
		{% if within_tertiary %}
		{% set nav_class = 'nav nav-pills nav-stacked' %}
		{% set nav_item_class = ' ' %}
		{% set wrapper_class = 'nav-facet nav-facet-tertiary' %}
		{% endif %}
		{% block facet_list_item %}
		{% block facet_list_items %}
		{% with items = items or h.get_facet_items_dict(name, search_facets or c.search_facets) %}
		{% if items %}
			<section class="{{ wrapper_class or 'module module-narrow module-shallow' }}">
				<h2 class="module-heading" id="dr_{{ name }}">
					{% set title = title or h.get_facet_title(name) %}
					{{ title }}
					<img src="/images/img-box/dr_facet1.svg" class="dr_facet" id="dr_{{ name }}1">
					<img src="/images/img-box/dr_facet2.svg" class="dr_facet" id="dr_{{ name }}2">
				</h2>
				<nav aria-label="{{ title }}" class="{{ title }}">
					<ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet nav_form' }}" id="name_{{ name }}">
					{% for item in items %}
						{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
						{% set label = label_function(item) if label_function else item.display_name %}
						{% set label_truncated = label %}
						{% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}
						<li class="{{ nav_item_class or 'nav-item nav_item' }}{% if item.active %} active{% endif %}">
							<a href="{{ href }}" class="nav_item-link">
								<span class="nav_text">{{ label_truncated }}</span>
								<span class="nav_dot">{{ count }}</span>
							</a>
						</li>
					{% endfor %}
					</ul>
				</nav>
				<p class="module-footer mobile_footer">
					<a class="read-more" id="show_{{ name }}" style="display: none;">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
					<a class="read-more" id="less_{{ name }}" style="display: none;">{{ _('Hiển thị rút gọn').format(facet_type=title) }}</a>
				</p>
				<script>
					if (document.getElementById("name_{{ name }}").children.length > 10) {
						document.getElementById("show_{{ name }}").style.display = 'block';
					} else {
						document.getElementById("show_{{ name }}").style.display = 'none';
					}
					document.getElementById("show_{{ name }}").onclick = () => {
						document.getElementById("name_{{ name }}").style.maxHeight = '100%';
						document.getElementById("show_{{ name }}").style.display = 'none';
						document.getElementById("less_{{ name }}").style.display = 'block';
						var secondaryHeight = document.getElementById("page_second").clientHeight;
						var moduleHeight = document.getElementById("page_pri").clientHeight;
						if (document.getElementById('facet_height')) {
							var facetHeight = document.getElementById("facet_height").clientHeight;
							if (secondaryHeight > facetHeight) {
								document.getElementById("page_pri").style.height = secondaryHeight + "px";
							} else {
								document.getElementById("page_pri").style.height = facetHeight + "px";
							}
						} else {
							if (secondaryHeight > secondaryHeight) {
								document.getElementById("page_pri").style.height = secondaryHeight + "px";
							} else {
								document.getElementById("page_pri").style.height = secondaryHeight + "px";
							}
						}
					};
					document.getElementById("less_{{ name }}").onclick = () => {
						document.getElementById("name_{{ name }}").style.maxHeight = '525px';
						document.getElementById("show_{{ name }}").style.display = 'block';
						document.getElementById("less_{{ name }}").style.display = 'none';
						var secondaryHeight = document.getElementById("page_second").clientHeight;
						var moduleHeight = document.getElementById("page_pri").clientHeight;
						if (document.getElementById('facet_height')) {
							var facetHeight = document.getElementById("facet_height").clientHeight;
							document.getElementById("page_pri").style.height = facetHeight + "px";
							document.getElementById("page_pri").style.minHeight = secondaryHeight + "px";
						} else {
							document.getElementById("page_pri").style.height = secondaryHeight + "px";
							document.getElementById("page_pri").style.minHeight = secondaryHeight + "px";
						}
					};

					window.addEventListener('DOMContentLoaded', function() {
						var tagChil = document.getElementById("name_{{ name }}").children;
						for (let i = 0; i < tagChil.length; i++) {
							if(tagChil[i].className.includes("active")) {
								document.getElementById("name_{{ name }}").style.maxHeight = '100%';
								document.getElementById("show_{{ name }}").style.display = 'none';
							};
						};
					});

					var x = window.matchMedia("(max-width: 768px)");
					mediaFacet(x);
					x.addListener(mediaFacet);

					function mediaFacet(x) {
						if (x.matches) {
							document.getElementById("dr_{{ name }}").onclick = () => {
								if (document.getElementById("name_{{ name }}").clientHeight == 0) {
									document.getElementById("name_{{ name }}").style.maxHeight = '100%';
									document.getElementById("dr_{{ name }}1").style.display = 'none';
									document.getElementById("dr_{{ name }}2").style.display = 'block';
									document.getElementById("dr_{{ name }}").style.borderRadius = '8px 8px 0 0';
								} else {
									document.getElementById("name_{{ name }}").style.maxHeight = '0px';
									document.getElementById("dr_{{ name }}1").style.display = 'block';
									document.getElementById("dr_{{ name }}2").style.display = 'none';
									document.getElementById("dr_{{ name }}").style.borderRadius = '8px';
								}
							};
							window.addEventListener('DOMContentLoaded', function() {
								var tagChil = document.getElementById("name_{{ name }}").children;
								for (let i = 0; i < tagChil.length; i++) {
									if(tagChil[i].className.includes("active")) {
										document.getElementById("name_{{ name }}").style.maxHeight = '100%';
										document.getElementById("dr_{{ name }}1").style.display = 'none';
										document.getElementById("dr_{{ name }}2").style.display = 'block';
										document.getElementById("dr_{{ name }}").style.borderRadius = '8px 8px 0 0';
									};
								};
							});
						};
					};
				</script>
				{% else %}
				{% endif %}
			</section>
			{% endwith %}
			{% endblock %}
		{% endblock %}
	{% endif %}
	{% endwith %}
{% endblock %}