{% block group_item %}
  {% block group_item_header %}
    <li class="group_items">
      {% set truncate=truncate or 0 %}
      {% set truncate_title = truncate_title or 0 %}
      {% set title = group.title or group.name %}
      {% block group_item_header_image %}
        <a class="module-image" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
          <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.svg') }}" alt="{{ group.name }}" />
        </a>
      {% endblock %}
      {% block group_item_header_title %}
        <h3 class="media-heading group_media-heading">
          <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">{{ group.title or group.name }}</a>
        </h3>
      {% endblock %}
    </li>
    {% block group_item_header_description %}
    {% endblock %}
  {% endblock %}
{% endblock %}
