
<li class="home">
    <a href="{{ h.url_for('home.index') }}" aria-label="{{ _('Home') }}">
        <img src="../../../../images/img-box/icon_home.svg">
        <span> {{ _('Home') }}</span>
    </a>
</li>
