
{% set truncate = truncate or 0 %}
{% set url = h.url_for(organization.type + '.read', id=organization.name, ) %}

{% block info %}
<div class="module module-narrow module-shallow context-info">
  {% if has_context_title %}
    <h2 class="module-heading organ_header">{{ _('Cơ quan cung cấp') }}</h2>
  {% endif %}
  <section class="module-content">
    {% block inner %}

    {% block heading %}
    <h1 class="heading name_organ">
      <span>{{ organization.title or organization.name }}</span>
      {% if organization.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    </h1>
    {% endblock %}
    {% block image %}
    <div class="image">
      <a href="{{ url }}">
        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
      </a>
    </div>
    {% endblock %}
    {% block description %}
    {% if organization.description %}
      <p class="description">
        {{ h.markdown_extract(organization.description, 180) }}
      </p>
      <p class="read-more">
        {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
      </p>
    {% else %}
      <p class="empty">{{ _('Không có mô tả cho cơ quan này') }}</p>
    {% endif %}
    {% endblock %}
    {% if show_nums %}
      {% block nums %}
      <div class="nums">
        <dl>
          <dt>{{ _('Followers') }}</dt>
          <dd data-module="followers-counter" data-module-id="{{ organization.id }}" data-module-num_followers="{{ organization.num_followers }}">{{ h.SI_number_span(organization.num_followers) }}</dd>
        </dl>
        <dl>
          <dt>{{ _('Datasets') }}</dt>
          <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
        </dl>
      </div>
      {% endblock %}
      {% block follow %}
        {% if c.userobj.sysadmin %}
          <div class="follow_button hidden">
            {{ h.follow_button('group', organization.id) }}
            <script>
              window.addEventListener('load', function() {
                setTimeout(function() {
                  var btn_follow = document.getElementById('follow_button');
                  if(btn_follow.className.includes("btn-success")) {
                    btn_follow.click();
                  }
                }, 1000)
              });
            </script>
          </div>
        {% else %}
          <div class="follow_button">
            {{ h.follow_button('group', organization.id) }}
          </div>
        {% endif %}
      {% endblock %}
    {% endif %}
    {% endblock %}
  </section>
</div>
{% endblock %}
