
{% block package_list %}
  {% if packages %}
  <div class="list_organ-gr">
    <ul class="{{ list_class or 'dataset-list list-unstyled' }}" id="list_dataset">
    	{% block package_list_inner %}
	      {% for package in packages %}
	        {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
	      {% endfor %}
	    {% endblock %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
