
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}
  <li class="{{ item_class or 'dataset-item' }}" id="datasets_box">
    {% block content %}
    <div class="datasets_item">
      <span class="datasets_list">
        {% if package.organization == None %}
          <img src="/images/logo_k.png" alt="Image">
          <!-- <img src="/images/logo_d.png" alt="Image"> -->
        {% else %}
          <img src="http://dulieu.kontum.gov.vn/uploads/group/{{package.organization.image_url}}" alt="Image" onerror="this.onerror=null; this.src='{{package.organization.image_url}}'">
          <!-- <img src="http://opendata.bkav.com/uploads/group/{{package.organization.image_url}}" alt="Image" onerror="this.onerror=null; this.src='{{package.organization.image_url}}'"> -->
          <!-- <img src="http://dulieu.daklak.gov.vn/uploads/group/{{package.organization.image_url}}" alt="Image" onerror="this.onerror=null; this.src='{{package.organization.image_url}}'"> -->
        {% endif %}
      </span>
      <div class="dataset-content">
        {% block heading %}
          <h2 class="dataset-heading datasets_desc">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse lock">
                  <img src="/images/img-box/lock.png" alt="">
                    {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(title, h.url_for('%s.read' % package.type, id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-danger">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
          </h2>
        {% endblock %}
      
        {% block resources %}
          <div class="datasets_span">
            {% block banner %}
              {% if banner %}
                <span class="banner">{{ _('Popular') }}</span>
              {% endif %}
            {% endblock %}
            <span class="text">{{ package.organization.title }}</span>
            <span class="span_time">
              Cập nhật: {{h.time_ago_from_timestamp(package.metadata_modified)}}
            </span>
          </div>
          {% if package.resources and not hide_resources %}
            {% block resources_outer %}
              <ul class="dataset-resources list-unstyled list_tags">
                {% block resources_inner %}
                  {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                  <li>
                    <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
                  </li>
                  {% endfor %}
                {% endblock %}
              </ul>
            {% endblock %}
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </li>
{% endblock %}
