
{% import 'macros/form.html' as form %}

{% set placeholder = placeholder1 if placeholder1 else _('Nhập tên bộ dữ liệu') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %} main_datasets" method="get" data-module="select-switch">

  <div class="item_search"> 
    {% block search_title %}
      {% if not error %}
        <h1>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h1>
      {% else %}
        <h2>Error</h2>
      {% endif %}
    {% endblock %}

    {% block search_input %}
    <div class="input-group search-input-group">
      <img src="/images/img-box/x.png" alt="" class="clear_input-item" id="clear_input-item" onclick="document.getElementById('field-giant-search').value = ''">
      <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
      {% block search_input_button %}
      <span class="input-group-btn">
        <button class="btn_search-dataset" type="submit" value="search" aria-label="{{_('Submit')}}" id="btn_search-item">
          <img src="/images/img-box/search.svg">
        </button>
      </span>
      {% endblock %}
    </div>
    {% endblock %}
    <script>
      // hide & show btn clear search_item
      var clearInputItem =  document.getElementById("clear_input-item");
      var searchItem = document.getElementById('field-giant-search');
      
      window.addEventListener('load', function() {
        var searchInputItem = searchItem.value.length;
        if (searchInputItem == 0) {
            clearInputItem.style.display = "none";
        } else {
            clearInputItem.style.display = "block";
        }
      });
      
      searchItem.addEventListener('keyup', function() {
        var searchInputItem = searchItem.value.length;
        if (searchInputItem == 0) {
            clearInputItem.style.display = "none";
        } else {
            clearInputItem.style.display = "block";
        }
      });
      
      clearInputItem.addEventListener('click', function() {
        var btnSearchItem = document.getElementById('btn_search-item');
        clearInputItem.style.display = "none";
        btnSearchItem.click();
        searchItem.focus();
      });
    </script>
  </div>

  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_sortby %}
    {% if sorting %}
      <div class="form-select form-group control-order-by form-select_filter">
        <div class="bg_select-filter">
          <label class="filter" for="field-order-by">{{ _('Lọc theo') }}</label>
          <select id="field-order-by" name="sort" class="form-control select_filter">
            {% for label, value in sorting %}
              {% if label and value %}
                <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block search_facets %}
    {% if facets %}
      <div class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
          <span class="btn_tags">
            <p class="filtered pill">
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
            </p>
            <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
          </span>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}

  {% if show_empty and count == 0 and not error %}
    {% trans %}
      <p class="extra">Please try another search.</p>
    {% endtrans %}
  {% endif %}

  {% if error %}
    {% trans %}
      <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
    {% endtrans %}
  {% endif %}
</form>
