{% ckan_extends %}

{%block title%}
  {%- block subtitle %}{% endblock -%}
  {%- if self.subtitle()|trim %} {{ g.template_title_delimiter }} {% endif -%}
  {{ g.site_title }}
{%endblock%}

{% block custom_styles %}
  {{ super() }}
  <!-- quanlhb -->
  <link rel="stylesheet" href="/bkav_theme_tuc.css" />
  <link rel="stylesheet" href="/bkav_login.css" />
  <link rel="stylesheet" href="/bkav_admin.css" />
  <link rel="stylesheet" href="/bkav_datasets.css" />
  <link rel="stylesheet" href="/bkav_organ_group.css" />
  <link rel="stylesheet" href="/bkav_custom_style.css" />
  <link rel="stylesheet" href="/bkav_pages.css" />
  <link rel="stylesheet" href="/bkav_responsive.css" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- quanlhb-ver 1.2 -->
  <script src="/bkav_back.js"></script>
  <script src="/bkav_click.js"></script>
  <script src="/bkav_disable_item.js"></script>
  <script src="/bkav_height.js"></script>
  <script src="/bkav_remove.js"></script>
{% endblock %}
