
<footer class="site-footer">
  <img class="bg_imgf" src="/images/bg_kontum.png" alt="">
  <!-- <img class="bg_imgf" src="/images/bg_daklak.png" alt=""> -->
  <div class="container">
    <div class="page_footer">
      <section class="media-footer">
        <img class="col1 media-footer" src="{% url_for_static('/images/logo_k.png') %}"/>
        <!-- <img class="col1 media-footer" src="{% url_for_static('/images/logo_d.png') %}"/> -->
        <div class="col2 opendata-footer">
          <b>Cổng dữ liệu mở Tỉnh Kon Tum</b>
          <!-- <b>Cổng dữ liệu mở  Tỉnh Đắk Lắk</b> -->
        </div> 
      </section>
      <div class="col-md-6 footer_contact">
        <h2 class="site-footer-heading">
          <span>Cơ quan vận hành:</span> 
          <p>SỞ THÔNG TIN TRUYỀN THÔNG TỈNH KON TUM </p>
          <!-- <p>SỞ THÔNG TIN TRUYỀN THÔNG TỈNH ĐẮK LẮK</p> -->
        </h2>
        <ul class="menu vertical site-footer_menu">
            <li>
              <span class="icon">
                <img src="/images/img-box/mail.svg" alt="">
              </span>
              <a href="mailto:stttt@kontum.gov.vn">
                stttt@kontum.gov.vn
              </a>
              <!-- <a href="mailto:stttt@tttt.daklak.gov.vn">
                stttt@tttt.daklak.gov.vn
              </a> -->
            </li>
            <br>
            <li>
              <span class="icon">
                <img src="/images/img-box/phone.svg" alt="">
              </span>
              <a href="tel:02603915457">
                0260.3915457
              </a>
              <!-- <a href="tel:0262 3860 010">
                0262 3860 010
              </a> -->
            </li>
            <br>
            <li>
              <span class="icon">
                <img src="/images/img-box/adr.svg" alt="">
              </span>
              <a target="_blank" href="https://www.google.com/maps/dir/21.0244246,105.7938072/Trung+t%C3%A2m+C%C3%B4ng+ngh%E1%BB%87+th%C3%B4ng+tin+v%C3%A0+Truy%E1%BB%81n+th%C3%B4ng,+s%E1%BB%91+339,+B%C3%A0+Tri%E1%BB%87u,+Kon+Tum/@17.6769809,104.9506227,7z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x316bffa12a04439d:0xec8fd4a01a7bb306!2m2!1d108.0035903!2d14.3549776?entry=ttu" class="address_footer">
                Trung tâm Công nghệ thông tin và Truyền thông, số 339, Bà Triệu, Kon Tum.
              </a>
              <!-- <a target="_blank" href="https://www.google.com/maps/dir/21.0244246,105.7938072/8+%C4%90.+L%C3%BD+Th%C3%A1i+T%E1%BB%95,+T%C3%A2n+An,+Th%C3%A0nh+ph%E1%BB%91+Bu%C3%B4n+Ma+Thu%E1%BB%99t,+%C4%90%E1%BA%AFk+L%E1%BA%AFk/@16.8112242,102.6982029,6z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3171f7dc8d36a14f:0x8c8cc24dfd0983ca!2m2!1d108.0576396!2d12.6959582?entry=ttu" class="address_footer">
                08 Đ. Lý Thái Tổ, Tân An, Thành phố Buôn Ma Thuột, Đắk Lắk.
              </a> -->
            </li>
        </ul>
      </div>
      <div class="app hidden">
        <p>Tải ứng dụng</p>
        <div class="img_app">
          <span>
            <a>
              <img src="/images/img-box/st.png">
            </a>
          </span>
          <span>
            <a>
              <img src="/images/img-box/pl.png">
            </a>
          </span>
        </div>
      </div>
      <div class="col-md-6 footer_box">
        <div class="footer_container">
          <div class="footer_text col2">
            <ul class="about">
              <li>
                <h3>{{ _('Về cổng dữ liệu') }}</h3>
              </li>
              &nbsp;
              <br>
              <li>
                <a href="{{ h.url_for('home.dkcs') }}">
                  {{ _('Điều khoản, chính sách') }}
                </a>
              </li>
              &nbsp;
              <br>
              <li>
                <a target="_blank" href="http://dulieu.kontum.gov.vn/dataset/hu-ng-d-n-s-d-ng/resource/e595cf19-d03a-44d5-9e65-b58709e3d190">
                  {{ _('Hướng dẫn sử dụng') }}
                </a>
                <!-- <a target='_blank' href="http://dulieu.daklak.gov.vn/dataset/7c3e72cf-87d5-4dd7-9f1d-fe6767a92eeb/resource/8b0f7b3a-101d-4c3a-aa31-5f7a2edb1fa2/download/bdp_tai-liu-hdsd_opendata.pdf">
                  {{ _('Hướng dẫn sử dụng') }}
                </a> -->
              </li>
              &nbsp;
              <br>
              <li>
                <a href="{{ h.url_for('pages_index') }}">
                  {{ _('Câu hỏi thường gặp') }}
                </a>
              </li>
            </ul>
            <div class="social hidden">
              <span class="fb">
                <a>
                  <img src="/images/img-box/fb.png">
                </a>
              </span>
              <span class="ig">
                <a>
                  <img src="/images/img-box/ig.png">
                </a>
              </span>
              <span class="tw">
                <a>
                  <img src="/images/img-box/tw.png">
                </a>
              </span>
            </div>
          </div>
    
          <div class="footer_text col3">
              <ul class="about">
                <li>
                  <h3>{{ _('Danh mục hệ thống') }}</h3>
                </li>
                &nbsp;
                <br>
                <li>
                  {{ h.build_nav_main(('dataset.search', _('Dữ liệu mở')) ) }}
                </li>
                &nbsp;
                <br>
                <li>
                  {{ h.build_nav_icon('home.dmdc_user', _('Dữ liệu danh mục')) }}
                </li>
                &nbsp;
                <br>
                <li class="footer_tooltip">
                  <a>{{ _('Trình diễn dữ liệu') }}
                    <span class="tooltip_text">Chức năng đang được phát triển</span>
                  </a>
                </li>
              </ul>
          </div></div>
      </div>
    </div>
  </div>
</footer>
