
{% block header_account %}
<header class="navbar navbar-static-top masthead">
  <div class="header_mobile">
    <div class="mobile_search-box">
      {% block header_site_search %}
      <form class="section" action="{% url_for 'dataset.search' %}" method="get">
        <div class="search-input">
          <img src="/images/img-box/x.png" class="clear_input" id="clear_input1" onclick="document.getElementById('field-sitewide-search').value = ''">
          <input id="field-sitewide-search" type="text" class="search" name="q" placeholder="{{ _('Cổng dữ liệu mở Kon Tum') }}" aria-label="{{ _('Search datasets') }}"/>
          <!-- <input id="field-sitewide-search" type="text" class="search" name="q" placeholder="{{ _('Cổng dữ liệu mở Đắk Lắk') }}" aria-label="{{ _('Search datasets') }}"/> -->
          <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}">
            <img src="/images/img-box/mobile_search.svg" class="mobile_search">
          </button>
        </div>
      </form>
      {% endblock %}
      <div class="mobile_navbar-toggle">
        {% if c.userobj %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
          <div class="list-unstyled">
            <div class="acc_name">
              <button class="dropdown_btn" id="dropdown_btn1"></button>
              <a class="global image" title="">
                {{ h.user_image((c.user if c and c.user else ''), size=25) }}
                <span class="username">{{ c.userobj.display_name }}</span>
                <span class="dr_menu">
                  <img src="/images/img-box/dr_menu.svg" alt="">
                </span>
              </a>
              <ul class="menu_acc" id="menu_acc1">
                <li>
                  <a class="global" href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('Thông tin cá nhân') }}">
                    <span class="acc_text">{{ _('Thông tin cá nhân') }}</span>
                  </a>
                </li>
                {% if c.userobj.sysadmin %}
                <li>
                  <a class="global" href="{{ h.url_for(controller='user', action='index') }}" title="{{ _('Quản lý người dùng') }}">
                    <span class="acc_text">{{ _('Quản lý người dùng') }}</span>
                  </a>
                </li>
                <!-- <li>
                  <a href="{{ h.url_for('home.admin_contact') }}" title="{{ _('Quản lý liên hệ') }}">
                    <span class="acc_text">Quản lý liên hệ</span>
                  </a>
                </li>
                <li>
                  <a href="{{ h.url_for('home.banner') }}" title="{{ _('Quản lý banner') }}">
                    <span class="acc_text">Quản lý banner</span>
                  </a>
                </li> -->
                <li>
                  <a href="{{ h.url_for('home.dmdc_admin') }}" title="{{ _('Quản lý dữ liệu danh mục') }}">
                    <span class="acc_text">Quản lý dữ liệu danh mục</span>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="{{ h.url_for('pages_index') }}" title="{{ _('Q&A') }}">
                    <span class="acc_text">Q&A</span>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="http://dulieu.kontum.gov.vn/dataset/hu-ng-d-n-s-d-ng/resource/e595cf19-d03a-44d5-9e65-b58709e3d190" title="{{ _('Hướng dẫn sử dụng') }}">
                    <span class="acc_text">Hướng dẫn sử dụng</span>
                  </a>
                  <!-- <a target='_blank' href="http://dulieu.daklak.gov.vn/dataset/7c3e72cf-87d5-4dd7-9f1d-fe6767a92eeb/resource/8b0f7b3a-101d-4c3a-aa31-5f7a2edb1fa2/download/bdp_tai-liu-hdsd_opendata.pdf">
                    <span class="acc_text">Hướng dẫn sử dụng</span>
                  </a> -->
                </li>
                <li>
                  <a href="{{ h.url_for('home.dkcs') }}" title="{{ _('Điều khoản - chính sách') }}">
                    <span class="acc_text">Điều khoản - chính sách</span>
                  </a>
                </li>
                <li>
                  <a class="global" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Đăng xuất') }}">
                    <span class="acc_text">{{ _('Đăng xuất') }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% set new_activities = h.new_activities() %}
        <div class="notifications bell {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('( %(num)d thông báo mới )', '( %(num)d thông báo mới )', new_activities) %}
          <a title="{{ notifications_tooltip }}">
            <img src="/images/img-box/bell.png">
            <span class="badge">{{ new_activities }}</span>
            <button class="btn_notify" id="btn_notify1"></button>
          </a>
          <div class="form_notify" id="form_notify1">
            {% set notify = h.dashboard_activity_stream_notify() %}
            {% snippet 'snippets/activity_stream.html', activity_stream = notify %}
          </div>
        </div>
        <script>
          var dropdownButton3 = document.getElementById('btn_notify1');
          var dropdownMenu3 = document.getElementById('form_notify1');
  
          dropdownButton3.addEventListener('click', function() {
            dropdownMenu3.classList.toggle('up_block');
          });
  
          window.addEventListener('click', function(event) {
            if (!event.target.matches('#btn_notify1')) {
              dropdownMenu3.classList.remove('up_block');
            };
          });
        </script>
        {% else %}
        <nav class="account not-authed" aria-label="{{ _('Account') }}">
          <img src="/images/img-box/bars.svg" onclick="drLogin()">
          <button class="btn_notify" id="btn_logout"></button>
          <ul class="list-unstyled menu_acc" id="menu_logout">
            <li>
              <span class="login">{% link_for _('Đăng nhập'), named_route='user.login' %}</span>
            </li>
            <li>
              <span class="register">{% link_for _('Đăng ký'), named_route='user.register', class_='sub' %}</span>
            </li>
          </ul>
        </nav>
        <script>
          var dropdownButton4 = document.getElementById('btn_logout');
          var dropdownMenu4 = document.getElementById('menu_logout');
  
          dropdownButton4.addEventListener('click', function() {
            dropdownMenu4.classList.toggle('up_block');
          });
  
          window.addEventListener('click', function(event) {
            if (!event.target.matches('#btn_logout')) {
              dropdownMenu4.classList.remove('up_block');
            };
          });
        </script>
        {% endif %}
      </div>
    </div>
  </div>
    
  <div class="account-masthead">
    <div class="container header_acc">
      {% block header_site_navigation %}
        <nav class="section navigation">
          {% set url = h.url_for('home') %}
          <a href="{{ h.url_for('home.index') }}" style="text-decoration: none; margin-left: 70px;">
            <img class="img-logo" src="/images/logo_k.png">
            <!-- <img class="img-logo" src="/images/logo_d.png"> -->
          </a>
          {% block header_site_navigation_tabs %}
            <ul class="nav nav-pills">
              {% if c.userobj.sysadmin %}
                {{ h.build_nav_main(
                  ('dataset.search', _('Dữ liệu mở')),
                  ('organization.index', _('Cơ quan')),
                  ('group.index', _('Lĩnh vực')),
                  ('home.dmdc_user', _('Dữ liệu danh mục')) ) }}
              {% elif c.userobj%}
                {{ h.build_nav_main(
                  ('dataset.search', _('Dữ liệu mở')),
                  ('dashboard.organizations', _('Cơ quan')),
                  ('group.index', _('Lĩnh vực')),
                  ('home.dmdc_user', _('Dữ liệu danh mục')) ) }}
              {% else %}
                {{ h.build_nav_main(
                  ('dataset.search', _('Dữ liệu mở')),
                  ('organization.index', _('Cơ quan')),
                  ('group.index', _('Lĩnh vực')),
                  ('home.dmdc_user', _('Dữ liệu danh mục')) ) }}
              {% endif %}
            </ul>
          {% endblock %}
        </nav>
      {% endblock %}
      {% block header_account_container_content %} {% if c.userobj %}
      <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
        <ul class="list-unstyled">
          <li class="acc_name">
            <a class="global image" title="">
              {{ h.user_image((c.user if c and c.user else ''), size=22) }}
              <span class="username">{{ c.userobj.display_name }}</span>
              <span class="dr_menu">
                <img src="/images/img-box/dr_menu.svg" alt="">
              </span>
              <button class="dropdown_btn" id="dropdown_btn"></button>
            </a>
            <ul class="menu_acc" id="menu_acc">
              {% block header_account_settings_link %}
              <li>
                <a class="global" href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('Thông tin cá nhân') }}">
                  <span class="acc_text">{{ _('Thông tin cá nhân') }}</span>
                </a>
              </li>
              {% endblock %}
              {% block header_account_logged %} {% if c.userobj.sysadmin %}
                <li>
                  <a class="global" href="{{ h.url_for(controller='user', action='index') }}" title="{{ _('Quản lý người dùng') }}">
                    <span class="acc_text">{{ _('Quản lý người dùng') }}</span>
                  </a>
                </li>
                <!-- <li>
                  <a href="{{ h.url_for('home.admin_contact') }}" title="{{ _('Quản lý liên hệ') }}">
                    <span class="acc_text">Quản lý liên hệ</span>
                  </a>
                </li>
                <li>
                  <a href="{{ h.url_for('home.banner') }}" title="{{ _('Quản lý banner') }}">
                    <span class="acc_text">Quản lý banner</span>
                  </a>
                </li> -->
                <li>
                  <a href="{{ h.url_for('home.dmdc_admin') }}" title="{{ _('Quản lý dữ liệu danh mục') }}">
                    <span class="acc_text">Quản lý dữ liệu danh mục</span>
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for('pages_index') }}" title="{{ _('Q&A') }}">
                  <span class="acc_text">Q&A</span>
                </a>
              </li>
              <li>
                <a target="_blank" href="http://dulieu.kontum.gov.vn/dataset/hu-ng-d-n-s-d-ng/resource/e595cf19-d03a-44d5-9e65-b58709e3d190" title="{{ _('Hướng dẫn sử dụng') }}">
                  <span class="acc_text">Hướng dẫn sử dụng</span>
                </a>
                <!-- <a target='_blank' href="http://dulieu.daklak.gov.vn/dataset/7c3e72cf-87d5-4dd7-9f1d-fe6767a92eeb/resource/8b0f7b3a-101d-4c3a-aa31-5f7a2edb1fa2/download/bdp_tai-liu-hdsd_opendata.pdf">
                  <span class="acc_text">Hướng dẫn sử dụng</span>
                </a> -->
              </li>
              <li>
                <a href="{{ h.url_for('home.dkcs') }}" title="{{ _('Điều khoản - chính sách') }}">
                  <span class="acc_text">Điều khoản - chính sách</span>
                </a>
              </li>
              {% block header_account_log_out_link %}
              <li>
                <a class="global" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Đăng xuất') }}">
                  <span class="acc_text">{{ _('Đăng xuất') }}</span>
                </a>
              </li>
              {% endblock %}
            </ul>
          </li>
          {% set new_activities = h.new_activities() %}
          <li class="notifications bell {% if new_activities > 0 %}notifications-important{% endif %}">
            {% set notifications_tooltip = ngettext('( %(num)d thông báo mới )', '( %(num)d thông báo mới )', new_activities) %}
            <a title="{{ notifications_tooltip }}">
              <img src="/images/img-box/bell.png">
              <span class="badge">{{ new_activities }}</span>
              <button class="btn_notify" id="btn_notify"></button>
            </a>
            <div class="form_notify" id="form_notify">
              {% set notify = h.dashboard_activity_stream_notify() %}
              {% snippet 'snippets/activity_stream.html', activity_stream = notify %}
            </div>
          </li>
        {% endblock %}
        </ul>
      </div>
      <script>
        var dropdownButton2 = document.getElementById('btn_notify');
        var dropdownMenu2 = document.getElementById('form_notify');

        dropdownButton2.addEventListener('click', function() {
          dropdownMenu2.classList.toggle('up_block');
        });

        window.addEventListener('click', function(event) {
          if (!event.target.matches('#btn_notify')) {
            dropdownMenu2.classList.remove('up_block');
          };
        });
      </script>
      {% else %}
      <nav class="account not-authed" aria-label="{{ _('Account') }}">
        <ul class="list-unstyled user_authed">
          {% block header_account_notlogged %}
            {{ h.build_nav_main_login_register(
              ('user.login', _('Đăng nhập'))) }}
            <li class="space">I</li>
            {{ h.build_nav_main_login_register(
              ('user.register', _('Đăng ký'))) }}
            <li class="bell_login">
              <a>
                <img src="/images/img-box/bell.png" alt="">
              </a>
            </li>
          {% endblock %}
        </ul>
      </nav>
      {% endif %} {% endblock %}
    </div>
  </div>
  <script>
    // hide & show btn clear search_home
    var clearInput1 = document.getElementById("clear_input1");
    var searchHome1 = document.getElementById('field-sitewide-search');
    searchHome1.addEventListener('keyup', function() {
      searchHome1.style.paddingRight = '80px';
      var searchInput = searchHome1.value.length;
        if (searchInput == 0) {
            clearInput1.style.display = "none";
        } else {
            clearInput1.style.display = "block";
        }
    });

    clearInput1.addEventListener('click', function() {
      clearInput1.style.display = "none";
      searchHome1.focus();
      searchHome1.style.paddingRight = '45px';
    });

    // drop menu admin
    var dropdownButton = document.getElementById('dropdown_btn');
    var dropdownMenu = document.getElementById('menu_acc');
    if (document.getElementById('dropdown_btn')) {
      dropdownButton.addEventListener('click', function() {
        dropdownMenu.classList.toggle('up_block');
      });

      window.addEventListener('click', function(event) {
        if (!event.target.matches('#dropdown_btn')) {
          dropdownMenu.classList.remove('up_block');
        };
      });
    }

    var dropdownButton1 = document.getElementById('dropdown_btn1');
    var dropdownMenu1 = document.getElementById('menu_acc1');
    if (document.getElementById('dropdown_btn1')) {
      dropdownButton1.addEventListener('click', function() {
        dropdownMenu1.classList.toggle('up_block');
      });
  
      window.addEventListener('click', function(event) {
        if (!event.target.matches('#dropdown_btn1')) {
          dropdownMenu1.classList.remove('up_block');
        };
      });
    }
  </script>
</header>

<nav class="mobile_sec">
  <span>
    <a href="{{ h.url_for('home.index') }}">
      <img class="mobile_home" src="/images/img-box/mb_home.svg">
    </a>
  </span>
  <ul class="nav nav-pills">
    {% if c.userobj.sysadmin %}
      {{ h.build_nav_main(
        ('dataset.search', _('Dữ liệu mở')),
        ('organization.index', _('Cơ quan')),
        ('group.index', _('Lĩnh vực')),
        ('home.dmdc_user', _('Dữ liệu danh mục')) ) }}
    {% elif c.userobj%}
      {{ h.build_nav_main(
        ('dataset.search', _('Dữ liệu mở')),
        ('dashboard.organizations', _('Cơ quan')),
        ('group.index', _('Lĩnh vực')),
        ('home.dmdc_user', _('Dữ liệu danh mục')) ) }}
    {% else %}
      {{ h.build_nav_main(
        ('dataset.search', _('Dữ liệu mở')),
        ('organization.index', _('Cơ quan')),
        ('group.index', _('Lĩnh vực')),
        ('home.dmdc_user', _('Dữ liệu danh mục')) ) }}
    {% endif %}
  </ul>
</nav>
{% endblock %}
