{% ckan_extends %}

{%- block content %}
  {% block maintag %}<div class="main main_base">{% endblock %}
    <div id="content" class="container">
      {% block main_content %}
        {% block flash %}
          <div class="flash-messages">
            {% block flash_inner %}
              {% for message in h.flash.pop_messages() | list %}
                <div class="alert fade in {{ message.category }}">
                  {{ h.literal(message) }}
                </div>
              {% endfor %}
            {% endblock %}
          </div>
        {% endblock %}

        {% block toolbar %}
          <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
            {% block breadcrumb %}
              {% if self.breadcrumb_content() | trim %}
                <ol class="breadcrumb">
                  {% snippet 'snippets/home_breadcrumb_item.html' %}
                  {% block breadcrumb_content %}{% endblock %}
                </ol>
              {% endif %}
            {% endblock %}
          </div>
        {% endblock %}

        <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">

          {% block pre_primary %}
          {% endblock %}

          {% block secondary %}
            <aside class="secondary col-sm-3" id="page_second">
              {% block secondary_content %}{% endblock %}
            </aside>
          {% endblock %}

          {% block primary %}
            <div class="primary col-sm-12 col-xs-12 remove_pd" role="main">
              {% block primary_content %}
                <article class="module">
                  {% block page_header %}
                    <header class="module-content page-header page_content">
                      {% if self.content_action() | trim %}
                        <div class="content_action">
                          {% block content_action %}{% endblock %}
                        </div>
                      {% endif %}
                      <ul class="nav nav-tabs">
                        {% block content_primary_nav %}{% endblock %}
                      </ul>
                    </header>
                  {% endblock %}
                  <div class="module-content">
                    {% if self.page_primary_action() | trim %}
                      <div class="page_primary_action">
                        {% block page_primary_action %}{% endblock %}
                      </div>
                    {% endif %}
                    {% block primary_content_inner %}
                    {% endblock %}
                  </div>
                </article>
              {% endblock %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock -%}
