
{% import 'macros/form.html' as form %}

<form class="form comment-form form_cmt">
    <fieldset class="text_cmt">
        <h3 class="heading">{{ _('Bình luận') }}</h3>
        {{ form.textarea('content', id='comment-content', label=_(' '), placeholder='Thêm nhận xét') }}
    </fieldset>

    <div class="form-group control-full">
        <button type="submit" class="btn_cmt cmt_disable" id="btn_cmt">
            {{ _('Bình luận') }}
        </button>
    </div>
    <script>
        // add btn enter
        document.getElementById("comment-content").addEventListener("keyup", function(event) {
            var btnCmt = document.getElementById("btn_cmt");
            event.preventDefault();
            if (event.keyCode === 13) {
                btnCmt.click();
            }

            if (document.getElementById("comment-content").value != '') {
                btnCmt.classList.remove('cmt_disable');
            } else {
                btnCmt.classList.add('cmt_disable');
            }
        });
    </script>
</form>
