<div class="comment comment-state-{{ comment.state }}" id="comment-{{ comment.id }}">
    <div class="comment-heading">
        <div class="comment-authored">
            <div class="author-avatar">
                {{ h.user_image(comment.author.name, size=26) }}
            </div>
  
            <div class="comment-meta">
                <div class="author-name">
                    {{ comment.author.fullname or comment.author.name }}
                </div>
                <div class="comment-body">
                  <div class="comment-content">
                      {{- (comment.content)|replace('\n', '\n'|safe) -}}
                  </div>
                </div>
                <div class="comment-actions">
                    {% if h.check_access('comments_reply_create', {"reply_to_id": comment.id}) %}
                        <button aria-label="reply to comment" title="{{ _('Trả lời') }}" class="comment-action reply-to-comment btn_reply" data-id="{{ comment.id }}">
                            <span class="text">{{ _('Trả lời') }}</span>
                        </button>
                    {% endif %}

                    {% if not comment.approved and h.check_access('comments_comment_approve', comment) %}
                        <button aria-label="approve comment" title="{{ _('Approve') }}" class="btn btn-success comment-action approve-comment" data-id="{{ comment.id }}">
                            <span class="text">{{ _('Approve') }}</span>
                        </button>
                    {% endif %}
                        <span class="dot_cmt">.</span>
                    {% if h.check_access('comments_comment_update', comment) %}
                        <button aria-label="edit comment" id="btn_edit-cmt" title="{{ _('Chỉnh sửa') }}" class="comment-action edit-comment btn_edit-cmt" data-id="{{ comment.id }}">
                            <span class="text">{{ _('Chỉnh sửa') }}</span>
                        </button>
                        <button aria-label="save comment" id="btn_save-cmt" title="{{ _('Save') }}" class="comment-action save-comment btn_update-cmt hidden" data-id="{{ comment.id }}">
                            <span class="text">{{ _('Save') }}</span>
                        </button>
                    {% endif %}
                        <span class="dot_cmt">.</span>
                    {% if h.check_access('comments_comment_delete', comment) %}
                        <button aria-label="remove comment" type="button" title="{{ _('Xóa') }}" class="btn-remove comment-action btn_remove-cmt" data-toggle="modal" data-target="#confirmation-modal-{{ comment.id }}">
                            <span class="text">{{ _('Remove') }}</span>
                        </button>
                        {% snippet 'comments/snippets/confirmation.html', comment_id=comment.id %}
                    {% endif %}
                </div>
                <div class="comment-date">
                    {{ h.time_ago_from_timestamp(comment.modified_at or comment.created_at) }}
                </div>
            </div>
        </div>
    </div>
  
    <div class="comment-footer"></div>
  
  </div>