
{% if mobile_depth is not defined %}
  {% set mobile_depth = h.comments_mobile_depth_threshold() %}
{% endif %}

<ul class="list-unstyled comments-thread">
  {% for comment in comments recursive %}
    {% if loop.depth > mobile_depth %}
      <li class="comments-comment mobile-hidden-comment visible-xs">...</li>
    {% endif %}
    <li class="comments-comment {% if loop.depth > mobile_depth %} hidden-xs{% endif %}">
      {% snippet 'comments/snippets/comment.html', comment=comment %}
	    {% if comment.replies %}
        <ul class="list-unstyled comments-thread">
		      {{ loop(comment.replies) }}
        </ul>
	    {% endif %}
    </li>
  {% endfor %}
  <button class="btn_showmore" id="btn_showmore">Xem thêm</button>
</ul>
