
<div class="modal fade bd-example-modal-sm" id="confirmation-modal-{{ comment_id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ _('Thông báo') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>{{ _('Bạn có muốn xóa bình luận này?') }}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button title="{{ _('Xác nhận') }}" class="btn btn-danger remove-comment" data-id="{{ comment_id }}">
            <span class="text">{{ _('Xác nhận') }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
