.blog .primary .date {
	display:block;
	margin-top:-15px;
	margin-bottom:15px;
}

.secondary .blog-title small {
  font-size: 12px;
}
.secondary .blog-content {
  border-bottom: 1px dotted #DDDDDD;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.secondary .blog-content .btn.more {
	margin-top:10px;
}
.secondary .blog-content .btn {
	display:none;
}

/* custom style */

/* .blog_page {
	background-color: transparent;
	margin-left: -305px;
	width: 137%;
	padding: 15px 40px;
} */
