.page-list {
  margin-top: 2.5em;
}

.page-list-header {
  margin-left: 10px;
}

.page-list-item {
  margin: 1.5em 0;
}

.page-list-item .image {
  width: 168px;
  /* hack for default theme */
  margin-bottom: 1em;
}

.page-list-item .image a {
  display: block;
  height: 136px;
  background-position: center center;
  background-size: cover;
}

.page-list-item h3 a {
  display: block;
}

.pages-form .form-actions {
  margin-top: 10px;
}

/* custom style */

/* .acc_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6A7381;
  margin-left: 10px;
}

.page_form {
  background-color: #fff;
  min-height: 450px;
  padding: 20px 50px;
  margin: -40px -30px -30px;
  border-radius: 15px;
}

.heading_page-new {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #1F316B;
}

.page_heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #170F49;
}

.page_form label {
  font-weight: 400;
  font-size: 15px !important;
  line-height: 22px;
  color: #5E6366;
}

.publish_date .form-group,
input#field-publish_date,
.new_blog .form-group .input-group {
  width: 100%;
}

.status_option {
  margin-bottom: 30px;
}

.new_blog .form-group.control-full.control-large {
  display: block;
}

.new_blog input,
input#field-publish_date,
select#field-order,
select#field-private {
  width: 100% !important;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  padding: 0 10px;
}

.form-actions.action_page {
  margin-top: 25px;
  padding-bottom: 60px;
}

.new_blog .slug-preview strong {
  min-width: 65px;
}

.btn_add-page a {
	height: 43px;
  background: #FFFFFF;
  border: 1px solid #3699FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  color: #3699FF;
  padding: 10px;
}

.btn_save-page {
  background: #2747A0 !important;
}

.pages_heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #2C3A61;
}

.module_heading-blog {
  font-weight: 600;
  font-size: 25px;
  line-height: 27px;
  color: #000000;
  margin-left: 15px;
}

.dataset-heading {
  font-weight: 600;
  font-size: 20px;
}

.dataset-heading a {
  color: #170F49;
}

.img_back-page {
  float: right;
  margin-top: -55px;
} */

