<strong>{{ gettext('Vào lúc %(timestamp)s, tài khoản %(username)s:', timestamp=h.render_datetime(activity_diff.activities[1].timestamp, with_hours=True, with_seconds=True), username=h.linked_user(activity_diff.activities[1].user_id)) }}</strong>

{% set changes = h.compare_pkg_dicts(activity_diff.activities[0].data.package, activity_diff.activities[1].data.package, activity_diff.activities[0].id) %}
<ul>
{% for change in changes %}
  {% snippet "snippets/changes/{}.html".format(
    change.type), change=change %}
{% endfor %}
</ul>
