{% import 'macros/form.html' as form %}
{% set action = g.form_action or '' %}

<form id="dataset-edit" class="dataset-form" method="post" action="{{ action }}" data-module="basic-form" novalidate>
  {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% block basic_fields %}
    {% snippet 'package/snippets/package_basic_fields.html', data=data, errors=errors %}
  {% endblock %}

  {% block metadata_fields %}
    {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}
    <div class="loader" id="loader2"></div>
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions" style="margin-bottom: 10px; text-align: end">
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '.delete', id=data.id %}" data-module="confirm-action" data-module-title="{{ _('Xóa bộ dữ liệu') }}" data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Xóa bỏ') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      {% block save_button %}
        <input class="btn btn-primary btn_cancel-datasets" type="button" onclick="back()" value="Hủy bỏ">
        <button class="btn btn-primary btn_next disable" id="btn_required" onclick="btnTrun()" type="submit" name="save">{% block save_button_text %}{{ _('Tạo và tiếp tục') }}{% endblock %}</button>
      {% endblock %}
      <!-- {{ form.required_message() }} -->
    </div>
  {% endblock %}
</form>
