{% import 'macros/form.html' as form %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for('dataset.read', id='') %}
{% set domain = h.url_for('dataset.read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>', 'class': 'form-control input-sm'} %}

  <div class="heading-item">
    <span onclick="back()">
      <img class="img-back" src="../../images/img-box/back.png">
    </span>
  </div>

  <div class="new_datasets">
    <div class="col_child-one">
      {% block package_basic_fields_title %}
      {{ form.input('title', id='field-title', label=_('Title'), placeholder=_(' '), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}, is_required=true) }}
      {% endblock %}
    </div>
    <div class="col_child-two hide_slug">
      {{ form.prepend('name', id='field-name', label=_('Url'), prepend=prefix, placeholder=_(' '), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
      {% endblock %}
    </div>
    <script>
      // disable button
      document.getElementById("field-title").addEventListener('input', function () {
        if (document.getElementById("field-title").value.trim() != '') {
          document.getElementById('btn_required').classList.remove('disable');
        } else {
          document.getElementById('btn_required').classList.add('disable');
        }

        if (document.getElementById("field-title").value.startsWith(' ')) {
          document.getElementById("field-title").value = document.getElementById("field-title").value.trimLeft();
        }
      })
        
      window.addEventListener('load', function() {
        if (document.getElementById('field-title').value != '') {
            document.getElementById('btn_required').classList.remove('disable');
        }
      });

      // auto add url
      document.getElementById('field-title').addEventListener('keyup', function() {
        var valueUrl = document.getElementById('field-title').value.toLowerCase();
        valueUrl = valueUrl.replace(/à|á|ã|â|ă|ạ|ả|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
        valueUrl = valueUrl.replace(/è|é|ê|ẹ|ẻ|ẽ|ề|ế|ệ|ể|ễ/g,"e");
        valueUrl = valueUrl.replace(/ì|í|ĩ|ị|ỉ/g,"i");
        valueUrl = valueUrl.replace(/ò|ó|ô|ơ|ọ|ỏ|õ|ồ|ố|ộ|ổ|ỗ|ờ|ớ|ợ|ở|ỡ/g,"o");
        valueUrl = valueUrl.replace(/ù|ú|ũ|ư|ụ|ủ|ừ|ứ|ự|ử|ữ/g,"u");
        valueUrl = valueUrl.replace(/ý|ỳ|ỵ|ỷ|ỹ/g,"y");
        valueUrl = valueUrl.replace(/đ/g,"d");
        valueUrl = valueUrl.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
        valueUrl = valueUrl.replace(/\u02C6|\u0306|\u031B/g, "");
        valueUrl = valueUrl.replace(/ + /g,"");
        valueUrl = valueUrl.replace(/ - /g,"-");
        valueUrl = valueUrl.trim().replaceAll(" ", "-");
        valueUrl = valueUrl.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|`|{|}|\||\\/g,"");
        document.getElementById("field-name").value = valueUrl;
      });
      
      function btnTrun() {
        var valueUrl = document.getElementById('field-title').value.toLowerCase();
        valueUrl = valueUrl.replace(/à|á|ã|â|ă|ạ|ả|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
        valueUrl = valueUrl.replace(/è|é|ê|ẹ|ẻ|ẽ|ề|ế|ệ|ể|ễ/g,"e");
        valueUrl = valueUrl.replace(/ì|í|ĩ|ị|ỉ/g,"i");
        valueUrl = valueUrl.replace(/ò|ó|ô|ơ|ọ|ỏ|õ|ồ|ố|ộ|ổ|ỗ|ờ|ớ|ợ|ở|ỡ/g,"o");
        valueUrl = valueUrl.replace(/ù|ú|ũ|ư|ụ|ủ|ừ|ứ|ự|ử|ữ/g,"u");
        valueUrl = valueUrl.replace(/ý|ỳ|ỵ|ỷ|ỹ/g,"y");
        valueUrl = valueUrl.replace(/đ/g,"d");
        valueUrl = valueUrl.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
        valueUrl = valueUrl.replace(/\u02C6|\u0306|\u031B/g, "");
        valueUrl = valueUrl.replace(/ + /g,"");
        valueUrl = valueUrl.replace(/ - /g,"-");
        valueUrl = valueUrl.trim().replaceAll(" ", "-");
        valueUrl = valueUrl.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|`|{|}|\||\\/g,"");
        document.getElementById('field-name').value = valueUrl;
        var inputElement = document.getElementById("field-name");
        var maxLength = 50;
        var inputValue = inputElement.value;
        if (inputValue.length > maxLength) {
          inputElement.value = inputValue.slice(0, maxLength);
          var randomNumbers = Math.floor(Math.random() * 1000);
          inputElement.value += randomNumbers;
        }
        if (valueUrl.length > 99) {
          var randomNumbers = Math.floor(Math.random() * 1000);
          inputElement.value += randomNumbers;
        }
        document.getElementById('loader2').style.display = 'block';
      };
    </script>
  </div>

  {% block package_basic_fields_custom %}{% endblock %}

  {% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_(' '), value=data.notes, error=errors.notes) }}
  {% endblock %}

  {% block package_basic_fields_license %}
  <div class="form-group">
    {% set error = errors.license_id %}
    <div class="controls">
      <div class="new_datasets control_mt">
        <div class="col_child-one data_tags">
          {% block package_basic_fields_tags %}
          {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
          {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_(' '), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
          {% endblock %}
        </div>
        <div class="col_child-two">
          <div class="form-group control-full">
            <label class="control-label" for="field-license">{{ _("License") }}</label>
            <select id="field-license" name="license_id" data-module="autocomplete">
              {% set existing_license_id = data.get('license_id') %}
              {% set empty_license = _(' ') %}
              <option value="">{{ empty_license }}</option>
              {% for license_id, license_desc in h.license_options(existing_license_id) %}
              <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="hidden">
          <span class="info-block info-inline">
            <i class="fa fa-info-circle"></i>
            {% trans %}
            License definitions and additional information can be found
            at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
            {% endtrans %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block package_basic_fields_org %}
  {% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_can_update_owner_org = h.can_update_owner_org(data, organizations_available) %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and user_can_update_owner_org %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector and show_visibility_selector %}
  <div data-module="dataset-visibility" class="organ_status">
  {% endif %}

    <div class="new_datasets">
      <div class="col_child-one">
        {% if show_organizations_selector %}
        {% set existing_org = data.owner_org or data.group_id %}
        <div class="form-group control-medium">
          <label for="field-organizations" class="control-label">{{ _('Cơ quan cung cấp') }}</label>
          <div class="controls" id="option_show">
            <select id="field-organizations" name="owner_org" data-module="autocomplete">
              {% if h.check_config_permission('create_unowned_dataset') %}
              <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('Không có cơ quan cung cấp') }}</option>
              {% endif %}
              {% for organization in organizations_available %}
              {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
              <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col_child-two">
        {% if show_visibility_selector %}
        {% block package_metadata_fields_visibility %}
        <div class="form-group control-medium">
          <label for="field-private" class="control-label">{{ _('Trạng thái') }}</label>
          <div class="controls">
            <select id="field-private" name="private" class="form-control">
              {% for option in [('False', _('Public')), ('True', _('Private'))] %}
              <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endblock %}
        {% endif %}
      </div>
    </div>
    {% if show_organizations_selector and show_visibility_selector %}
  </div>
  {% endif %}

  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    {% block form_actions %}
      <div class="form-actions" style="position: absolute; bottom: 30px;">
        {% block delete_button %}
          {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
            <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '.delete', id=data.id %}" data-module="confirm-action" data-module-title="{{ _('Xóa bộ dữ liệu') }}" data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Xóa bỏ') }}{% endblock %}</a>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  {% endif %}

  {% endblock %}

