
{% set resources = pkg.resources or [] %}
{% if resources %}
  {% block resources %}
    <section class="module module-narrow resources resources_tag">
      {% block resources_inner %}
        {% block resources_title %}
          <h2 class="heading_resource">{{ _("Dữ liệu") }}</h2>
        {% endblock %}
        {% block resources_list %}
          <ul class="list-unstyled nav nav-simple">
            {% for resource in resources %}
              <li class="nav-item{{ ' active' if active == resource.id }}">
                <a href="{{ h.url_for('%s_resource.%s' % (pkg.type, 'read' if is_activity_archive else (action or 'read')), id=pkg.id if is_activity_archive else pkg.name, resource_id=resource.id, inner_span=true, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) }}">{{ h.resource_display_name(resource)|truncate(100) }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endblock %}
      {% endblock %}
    </section>
  {% endblock %}
{% endif %}
