{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set action = form_action or h.url_for(dataset_type ~ '_resource.new', id=pkg_name) %}


<form id="resource-edit" class="dataset-form dataset-resource-form" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data">

  <span >
    <h1 class="heading_add-data">{{ _('Add data') }}</h1>
  </span>

  {% block stages %}
    {% if stage %}
      {{ h.snippet('package/snippets/stages.html', stages=stage, pkg_name=pkg_name) }}
    {% endif %}
  {% endblock %}

  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  <input name="id" value="{{ data.id }}" type="hidden"/>

  {% block basic_fields %}

    {% block basic_fields_name %}
      <div class="edit_name">
        {{ form.input('name', id='field-name', label=_('Tên dữ liệu'), placeholder=_(' '), value=data.name, error=errors.name, classes=['control-full'], is_required=true) }}
      <script>
        window.addEventListener('DOMContentLoaded', function() {
          document.getElementById("field-name").required = true;
        });
      </script>
      </div>
    {% endblock %}
    <i>Nhập link hoặc tải lên file dữ liệu</i>
    <div class="url_file">
      {% block basic_fields_url %}
        {% set is_upload = (data.url_type == 'upload') %}
        {% snippet 'package/snippets/resource_upload_field.html',
          data=data,
          errors=errors,
          is_url=data.url and not is_upload,
          is_upload=is_upload,
          is_upload_enabled=h.uploads_enabled(),
          url_label=_('Url'),
          upload_label=_('File'),
          placeholder=_('Nhập link truy cập dữ liệu') %}
      {% endblock %}
      <input class="btn_remove-url" id="del_value-url" type="button" value="Xóa">
    </div>
    {% block basic_fields_description %}
      {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_(' '), value=data.description, error=errors.description) }}
    {% endblock %}

    {% block basic_fields_format %}
      <div class="edit_format">
        {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
        {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('Chọn định dạng hiển thị dữ liệu'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
        {% endcall %}
      </div>
    {% endblock %}
    
  {% endblock basic_fields %}

  {% block metadata_fields %}
    {% if include_metadata %}
      {{ form.input('last_modified', id='field-last-modified', label=_('Last Modified'), placeholder=_('eg. 2012-06-05'), value=data.last_modified, error=errors.last_modified, classes=[]) }}

      {{ form.input('size', id='field-size', label=_('File Size'), placeholder=_('eg. 1024'), value=data.size, error=errors.size, classes=[]) }}

      {{ form.input('mimetype', id='field-mimetype', label=_('MIME Type'), placeholder=_('eg. application/json'), value=data.mimetype, error=errors.mimetype, classes=[]) }}

      {{ form.input('mimetype_inner', id='field-mimetype-inner', label=_('MIME Type'), placeholder=_('eg. application/json'), value=data.mimetype_inner, error=errors.mimetype_inner, classes=[]) }}
    {% endif %}
  {% endblock %}

  <div class="form-actions">
    {% block delete_button %}
    <input class="btn btn-primary btn_cancel" type="button" onclick="back()" value="Hủy bỏ">
      {% if data.id %}
        {% if h.check_access('resource_delete', {'id': data.id})  %}
          <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '_resource.delete', resource_id=data.id, id=pkg_name %}" data-module="confirm-action" data-module-title="{{ _('Xóa dữ liệu') }}" data-module-content="{{ _('Are you sure you want to delete this resource?') }}">
            {% block delete_button_text %}{{ _('Xóa bỏ') }}{% endblock %}</a>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% if stage %}
      {% block previous_button %}
        <button class="btn btn-default hidden" name="save" value="go-dataset" type="submit">{{ _('Previous') }}</button>
      {% endblock %}
    {% endif %}
    {% block again_button %}
      <button onclick="loader()" class="btn btn-default btn_save-add disable" id="del_disable" name="save" value="again" type="submit">{{ _('Tạo và tiếp tục') }}</button>
    {% endblock %}
    {% if stage %}
      {% block save_button %}
        <button onclick="loader()" class="btn btn-primary btn_save disable" id="remove_disable" name="save" value="go-metadata" type="submit">
          {% block save_button_text %}{{ _('Tạo mới') }}{% endblock %}
        </button>
      {% endblock %}
    {% else %}
      {% block add_button %}
        <button onclick="loader()" class="btn btn-primary btn_save disable" id="remove_disable-add" name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
      {% endblock %}
    {% endif %}
  </div>
  <div class="loader" id="loader"></div>
  <script>
    const myInput = document.getElementById("field-name");
    const inputData = document.getElementById('field-resource-upload');
    const inputDataUrl = document.getElementById('field-resource-url');

    myInput.addEventListener('input', function() {
      if (myInput.value.startsWith(' ')) {
          myInput.value = myInput.value.trimLeft();
      }
    });

    function loader() {
      if (myInput.value.trim() !== "" && inputData.value.trim() !== '' || myInput.value.trim() !== "" && inputDataUrl.value.trim() !== '') {
        document.getElementById('loader').style.display = 'block';
      }
    };

    window.addEventListener('DOMContentLoaded', function() {
      if (document.getElementById('remove_disable')) {
        if (myInput.value.trim() != '') {
          document.getElementById('remove_disable').classList.remove('disable');
        } else {
          document.getElementById('remove_disable').classList.add('disable');
        }
        if (document.getElementById('field-resource-url').value != '') {
          document.getElementById('del_value-url').style.display = 'block';
        }
        document.getElementById('del_value-url').addEventListener('click', function() {
          document.getElementById('field-resource-url').value = '';
          document.getElementById('del_value-url').style.display = 'none';
          document.getElementById('remove_disable').classList.add('disable');
        });
        document.getElementById('field-resource-url').addEventListener('keyup', function() {
          if (document.getElementById('field-resource-url').value.length == 0) {
            document.getElementById('del_value-url').style.display = 'none';
          } else {
            document.getElementById('del_value-url').style.display = 'block'
          }
        });
      }
    });

    document.getElementById('resource-upload-button').addEventListener('click', function() {
      if (document.getElementById('del_disable')) {
        var btnRemoveAdd = document.getElementById('remove_disable-add');
        var btnDel = document.getElementById('del_disable');
        var inputPackage = inputData.files.name;
        if (inputPackage == '') {
          if (document.getElementById('remove_disable-add')) {
            btnRemoveAdd.classList.add('disable');
          }
          btnDel.classList.add('disable');
        } else {
          if (document.getElementById('remove_disable-add')) {
            btnRemoveAdd.classList.remove('disable');
          }
          btnDel.classList.remove('disable');
        }
      };
      if (document.getElementById('remove_disable')) {
        var btnRemove = document.getElementById('remove_disable');
        var btnDel = document.getElementById('del_disable');
        var inputPackage = inputData.files.name;
        if (inputPackage == '') {
          btnRemove.classList.add('disable');
          if (document.getElementById('del_disable')) {
            btnDel.classList.add('disable');
          }
        } else {
          btnRemove.classList.remove('disable');
          if (document.getElementById('del_disable')) {
            btnDel.classList.remove('disable');
          }
        }
      };
    });

    inputDataUrl.addEventListener('keyup', function() {
      if (document.getElementById('del_disable')) {
        var btnRemoveAdd = document.getElementById('remove_disable-add');
        var btnDel = document.getElementById('del_disable');
        if (inputDataUrl.value.length == 0) {
          if (document.getElementById('remove_disable-add')) {
            btnRemoveAdd.classList.add('disable');
          }
          btnDel.classList.add('disable');
        } else {
          if (document.getElementById('remove_disable-add')) {
            btnRemoveAdd.classList.remove('disable');
          }
          btnDel.classList.remove('disable');
        }
  
        var btnDelUrl = document.getElementById('del_value-url');
        if (inputDataUrl.value != '') {
          btnDelUrl.style.display = 'block';
        } else {
          btnDelUrl.style.display = 'none';
        };
  
        btnDelUrl.addEventListener('click', function() {
          inputDataUrl.value = '';
          btnDelUrl.style.display = 'none';
          if (document.getElementById('remove_disable-add')) {
            btnRemoveAdd.classList.add('disable');
          }
          btnDel.classList.add('disable');
        });
      };

      if (document.getElementById('remove_disable')) {
        var btnRemove = document.getElementById('remove_disable');
        var btnDel = document.getElementById('del_disable');
        if (inputDataUrl.value.length == 0) {
          btnRemove.classList.add('disable');
          if (document.getElementById('del_disable')) {
            btnDel.classList.add('disable');
          }
        } else {
          btnRemove.classList.remove('disable');
          if (document.getElementById('del_disable')) {
            btnDel.classList.remove('disable');
          }
        }
      };
    });

    document.getElementById('btn_show-delete').addEventListener("click", function() {
      if (document.getElementById('del_disable')) {
        var btnRemoveAdd = document.getElementById('remove_disable-add');
        var btnDel = document.getElementById('del_disable');
        inputData.value = '';
        inputDataUrl.value = '';
        if (document.getElementById('remove_disable-add')) {
          btnRemoveAdd.classList.add('disable');
        }
        btnDel.classList.add('disable');
      };
      if (document.getElementById('remove_disable')) {
        var btnRemove = document.getElementById('remove_disable');
        var btnDel = document.getElementById('del_disable');
        inputData.value = '';
        inputDataUrl.value = '';
        btnRemove.classList.add('disable');
        if (document.getElementById('del_disable')) {
          btnDel.classList.add('disable');
        }
      }
    });

    if (document.getElementById('input_file-up')) {
      window.addEventListener('DOMContentLoaded', function() {
        if (document.getElementById('input_file-up').value != '') {
          document.getElementById('remove_disable').classList.remove('disable');
        }
      });
      document.getElementById('btn_remove-up').addEventListener("click", function() {
        var btnRemove = document.getElementById('remove_disable');
        btnRemove.classList.add('disable');
        document.getElementById('input_file-up').value = '';
      });
    ;}

    document.getElementById('resource-upload-button').addEventListener("click", function() {
        inputDataUrl.value = '';
    });
  </script>
</form>
