
<section id="dataset-resources" class="resources">
  <div class="dl_all">
    <h2 class="heading_resources">{{ _('Dữ liệu và tài nguyên') }}</h2>
    <span class="btn_explore">
      {% for resource in resources %}
        <a class="links_res" id="links-res" style="display: none;" href="{{resource.url}}">{{resource.url}}</a>
      {% endfor %}
      <a class="btn_dl-all" onclick="downloadAll()" download="">
        <img src="../../../images/img-box/dl.svg">
        Tải tất cả
      </a>
    </span>
    <script>
    // download all
    function downloadAll() {
      var links = document.getElementsByClassName('links_res'), hrefs = [];
        for (var i = 0; i < links.length; i++) {   
            hrefs.push(links[i].href);
        }
      let fetchFile = function(url) {
        return fetch(url).then(res => res.blob());
      }
      let exportFile = function(file) {
        let a = document.createElement('a');
        a.href = URL.createObjectURL(file);
        a.setAttribute('download', '');
        a.click();
      }
      for(const url of hrefs) {
        fetchFile(url).then(file => exportFile(file));
      }
    }
    </script>
  </div>
  {% block resource_list %}
    {% if resources %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
          {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
            <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
      {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
    {% endif %}
    {% endblock %}
</section>
