
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.id if is_activity_archive else pkg.name, resource_id=res.id, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div class="all_text">
    {% block resource_item_title %}
    <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
      {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
    </a>
    {% endblock %}
    {% block resource_item_description %}
      <p class="description">
        {% if res.description %}
          {{ h.markdown_extract(h.get_translated(res, 'description')) }}
        {% endif %}
      </p>
    {% endblock %}
    {% block resource_item_explore %}
    {% if not url_is_edit %}
  </div>

  <div class="dropdown btn-group">
    {% if res.url and h.is_url(res.url) %}
    <span class="btn_explore">
      <a download="" href="{{ res.url }}" class="resource-url-analytics" target="_blank">
        {% if res.has_views or res.url_type == 'upload' %}
          <img src="../../../images/img-box/dl.svg">
          {{ _('Download') }}
        {% else %}
          {{ _('Go to resource') }}
        {% endif %}
      </a>
    </span>
    {% endif %}
  </div>
  {% endif %}
  {% endblock %}
</li>
