{% import "macros/form.html" as form %}

{% set first_button = 'resource-upload-button' if is_upload_enabled else 'resource-link-button' %}

{% macro remove_button(js='') %}
  <button type="button" class="btn_remove-url" id="btn_show-delete"
    onclick="
      document.getElementById('resource-url-none').checked = true;
      document.getElementById('{{ first_button }}').focus();
      document.getElementById('type_url').style.display = 'block';
      document.getElementById('file_upload').style.display = 'none';
      document.getElementById('name_file-up').style.display = 'none';
      {{ js }}
    ">{{ _('Remove') }}</button>
{% endmacro %}

<div data-module="resource-upload-field" class="resource-upload-field form_upload-file">
  <input class="hidden" type="radio" id="resource-url-none" name="url_type" value="" {{
    'checked' if not data.url and not data.url_type else '' }}>
  <div class="select-type">
    <div role="group" aria-labelledby="resource-menu-label">
      {% block url_type_select %}
        {% if is_upload_enabled %}
          <button type="button" class="btn_upload-file" id="resource-upload-button"
            title="{{ _('Upload a file on your computer') }}"
            onclick="
              document.getElementById('resource-url-upload').checked = true;
              document.getElementById('field-resource-upload').click();
              document.getElementById('field-resource-upload').required = true;
              document.getElementById('type_url').style.display = 'none';
              document.getElementById('file_upload').style.display = 'block';
              document.getElementById('btn_show-delete').style.display = 'block';
              document.getElementById('del_value-url').click();
            ">{{ _("Chọn file") }}</button>
        {% endif %}
        <button type="button" class="btn_url" id="resource-link-button"
          title="{{ _(' ') }}"
            onclick="
              document.getElementById('resource-url-link').checked = true;
              document.getElementById('field-resource-url').focus();
            ">{{ _(' ') }}</button>
      {% endblock %}
    </div>
  </div>

  {% block url_type_fields %}
    {% if is_upload_enabled %}
      <input class="hidden" type="radio" id="resource-url-upload" name="url_type" value="upload" {{
        'checked' if is_upload else '' }}>
      <div class="select-type" >
        {% block upload_controls %}
          {% if is_upload %}
            <div class="upload-type name_file-up" id="name_file-up">
              <button type="button" class="btn btn-danger btn-remove-url hidden"
                onclick="
                  document.getElementById('field-clear-upload').checked = true;
                  document.getElementById('field-resource-upload').focus();
                ">{{ _(' ') }}</button>
              <label class="form-label">{{ _('File ') }}</label>
              <div class="controls">
                {% set existing_name = data.get('url', '').split('/')[-1].split('?')[0].split('#')[0] %}
                <input value="{{ existing_name }}" class="form-control" readonly id="input_file-up">
                <button type="button" class="btn_remove-up" id="btn_remove-up"
                  onclick="
                    document.getElementById('resource-url-none').checked = true;
                    document.getElementById('{{ first_button }}').focus();
                    document.getElementById('type_url').style.display = 'block';
                    document.getElementById('file_upload').style.display = 'none';
                    document.getElementById('name_file-up').style.display = 'none';
                    {{ js }}
                  ">{{ _('Remove') }}</button>
              </div>
            </div>
          {% endif %}
          <div class="upload-type file_upload" id="file_upload">
            {{ remove_button(
              js="$('#field-resource-upload').replaceWith($('#field-resource-upload').val('').clone(true))") }}
            {{ form.input(
              'upload',
              label= _('File '),
              id='field-resource-upload',
              type='file',
              classes=['control-full'],
              is_required=true) }}
          </div>
        {% endblock %}
      </div>
    {% endif %}

    <input type="radio" id="resource-url-link" name="url_type" value="" {{
      'checked' if is_url else '' }}>
    <div class="select-type type_url" id="type_url">
      {% block link_controls %}
        {{ remove_button(
          js="$('#field-resource-url').val('')") }}
        {{ form.input(
          'url',
          label=url_label or _('URL'),
          id='field-resource-url',
          type='url',
          placeholder=placeholder,
          value=data.get('url') if is_url,
          error=errors.get('url'),
          classes=['control-full'],
          is_required=true) }}
      {% endblock %}
    </div>
  {% endblock %}
</div>
