
{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'uncomplete' %}
{% if s1 != 'uncomplete' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'uncomplete' %}{% set class = 'stage-2' %}{% endif %}

<ol class="stages {{ class }}">

  <li class="first {{ s1 }}">
    {% if s1 != 'complete' %}
      <span class="create_heading">{{ _('Thêm mới bộ dữ liệu') }}</span>
    {% else %}
      <button class="highlight hidden" name="save" value="go-dataset" type="submit">{{ _('Create dataset') }}</button>
    {% endif %}
  </li>
  <li class="last {{ s2 }} hidden">
    {% if s2 != 'complete' %}
      <span class="create_heading">{{ _('Add data') }}</span>
    {% else %}
      {% if s1 == 'active' %}
        <button class="highlight" name="save" value="go-resources" type="submit">{{ _('Add data') }}</button>
      {% else %}
        {% link_for _('Add data'), named_route='dataset.new', class_="highlight" %}
      {% endif %}
    {% endif %}
  </li>
</ol>
