
{% if tags %}
  <section class="tags">
    <h2 class="module-heading organ_tags">{{ _('Thẻ') }}</h2>
    {% snippet 'snippets/tag_list.html', tags=tags, _class='tag-list well' %}
  </section>
{% endif %}
