
{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block item %}
<li class="media-item media_organ">
  {% block item_inner %}
  {% block image %}
    <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-responsive media-image">
  {% endblock %}
  <div class="footer_item">
    {% block title %}
      <h2 class="media-heading h2_item" id="{{ organization.name }}">{{ organization.display_name }}</h2>
    {% endblock %}
    {% block datasets %}
      {% if organization.package_count %}
        <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong>
      {% else %}
        <span class="count">{{ _('0 Datasets') }}</span>
      {% endif %}
    {% endblock %}
    <br/>
    {% block capacity %}
      {% if show_capacity and organization.capacity %}
        <span class="label label-default">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span>
      {% endif %}
    {% endblock %}
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        var textItem = document.getElementById('{{ organization.name }}');
        var textStr = textItem.textContent.toLowerCase();
          textItem.classList.add("block");
        if(textStr.indexOf('z-') == 0) {
          textItem.parentElement.parentElement.style.display = "none";
        }
      });
    </script>
  </div>
  {% block link %}
  <a href="{{ url }}" title="{{ _('{organization_name}').format(organization_name=organization.display_name) }}" class="media-view"></a>
  {% endblock %}
  {% endblock %}
</li>
{% endblock %}
