{% import 'macros/autoform.html' as autoform %}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block secondary_content %}
  {% block header_account_container_content %}
    <div class="sidebar_admin" data-module="me" data-me="{{ c.userobj.id }}" id="sidebar_admin">
      <div class="list-admin">
        {% block header_account_logged %}
        {% block header_account_settings_link %}
        <span class="span_config">
          <img src="../../../../images/img-box/admin.png" class="img_admin">
          <li onclick="myClick1()">
              <a>
                  Tài khoản
              </a>
          </li>
          <img src="../../../../images/img-box/up.png" class="img_up hidden" id="img_up">
          <img src="../../../../images/img-box/d.png" class="img_d" id="img_d">
        </span>
        <span class="span_config">
            <ul class="list_user hidden" id="list_user1">
                <span class="item_user">
                    <img src="../../../../images/img-box/pd.png" class="img_user img_pending">
                    {{ h.build_nav_icon('user.index_pending', _('Phê duyệt')) }}
                </span>
                <span class="item_user">
                    <img src="../../../../images/img-box/cn.png" class="img_user">
                    {{ h.build_nav_icon('user.index', _('Cá nhân')) }}
                </span>
                <span class="item_user">
                    <img src="../../../../images/img-box/tc.png" class="img_user">
                    {{ h.build_nav_icon('user.index_organ', _('Tổ chức')) }}
                </span>
            </ul>
        </span>
        <!-- <span class="span_config">
          <img src="../../../../images/img-box/edit.png" class="img_admin" style="opacity: 0.8;">
          <li>
            <a href="{{ h.url_for('home.admin_contact') }}">
              Quản lý liên hệ
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/refresh.png" class="img_admin" style="opacity: 0.8;">
          <li>
            <a href="{{ h.url_for('home.banner') }}">
              Quản lý banner
            </a>
          </li>
        </span> -->
        <span class="span_config">
          <li>
            <img src="../../../../images/img-box/dmdc.svg" class="img_admin">
            <a href="{{ h.url_for('home.dmdc_admin') }}">
                Dữ liệu danh mục
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/roles.png" class="img_permission">
          <li>
            <a href="{{ h.url_for('user.permissions') }}" class="a_permission">
              Nhóm quyền
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/ad.png" class="img_infor">
          <li>
            <a href="{{ h.url_for('user.read', id=c.userobj.name) }}">
              Thông tin cá nhân
            </a>
          </li>
        </span>
        <span class="span_config">
          <img src="../../../../images/img-box/config.png" class="img_config">
          {{ h.build_nav_icon('admin.config', _('Config')) }}
        </span>
        <span class="span_config">
          {{ h.build_nav_icon('admin.trash', _('Thùng rác')) }}
          <img src="../../../../images/img-box/trash.png" class="img_trash">
        </span>
        {% endblock %}

      {% endblock %}
      </ul>
    </div>
  {% endblock %}
{% endblock %}

{% block primary %}
  <div class="primary col-sm-9 col-xs-12 remove_pr" role="main">
    {% block primary_content %}
      {% block primary_content_inner %}
        {{ form.errors(error_summary) }}
        <form method='post' action="" id="admin-config-form" enctype="multipart/form-data">
          {% block admin_form %}
          <div class="form_admin config_form">
            <h1 class="heading_admin">Cấu hình hệ thống</h1>

            {{ form.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], error=error, classes=['control-medium']) }}

            {{ form.select('ckan.theme', id='field-ckan-main-css', label=_('Chủ đề'), options=styles, selected=data['ckan.theme'], error=error) }}

            {{ form.input('ckan.site_description', id='field-ckan-site-description', label=_('Tên hệ thống'), value=data['ckan.site_description'], error=error, classes=['control-medium']) }}

            <div class="avatar_img del_config">
              {% set field_url = 'ckan.site_logo' %}
              {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
              {% set is_url = data[field_url] and data[field_url].startswith('http') %}
              {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Logo'), url_label=_('Logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}
              <input type="button" class="btn-danger remove_img" value="Xóa" onclick="removeImg()" id="remove_img">
            </div>

            {{ form.markdown('ckan.site_about', id='field-ckan-site-about', label=_('Mô tả hệ thống'), value=data['ckan.site_about'], error=error, placeholder=_('About page text')) }}

            {{ form.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro text'), value=data['ckan.site_intro_text'], error=error, placeholder=_(' ')) }}

            {{ form.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Cấu hình Header'), value=data['ckan.site_custom_css'], error=error, placeholder=_(' ')) }}

            {{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Cấu hình chức năng trang chủ'), options=homepages, selected=data['ckan.homepage_style'], error=error) }}

            {% endblock %}
            <div class="form-actions">
              <a href="{% url_for 'admin.reset_config' %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to reset the config?') }}">
                {{ _('Đặt lại') }}
              </a>
              <input class="btn btn-primary btn_cancel" type="button" onclick="back()" value="Hủy bỏ">
              <button type="submit" class="btn btn-primary btn_save" name="save">{{ _('Lưu lại') }}</button>
            </div>
          </div>
        </form>
      {% endblock %}
    {% endblock %}
  </div>
{% endblock %}