{% extends "admin/base.html" %}


{% block primary_content_inner %}
  <div class="form_admin bg_index" id="bg_index">
    <ul class="user-list">
      {% for user in sysadmins %}
        <li>{{ h.linked_user(user) }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}