
{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={'class': 'form-control'}, is_required=false) %}
{%- set extra_html = caller() if caller -%}

{% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
<input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ attributes(attrs) }} />
{% endcall %}
{% endmacro %}

{% macro checkbox(name, id='', label='', value='', checked=false, placeholder='', error="", classes=[], attrs={}, is_required=false) %}
{%- set extra_html = caller() if caller -%}
<div class="form-group{{ " " ~ classes | join(" ") }}{% if error %} error{% endif %}">
<div class="controls">
  <label class="checkbox" for="{{ id or name }}">
    <input id="{{ id or name }}" type="checkbox" name="{{ name }}" value="{{ value | empty_and_escape }}" {{ "checked " if checked }} {{ attributes(attrs) }} />
    {{ label or name }}
    {% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}
    {% if error and error is iterable %}<strong class="error-inline">{{ error|join(', ') }}</strong>{% endif %}
  </label>
  {{ extra_html }}
</div>
</div>
{% endmacro %}

    {% macro select(name, id='', label='', options='', selected='', error='', classes=[], attrs={'class': 'form-control'}, is_required=false) %}
    {% set classes = (classes|list) %}
    {% do classes.append('control-select') %}

    {%- set extra_html = caller() if caller -%}
    {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select id="{{ id or name }}" name="{{ name }}" {{ attributes(attrs) }}>
      {% for option in options %}
      <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text or option.value }}</option>
      {% endfor %}
  </select>
  {% endcall %}
  {% endmacro %}

  {% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={'class': 'form-control'}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}
  {% set markdown_tooltip = "<pre><p>__Bold text__ or _italic text_</p><p># title<br>## secondary title<br>### etc</p><p>* list<br>* of<br>* items</p><p>http://auto.link.ed/</p></pre><p><b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a></b></p><p class='text-muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>" %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
  <textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
  <span class="editor-info-block">{% trans %}You can use <a href="#markdown" title="Markdown quick reference" data-target="popover" data-content="{{ markdown_tooltip }}" data-html="true">Markdown formatting</a> here{% endtrans %}</span>
  {% endcall %}
  {% endmacro %}

  {% macro textarea(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={'class': 'form-control'}, is_required=false, rows=5, cols=20) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
  <textarea id="{{ id or name }}" name="{{ name }}" cols="{{ cols }}" rows="{{ rows }}" placeholder="{{ placeholder }}" {{ attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
  {% endcall %}
  {% endmacro %}

  {% macro prepend(name, id='', label='', prepend='', value='', placeholder='', type='text', error="", classes=[], attrs={'class': 'form-control'}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('error') if error %}
  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error='', classes=classes, extra_html=extra_html, is_required=is_required) %}
  <div class="input-group form_full">
    {% if prepend %}<span class="input-group-addon">{{ prepend }}</span>{%- endif -%}
    <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ attributes(attrs) }} />
    {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
  </div>
  {% endcall %}
  {% endmacro %}

  {% macro custom(names=(), id="", label="", values=(), placeholders=(), error="", classes=[], attrs={}, is_required=false, key_values=()) %}
  {%- set classes = (classes|list) -%}
  {%- set label_id = (names[0]) ~ "-key" -%}
  {%- set extra_html = caller() if caller -%}

  {% call input_block(label_id, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
  
  <div class="row fix_mt">
    <div class="col-md-6">
      <div class="input-group fix_key" {{ attributes(attrs) }} id="form_key-value">
        <label for="{{ label_id }}" class="control-label">{{ _('Key') }}</label>
        <input class="form-control" id="{{ names[0] }}-key" type="text" name="{{ names[0] }}" value="{{ values[0] | empty_and_escape }}" placeholder="{{ placeholders[0] }}" />
      </div>
    </div>
    <div class="col-md-6">
      {% if values[0] or values[1] or error %}
      <label class="checkbox pull-right hidden" for="{{ id or names[2] }}-remove">
        <input type="checkbox" id="{{ id or names[2] }}-remove" name="{{ names[2] }}"{% if values[2] %} checked{% endif %} />
        <span class="btn btn-danger">
          <span class="fa fa-trash"></span>
          <span class="sr-only">{{ _('Remove') }}</span>
        </span>
      </label>
      {% endif %}
      <div class="input-group fix_value" {{ attributes(attrs) }} id="form_key-value">
        <label for="{{ names[1] }}-value" class="control-label">{{ _('Value') }}</label>
        <input class="form-control" id="{{ names[1] }}-value" type="text" name="{{ names[1] }}" value="{{ values[1] | empty_and_escape }}" placeholder="{{ placeholders[1] }}" />
        <div class="remove_kv" id="remove_kv">
          <label class="fa fa-trash" onclick="
            document.getElementById('{{ names[0] }}-key').value = '';
            document.getElementById('{{ names[1] }}-value').value = '';
            ">
          </label>
        </div>
      </div>
    </div>
    <script>
      var currentValue = 1;
      document.getElementById('{{ names[0] }}-key').onchange = () =>{
        for (var i = currentValue; i < currentValue + 1; i++){
          document.querySelectorAll('.hide_label div.form-group')[i].style.display = 'block';
        }
        currentValue += 1;
      }

      window.addEventListener('load', function() {
        if (document.getElementById('{{ names[0] }}-key').value != '') {
          for (var i = currentValue; i < currentValue + 1; i++){
            document.querySelectorAll('.hide_label div.form-group')[i].style.display = 'block';
          }
          currentValue += 1;
        }
      });

    </script>
  </div>

  {% endcall %}
  {% endmacro %}

  {% macro input_block(for, label="", error="", classes=[], control_classes=[], extra_html="", is_required=false) %}
  <div class="form-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
  <label class="control-label" for="{{ for }}">{{ label or _('Custom') }}{% if is_required %}<span title="{{ _("This field is required") }}">*</span> {% endif %}</label>
  <div class="controls{{ " " ~ control_classes | join(' ') }}">
  {{ caller() }}
  {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
  {{ extra_html }}
  </div>
  </div>
  {% endmacro %}

  {% macro errors(errors={}, type="error", classes=[]) %}
  {% if errors %}
  <div class="error-explanation alert alert-{{ type }}{{ " " ~ classes | join(' ') }}">
  <p>{{ _('Biểu mẫu chứa nội dung nhập không hợp lệ:') }}</p>
  <ul>
    {% for key, error in errors.items() %}
    <li data-field-label="{{ key }}">{% if key %} {% endif %}{{ error }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% endmacro %}

  {% macro info(text='', inline=false, classes=[]) %}
  {%- if text -%}
  <div class="info-block{{ ' info-inline' if inline }}{{ " " ~ classes | join(' ') }}">
  <i class="fa fa-info-circle"></i>
  {{ text }}
  </div>
  {%- endif -%}
  {% endmacro %}

  {% macro hidden(name, value) %}
  <input type="hidden" name="{{ name }}" value="{{ value }}" />
  {% endmacro %}

  {% macro hidden_from_list(fields, except_names=None, except=None) %}
  {% set except_names = except_names or [] %}
  {% set except = except or [] %}

  {% for name, value in fields %}
  {% if name and value and name not in except_names and (name, value) not in except %}
  {{ hidden(name, value) }}
  {% endif %}
  {% endfor %}
  {% endmacro %}

  {%- macro attributes(attrs={}) -%}
  {%- for key, value in attrs.items() -%}
  {{ " " }}{{ key }}{% if value != "" %}="{{ value }}"{% endif %}
  {%- endfor -%}
  {%- endmacro -%}

  {% macro required_message() %}
  <p class="control-required-message">
    <span class="control-required">*</span> {{ _("Required field") }}
  </p>
  {% endmacro %}

{% macro image_upload(data, errors, field_url='image_url', field_upload='image_upload', field_clear='clear_upload',
                      is_url=false, is_upload=false, is_upload_enabled=false, placeholder=false,
                      url_label='', upload_label='', field_name='image_url')  %}
  {% set placeholder = placeholder if placeholder else _('Nhập link ảnh hoặc tải lên file') %}
  {% set url_label = url_label or _('Ảnh đại diện')  %}
  {% set upload_label = upload_label or _('Ảnh đại diện')  %}
  {% set previous_upload = data['previous_upload'] %}

  {% if is_upload_enabled %}

  <div class="image-upload item_upload"
       data-module="image-upload"
       data-module-is_url="{{ 'true' if is_url else 'false' }}"
       data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
       data-module-field_url="{{ field_url }}"
       data-module-field_upload="{{ field_upload }}"
       data-module-field_clear="{{ field_clear }}"
       data-module-upload_label="{{ upload_label }}"
       data-module-field_name="{{ field_name }}"
       data-module-previous_upload="{{ 'true' if previous_upload else 'false' }}">
  {% endif %}

    <div class="input_url" id="input_url">
      {{ input(field_url, label=url_label, id='field-image-url', type='url', placeholder=placeholder, value=data.get(field_url), error=errors.get(field_url), classes=['control-full input_url-img']) }}
      <script>
        document.getElementById("field-image-url").addEventListener('change', function() {
          var imageUrl = document.getElementById("field-image-url").value.trim();
          var pattern=/https?:\/\/.*\.(?:png|jpg|jpeg)/i;
          if (pattern.test(imageUrl)) {
            return true;
          } else {
            alert("Liên kết không hợp lệ hoặc không phải là liên kết hình ảnh.")
            document.getElementById("field-image-url").value = '';
            document.getElementById("field-image-url").focus();
          }
        });
      </script>
    </div>

    {% if is_upload_enabled %}
    <div class="input_upload" id="input_upload">
      {{ input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full input_upload-img']) }}
    </div>
    {% if is_upload %}
    <div class="hidden">
      {{ checkbox(field_clear, label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
    </div>
    {% endif %}
    {% endif %}

    {% if is_upload_enabled %}</div>{% endif %}

  {% endmacro %}
