
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

<form class="form_login" action="{{ action }}" method="post">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login', label=_("Tên đăng nhập"), id='field-login', placeholder='Tên đăng nhập', value="", error=username_error, classes=["control-medium login_name"], is_required=true) }}

  {{ form.input('password', label=_("Mật khẩu"), id='field-password', placeholder='Mật khẩu', type="password", value="", error=password_error, classes=["control-medium login_pass"], is_required=true) }}

    <span class="show-pass" id="show-pass">
      <img src="../../images/img-box/eye.png" class="hidden" id="eye">
      <img src="../../images/img-box/eye-off.png" id="eye-off">
    </span>

    <div class="login_box">
      {{ form.checkbox('remember', label=_("Duy trì đăng nhập"), id='field-remember', checked=true, value="63072000") }}
      {% block help_forgotten %}
        {% block help_forgotten_inner %}
            {% block help_forgotten_button %}
            <a class="btn_forgot" href="{{ h.url_for('user.request_reset') }}">{{ _('Quên mật khẩu?') }}</a>
            {% endblock %}
        {% endblock %}
      {% endblock %}
    </div>

  <div class="form-actions">
    {% block login_button %}
      <button class="btn_login disable" id="btn_login" type="submit">{{ _('Đăng nhập') }}</button>
    {% endblock %}

  {% block secondary_content %}
  {% block help_register %}
  <section class="module module-narrow module-shallow footer_login">
    {% block help_register_inner %}
      <div class="module-content">
        <p class="action_register">
          Bạn chưa có tài khoản?
        {% block help_register_button %}
          <a class="btn_register" href="{{ h.url_for('user.register') }}">{{ _('Đăng ký') }}</a>
        {% endblock %}
        </p>
      </div>
    {% endblock %}
  </section>
  {% endblock %}
  {% endblock %}
  </div>
  <script>
    const label = document.querySelectorAll('.login_name label');
    const labelPass = document.querySelectorAll('.login_pass label');
    const input = document.getElementById("field-login");
    const inputPass = document.getElementById("field-password");
    const button = document.getElementById('btn_login');
    // focus input
    window.addEventListener('load', 
      function() { 
        input.focus();
        input.placeholder = "";
    });
    
    // hide & show placeholder, label
    input.addEventListener("focus", function() {  
      label[0].style.display = 'block';
      input.placeholder = "";
    });
    input.addEventListener("blur", function() {
      if (input.value != '') {
        label[0].style.display = 'block';
        input.placeholder = "";
      } else {
        label[0].style.display = 'none';
        input.placeholder = "Tên đăng nhập"
      }
    });
    
    inputPass.addEventListener("focus", function() {  
      labelPass[0].style.display = 'block';
      inputPass.placeholder = "";
    });
    inputPass.addEventListener("blur", function() {
      if (inputPass.value != '') {
        labelPass[0].style.display = 'block';
        inputPass.placeholder = "";
      } else {
        labelPass[0].style.display = 'none';
        inputPass.placeholder = "Mật khẩu"
      }
    });
    
    // hide & show password
    const btnElement = document.getElementById('show-pass')
    
    btnElement.addEventListener('click', function() {
    
      const currentType = inputPass.getAttribute('type')
    
      var element = document.getElementById("eye");
      element.classList.toggle("block");
    
      var element = document.getElementById("eye-off");
      element.classList.toggle("hidden");
    
      inputPass.setAttribute(
        'type',
        currentType === 'password' ? 'text' : 'password'
      )
    });

    input.addEventListener('input', updateButtonVisibility);
    inputPass.addEventListener('input', updateButtonVisibility);

    function updateButtonVisibility() {
      if (input.value.trim() !== '' && inputPass.value.trim() !== '') {
        button.classList.remove('disable');
      } else {
        button.classList.add('disable');
      }
    }
  </script>
</form>
