
<form class="" action="{% url_for 'user.index_pending' %}" method="get" id="user-search-form">
  <img src="/images/img-box/x.png" alt="" class="clear_input-user" id="clear_input-user" onclick="document.getElementById('field-user-search').value = ''">
  <input id="field-user-search" value="{{ q }}" name="q" placeholder="{{ _('Search') }}" onclick="mySearch()"/>
  <button class="btn_search-user" type="submit" id="btn_search-user">
    <img src="/images/img-box/sitem.png">
  </button>
  <script>
    // search user
    var clearInputUser = document.getElementById("clear_input-user");
    var input = document.getElementById("field-user-search");
    window.addEventListener('load', function() {
      if (input.value.length == 0) {
        clearInputUser.style.display = "none";
      } else {
        clearInputUser.style.display = "block";
      }
    });

    function mySearch() {
      input.addEventListener('keyup', function() {
        if (input.value.length == 0) {
          clearInputUser.style.display = "none";
        } else {
          clearInputUser.style.display = "block";
        }
      });
    };
    clearInputUser.addEventListener('click', function() {
      clearInputUser.style.display = "none";
      input.focus();
      document.getElementById("btn_search-user").click();
    });
  </script>
</form>
