{% import 'macros/form.html' as form %}

<form id="group-edit" class="dataset-form" method="post" data-module="basic-form" enctype="multipart/form-data">
  <div class="create_item">
    <h1 class="item_heading">
      <p>{{ _('Cập nhật thông tin') }}</p>
    </h1>
    <div class="heading-item">
      <span onclick="back()">
        <img class="img_back" src="../../images/img-box/back.png">
      </span>
    </div>

    {% block error_summary %}
      {{ form.errors(error_summary) }}
    {% endblock %}

    {% block basic_fields %}
      {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}

      <div class="new_datasets row_fix">
        <div class="col_child-one">
          <div class="form-group control-full">
            <label class="control-label" for="fake_name">Tiêu đề<span title="Lĩnh vực được yêu cầu">*</span> </label>
            <div class="controls">
              <input id="fake_name" type="text" required class="form-control">
            </div>
          </div>
          {{ form.input('title', label=_(' '), id='field-name', placeholder=_(' '), value=data.title, error=errors.title, classes=['control-full hidden'], attrs=attrs, is_required=true) }}
        </div>
        <div class="col_child-two hide_slug">
        {% set prefix = h.url_for(group_type + '.read', id='') %}
        {% set domain = h.url_for(group_type + '.read', id='', qualified=true) %}
        {% set domain = domain|replace("http://", "")|replace("https://", "") %}
        {% set attrs = {'data-module': 'slug-preview-slug', 'class': 'form-control input-sm', 'data-module-prefix': domain, 'data-module-placeholder': '<' + group_type + '>'} %}
          {{ form.prepend('name', label=_('Url'), prepend=prefix, id='field-url', placeholder=_(' '), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
        </div>
      </div>

      {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_(' '), value=data.description, error=errors.description, is_required=true) }}

      {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
      {% set is_url = data.image_url and data.image_url.startswith('http') %}
      <div class="avatar_img">
        {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}
        <span class="control-required required_item">*</span>
        <input type="button" class="btn-danger remove_img" value="Xóa" onclick="removeImg()" id="remove_img">
      </div>

      {% if is_upload_enabled %}
      {{ form.input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error='', classes=['control-full']) }}
      {% if is_upload %}
      {{ form.checkbox(field_clear, label=_(' '), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
      {% endif %}
      {% endif %}

    {% endblock %}

    <div class="form-actions action_item">
      {% block delete_button %}
        {% if h.check_access('group_delete', {'id': data.id})  %}
          <a class="btn btn-danger pull-left btn_del" href="{% url_for group_type+'.delete', id=data.id %}" data-module="confirm-action" data-module-title="{{ _('Xóa lĩnh vực') }}" data-module-content="{{ _('Bạn có chắc muốn xóa lĩnh vực này?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      <input class="btn btn-primary btn_cancel" type="button" onclick="back()" value="Hủy bỏ">
      <button class="btn btn-primary btn_item" id="disable_item" name="save" type="submit">{% block save_text %}{{ _('Thêm mới') }}{% endblock %}</button>
    </div>
    <div class="loader" id="loader1"></div>
  </div>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var titleName = document.getElementById("field-name");
      var fakeName = document.getElementById('fake_name');
      fakeName.addEventListener('keyup', function() {
        titleName.value = fakeName.value
      });
      if(titleName.value != '') {
        fakeName.value = titleName.value
      }
    });
  </script>
</form>
