
{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '.read', id=group.name) %}
{% block item %}
<li class="media-item media_organ" id="{{ group.id }}">
  {% block item_inner %}
  {% block image %}
    <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" class="media-image img-responsive img_group">
  {% endblock %}
  <div class="footer_item">
    {% block title %}
      <h2 class="media-heading h2_item"id="{{ group.name }}">{{ group.display_name }}</h2>
      <script>
        window.addEventListener('DOMContentLoaded', function() {
          var mediaItem = document.getElementById('{{ group.id }}');
          var textItem = document.getElementById('{{ group.name }}');
          var parentItem = mediaItem.parentElement;
          var textStr = textItem.textContent.toLowerCase();
          if(textStr.indexOf('địa phương') == 0) {
            parentItem.appendChild(mediaItem, parentItem.lastChild);
          };
        });
      </script>
    {% endblock %}
    {% block datasets %}
      {% if group.package_count %}
        <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', group.package_count).format(num=group.package_count) }}</strong>
      {% elif group.package_count == 0 %}
        <span class="count">{{ _('0 Datasets') }}</span>
      {% endif %}
    {% endblock %}
  </div>
  
  {% block link %}
  <a href="{{ url }}" title="{{ _('{name}').format(name=group.display_name) }}" class="media-view"></a>
  {% endblock %}
  {% if group.user_member %}
    <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-sm media-edit" title="{{ _('Xóa tập dữ liệu khỏi lĩnh vực này') }}"/>
  {% endif %}
  {% endblock %}
</li>
{% endblock %}
