{% block info %}
<div class="module context-info">
  <section class="module-content">
    {% block inner %}
  
    {% block heading %}
    <h1 class="heading name_organ">
      {{ group.display_name }}
      {% if group.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
    </h1>
    {% endblock %}
    {% block image %}
    <div class="image">
      <a href="{{ group.url }}">
        <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" width="190" height="118" alt="{{ group.name }}" />
      </a>
    </div>
    {% endblock %}
    {% block description %}
    {% if group.description %}
      <p class="description">
        {{ h.markdown_extract(group.description, 180) }}
      </p>
      <p class="read-more">
        {% link_for _('read more'), named_route='group.about', id=group.name %}
      </p>
    {% endif %}
    {% endblock %}
    {% if show_nums %}
      {% block nums %}
      <div class="nums">
        <dl>
          <dt>{{ _('Followers') }}</dt>
          <dd data-module="followers-counter" data-module-id="{{ group.id }}" data-module-num_followers="{{ group.num_followers }}">{{ h.SI_number_span(group.num_followers) }}</dd>
        </dl>
        <dl>
          <dt>{{ _('Datasets') }}</dt>
          <dd>{{ h.SI_number_span(group.package_count) }}</dd>
        </dl>
      </div>
      {% endblock %}
      {% block follow %}
        {% if c.userobj.sysadmin %}
          <div class="follow_button hidden">
            {{ h.follow_button('group', group.id) }}
            <script>
              window.addEventListener('load', function() {
                setTimeout(function() {
                  var btn_follow = document.getElementById('follow_button');
                  if(btn_follow.className.includes("btn-success")) {
                    btn_follow.click();
                  }
                }, 1000)
              });
            </script>
          </div>
        {% else %}
          <div class="follow_button">
            {{ h.follow_button('group', group.id) }}
          </div>
        {% endif %}
      {% endblock %}
    {% endif %}
    {% endblock %}
  </section>
</div>
{% endblock %}
