<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đặt email tác giả của {pkg_link} thành {new_author_email} (trước đó {old_author_email})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_author_email = h.link_to(change.new_author_email, "mailto:" + change.new_author_email),
        old_author_email = h.link_to(change.old_author_email, "mailto:" + change.old_author_email)
        )}}

    {% elif change.method == "add" %}

      {{ _('Đặt email tác giả của {pkg_link} thành {new_author_email}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_author_email = h.link_to(change.new_author_email, "mailto:" + change.new_author_email)
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa email tác giả khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        )}}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
