<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đặt tác giả của {pkg_link} thành {new_author} (trước đó {old_author})').format(
        pkg_link=h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_author = change.new_author,
        old_author = change.old_author
        ) }}

    {% elif change.method == "add" %}

      {{ _('Đặt tác giả của {pkg_link} thành {new_author}').format(
        pkg_link=h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_author = change.new_author
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa tác giả khỏi {pkg_link}').format(
        pkg_link=h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
