<li>
  <p>
    {{ _('Đã thay đổi giá trị trường <q>{key}</q> thành <q>{value}</q> in {pkg_link}').format(
      pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
      key = change.key,
      value = change.value
      )}}
  </p>
</li>
