<li>
  <p>
    {% if change.method == "add_one_value" %}

      {{ _('Đã thêm trường <q>{key}</q> với giá trị <q>{value}</q> vào {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        key = change.key,
        value = change.value
        )}}

    {% elif change.method == "add_one_no_value" %}

      {{ _('Đã thêm trường <q>{key}</q> thành {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        key = change.key
        )}}

    {% elif change.method == "add_multiple" %}

      {{ _('Đã thêm các trường sau vào {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        )}}
      <ul>
        {% for item in change.key_list %}
          <li>
            {% if change.value_list[item] != "" %}
              {{ _('{key} với giá trị {value}').format(
                key = item,
                value = change.value_list[item]
                )|safe }}
            {% else %}
              {{ _('{key}').format(
                key = item
                )|safe }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    {% elif change.method == "change_with_old_value" %}

      {{ _('Đã thay đổi giá trị trường <q>{key}</q> thành <q>{new_val}</q> (previously <q>{old_val}</q>) in {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        key = change.key,
        new_val = change.new_value,
        old_val = change.old_value
        )}}

    {% elif change.method == "change_no_old_value" %}

      {{ _('Đã thay đổi giá trị trường <q>{key}</q> thành <q>{new_val}</q> in {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        key = change.key,
        new_val = change.new_value,
        ) }}

    {% elif change.method == "remove_one" %}

      {{ _('Đã xóa trường <q>{key}</q> khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        key = change.key,
        ) }}

    {% elif change.method == "remove_multiple" %}

      {{ _('Đã xóa các trường sau khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        ) }}
      <ul>
        {% for item in change.key_list %}
          <li>
            {{ _('<q>{key}</q>').format(
                key = item
            )| safe }}
          </li>
        {% endfor %}
      </ul>

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
