<li>
  <p>
    {# if both of them have URLs #}
    {% if change.new_url != "" and change.old_url != "" %}

      {{ _('Đã thay đổi giấy phép của {pkg_link} thành {new_link} (trước đó {old_link})').format(

        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_link = h.link_to(change.new_title, change.new_url),
        old_link = h.link_to(change.old_title, change.old_url)
        ) }}

      {# if only the new one has a URL #}
    {% elif change.new_url != "" and change.old_url == "" %}

      {{ _('Đã thay đổi giấy phép của {pkg_link} thành {new_link} (trước đó {old_title})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_link = h.link_to(change.new_title, change.new_url),
        old_title = change.old_title
        ) }}

      {# if only the old one has a URL #}
    {% elif change.new_url == "" and change.old_url != "" %}

      {{ _('Đã thay đổi giấy phép của {pkg_link} thành {new_title} (trước đó {old_link})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_title = change.new_title,
        old_link = h.link_to(change.old_title, change.old_url)
        )}}

      {# otherwise neither has a URL #}
    {% else %}


      {{ _('Đã thay đổi giấy phép của {pkg_link} thành {new_title} (trước đó {old_title})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_title = change.new_title,
        old_title = change.old_title
        )|safe }}

    {% endif %}
  </p>
</li>
