<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đặt người duy trì của {pkg_link} thành {new_maintainer} (trước đó {old_maintainer})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_maintainer = change.new_maintainer,
        old_maintainer = change.old_maintainer
        ) }}

    {% elif change.method == "add" %}

      {{ _('Đặt người duy trì của {pkg_link} thành {new_maintainer}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_maintainer = change.new_maintainer
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa người bảo trì khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
