<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đặt email người bảo trì của {pkg_link} thành {new_email} (trước đó {old_email})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_email = h.link_to(change.new_maintainer_email, "mailto:" + change.new_maintainer_email),
        old_email = h.link_to(change.old_maintainer_email, "mailto:" + change.old_maintainer_email)
        ) }}

    {% elif change.method == "add" %}

      {{ _('Đặt email người bảo trì của {pkg_link} thành {new_email}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_email = h.link_to(change.new_maintainer_email, "mailto:" + change.new_maintainer_email)
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa email bảo trì khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
