<li>
  <p>
    {{ _('Đã tải một tệp mới lên bộ dữ liệu {resource_link} trong bộ dữ liệu {pkg_link}').format(
      pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
      resource_link = h.nav_link(
        change.resource_name, named_route='resource.read', id=change.pkg_id,
        resource_id=change.resource_id, qualified=True)
      ) }}
  </p>
</li>
