{% set dataset_type = request.view_args.package_type %}
{% set pkg_url = h.url_for(dataset_type ~ '.read', id=change.pkg_id) %}
{% set resource_url = h.url_for(dataset_type ~ '_resource.read', id=change.pkg_id, resource_id = change.resource_id, qualified=True) %}

{% set pkg_link %}
<a href="{{ pkg_url }}">{{ change.title }}</a>
{% endset %}

{% set resource_link %}
<a href="{{ resource_url }}">{{ change.resource_name or _('Unnamed resource') }}</a>
{% endset %}

<li>
  <p>
    {{ _('Đã thêm file {resource_link} vào bộ dữ liệu {pkg_link}').format(pkg_link=pkg_link, resource_link=resource_link) }}
  </p>
</li>
