<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đã cập nhật mô tả về {pkg_link} từ <br class="line-height2"><blockquote>{old_notes}</blockquote> thành <br class="line-height2"><blockquote>{new_notes}</blockquote>').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        old_notes = change.old_notes,
        new_notes = change.new_notes
        ) }}

    {% elif change.method == "add" %}

      {{ _('Đã cập nhật mô tả của {pkg_link} thành <br class="line-height2"><blockquote>{new_notes}</blockquote>').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_notes = change.new_notes
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa mô tả khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id)
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
