<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đã chuyển {pkg_link} từ cơ quan {old_org_link} sang cơ quan {new_org_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        old_org_link = h.nav_link(change.old_org_title, named_route='organization.read', id=change.old_org_id),
        new_org_link = h.nav_link(change.new_org_title, named_route='organization.read', id=change.new_org_id)
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa {pkg_link} khỏi cơ quan {old_org_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        old_org_link = h.nav_link(change.old_org_title, named_route='organization.read', id=change.old_org_id)
        ) }}

    {% elif change.method == "add" %}

      {{ _('Đã thêm {pkg_link} vào cơ quan {new_org_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_org_link = h.nav_link(change.new_org_title, named_route='organization.read', id=change.new_org_id)
        ) }}
      {% else %}

        {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
