<li>
  <p>
    {{ _('Đặt mức độ hiển thị của {pkg_link} thành {visibility}').format(
      pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
      visibility = change.new
      ) }}
  </p>
</li>
