<li>
  <p>
    {% if change.method == "add_one_value" %}

      {{ _('Đã thêm trường <q>{key}</q> có giá trị <q>{value}</q> của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        key = change.key,
        value = change.value
        ) }}

    {% elif change.method == "add_one_no_value" %}

      {{ _('Đã thêm trường <q>{key}</q> của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        key = change.key,
        ) }}

    {% elif change.method == "add_multiple" %}

      {{ _('Đã thêm các trường sau của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True)
        ) }}
      <ul>
        {% for item in change.key_list %}
          {% if change.value_list[item] != "" %}
            {{ _('{key} with value {value}').format(
              key = item,
              value = change.value_list[item]
              )|safe }}
          {% else %}
            {{ _('{key}').format(
              key = item
              )|safe }}
          {% endif %}
        {% endfor %}
      </ul>

    {% elif change.method == "remove_one" %}

      {{ _('Đã xóa các trường <q>{key}</q> của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        key = change.key
        ) }}

    {% elif change.method == "remove_multiple" %}

      {{ _('Đã xóa các trường sau của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True)
        ) }}
      <ul>
        {% for item in change.key_list %}
          {{ _('{key}').format(
            key = item
            )|safe }}
        {% endfor %}
      </ul>

    {% elif change.method == "change_value_with_old" %}

      {{ _('Đã thay đổi giá trị trường <q>{key}</q> trong {resource_link} thành <q>{new_val}</q> (trước đó <q>{old_val}</q>) in {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        key = change.key,
        new_val = change.new_value,
        old_val = change.old_value
        ) }}

    {% elif change.method == "change_value_no_old" %}

      {{ _('Đã thay đổi giá trị trường <q>{key}</q> thành <q>{new_val}</q> của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        key = change.key,
        new_val = change.new_value
        ) }}

    {% elif change.method == "change_value_no_new" %}

      {{ _('Đã xóa giá trị của trường <q>{key}</q> của file {resource_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        key = change.key,
        new_val = change.new_value
        ) }}
    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
