<li>
  <p>
    {{ _('Đã đổi tên tài nguyên {old_resource_link} thành {new_resource_link} trong {pkg_link}').format(
      pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
      old_resource_link = h.nav_link(
        change.old_resource_name, named_route='resource.read', id=change.old_pkg_id,
        resource_id=change.resource_id, activity_id=change.old_activity_id),
      new_resource_link = h.nav_link(
        change.new_resource_name, named_route='resource.read', id=change.new_pkg_id,
        resource_id=change.resource_id),
      ) }}
  </p>
</li>
