<li>
  <p>
    {% set format_search_base_url = (
      h.url_for(controller="organization", action="read", id=change.org_id)
      if change.org_id else
      h.url_for(controller="dataset", action="search")) %}

    {% if change.method == "add" %}

      {{ _('Thay đổi định dạng của file {resource_link} thành {format_link} trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        format_link = h.link_to(change.format, format_search_base_url + "?res_format=" + change.format)
        ) }}

    {% elif change.method == "change" %}

      {{ _('Thay đổi định dạng của file {resource_link} thành {new_format_link} (trước đó {old_format_link}) trong bộ dữ liệu {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        old_format_link = h.link_to(change.old_format, format_search_base_url + "?res_format=" + change.old_format),
        new_format_link = h.link_to(change.new_format, format_search_base_url + "?res_format=" + change.new_format)
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
