<li>
  <p>
    {% if change.method == "add" %}

      {{ _('Đã cập nhật mô tả về tài nguyên {resource_link} trong {pkg_link} thành <br class="line-height2"><blockquote>{new_desc}</blockquote>').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        new_desc = change.new_desc
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa mô tả khỏi tài nguyên {resource_link} trong {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True)
        )}}

    {% elif change.method == "change" %}

      {{ _('Đã cập nhật mô tả về tài nguyên {resource_link} trong {pkg_link} từ <br class="line-height2"><blockquote>{old_desc}</blockquote> thành <br class="line-height2"><blockquote>{new_desc}</blockquote>').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        resource_link = h.nav_link(
          change.resource_name, named_route='resource.read', id=change.pkg_id,
          resource_id=change.resource_id, qualified=True),
        new_desc = change.new_desc,
        old_desc = change.old_desc
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
