<li>
  <p>
    {% if change.method == "remove_one" %}

      {{ _('Đã xóa thẻ {tag_link} khỏi {pkg_link}').format(
        tag_link = '<a href="{tag_url}">{tag}</a>'.format(
          tag_url = h.url_for(controller='dataset', action='search') +
          "?tags=" + change.tag,
          tag = change.tag
        )|safe,
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        ) }}

    {% elif change.method == "remove_multiple" %}

      {{ _('Đã xóa các thẻ sau khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        )|safe }}

      <ul>
        {% for item in change.tags %}
          <li>
            {{ _('{tag_link}').format(
              tag_link = h.nav_link(item, named_route='dataset.search', tags=item),
              )}}
          </li>
        {% endfor %}
      </ul>

    {% elif change.method == "add_one" %}

      {{ _('Đã thêm thẻ {tag_link} vào {pkg_link}').format(
        tag_link = h.nav_link(change.tag, named_route='dataset.search', tags=change.tag),
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        ) }}

    {% elif change.method == "add_multiple" %}

      {{ _('Đã thêm các thẻ sau vào {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        ) }}
      <ul>
        {% for item in change.tags %}
          <li>
            {{ _('{tag_link}').format(
              tag_link = h.nav_link(item, named_route='dataset.search', tags=item),
              )}}
          </li>
        {% endfor %}
      </ul>

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
