<li>
  <p>
    {{ _('Đã đổi tiêu đề thành {title_link} (trước đó {old_title})').format(
      title_link = h.nav_link(change.new_title, named_route='dataset.read', id=change.id),
      old_title = change.old_title
      ) }}
  </p>
</li>
