<li>
  <p>
    {% if change.method == "change" %}

      {{ _('Đã thay đổi phiên bản của {pkg_link} thành {new_version} (trước đó là {old_version})').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        old_version = change.old_version,
        new_version = change.new_version
        ) }}

    {% elif change.method == "remove" %}

      {{ _('Đã xóa phiên bản khỏi {pkg_link}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        ) }}

    {% elif change.method == "add" %}

      {{ _('Đã thay đổi phiên bản của {pkg_link} thành {new_version}').format(
        pkg_link = h.nav_link(change.title, named_route='dataset.read', id=change.pkg_id),
        new_version = change.new_version
        ) }}

    {% else %}

      {{ _('Không có trường nào được cập nhật. Xem Metadata để biết thêm chi tiết.') }}

    {% endif %}
  </p>
</li>
