{% trans %}
<p class="text_about">Cổng dữ liệu mở (Open Data) giải pháp được Bkav xây dựng để trở thành điểm đầu mối truy cập thông tin (thu thập và cung cấp dữ liệu chính thống). Open Data được thiết kế theo hướng nền tảng để người dân, doanh nghiệp, các tổ chức có thể khai thác sử dụng, chia sẻ và tạo ra các ứng dụng phục vụ nhu cầu thiết yếu của xã hội</p>

<div class="text_about">
    <div class="order-mob-2">
        <div class="text_heading">
            Quản trị bài viết
        </div>
        <div class="sub-article sub-article-2">
            <ul>
                <li>Open Data Portal hỗ trợ người dùng có thể xem bài viết, bình luận, đánh giá và tìm kiếm các bài viết.</li>
                <li>Quản lý chủ đề, quản lý bài viết, quản lý danh sách bình luận/đánh giá bài viết. Người dùng có thể cấu hình chia sẻ hoặc cấu hình bình luận, cấu hình đánh giá về bài viết.</li>
            </ul>
        </div>
    </div>
</div>
<div class="text_about">
    <div class="order-mob-2">
        <div class="text_heading">
            Bộ dữ liệu mở
        </div>
        <div class="sub-article">
            <ul>
                <li>Hỗ trợ danh sách bộ dữ liệu theo tất cả lĩnh vực của vùng hoặc địa phương nơi mình sinh sống hoặc cư trú như: Kinh tế - Xã hội; Tài nguyên môi trường; Văn hóa…</li>
                <li>Hỗ trợ người dùng khai thác bộ dữ liệu, tìm kiếm, sắp xếp bộ dữ liệu theo nhu cầu của người dùng.</li>
                <li>Quản lý bộ dữ liệu mở trên cổng. Với chức năng này, người dùng ngoài việc xem danh sách bộ dữ liệu mở trong phần quản trị, có thể tìm kiếm dữ liệu trong phần quản trị, thực hiện các quản lý như: Dữ liệu đóng góp, kế hoạch xây dựng bộ dữ liệu mở, bình luận/đánh giá về bộ dữ liệu mở.</li>
            </ul>
        </div>
    </div>
</div>
<div class="text_about">
    <div class="order-mob-2">
        <div class="text_heading">
            Trình diễn dữ liệu
        </div>
        <div class="sub-article">
            <ul>
                <li>Xây dựng biểu đồ dựa trên dữ liệu.</li>
                <li>Quản lý danh sách dữ liệu mở cơ quan như: Xem danh sách, sắp xếp danh sách, tìm kiếm danh sách…</li>
                <li>Quản lý dữ liệu đóng góp cơ quan, phiên bản dữ liệu mở cơ quan.</li>
                <li>Hỗ trợ chuyển duyệt và công bố dữ liệu mở cơ quan.</li>
            </ul>
        </div>
    </div>
</div>      
<div class="text_about">
    <div class="order-mob-2">
        <div class="text_heading">
            Báo cáo, thống kê
        </div>
        <div class="sub-article">
            <ul>
                <li>Quản lý mẫu báo cáo, danh sách báo cáo.</li>
                <li>Quản lý thông báo, tiêu chí đánh giá, thống kê đánh giá.</li>
                <li>Quản lý danh sách mẫu e-form và Cấu hình mẫu e-form.</li>
                <li>Xem danh sách thống kê chung, thống kê cho cá nhân/cho cơ quan/cho quản trị hệ thống.</li>							
            </ul>
        </div>
    </div>
</div>
<div class="text_about">
    <div class="order-mob-2">
        <div class="text_heading">
            Quản trị hệ thống
        </div>
        <div class="sub-article">
            <ul>
                <li>Đăng ký và quản lý tài khoản: Đăng ký tài khoản người dùng, đăng nhập qua phương thức SSO, quản lý thông tin tài khoản cá nhân, mật khẩu…</li>
                <li>Quản lý thông báo theo tài khoản: Thông báo theo tài khoản, danh sách thông báo, tìm  kiếm thông báo, cấu hình thông báo.</li>
                <li>Quản lý Danh sách thông tin tài khoản: Xem danh sách/Xem chi tiết/Tìm kiếm tài khoản trong phần quản trị.</li>
                <li>Sắp xếp danh sách tài khoản, quản lý vai trò (quyền), phân quyền tài khoản.</li>
                <li>Cấu hình phương thức đăng nhập hệ thống (cấu hình mật khẩu, cấu hình truy cập…).</li>
                <li>Quản lý lịch sử truy cập.</li>
            </ul>
        </div>
    </div>
</div>                 
<div class="text_about">
    <div class="order-mob-2">
        <div class="text_heading">
            Các quản lý khác
        </div>
        <div class="sub-article">
            <ul>
                <li>Quản lý Danh sách câu hỏi: Gửi câu hỏi/Gửi hỗ trợ, quản lý câu hỏi thường gặp/hỗ trợ.</li>
                <li>Hướng dẫn sử dụng (HDSD): Xem danh sách HDSD, tìm kiếm các HDSD, quản lý danh sách HDSD, danh sách công cụ hỗ trợ.</li>
                <li>Quản lý văn bản pháp luật về dữ liệu, điều khoản sử dụng.</li>
                <li>Quản lý ứng dụng/dịch vụ tiện ích, danh mục dùng chung.</li>
                <li>Quản lý danh mục hệ thống.</li>
                <li>Quản lý dịch vụ tích hợp, kết nối: Hệ thống SMS, danh sách API cung cấp dữ liệu mở cơ quan, danh sách API cung cấp dữ liệu từ hệ thống. Danh sách cơ quan kết nối, tích hợp; Danh sách hệ thống thuộc cơ quan đã kết nối…</li>							
            </ul>
        </div>
    </div>
</div>                                                          

</div>                
{% endtrans %}
