{% trans %}


<p>&nbsp;</p>

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none">1. Đối với nội dung th&ocirc;ng tin</span></span></span></span></span></span></p>

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">C&aacute;c th&ocirc;ng tin, b&agrave;i viết được đăng tải tr&ecirc;n Cổng dữ liệu tỉnh Kontum thuộc bản quyền của UBND tỉnh Kontum. C&aacute;c phương tiện truyền tải th&ocirc;ng tin kh&aacute;c khi sử dụng phải ghi r&otilde; nguồn &ldquo;Cổng dữ liệu tỉnh Kontum http://dulieu.kontum.gov.vn&rdquo; khi ph&aacute;t h&agrave;nh lại th&ocirc;ng tin từ Cổng th&ocirc;ng tin n&agrave;y.</span></span></span></span></span></span></p>
<!-- <p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">C&aacute;c th&ocirc;ng tin, b&agrave;i viết được đăng tải tr&ecirc;n Cổng dữ liệu tỉnh Daklak thuộc bản quyền của UBND tỉnh Daklak. C&aacute;c phương tiện truyền tải th&ocirc;ng tin kh&aacute;c khi sử dụng phải ghi r&otilde; nguồn &ldquo;Cổng dữ liệu tỉnh Daklak http://dulieu.daklak.gov.vn&rdquo; khi ph&aacute;t h&agrave;nh lại th&ocirc;ng tin từ Cổng th&ocirc;ng tin n&agrave;y.</span></span></span></span></span></span></p> -->

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none">2. Đối với dữ liệu mở</span></span></span></span></span></span></p>

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Dữ liệu mở của cơ quan nh&agrave; nước được cơ quan nh&agrave; nước c&oacute; thẩm quyền c&ocirc;ng bố rộng r&atilde;i cho cơ quan, tổ chức, c&aacute; nh&acirc;n tự do sử dụng, t&aacute;i sử dụng, chia sẻ. Việc cung cấp dữ liệu mở được cơ quan nh&agrave; nước cung cấp tu&acirc;n thủ c&aacute;c quy định của ph&aacute;p luật.</span></span></span></span></span></span></p>

<p style="line-height:1.2; text-align:justify; background-color:#fff; margin-bottom:10px"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Việc sử dụng dữ liệu mở phải tu&acirc;n thủ quy định tại Điều 18 về Quy định sử dụng dữ liệu mở của cơ quan nh&agrave; nước tại Nghị định số 47/2020/NĐ-CP ng&agrave;y 9/4/2020 của Ch&iacute;nh phủ:</span></span></span></span></span></span></p>

<ul>
	<li aria-level="1" style="list-style-type:disc"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Cơ quan, tổ chức, c&aacute; nh&acirc;n được ph&eacute;p tự do sao ch&eacute;p, chia sẻ, trao đổi, sử dụng dữ liệu mở hoặc kết hợp dữ liệu mở với dữ liệu kh&aacute;c; sử dụng dữ liệu mở v&agrave;o sản phẩm, dịch vụ thương mại hoặc phi thương mại của m&igrave;nh.</span></span></span></span></span></span></li>
</ul>

<ul>
	<li aria-level="1" style="list-style-type:disc"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Cơ quan, tổ chức, c&aacute; nh&acirc;n phải tr&iacute;ch dẫn, ghi nhận th&ocirc;ng tin sử dụng dữ liệu mở trong c&aacute;c sản phẩm, t&agrave;i liệu li&ecirc;n quan c&oacute; sử dụng dữ liệu mở.</span></span></span></span></span></span></li>
</ul>

<ul>
	<li aria-level="1" style="list-style-type:disc"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Dữ liệu mở của cơ quan nh&agrave; nước l&agrave; dữ liệu nguy&ecirc;n trạng như được c&ocirc;ng bố; kh&ocirc;ng bao gồm c&aacute;c h&igrave;nh thức tr&igrave;nh b&agrave;y v&agrave; c&aacute;c th&ocirc;ng tin ph&aacute;t sinh từ dữ liệu mở đ&atilde; được cung cấp.</span></span></span></span></span></span></li>
</ul>

<ul>
	<li aria-level="1" style="list-style-type:disc"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Cơ quan, tổ chức, c&aacute; nh&acirc;n kh&ocirc;ng được b&aacute;n dữ liệu mở đ&atilde; được khai th&aacute;c nguy&ecirc;n trạng từ cơ quan nh&agrave; nước cho tổ chức, c&aacute; nh&acirc;n kh&aacute;c. Khi sử dụng dữ liệu mở trong sản phẩm, dịch vụ thương mại của m&igrave;nh phải cung cấp miễn ph&iacute; dữ liệu mở k&egrave;m theo sản phẩm, dịch vụ thương mại đ&oacute;.</span></span></span></span></span></span></li>
</ul>

<ul>
	<li aria-level="1" style="list-style-type:disc"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Cơ quan nh&agrave; nước kh&ocirc;ng chịu tr&aacute;ch nhiệm cho bất kỳ tổn thất hoặc thiệt hại ph&aacute;t sinh của cơ quan, tổ chức, c&aacute; nh&acirc;n do việc sử dụng dữ liệu mở g&acirc;y ra.</span></span></span></span></span></span></li>
</ul>

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:700"><span style="font-style:normal"><span style="text-decoration:none">3. Phản &aacute;nh của cơ quan, tổ chức, c&aacute; nh&acirc;n</span></span></span></span></span></span></p>

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Mọi &yacute; kiến phản &aacute;nh, g&oacute;p &yacute; li&ecirc;n quan đến th&ocirc;ng tin đăng tải, dữ liệu mở v&agrave; c&aacute;c nội dung kh&aacute;c li&ecirc;n quan xin phản hồi về Sở Th&ocirc;ng tin v&agrave; Truyền th&ocirc;ng Kontum.</span></span></span></span></span></span></p>
<!-- <p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Mọi &yacute; kiến phản &aacute;nh, g&oacute;p &yacute; li&ecirc;n quan đến th&ocirc;ng tin đăng tải, dữ liệu mở v&agrave; c&aacute;c nội dung kh&aacute;c li&ecirc;n quan xin phản hồi về Sở Th&ocirc;ng tin v&agrave; Truyền th&ocirc;ng Daklak.</span></span></span></span></span></span></p> -->

<p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Địa chỉ email: sotttt@kontum.gov.vn.</span></span></span></span></span></span></p>
<!-- <p style="line-height:1.2; text-align:justify; background-color:#fff; padding:0pt 0pt 7.5pt 0pt"><span style="font-size:17pt; font-variant:normal; white-space:pre-wrap"><span style="font-family:Cambria,serif"><span style="color:#333333"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">Địa chỉ email: stttt@tttt.daklak.gov.vn.</span></span></span></span></span></span></p> -->

<p>&nbsp;</p>

{% endtrans %}
