
{% set placeholder = _('Tìm kiếm') %}

<form class="module-content search-form" method="get" action="{% url_for controller='dataset', action='search' %}">
  <div class="search-input control-group search-giant">
    <img src="/images/img-box/x.png" class="clear_input" id="clear_input" onclick="document.getElementById('searchbox').value = ''">
    <input id="searchbox" type="text" class="search" name="q" value="" autocomplete="off" placeholder="Cổng dữ liệu mở Kon Tum"/>
    <!-- <input id="searchbox" type="text" class="search" name="q" value="" autocomplete="off" placeholder="Cổng dữ liệu mở Đắk Lắk"/> -->
    <button type="submit" role="presentation" tabindex="-1">
      <img src="/images/img-box/search.svg">
    </button>
  </div>
  <script>
    var clearInput =  document.getElementById("clear_input");
    var searchHome = document.getElementById('searchbox');
    searchHome.addEventListener('keyup', function() {
      var searchInput = searchHome.value.length;
      if (searchInput == 0) {
        clearInput.style.display = "none";
      } else {
        clearInput.style.display = "block";
      }
    });
    
    clearInput.addEventListener('click', function() {
      clearInput.style.display = "none";
      searchHome.focus();
    });
  </script>
</form>
