{% set stats = h.get_site_statistics() %}

<div class="box-desc container">
  <div class="box-desc_1">
    <img src="./images/img-box/bdl.svg" alt="">
    <h4>
      <a style="color: #FFFFFF;" href="{{ h.url_for('dataset.search') }}">
        <strong>{{ h.SI_number_span(stats.dataset_count) }} </strong>
      </a>
    </h4>
    <b class="border_b"></b>
    <p>Tổng số bộ dữ liệu </p>
  </div>
  <div class="box-desc_2">
    <img src="./images/img-box/cqkn.svg" alt="">
    <h4>
      <a style="color: #FFFFFF;" href="{{ h.url_for(controller='organization', action='index') }}">
        <strong>{{ h.SI_number_span(stats.organization_count) }} </strong>
      </a>
    </h4>
    <b class="border_b"></b>
    <p>Tổng số cơ quan kết nối</p>
  </div>
  <div class="box-desc_3">
    <img src="./images/img-box/lv.svg" alt="">
    <h4>
      <a style="color: #FFFFFF;" href="{{ h.url_for(controller='group', action='index') }}">
        <strong>{{ h.SI_number_span(stats.group_count) }} </strong>
      </a>
    </h4>
    <b class="border_b"></b>
    <p>Tổng số lĩnh vực</p>
  </div>
  <div class="box-desc_4">
    <img src="./images/img-box/tst.svg" alt="">
    <h4>
      <a style="color: #FFFFFF;" href="{{ h.url_for('dataset.search') }}">
        <strong>{{ h.SI_number_span(stats.tag_list) }} </strong>
      </a>
    </h4>
    <b class="border_b"></b>
    <p>Tổng số thẻ</p>
  </div>
</div>
